Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Moves the poster image to the character selector
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
Labels: none

Should fix blob
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
Labels: none

Fix calling RPC get up animation on client
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
Labels: none

Force player colour alpha to 1
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
Labels: none

Update PlayerSprites.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
Labels: none

Update BlobStarter.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
Labels: none

Allow dead people blobs to spawn
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
Labels: none

Apply suggestions from code review
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
Labels: none

Fix cable cutting window, cable duplication, and cable construction costs (#6466)
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Systems/Electricity/ConnectionMap.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalPool.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/LoadCableCuttingWindow.cs
  UnityProject/Assets/Textures/under floors/Power_Cond/Resources/CableCuttingWindow.prefab
Labels: UI

Fixes SM Shield Overlay and Locker Space Sound (#6508)
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatter.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatterShard.prefab
  UnityProject/Assets/Scripts/Core/Sound/AmbientSoundArea.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Spawn Blob When dead
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
Labels: none

Do colour Approx
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

More force alpha to 1
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

Strip square brackets rip HONK
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
Labels: none

Apply suggestions from code review
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Improvements and bug fixes for the character selector screen (#6440)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: Scene Changes, UI

misc: update Changelog
  CHANGELOG.md
Labels: none

Blob Fixes and Forces Player Colour Alpha to 1 (#6511)
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

Character preview will no longer escape outside of the window
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

deleted empty script
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerController.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerController.cs.meta
Labels: none

Revert "deleted empty script"
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerController.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerController.cs.meta
Labels: none

Closet spawn on first open instead of on closet spawn
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
Labels: none

Character preview will no longer escape outside of the window (#6512)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Closet spawn on first open instead of on closet spawn (#6513)
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
Labels: none

Overlay fixes (#6476)
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/OverlayTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Bag populator spawn on open not round start
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/Chest.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/Head.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/LeftArm.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/LeftLeg.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/RightArm.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/RightLeg.prefab
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

Fix not setting true
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

More improvements and bug fixes to the character selector
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Readd state and soul status. Readd mob examine too
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

Force push for objects
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Small stages can damage field gens if they have no energy
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Night Vision starts off
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
Labels: none

Use sound paramters
  UnityProject/Assets/Scripts/Managers/SoundAmbientManager.cs
Labels: none

Update ExaminablePlayer.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
Labels: none

10 damage deflection and remove mining overlay on destroy
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Bananium Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/BlueSpace Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Diamond ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Gold Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Iron Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Plasma Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Silver Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Titanium Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Uranium Ore.asset
Labels: none

Actually fix it
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Bananium Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/BlueSpace Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Diamond ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Gold Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Iron Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Plasma Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Silver Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Titanium Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Uranium Ore.asset
Labels: none

Update Pickupable.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
Labels: none

Update Pickupable.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
