Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

More bug fixes
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

more Bug fixes and improvements
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Prevents the player from joining if he doesn't have a single character
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: Scene Changes, UI

just a health doll fix (#6439)
  UnityProject/Assets/Prefabs/UI/Panel_Hud_Bottom.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Admin chat button fix
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
Labels: none

Cleaned up admin logging
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventsManager.cs
Labels: none

Fixes AHelp and Mentor Chat buttons (#6442)
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventsManager.cs
Labels: none

Improve melee code, fix some melee issues
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
Labels: none

Fix DisableNonEssentialScenes tool
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
Labels: none

Fix GameManager reference
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
Labels: none

Fix DisableNonEssentialScenes tool (#6444)
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
Labels: none

Stop, drop, and roll + plasma fire damage tweaks
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

Guarding against stun cases and cleaning up rolling code
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
Labels: UI

Style guide changes
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

begone codacy
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
Labels: UI

Fix jukebox mute when volume at zero and remove trailing whitespace
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
Labels: none

Change jukebox to mute when volume slider <= 0
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
Labels: none

One more style guide update
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

Remove Integrity component depending on Meleeable component
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
Labels: none

Log objects that depend on the isMeleeable field
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
Labels: none

Remove Meleeable component from base Item prefab
  UnityProject/Assets/Prefabs/Items/Item.prefab
Labels: none

Fix jukebox breaking when setting volume to 0 (#6446)
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fix circuit imprinters
  UnityProject/Assets/Prefabs/Objects/Research/CircuitImprinter.prefab
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
Labels: none

Update packages via package manager
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/GvhProjectSettings.xml
Labels: none

Should Fix guns
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

Fixes PKA
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticAccelerator.prefab
Labels: none

Gun and PKA Fix (#6448)
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticAccelerator.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fix circuit imprinters, update packages (#6447)
  UnityProject/Assets/Prefabs/Objects/Research/CircuitImprinter.prefab
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/GvhProjectSettings.xml
Labels: none

Improve melee code, fix some melee issues (#6443)
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
Labels: none

Various fixes
  UnityProject/Assets/Prefabs/Items/Food/Drinks/MugDukePurpleTea.prefab
  UnityProject/Assets/Prefabs/Items/Storage/SecureBriefcase.prefab
  UnityProject/Assets/Prefabs/Items/Storage/SecureBriefcaseSyndicate.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirScrubber.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirVent.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/APC.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Bed.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Chairs/Stool.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Toilet.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/UnaryVent.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs.meta
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

Fixes the issue where character lists were empty when joining the lobby
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

ok actually fixed stuff now. Tested and works
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: UI

gets rid of an annoying warning when clicking ready
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Refactor AI initialisation, more flexible dead/prone stats on MobSprite (#6437)
  UnityProject/Assets/Prefabs/Mobs/NPC/Resources/Friendly/NPC_GOD_Friendly.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/PlasmaCrate.prefab
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Living/SimpleAnimal/SimpleAnimal.cs
  UnityProject/Assets/Scripts/NPC/AI/Friendly/GenericFriendlyAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Friendly/GodAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/FaceHuggerAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/LarvaeAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/StatueAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/XenoAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/XenoQueenAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAI.cs
  UnityProject/Assets/Scripts/NPC/MobSprite.cs
Labels: none

Stop, drop, and roll + Plasma fire damage tweaks (#6441)
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

Various fixes (#6449)
  UnityProject/Assets/Prefabs/Items/Food/Drinks/MugDukePurpleTea.prefab
  UnityProject/Assets/Prefabs/Items/Storage/SecureBriefcase.prefab
  UnityProject/Assets/Prefabs/Items/Storage/SecureBriefcaseSyndicate.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirScrubber.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirVent.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/APC.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Bed.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Chairs/Stool.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Toilet.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/UnaryVent.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs.meta
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
