Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Add background to splash screen
  UnityProject/ProjectSettings/ProjectSettings.asset
Labels: none

Fix QuickBuild issues (#6601)
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
  UnityProject/ProjectSettings/ProjectSettings.asset
Labels: none

Fix QuickBuild
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
Labels: none

Fix QuickBuild (#6602)
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
Labels: none

Block Spectator Revive (#6593)
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
Labels: none

Outline and underlay for chat (#6596)
  UnityProject/Assets/Prefabs/Chat/ChatEntry.prefab
  UnityProject/Assets/Standard Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Underlay + Outline (ChatEntry only).mat
  UnityProject/Assets/Standard Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Underlay + Outline (ChatEntry only).mat.meta
Labels: none

Adds a delay to disarm (#6590)
  UnityProject/Assets/Scripts/Systems/Inventory/Disarmable.cs
Labels: none

Eject Item(s) into empty hand & more (#6588)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/OldIdConsoleManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/OldIdConsoleManager.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBoozeDispenser.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemistryDispenser.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabComms.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabOldIdConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabOldIdConsole.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabSecurityRecords.prefab
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemistryDispenser.cs
  UnityProject/Assets/Scripts/Objects/Consoles/CommsConsole.cs
  UnityProject/Assets/Scripts/Objects/SecurityRecordsConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleEntryOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleEntryOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsoleManagerOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsoleManagerOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_BoozeDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemistryDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecordsEntriesPage.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecordsEntryPage.cs
Labels: UI

Possible Rejoin Fix (#6587)
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/CargoEliminateSecurity.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevDestroyer.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSelectVVTile.cs
Labels: UI

Fix NetTabs
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
Labels: none

Fix NetTabs (#6603)
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
Labels: none

humm, This should have deleted it?
  UnityProject/Assets/Resources/Prefabs.meta
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/ProjectSettings/Packages/com.xeleh.enhancer/Settings.asset
Labels: none

rearranging
  UnityProject/Assets/Prefabs/SceneConstruction/UI.meta
  UnityProject/Assets/Prefabs/SceneConstruction/UI/Ingame.meta
  UnityProject/Assets/Prefabs/UI/Resources.meta
  UnityProject/Assets/Prefabs/UI/Resources/DynamicInventorySlot.prefab
  UnityProject/Assets/Prefabs/UI/Resources/DynamicInventorySlot.prefab.meta
  UnityProject/Assets/Prefabs/UI/Resources/ExamineDynamicInventorySlot.prefab
  UnityProject/Assets/Prefabs/UI/Resources/ExamineDynamicInventorySlot.prefab.meta
  UnityProject/Assets/Prefabs/UI/Resources/handPrefab.prefab
  UnityProject/Assets/Prefabs/UI/Resources/handPrefab.prefab.meta
Labels: none

name spaces
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowSlot.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
Labels: UI

fixed
  UnityProject/Assets/Scripts/Items/Food/Lighter.cs
Labels: none

Background improvements
  UnityProject/Assets/Prefabs/UI/Lobby_ClownAnim.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/UI/UI_Sprites/LobbyBGOverlay.png
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.png
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.png.meta
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.xcf.meta
Labels: Scene Changes

fixed missing reference
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.png
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.png.meta
Labels: none

edited and updated role screen descriptions (#6605)
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Chief Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chemist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chief Medical Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Medical Doctor.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Paramedic.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Roboticist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Bartender.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Botanist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Chaplain.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Cook.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Janitor.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Lawyer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Mime.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Cargo Technician.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Quartermaster.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Shaft Miner.asset
Labels: none

Fixes to multithreading badness with reactions
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

Replaced defib code in Revive function with CalculateOverallHealth();
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

Background improvements (#6604)
  UnityProject/Assets/Prefabs/UI/Lobby_ClownAnim.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/UI/UI_Sprites/LobbyBGOverlay.png
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.png
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.png.meta
  UnityProject/Assets/UI/UI_Sprites/LobbyBGscreen.xcf.meta
Labels: Scene Changes

Revert "Replaced defib code in Revive function with CalculateOverallHealth();"
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

There we go
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

Added information to help UI development
  docs/development/How-To-User-Interface.md
Labels: Documentation

Shuttle engines now change brightness on thrust
  UnityProject/Assets/Prefabs/Objects/Shuttle/Shuttle_engine_E.prefab
  UnityProject/Assets/Prefabs/Objects/Shuttle/Shuttle_engine_W.prefab
  UnityProject/Assets/Prefabs/Objects/Shuttle/Shuttle_engine_center.prefab
  UnityProject/Assets/Scripts/Shuttles/ShipThruster.cs
Labels: none

Adds in dismemberment and player death on head/torso gibbing
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

Tweaking and armor values
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/AncientHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/BulletproofHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/CrusaderHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Hardhats/AtmosphericTechniciansFirefightingHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/RiotHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/EVAHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/ERTHelmets/PRTHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/EliteSyndicateHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/EngineeringHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/SyndicateHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/_HardsuitHelmetBase.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/AtmosphericsEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/BotanyEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/ClownEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/ScienceEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndBlueSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndGreenSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndOrangeSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndRedSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackEngineeringSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackMedicalSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlueSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/RedSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmorVests/ArmorVest.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmorVests/ArmorVestLarge.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmoredGreatcoat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/BoneArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/CrusaderArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/AtmosphericsHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/CaptainsSWATSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/NarSienHardenedArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/SyndicateHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/StudentRobeArmor.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Removing a brain kills the player
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
Labels: none

Removes chat message
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Bombs no longer check for severity
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Renames function
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Admin healing will now revive dead players instead of healing dead bodies. (#6597)
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Added information to help UI development (#6608)
  docs/development/How-To-User-Interface.md
Labels: Documentation

Fixes to multithreading badness with reactions (#6606)
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Update
  UnityProject/Assets/Scripts/Shuttles/ShipThruster.cs
Labels: none

Fix NetTabs Not displaying
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
Labels: none

Character sheet valdation
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: none

Fix NetTabs Not displaying (#6611)
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
