Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Fix powernet sound issue
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPowernetCheck.cs
Labels: none

Fix powernet sound issue (#6631)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPowernetCheck.cs
Labels: none

Stop blob and cargonia being AI
  UnityProject/Assets/ScriptableObjects/GameModes/Blob.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Cargonia.asset
Labels: none

More locks!!
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BloodTypes/BloodType.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventScrubberSurge.cs
Labels: none

Law Sets
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/ScriptableObjects/Ai.meta
  UnityProject/Assets/ScriptableObjects/Ai/Antimov.asset
  UnityProject/Assets/ScriptableObjects/Ai/Antimov.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Asimov.asset
  UnityProject/Assets/ScriptableObjects/Ai/Asimov.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Corporate.asset
  UnityProject/Assets/ScriptableObjects/Ai/Corporate.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Ian'sBirthday.asset
  UnityProject/Assets/ScriptableObjects/Ai/Ian'sBirthday.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/OxygenisToxicToHumans.asset
  UnityProject/Assets/ScriptableObjects/Ai/OxygenisToxicToHumans.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Paladin3.5e.asset
  UnityProject/Assets/ScriptableObjects/Ai/Paladin3.5e.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Paladin5thEdition.asset
  UnityProject/Assets/ScriptableObjects/Ai/Paladin5thEdition.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/ProtectStation.asset
  UnityProject/Assets/ScriptableObjects/Ai/ProtectStation.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Quarantine.asset
  UnityProject/Assets/ScriptableObjects/Ai/Quarantine.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Robocop.asset
  UnityProject/Assets/ScriptableObjects/Ai/Robocop.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/SyndOS.asset
  UnityProject/Assets/ScriptableObjects/Ai/SyndOS.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Thermodynamic.asset
  UnityProject/Assets/ScriptableObjects/Ai/Thermodynamic.asset.meta
  UnityProject/Assets/ScriptableObjects/Ai/Tyrant.asset
  UnityProject/Assets/ScriptableObjects/Ai/Tyrant.asset.meta
  UnityProject/Assets/Scripts/Systems/Ai/AiLawSet.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiLawSet.cs.meta
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Traitor.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Camera Saving
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/ScriptableObjects/Ai/Ian'sBirthday.asset
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/GUI/Components/GUI_ClickController.cs
  UnityProject/Assets/Scripts/UI/Core/GUI/Components/GUI_ClickController.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Fixes Thread safe error with removing tiles
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

Show objectives and restrict Ai traitor to obtainable objectives, sorry Ai you have no hands
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/Assassinate.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Escape.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/GloriousDeath.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Hijack.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Survive.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/BetterClown.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/RemoveLights.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/SabotageSecurity.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/Maroon.asset
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ShowObjectives.asset
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ShowObjectives.asset.meta
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objective.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Assassinate.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Maroon.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Steal.cs
Labels: none

Codacy Fixes
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/DefaultWillInteract.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AiActivate.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/FollowCameraMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Cargo/ConveyorBelts/ConveyorBeltSwitch.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorController.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Engineering/DepartmentBattery.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Emitter.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/FireAlarm.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/DoorSwitch.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiMouseInputController.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/UI/Core/GUI/Components/GUI_ClickController.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Hud fixes and interaction visualisation
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

New player door sync fix
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/DoorNewPlayer.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
Labels: none

Fixes guns interactions happening more than once after destroyed
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Bullet.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/MovingProjectile.cs
Labels: none

fix admin spectator ghost
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: none

Fixes guns interactions happening more than once after destroyed (#6636)
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Bullet.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/MovingProjectile.cs
Labels: none

New player door sync fix (#6635)
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/DoorNewPlayer.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Input field for module
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/DynamicInputField.prefab
  UnityProject/Assets/Prefabs/UI/DynamicInputField.prefab.meta
  UnityProject/Assets/ScriptableObjects/Ai/SyndOS.asset
  UnityProject/Assets/Scripts/Objects/Research/AiLawModule.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Core/GeneralInputField.cs
  UnityProject/Assets/Scripts/UI/Core/GeneralInputField.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

Fix law length check
  UnityProject/Assets/Prefabs/Items/Research/AiModuleBase.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/DynamicInputField.prefab
  UnityProject/Assets/Scripts/Objects/Research/AiLawModule.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
Labels: none

upload console construction
  UnityProject/Assets/Prefabs/Items/Construction/Circuitboard/ComputerBoards/ComputerBoardAiUpload.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Circuitboard/ComputerBoards/ComputerBoardAiUpload.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Consoles/AiUploadConsole.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Codacy stuff, except playerscript namespace
  UnityProject/Assets/Scripts/Objects/Research/AiLawModule.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Pry
  UnityProject/Assets/Scripts/Objects/Doors/Modules/CrowbarModule.cs
Labels: none

Update CrowbarModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/CrowbarModule.cs
Labels: none

Update ControlTabs.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
Labels: UI

Pry Message Fix (#6640)
  UnityProject/Assets/Scripts/Objects/Doors/Modules/CrowbarModule.cs
Labels: none

More locks!! (#6634)
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BloodTypes/BloodType.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventScrubberSurge.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

Refactor law syncing, adds number of laws to UI
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

reset fix
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Fix bubble issue
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
Labels: UI

Fixes some door and connector layering
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/_AirlockBase.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoor.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/GasConnector.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/Metre.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/Mixer.prefab
Labels: none

Stop warning message from playing server sound on client
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
Labels: none

Fixed up formatting and added new section headings
  docs/assets/images/HowToUI/auto_save_location.png
  docs/development/How-To-User-Interface.md
Labels: Documentation

Spill reagents (#6621)
  UnityProject/Assets/Prefabs/Decal/Resources/PowderSplat.prefab
  UnityProject/Assets/Prefabs/Decal/Resources/PowderSplat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Food/Drinks/MugDutchHotCoco.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.Examine.cs
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/InteractionUtils.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fixed up formatting and added new section headings (#6647)
  docs/assets/images/HowToUI/auto_save_location.png
  docs/development/How-To-User-Interface.md
Labels: Documentation

Turret Frame Stuff
  UnityProject/Assets/Prefabs/Objects/Construction/TurretFrame.prefab
  UnityProject/Assets/Prefabs/Objects/Construction/TurretFrame.prefab.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame.meta
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs.meta
Labels: none

States and item traits
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/_GunEnergyBase.prefab
  UnityProject/Assets/Prefabs/Objects/Construction/TurretFrame.prefab
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameAnchoredState.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameAnchoredState.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameGunAdded.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameGunAdded.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameInitialState.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameInitialState.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameMetalAdded.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameMetalAdded.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameProximityAdded.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameProximityAdded.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameScrewed.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameScrewed.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameSecondMetalAdded.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameSecondMetalAdded.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameWrenched.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/TurretFrame/TurretFrameWrenched.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/TurretFrame.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/TurretFrame.asset.meta
  UnityProject/Assets/ScriptableObjects/Traits/Usage/GunEnergy.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/GunEnergy.asset.meta
Labels: none

Fixes null sneaking into tile list
  UnityProject/Assets/Mirror/Editor/NetworkScenePostProcess.cs
  UnityProject/Assets/Mirror/Runtime/ClientScene.cs
  UnityProject/Assets/Mirror/Runtime/NetworkIdentity.cs
  UnityProject/Assets/Scripts/Objects/Furniture/TableBuilding.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: none

camelCase
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
Labels: none

Comment
  UnityProject/Assets/Mirror/Runtime/ClientScene.cs
Labels: none

Proper camel case
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
