Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Update HealthStateController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
Labels: none

Fixed.. again
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminManager.prefab
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
Labels: none

Defibrillator variance and CMO defibrillator. Scene replacement.
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/Defibrillator.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/Defibrillator.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator Paddles.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator Paddles.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorCompact.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorCompact.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorPaddles.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorPaddles.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Surgery.meta
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/ChiefMedicalOfficersLocker.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Doctor.asset
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.asset
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.asset.meta
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.png
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.png.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.asset
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.asset.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.png
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.png.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/compact defibrillator.asset
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/compact defibrillator.asset.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/items_and_weapons_defibcompact.asset
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/items_and_weapons_defibcompact.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_defibcompact.asset
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_defibcompact.asset.meta
Labels: Scene Changes, Sprite Work

Defibrillator variance and CMO defibrillator. Scene replacement. (#6305)
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/Defibrillator.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/Defibrillator.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator Paddles.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator Paddles.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/Defibrillator.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorCompact.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorCompact.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorPaddles.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorPaddles.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Surgery.meta
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/ChiefMedicalOfficersLocker.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Doctor.asset
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.asset
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.asset.meta
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.png
  UnityProject/Assets/Textures/clothing/belt/belt_defibcompact.png.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.asset
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.asset.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.png
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/belt_defibcompact.png.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/compact defibrillator.asset
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/compact defibrillator.asset.meta
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/items_and_weapons_defibcompact.asset
  UnityProject/Assets/Textures/clothing/belt/compact defibrillator/items_and_weapons_defibcompact.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_defibcompact.asset
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_defibcompact.asset.meta
Labels: Scene Changes, Sprite Work

Updating brannch
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/Anti-ToxinInbody 1.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/Anti-ToxinInbody 1.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/KelotaneEffect 1.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/KelotaneEffect 1.asset.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartModifiers.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/BodyHealthEffect.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/MetabolismReaction.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/MetabolismReaction.cs.meta
  UnityProject/Assets/Scripts/Systems/Chemistry/Reaction.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReactionSet.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Tests/SubsceneTests.cs
Labels: none

removes DefibrillatorOld.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab.meta
Labels: none

fixes Quick load
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
Labels: none

Cleaned up a bit
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/Anti-ToxinEffect.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/Anti-ToxinEffect.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/BicaridineEffect.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/BicaridineEffect.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/KelotaneEffect.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/KelotaneEffect.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/Anti-ToxinInbody 1.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/Anti-ToxinInbody 1.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/KelotaneEffect 1.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/BodyEffects/New Folder/KelotaneEffect 1.asset.meta
Labels: none

Update HealthStateController.cs (#6304)
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
Labels: none

Cleaned up and fixed bug
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
Labels: none

Cleaned up and fixed bug (#6310)
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
Labels: none

armor reimplementation
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Improved inheritance of body parts
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Cat Person/CatEars.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanLeftArm Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanLeftLeg Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanRightArm Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanRightLeg Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanLeftArm Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanLeftLeg Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanRightArm Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanRightLeg Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
Labels: none

serializable wearable armor
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Uniform.prefab
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
Labels: none

ttt
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
Labels: none

Fixes admins ghost sprite visibility. Removes CustomNetSceneChecker from the AdminGhostItemStorageHolder since they're in a manager, not a scene.
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminGhostItemStorageHolder.prefab
Labels: none

fixes
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
Labels: none

removed defib and miners from caverna, added silver pickaxes and husks
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
Labels: Scene Changes

fixed hivebot action text names.
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_Engineer.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_strong.prefab
Labels: none

Readds OOC hyperlinking for admins
  UnityProject/Assets/Resources/Prefabs/Chat/ChatEntry.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
Labels: none

Adds hyper linking to server info
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/ServerInfoUI.prefab
Labels: none

Cleanup health Calculation
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

Fixes admins ghost sprite visibility. (#6312)
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminGhostItemStorageHolder.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Night Vision fix
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ToggleVisionGoggles.asset
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

Final fix
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
Labels: none

improves inheritance of body parts (#6311)
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Cat Person/CatEars.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanLeftArm Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanLeftLeg Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanRightArm Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Lizard/HumanRightLeg Variant 2.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanLeftArm Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanLeftLeg Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanRightArm Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/HumanRightLeg Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
Labels: none

serializable wearable armor
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear.prefab
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
Labels: none

Racks are not properly despawning when deconstructed or destroyed. #6190
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Rack.prefab
  UnityProject/Assets/Scripts/Objects/Construction/Rack.cs
Labels: none

Racks are not properly despawning when deconstructed or destroyed. #6190 (#6316)
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Rack.prefab
  UnityProject/Assets/Scripts/Objects/Construction/Rack.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Changes references to new health,
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ImpedrezeneInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ImpedrezeneInBody.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/MannitolInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/MannitolInBody.asset.meta
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Food/HealableJobEdible.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs.meta
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Items/Others/HolyBook.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileIncendiary.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Morgue.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReactionSet.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Vending/GUI_Spawner.cs
Labels: UI

Update Outpost, Square, Dark Jungle, & Caverna to remove old defibs, added ore boxes to Outpost and Square (#6309)
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/DefibrillatorOLD.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_Engineer.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_strong.prefab
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
Labels: Scene Changes

fixed some bugs
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Outerwear/CarpCostume.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Uniforms/HeadOfSecuritysJumpsuit.prefab
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

removed unnecessary comment
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
Labels: none

minor code fixes
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

armor penetration code
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDamageLivingHealth.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Gun/DamageData.cs
Labels: none

Fixed some shutter sound issues
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoor.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoorIndestructible.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoorOpen.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/Shutters.prefab
Labels: none

Fixes : Guns with the "SawnOff" component can't be reloaded. #6166
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
Labels: none

Suggested change
  UnityProject/Assets/Scripts/Items/Others/HolyBook.cs
Labels: none
