Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Changes references to new health, (#6318)
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ImpedrezeneInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ImpedrezeneInBody.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/MannitolInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/MannitolInBody.asset.meta
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Food/HealableJobEdible.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs.meta
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Items/Others/HolyBook.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileIncendiary.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Morgue.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReactionSet.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Vending/GUI_Spawner.cs
Labels: UI

some WearableArmor and Armor documentation
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
Labels: none

if (currentlyRemovingArmor) was taken out of recursion
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
Labels: none

Changed to sync var
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs.meta
Labels: none

clean up
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

Update PlayerOnlySyncValues.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
Labels: none

Fixes night vision seeing through walls
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Camera.prefab
Labels: none

codacy
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

Fixes meson nightvision values
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Eyewear/MesonScanners/NightVisionMesonScanner.prefab
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
Labels: none

Fixes crayon and surgery UI not being draggable
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/CrayonUI.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/SurgicalUI.prefab
Labels: none

armor penetration logic & fields were simplified
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Gun/DamageData.cs
Labels: none

fixed logical bug & default values for armorPenetration
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
Labels: none

bullet assets
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_.357.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_.50Sniper.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_12gShotgunSlug.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_7.12x82mm.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_7.62.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_Emitter.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_ExplosiveBolt.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_HEDPRocket.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_HERocket.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_Laser.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_Meteorslug.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_PulseLaserShot.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_PulseLaserShotToTile.asset
Labels: none

armors & organs prefabs again
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/BulletproofHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/HelmetSecurity.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/RiotHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/_HardsuitHelmetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SpaceHelmetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/RedSpaceHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Eyes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Facial Hair.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Liver.prefab
Labels: none

Fixes #6166 Guns with the "SawnOff" component can't be reloaded. (#6320)
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
Labels: none

fixed codacy (I hope)
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
Labels: none

Fixes Some Night Vision Goggles Issues (#6315)
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Eyewear/MesonScanners/NightVisionMesonScanner.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/CrayonUI.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/SurgicalUI.prefab
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ToggleVisionGoggles.asset
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

ClothingArmors is now a private field
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

organs are now protected too
  UnityProject/Assets/Scripts/Clothing/WearableArmor.cs
Labels: none

SubOrganBodyPartArmour is here again
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Making ScriptableObject tests work again.
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: none

Fixes for the SO tests.
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: none

Making ScriptableObject tests work again. (#6322)
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Initial mob changes.
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/Spiderling.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/Spiderling.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/SpiderlingDead.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/SpiderlingDead.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Butterfly.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Snake.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/SnakeHostile.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/SnakeHostile.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/BloodCultistMob.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/ConstructArtificer.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/ConstructHarvester.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/ConstructJuggernaut.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/ConstructWraith.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/Shade.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/BloodCultMobs/_BloodCultConstructBase.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpider.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpiderTarantulaSergeantAraneus.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/Spiderling.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/Spiderling.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/MonsterBreadLoaf.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/_SimpleAnimalHostileBase.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Snake/NPC_Snake.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Snake/NPC_Snake.prefab.meta
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
Labels: Scene Changes

snake file
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Snake.meta
Labels: none

Hides player names and player jobs from the stats tab
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
Labels: none

Added proper names and descriptions to nuclear devices
  UnityProject/Assets/Resources/Prefabs/Objects/Nuke/nuke.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Nuke/nuke_terminal_16.prefab
Labels: none

Reverting body part additions in order to fix bug.
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Cats/Cat.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Cows/Cow.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Dogs/_DogBase.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Foxes/Fox.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Goats/Goat.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Gondola.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Parrots/Parrot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Penguins/_PenguinBase.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Sloths/Sloth.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Snake.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Humanoid/_HostileHumanoidBase.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/JungleMobs/Leaper.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Megafauna/BloodDrunkMiner.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/SpaceCarp/SpaceCarp.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/_MobLivingBase.prefab
Labels: none

Removed player lists from the stat tab entirely at the request of @ThatDan123
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
Labels: UI

Hides player names and player jobs from the stats tab (#6324)
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

cleanup gun scripts
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
Labels: none

more stuff
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunPKA.cs
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
Labels: none

even more stuff
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunPKA.cs
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
Labels: none

Blob hit fix and changed to owner only sync vars
  UnityProject/Assets/Resources/Prefabs/Effects/Resources/Hit.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
Labels: none

Fixes a codacy issue
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoBounty.cs
Labels: UI

Update BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
Labels: none
