Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Updates Maps with Defibs
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
Labels: Scene Changes

Update cargo prices.
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

redid the whole thing
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
Labels: none

Clean up
  UnityProject/Assets/Mirror/Runtime/MessagePacking.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/TileLocation.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
Labels: none

Ore fix
  UnityProject/Assets/Scripts/Systems/Ore Generation/OreGenerator.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
Labels: none

Update TilemapDamage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
Labels: none

Window damage fix
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
Labels: none

Updates Maps with Defibs (#6248)
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
Labels: Scene Changes

adds crawling
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/footsteps/Shuffle.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/footsteps/Shuffle/Craw1.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/footsteps/Shuffle/Craw1.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.11.13.09.17.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.11.13.09.17.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.15.56.12.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.15.56.12.json
  UnityProject/Assets/Scripts/Core/Addressables/SingletonSOSounds.cs
  UnityProject/Assets/Scripts/Health/Living/SimpleAnimal/SimpleAnimal.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/RequestBodyParts.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestRest.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestRest.cs.meta
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAI.cs
  UnityProject/Assets/Scripts/Objects/Alien/AlienEggCycle.cs
  UnityProject/Assets/Scripts/Objects/Canisters/Canister.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/Other/DropPod.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Audio/FootstepSounds.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/Rockdrop.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
Labels: UI

fixed catalogues
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.14.19.14.54.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.14.19.14.54.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.15.56.12.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.15.56.12.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.22.16.34.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.22.16.34.json
Labels: none

requested change
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
Labels: none

Fixes toy swords having its light on by default. Removes the delay that toy swords and energy swords take to update their sprite, its now instant.
  UnityProject/Assets/Resources/Prefabs/Items/Other/Toys/ToySword.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Melee/EnergySword.cs
Labels: none

Removes an unneeded check when looping through pipes after one is deconstructed.
  UnityProject/Assets/Scripts/Systems/Fluids/LiquidPipeNet.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fix some errors
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Despawn.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
Labels: none

Update MouseUtils.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
Labels: none

Fixes the logic of ApplyDamageAll, now it'll properly spread the damage on each limb in the case that a bodypart container has more than one limb.
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

Fixed objects not despawning properly (#6260)
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Despawn.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
Labels: none

fixes
  UnityProject/Assets/Scripts/Core/Chat/DiscordWebhookMessage.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Systems/Voting/VotingManager.cs
Labels: none

Fixes the dev spawner searching with an empty or really short string.
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSpawner.cs
Labels: UI

Fixes the dev spawner searching with an empty or really short string. (#6263)
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSpawner.cs
Labels: UI

Attempting to fix rotation and sync issues
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Backflip.cs
Labels: none

Update Backflip.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Backflip.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

tells you if your CPR is a bit useless, sprites should rotate properly now
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
Labels: UI

adds countdown bar for resisting handcuffs
  UnityProject/Assets/Scripts/Clothing/RestraintOverlay.cs
Labels: none

Ugh what a mess
  UnityProject/Assets/Resources/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BloodTypes/BloodType.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/ImplantBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

Mess cleaned up
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartModifiers.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartModifiers.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

Adds ore boxes. (#6265)
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/OreBox.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/OreBox.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Construction/BuildList/WoodenPlankConstructionList.asset
  UnityProject/Assets/Scripts/Objects/Mining/OreBox.cs
  UnityProject/Assets/Scripts/Objects/Mining/OreBox.cs.meta
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

iron bugs
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/SyndicateOperationsConsole.prefab
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateOpConsole.cs
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateTelecrystalStation.cs
  UnityProject/Assets/Scripts/UI/Objects/GUI_SyndicateOpConsole.cs
Labels: UI

aaaaaaaaaa
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSyndicateOperationsConsole.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSyndicateOperationsConsole.prefab.meta
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateOpConsole.cs
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateTelecrystalStation.cs
Labels: none

health dole, latee join don't work because massive pain
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Messages/Server/HealthDollUpdate.cs
  UnityProject/Assets/Scripts/Messages/Server/HealthDollUpdate.cs.meta
  UnityProject/Assets/Scripts/UI/Core/PanelHudBottomController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: UI

Added some cool stuff
  UnityProject/Assets/Resources/Prefabs/Items/Other/BikeHorn.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDABase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Security/Stun Baton.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTank.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankDouble.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankDoubleEmpty.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankExtendedCapacity.prefab
  UnityProject/Assets/Textures/clothing/belt/PDA.asset
  UnityProject/Assets/Textures/clothing/belt/PDA.asset.meta
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton.png
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_active.png
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_active.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_nocell.png
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_nocell.png.meta
Labels: Sprite Work

some stuff that needs to be commited
  UnityProject/Assets/Textures/clothing/belt/PDA.asset
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.asset
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_active.asset
Labels: none

Added some cool stuff
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/Backflip.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/Dance.asset.meta
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset.meta
Labels: none

Some more stuff
  UnityProject/AddressablePackingProjects/SoundAndMusic/.vsconfig
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.22.16.34.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.22.16.34.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.16.18.56.59.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.16.18.56.59.json
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/HealthAnalyzer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/AtmosphericAnalyzer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Crowbar.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/PocketCrowbar Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/PocketCrowbar.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/PocketCrowbarRed.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Screwdriver.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/WeldingTools/WeldingTool.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/DisablerPistol.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Disposals/DisposalOutlet.prefab
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomHat.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomToyCrate.asset.meta
  UnityProject/Assets/Textures/clothing/belt/crowbar.asset
  UnityProject/Assets/Textures/clothing/belt/health analyzer.asset
  UnityProject/Assets/Textures/clothing/belt/health analyzer.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_crowbar_large.asset.meta
Labels: none

Realised I made some fucky wuckys
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlay_stunbaton 1.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlay_stunbaton 1.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_crowbar_large.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.png.meta
Labels: Sprite Work

Moar stuff
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Explosive/SyndicateMinibomb.prefab
  UnityProject/Assets/Textures/clothing/head/EVA helmet/EVA helmet.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.png.meta
Labels: Sprite Work

Added the epic jukebox texture, includes an off state and the broken state
  UnityProject/Assets/Resources/Prefabs/Objects/Bar/Jukebox.prefab
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-active.asset
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-active.png
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-active.png.meta
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-broken.asset
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-broken.asset.meta
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-broken.png
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox-broken.png.meta
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox.asset
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox.png
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox_off.png
  UnityProject/Assets/Textures/objects/stationobjs/stationobjs_jukebox_off.png.meta
Labels: Sprite Work

refactor CargoData to use scriptable objects categories and orders
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomHat.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Traits/Materials/Ores/DIamondOre.asset
  UnityProject/Assets/ScriptableObjects.meta
  UnityProject/Assets/ScriptableObjects/Cargo.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders.meta
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Shuttles/CargoShuttle.cs
  UnityProject/Assets/Scripts/Systems/Cargo.meta
  UnityProject/Assets/Scripts/Systems/Cargo/CargoCategory.cs
  UnityProject/Assets/Scripts/Systems/Cargo/CargoCategory.cs.meta
  UnityProject/Assets/Scripts/Systems/Cargo/CargoOrderSO.cs
  UnityProject/Assets/Scripts/Systems/Cargo/CargoOrderSO.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Cargo/CargoData.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoItem.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageCart.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageSupplies.cs
  UnityProject/Assets/Tests/Balance/CargoDataMigrator.cs
  UnityProject/Assets/Tests/Balance/CargoDataMigrator.cs.meta
  UnityProject/Assets/Tests/Balance/CargoTest.cs
Labels: UI
