Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Fixes self-hit when spamclicking (#6864)
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/Player/Resources/hitIcon.prefab
  UnityProject/Assets/Prefabs/Player/Resources/hitIcon.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/SpriteManager.prefab
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Player/HitIcon.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

change version of pr2changelog
  .github/workflows/changelog.yml
Labels: none

Fixes removing gas if moles small enough
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasSO.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Utils/AtmosUtils.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Few more fixes
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/CentcomInternPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/CuratorPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTChaplain.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTClown.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTCommander.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTEngineer.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTJanitor.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTMedic.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTSecurity.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/FugitivePopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/GeneticistPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/HeadOfPersonnelPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/HeadOfSecurityPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/JanitorPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/LawyerPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/MedicalDoctorPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/MimePopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ParamedicPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/PsychiatristPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/QuartermasterPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ResearchDirectoryPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/RoboticistPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ScientistPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/SecurityOfficerPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ShaftMinerPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/SyndicateOperativePopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/VirologistPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/WardenPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/WizardApprenticePopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/WizardPopulator.asset
  UnityProject/Assets/Scripts/Core/Editor/GenerateSpriteSO.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
Labels: UI

finished, fixed camera order and APC connect
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/SecurityCamera.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
Labels: none

So many conflicts So many times
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
Labels: none

Box Ai mapping (#6875)
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/SecurityCamera.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
Labels: none

Parrot Ai chat bubble fix
  UnityProject/Assets/Scripts/NPC/AI/Friendly/ParrotAI.cs
Labels: none

Dont let ghosts use up limited spawn points
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
Labels: none

Fix aghost Ai control issue
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Fixes Players Re-spawning With old inventory
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ClothingSlots.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/DoubleHandController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

Battery stuff
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Dep battery
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Some Ai fixes (#6876)
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
  UnityProject/Assets/Scripts/NPC/AI/Friendly/ParrotAI.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Feature: Giant service bell (#6369)
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Effects/service_bell_big.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Effects/service_bell_big.ogg.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/ServiceBellBig Variant.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/ServiceBellBig Variant.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Misc/ServiceBell.prefab
  UnityProject/Assets/Scripts/Items/ServiceBell.cs
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell.asset
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell_big.png
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell_big.png.meta
Labels: Sprite Work

Adds frame wait so coroutine is ended
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Fix turret despawn
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
Labels: none

Fixes
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Update ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
Labels: none

Update AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Ai no longer interact with canisters but can now interact with pumps and other atmos stuff
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterBase.prefab
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirInjector.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Mixer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Pump.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
Labels: none

Update Metre.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Metre.cs
Labels: none

Fixes suicide for AI and Blob and adds admin data for blob
  UnityProject/Assets/Scripts/Messages/Client/SuicideMessage.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
Labels: none

rename
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirInjector.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Mixer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Pump.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
Labels: none

Codacy
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Better line of sight
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AiActivate.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

empty line
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
Labels: none

Update BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
Labels: none

remove debug
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
Labels: none

clean up
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AiActivate.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
Labels: none

Removes the useless serializefield constructor from StationObjective description. Corrects the params comments from the MakeCommandReport to its updated version.
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Systems/StationObjectives/StationObjective.cs
Labels: none

Cardboard Sheet construction list
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/CardboardSheet.prefab
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/CardboardSheetConstructionList.asset
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/CardboardSheetConstructionList.asset.meta
Labels: none

Update changelog.yml
  .github/workflows/changelog.yml
Labels: none

Update changelog.yml
  .github/workflows/changelog.yml
Labels: none

Update UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

Ai Power Restorer and fixes (#6880)
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterBase.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Messages/Client/SuicideMessage.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirInjector.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Metre.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Mixer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Pump.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

Cardboard Sheet construction list (#6883)
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/CardboardSheet.prefab
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/CardboardSheetConstructionList.asset
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/CardboardSheetConstructionList.asset.meta
Labels: none

Changed to static
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
