Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Clear ItemPopulator UnitTest
  UnityProject/Assets/Prefabs/Objects/Chemistry/ChemMaster.prefab
Labels: none

Apply suggestions from code review
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPortalStorm.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPowernetCheck.cs
Labels: none

Update EventPortalStorm.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPortalStorm.cs
Labels: none

SM Hugbox Change (#6585)
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SingletonSOSounds.asset
  UnityProject/Assets/Scripts/Core/Addressables/SingletonSOSounds.cs
  UnityProject/Assets/Scripts/Items/Dice/RollDie.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/EventRadiationStorm.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPortalStorm.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventPowernetCheck.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Player rejoin fixes
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
Labels: none

Cache lighting settings for admin spawner stuff
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevDestroyer.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSelectVVTile.cs
Labels: UI

Update PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

Fix player death for offline players
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
Labels: none

Name and cargo objective fix
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/CargoEliminateSecurity.cs
Labels: none

Update PlayerList.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
Labels: none

updates centcom scene to DoorsV2
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
Labels: Scene Changes

adds SecERT SSU prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitSecERT.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitSecERT.prefab.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUSecERT.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUSecERT.asset.meta
Labels: none

Update PlayerList.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
Labels: none

Added SSUs for ERTs
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTClown.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTClown.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTCommand.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTCommand.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTEngineer.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTEngineer.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTJanitor.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTJanitor.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTMedical.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTMedical.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTSec.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTSec.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitPRT.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitPRT.prefab.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTClown.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTClown.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTCommand.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTCommand.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTEngineer.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTEngineer.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTJanitor.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTJanitor.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTMedical.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTMedical.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTSec.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTSec.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUInquisitor.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUInquisitor.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUPRT.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUPRT.asset.meta
Labels: none

oops for to include this spawnable list change
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUSecERT.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUSecERT.asset.meta
Labels: none

Update Wiz asteroid, syndicate Pog, and half of Square to DoorsV2
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
Labels: Scene Changes

Eject Item(s) into empty hand & more
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/OldIdConsoleManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/OldIdConsoleManager.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBoozeDispenser.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemistryDispenser.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabComms.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabOldIdConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabOldIdConsole.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabSecurityRecords.prefab
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemistryDispenser.cs
  UnityProject/Assets/Scripts/Objects/Consoles/CommsConsole.cs
  UnityProject/Assets/Scripts/Objects/SecurityRecordsConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleEntryOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleEntryOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsoleManagerOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsoleManagerOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_BoozeDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemistryDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecordsEntriesPage.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecordsEntryPage.cs
Labels: UI

Hi there Codacy, how're ya doin
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
Labels: none

Fixers compile error
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/IndexedStoragePopulator.cs
Labels: none

Updated Fallstation Centcom to Doors V2 and fixed Cetcom
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
Labels: Scene Changes

Adds a delay to disarm
  UnityProject/Assets/Scripts/Systems/Inventory/Disarmable.cs
Labels: none

Force spawn spectator as assistant if try revive
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

adds connection parameter, which is filled by mirror automatically
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: none

Uses cooldown system now
  UnityProject/Assets/Scripts/Systems/Inventory/Disarmable.cs
Labels: none

QuickBuild tool
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs.meta
Labels: none

pivot
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
Labels: none

gasp message
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Not allow respawning as spectator
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

Outline and underlay for chat
  UnityProject/Assets/Prefabs/Chat/ChatEntry.prefab
  UnityProject/Assets/Standard Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Underlay + Outline (ChatEntry only).mat
  UnityProject/Assets/Standard Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Underlay + Outline (ChatEntry only).mat.meta
Labels: none

fixed fall centcom and wiz asteroid light switches
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
Labels: Scene Changes

Admin healing will now revive dead players instead of healing dead bodies.
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: none

Square and additional scenes updated to doors V2 (#6589)
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTClown.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTClown.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTCommand.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTCommand.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTEngineer.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTEngineer.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTJanitor.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTJanitor.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTMedical.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTMedical.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTSec.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitERTSec.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitPRT.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitPRT.prefab.meta
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTClown.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTClown.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTCommand.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTCommand.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTEngineer.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTEngineer.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTJanitor.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTJanitor.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTMedical.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTMedical.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTSec.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUERTSec.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUInquisitor.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUInquisitor.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUPRT.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/SuitStorageUnits/SSUPRT.asset.meta
Labels: Scene Changes

spelling mistake
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

QuickBuild tool (#6594)
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs.meta
Labels: none

removes an uunneedeed
  UnityProject/Assets/Scripts/Systems/Inventory/Disarmable.cs
Labels: none

fixed switches
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
Labels: Scene Changes

fixed switches (#6599)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
Labels: Scene Changes

edited and updated role screen descriptions
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Chief Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chemist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chief Medical Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Medical Doctor.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Paramedic.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Roboticist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Bartender.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Botanist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Chaplain.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Cook.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Janitor.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Lawyer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Mime.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Cargo Technician.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Quartermaster.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Shaft Miner.asset
Labels: none

Fix QuickBuild issues
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
Labels: none
