Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

might fix sound error
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
Labels: none

fx
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
Labels: none

Another sound Fix
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
Labels: none

Shoot message fix
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
Labels: none

HealthMessage
  UnityProject/Assets/Scripts/Messages/Server/HealthMessages/HealthBloodMessage.cs
Labels: none

Update PlayParticleMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayParticleMessage.cs
Labels: none

Should stop disconnects
  UnityProject/Assets/Scripts/Messages/GameMessageBase.cs
Labels: none

Fixes Some Connection Errors (#6183)
  UnityProject/Assets/Scripts/Clothing/StepChanger.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Messages/GameMessageBase.cs
  UnityProject/Assets/Scripts/Messages/Server/HealthMessages/HealthBloodMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayParticleMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
  UnityProject/Assets/Scripts/Objects/Machines/Microwave.cs
Labels: none

Uplink entries
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/Bioterror Bundle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/Bioterror Bundle.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/BulldozerBundle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/BulldozerBundle.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/SpetznasPyroBundle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/SpetznasPyroBundle.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/StalkerBundle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/StalkerBundle.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Storage/SniperBundle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Storage/SniperBundle.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/BioterrorBundle.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/BioterrorBundle.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/BulldozerBundle.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/BulldozerBundle.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/SniperBundle.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/SniperBundle.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Spetznas Pyro Bundle.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Spetznas Pyro Bundle.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/StalkerBundle.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/StalkerBundle.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/PDA/UplinkCategoryList.asset
Labels: none

Fixing pin swapability.
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/BuzzsawLMG.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/BuzzsawLMGUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Migraine50SniperRifle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Migraine50SniperRifleUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Shotguns/BulldozerShotgun.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/StalkerSMG.prefab
Labels: none

Alters base fire delay.
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

Adding a plus sign back to Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

moves new sounds to correct group
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Music.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.06.19.55.51.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.06.19.55.51.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.07.09.51.26.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.07.09.51.26.json
Labels: none

Fix sprite message
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
Labels: none

remove empty update
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

set radiation log in builds to warning
  UnityProject/Assets/StreamingAssets/LogLevelDefaults/default.json
Labels: none

Updates Addressable Sounds and How to Map docs
  docs/assets/images/AddressableSounds/addressable_groups_clean_build.png
  docs/assets/images/AddressableSounds/addressable_groups_new_build.png
  docs/assets/images/AddressableSounds/addressable_locate_groups.png
  docs/assets/images/HowToMap/matrix_move_shuttle.PNG
  docs/assets/images/HowToMap/matrix_move_sub_menu.PNG
  docs/assets/images/HowToMap/shuttle_specialities.png
  docs/development/Addressables.md
  docs/development/How-to-Map.md
Labels: Documentation

Turns quick load off
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
Labels: none

Turns quick load off (#6192)
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
Labels: none

Update CargoData.asset
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

ree
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

Updates Addressable Sounds and How to Map docs (#6191)
  docs/assets/images/AddressableSounds/addressable_groups_clean_build.png
  docs/assets/images/AddressableSounds/addressable_groups_new_build.png
  docs/assets/images/AddressableSounds/addressable_locate_groups.png
  docs/assets/images/HowToMap/matrix_move_shuttle.PNG
  docs/assets/images/HowToMap/matrix_move_sub_menu.PNG
  docs/assets/images/HowToMap/shuttle_specialities.png
  docs/development/Addressables.md
  docs/development/How-to-Map.md
Labels: Documentation

Move the + sign to the right place.
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

net tab stuff
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSyndicateOperations.prefab
  UnityProject/Assets/Scripts/UI/Objects/GUI_SyndicateOpConsole.cs
Labels: UI

Undeprecated VariableViewer
  UnityProject/Assets/Standard Assets/Logger/Logger.cs
Labels: none

Fixes the gasp message using the organ name instead of the mob breathing.
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Debug.Log Second Pass and Error Fixing
  UnityProject/Assets/Scripts/Managers/EventManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Chemistry.asmdef
  UnityProject/Assets/Scripts/Systems/Chemistry/Editor/Chemistry.Editor.asmdef
  UnityProject/Assets/Scripts/Systems/Chemistry/Editor/Importer.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoItem.cs
  UnityProject/Assets/Standard Assets/HSVPicker/UI/HexColorField.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Editor/BuilderUtils.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Editor/HeuristicBrainEditor.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Editor/MLEditor.asmdef
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/Academy.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/Agent.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/LearningBrain.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/MLAgent.asmdef
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/Monitor.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/ResetParameters.cs
Labels: UI

Update DebugLogUnitystationCommands.cs
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
Labels: none

Tweak
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
Labels: none

Ice reaction changes, adds melting using welder
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Materials/Resources/HotIce.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Materials/Resources/IceShard.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/WaterVapourReaction.cs
Labels: none

Fixes singularity and super matter gibing
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

actually do it right
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

Update WaterVapourReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/WaterVapourReaction.cs
Labels: none

Update WaterVapourReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/WaterVapourReaction.cs
Labels: none

Update WaterVapourReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/WaterVapourReaction.cs
Labels: none

Update IceShard.cs
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
Labels: none

Oops
  UnityProject/Assets/Scripts/Messages/Client/RequestBuildMessage.cs
Labels: none

Fixes
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Standard Assets/Logger/Logger.cs
Labels: UI

Try to Fix supermatter sounds again
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.07.09.51.26.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.07.09.51.26.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.08.13.26.39.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.08.13.26.39.json
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
