Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Pickup animation will now play on all clients (#6267)
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fixes a bug from crawling
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestRest.cs
Labels: none

Direction and caps
  UnityProject/Assets/Resources/Prefabs/Items/Tools/CrayonSprayCans/Crayons/_CrayonBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/CrayonSprayCans/SprayCans/_SprayCanBase.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/CrayonUI.prefab
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleSprayCanCap.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleSprayCanCap.asset.meta
  UnityProject/Assets/Scripts/Items/Tool/CrayonSprayCan.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Core/CrayonUI.cs
Labels: UI

Crayon Box
  UnityProject/Assets/Resources/Prefabs/Items/Storage/CrayonBox.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Storage/CrayonBox.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/CrayonBoxPopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/CrayonBoxPopulator.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Structure/CrayonBox.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Structure/CrayonBox.asset.meta
  UnityProject/Assets/Scripts/Items/Tool/CrayonSprayCan.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/FloorGraffiti/FloorLetters/NGraffiti.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/FloorGraffiti/FloorLetters/ZGraffiti.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/WallGraffiti/WallLetters/NGraffiti.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/WallGraffiti/WallLetters/ZGraffiti.asset
Labels: none

Fixed crayon trait
  UnityProject/Assets/Resources/Prefabs/Items/Tools/CrayonSprayCans/Crayons/_CrayonBase.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/CrayonBoxPopulator.asset
Labels: none

Update _CrayonBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/CrayonSprayCans/Crayons/_CrayonBase.prefab
Labels: none

Fix rainbow
  UnityProject/Assets/Scripts/Items/Tool/CrayonSprayCan.cs
  UnityProject/Assets/Scripts/UI/Core/CrayonUI.cs
Labels: UI

Copies log entry text when clicked. (#6274)
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogItem.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

made crayons edible, readded eat sound
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/SnackBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/SoupSnacks/_SoupBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/_SnackBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/CrayonSprayCans/Crayons/_CrayonBase.prefab
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
Labels: none

Update Sprite-PixelSnap.mat
  UnityProject/Assets/Materials/Resources/Sprite-PixelSnap.mat
Labels: none

Food fix
  UnityProject/Assets/Resources/Prefabs/Items/Tools/CrayonSprayCans/Crayons/_CrayonBase.prefab
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
Labels: none

fixes slipping and surgery
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Procedures/CloseProcedure.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
Labels: none

Shuttle arrive notification and shuttle sound fix
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
Labels: none

Finishing touches for now
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

dangit copy paste
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Shuttle arrive notification and shuttle sound fix (#6278)
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

better sprite handling (#6273)
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Procedures/CloseProcedure.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerCustomisationMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerCustomisationMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
Labels: none

Some cigar, rollies and cigarettes adjustments.
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/CandyCigarette.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/CornCobPipe.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/PremiumCigarBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/PremiumCigarCohiba.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/PremiumCigarHavana.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/RollieBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Other/CigarettesAndLighters/Smokeables/SmokingPipe.prefab
  UnityProject/Assets/Textures/clothing/mask/cigarette/candy cigarette/candy cigarette-on.asset
  UnityProject/Assets/Textures/clothing/mask/cigarette/candy cigarette/candy cigarette-on.asset.meta
  UnityProject/Assets/Textures/clothing/mask/cigarette/cigar/cigar 2-on.asset
  UnityProject/Assets/Textures/clothing/mask/cigarette/cigar/cigar 2-on.asset.meta
  UnityProject/Assets/Textures/clothing/mask/cigarette/cigar/cigar-on.asset
  UnityProject/Assets/Textures/clothing/mask/cigarette/cigar/cigar-on.asset.meta
  UnityProject/Assets/Textures/clothing/mask/cigarette/rollie/rollie-on.asset
  UnityProject/Assets/Textures/clothing/mask/cigarette/rollie/rollie-on.asset.meta
  UnityProject/Assets/Textures/clothing/mask/cigarette/smoking pipe/corn cob pipe/corn cob pipe-on.asset
  UnityProject/Assets/Textures/clothing/mask/cigarette/smoking pipe/corn cob pipe/corn cob pipe-on.asset.meta
  UnityProject/Assets/Textures/clothing/mask/cigarette/smoking pipe/smoking pipe-on.asset
  UnityProject/Assets/Textures/clothing/mask/cigarette/smoking pipe/smoking pipe-on.asset.meta
Labels: none

Rolled back crawl change
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestRest.cs
Labels: none

Fixes field generator
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/FieldGenerator.prefab
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Field Generator Crate.asset
Labels: none

Changed scrubber event
  UnityProject/Assets/ScriptableObjects/SOs singletons/ChemistryReagentsSO.asset
  UnityProject/Assets/ScriptableObjects/SOs singletons/ChemistryReagentsSO.asset.meta
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteDataSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/ChemistryReagentsSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/ChemistryReagentsSO.cs.meta
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventScrubberSurge.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionScriptableObject.cs
Labels: UI

Moved Singletons back
  UnityProject/Assets/Resources/SOs singletons.meta
  UnityProject/Assets/Resources/SOs singletons/ChemistryReagentsSO.asset
  UnityProject/Assets/Resources/SOs singletons/ChemistryReagentsSO.asset.meta
  UnityProject/Assets/Resources/SOs singletons/CommonCooldownSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/CommonCooldownSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/CommonPrefabsSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/GAS2ReagentSinWhogleton.asset
  UnityProject/Assets/Resources/SOs singletons/GAS2ReagentSinWhogleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/MachinePartsPrefabsSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/MachinePartsPrefabsSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/MachineTraitsSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/MachineTraitsSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/PipeTileSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/PipeTileSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/PlayerTextureDataSOs.asset
  UnityProject/Assets/Resources/SOs singletons/PlayerTextureDataSOs.asset.meta
  UnityProject/Assets/Resources/SOs singletons/PoolConfig.asset
  UnityProject/Assets/Resources/SOs singletons/PoolConfig.asset.meta
  UnityProject/Assets/Resources/SOs singletons/RaceSOSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/RaceSOSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/SingletonSOSounds.asset
  UnityProject/Assets/Resources/SOs singletons/SingletonSOSounds.asset.meta
  UnityProject/Assets/Resources/SOs singletons/SpeechModManager.asset
  UnityProject/Assets/Resources/SOs singletons/SpeechModManager.asset.meta
  UnityProject/Assets/Resources/SOs singletons/SpellList.asset
  UnityProject/Assets/Resources/SOs singletons/SpellList.asset.meta
  UnityProject/Assets/Resources/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/SpriteCatalogueSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/SurgeryProcedureBaseSingleton 1.asset
  UnityProject/Assets/Resources/SOs singletons/SurgeryProcedureBaseSingleton 1.asset.meta
  UnityProject/Assets/Resources/SOs singletons/UIActionSOSingleton.asset
  UnityProject/Assets/Resources/SOs singletons/UIActionSOSingleton.asset.meta
  UnityProject/Assets/Resources/SOs singletons/adminJobsList.asset
  UnityProject/Assets/Resources/SOs singletons/adminJobsList.asset.meta
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
Labels: Scene Changes

Revert script changes
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteDataSO.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionScriptableObject.cs
Labels: UI

revert lobby change
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
Labels: Scene Changes

Renamed folder, fixed paths
  UnityProject/Assets/Resources/ScriptableObjectsSingletons.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/ChemistryReagentsSO.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/ChemistryReagentsSO.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonCooldownSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonCooldownSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonPrefabsSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/GAS2ReagentSinWhogleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/GAS2ReagentSinWhogleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/MachinePartsPrefabsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/MachinePartsPrefabsSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/MachineTraitsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/MachineTraitsSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PipeTileSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PipeTileSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PlayerTextureDataSOs.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PlayerTextureDataSOs.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PoolConfig.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PoolConfig.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RaceSOSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RaceSOSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SingletonSOSounds.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SingletonSOSounds.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpeechModManager.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpeechModManager.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpellList.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpellList.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SurgeryProcedureBaseSingleton 1.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SurgeryProcedureBaseSingleton 1.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/UIActionSOSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/UIActionSOSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/adminJobsList.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/adminJobsList.asset.meta
  UnityProject/Assets/Scripts/Core/Editor/GenerateSpriteSO.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteDataSO.cs
  UnityProject/Assets/Scripts/Player/PlayerTextureData.cs
  UnityProject/Assets/Scripts/ScriptableObjects/SingletonScriptableObject.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionScriptableObject.cs
Labels: UI

Rightclick options path removed
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RightClickOptionSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RightClickOptionSingleton.asset.meta
  UnityProject/Assets/Scripts/ScriptableObjects/RightClickOptionSingleton.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RightClickOptionSingleton.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickableElement.cs
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

Crayon SO moved
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/CrayonBoxPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/CrayonBoxPopulator.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/CrayonBox.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/CrayonBox.asset.meta
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ToggleSprayCanCap.asset
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ToggleSprayCanCap.asset.meta
Labels: none

Fixes field generator (#6279)
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/FieldGenerator.prefab
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Field Generator Crate.asset
Labels: none

Working
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/DevTileChangeMenu.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/TileCategories.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/TileCategories.asset.meta
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/FloorTileList.asset
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/GrillTileList.asset
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/GrillTileList.asset.meta
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/TableTileList.asset
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/WallTileList.asset
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/WindowTileList.asset
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/ScriptableObjects/TileCategorySO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/TileListSO.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTabButtons.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevTileChanger.cs
Labels: UI

some fixes
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/ScriptableObjects/TileListSO.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevTileChanger.cs
Labels: UI

Added some cool stuff
  UnityProject/Assets/Resources/Prefabs/Items/Other/BikeHorn.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDABase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Security/Stun Baton.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTank.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankDouble.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankDoubleEmpty.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankExtendedCapacity.prefab
  UnityProject/Assets/Textures/clothing/belt/PDA.asset
  UnityProject/Assets/Textures/clothing/belt/PDA.asset.meta
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton.png
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_active.png
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_active.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_nocell.png
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_nocell.png.meta
Labels: Sprite Work

some stuff that needs to be commited
  UnityProject/Assets/Textures/clothing/belt/PDA.asset
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton.asset
  UnityProject/Assets/Textures/items/items_and_weapons/items_and_weapons_stunbaton_active.asset
Labels: none

Added some cool stuff
  UnityProject/Assets/ScriptableObjects/Emotes/Backflip.asset.meta
  UnityProject/Assets/ScriptableObjects/Emotes/Dance.asset.meta
  UnityProject/Assets/Textures/clothing/belt/Stun baton.asset.meta
Labels: none

Some more stuff
  UnityProject/AddressablePackingProjects/SoundAndMusic/.vsconfig
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.22.16.34.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.15.22.16.34.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.16.18.56.59.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.03.16.18.56.59.json
  UnityProject/Assets/Resources/Prefabs/Items/Medical/Devices/HealthAnalyzer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/AtmosphericAnalyzer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Crowbar.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/PocketCrowbar Variant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/PocketCrowbar.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/PocketCrowbarRed.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Screwdriver.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/WeldingTools/WeldingTool.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/DisablerPistol.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Disposals/DisposalOutlet.prefab
  UnityProject/Assets/Textures/clothing/belt/crowbar.asset
  UnityProject/Assets/Textures/clothing/belt/health analyzer.asset
  UnityProject/Assets/Textures/clothing/belt/health analyzer.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_crowbar_large.asset.meta
Labels: none

Realised I made some fucky wuckys
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlay_stunbaton 1.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlay_stunbaton 1.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_crowbar_large.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_active.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_overlays_stunbaton_nocell.png.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.asset
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.asset.meta
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.png
  UnityProject/Assets/Textures/items/clothing/belt_overlays/belt_stunbaton.png.meta
Labels: Sprite Work

Moar stuff
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Explosive/SyndicateMinibomb.prefab
  UnityProject/Assets/Textures/clothing/head/EVA helmet/EVA helmet.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_lefthand/bombs_lefthand_minibomb.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/bombs_righthand/bombs_righthand_minibomb.png.meta
Labels: Sprite Work
