Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Update PlayParticleMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayParticleMessage.cs
Labels: none

Update PlayParticleMessage.cs (#6802)
  UnityProject/Assets/Scripts/Messages/Server/PlayParticleMessage.cs
Labels: none

Disposals error fix
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalOutlet.prefab
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
Labels: none

Sound prefabs
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsdown.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsdown.ogg.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsup.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsup.ogg.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltDown.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltDown.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltUp.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltUp.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/smash.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/Explosion1.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/Explosion3.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionCreak1.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionCreak2.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionCreak3.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionDistant.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionFar.prefab
Labels: none

Addressables build
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.05.19.16.51.17.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.05.19.16.51.17.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.json
Labels: none

Removes UnRealStation from Map Rotation
  UnityProject/Assets/StreamingAssets/maps.json
Labels: none

remove clear
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
Labels: none

Disposals Fix (#6803)
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalOutlet.prefab
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
Labels: none

Removes UnRealStation from Map Rotation (#6804)
  UnityProject/Assets/StreamingAssets/maps.json
Labels: none

VV Fixes (#6801)
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestRefreshHierarchy.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestRefreshHierarchy.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/GUI_VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/HierarchyEntry.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/HierarchyEntry.prefab
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/LibraryUI.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/UI_BooksInBookshelf.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/VariableViewerV2UI.prefab
  UnityProject/Assets/Scripts/Variable Viewer/VariableViewerNetworking.cs
Labels: none

Fixes Global Sounds (#6805)
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsdown.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsdown.ogg.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsup.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Machines/boltsup.ogg.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltDown.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltDown.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltUp.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Doors/AirlockBoltUp.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/smash.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/Explosion1.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/Explosion2.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/Explosion3.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionCreak1.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionCreak2.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionCreak3.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionDistant.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Explosion/ExplosionFar.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.05.19.16.51.17.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.05.19.16.51.17.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.json
Labels: none

Door bolt sound integration
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/_AirlockBase.prefab
Labels: none

Undo Checks
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
Labels: none

Update ExplosionManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
Labels: none

Welder Finish Sound
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/WeldFinish.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/WeldFinish.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.10.43.03.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.10.43.03.json
Labels: none

Smite Fix
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: none

Smite Fix (#6808)
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: none

Welder Finish Sound (#6807)
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/WeldFinish.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/WeldFinish.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.09.53.24.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.10.43.03.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.06.16.10.43.03.json
Labels: none

application check
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
Labels: none

Ambience
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
  UnityProject/Assets/ScriptableObjects/Audio/AsteroidEntering.asset
  UnityProject/Assets/ScriptableObjects/Audio/AsteroidEntering.asset.meta
  UnityProject/Assets/ScriptableObjects/Audio/DarkJungleEntering.asset
  UnityProject/Assets/ScriptableObjects/Audio/DarkJungleEntering.asset.meta
  UnityProject/Assets/ScriptableObjects/Audio/LavalandEntering.asset
  UnityProject/Assets/ScriptableObjects/Audio/LavalandEntering.asset.meta
Labels: Scene Changes

Undo Checks (#6806)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
Labels: none

Ambience (#6809)
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
  UnityProject/Assets/ScriptableObjects/Audio/AsteroidEntering.asset
  UnityProject/Assets/ScriptableObjects/Audio/AsteroidEntering.asset.meta
  UnityProject/Assets/ScriptableObjects/Audio/DarkJungleEntering.asset
  UnityProject/Assets/ScriptableObjects/Audio/DarkJungleEntering.asset.meta
  UnityProject/Assets/ScriptableObjects/Audio/LavalandEntering.asset
  UnityProject/Assets/ScriptableObjects/Audio/LavalandEntering.asset.meta
Labels: Scene Changes

misc: update Changelog
  CHANGELOG.md
Labels: none

Fixes shuttle cornets not being updated on UI
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
Labels: none

fixes table climbing While buckled
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
Labels: none

Adds check for empty SO singleton fields
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: none

Code Review Changes + removed examine returning exact values and comps
  UnityProject/Assets/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/BloodSystem.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/ReagentScanner.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
Labels: none

Fixes VV matriix
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

Make codacy happy
  UnityProject/Assets/Scripts/Items/Medical/ReagentScanner.cs
Labels: none

Fix missing references
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/MachineTraitsSingleton.asset
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: none

Fixes layering issues oncat Race
  UnityProject/Assets/Prefabs/Items/Implants/Felind/CatEars.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Felind/CatTail.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_TailBase.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/DepreciatedScrubber.prefab
Labels: none

Update FoodProcessor.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
Labels: none

Fixes characters looking for lizards
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
Labels: UI

Fixes food processors
  UnityProject/Assets/Prefabs/Objects/Kitchen/FoodProcessor.prefab
  UnityProject/Assets/Scripts/Effects/LTEffect.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
Labels: none

Fixes error with bleeding
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Fix Singleton SO Test (#6812)
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/MachineTraitsSingleton.asset
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: none

Fixes food processors disappearing (again) and fixes bleeding issues with removed body parts (also again) (#6813)
  UnityProject/Assets/Prefabs/Objects/Kitchen/FoodProcessor.prefab
  UnityProject/Assets/Scripts/Effects/LTEffect.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fixes Body parts And internal bleedding
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: none

Fixes character body sprites being out of sync with the clothes of the same character.
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
Labels: UI
