Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Door update check
  UnityProject/Assets/Scripts/Messages/Server/DoorUpdateMessage.cs
Labels: none

Food processor RPC server only check
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
Labels: none

Update EmergencyLightAnimator.cs
  UnityProject/Assets/Scripts/Core/Lighting/EmergencyLightAnimator.cs
Labels: none

Fix Mining Overlays (#6522)
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Bananium Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/BlueSpace Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Diamond ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Gold Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Iron Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Plasma Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Silver Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Titanium Ore.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/ORES/Uranium Ore.asset
Labels: none

Singularity Force Push objects (#6520)
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Readd Player and mob examine message (#6519)
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

More improvements and bug fixes to the character selector (#6518)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Update UnityProject/Assets/Scripts/Core/Lighting/EmergencyLightAnimator.cs
  UnityProject/Assets/Scripts/Core/Lighting/EmergencyLightAnimator.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Null Check PickUpAnimation And Other Error Fixes (#6524)
  UnityProject/Assets/Scripts/Core/Lighting/EmergencyLightAnimator.cs
  UnityProject/Assets/Scripts/Messages/Server/DoorUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
Labels: none

New fonts
  UnityProject/Assets/UI/Fonts/FontAwesome.meta
  UnityProject/Assets/UI/Fonts/FontAwesome/FontAwesome.otf
  UnityProject/Assets/UI/Fonts/FontAwesome/FontAwesome.otf.meta
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont.ttf
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont.ttf.meta
  UnityProject/Assets/UI/Fonts/Monaco.meta
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf.meta
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset.meta
  UnityProject/Assets/UI/Fonts/chatbubble.meta
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset.meta
  UnityProject/Assets/UI/Fonts/white-rabbit.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/license.txt
  UnityProject/Assets/UI/Fonts/white-rabbit/license.txt.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.ttf
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.ttf.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.txt
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.txt.meta
Labels: none

Possible fix for unending plasma fires
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

Script stuff
  UnityProject/Assets/Prefabs/SceneConstruction/MatrixManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/MatrixSync.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/MatrixSync.prefab.meta
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/ManagedBehaviour.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/ManagedBehaviour.cs.meta
  UnityProject/Assets/Scripts/Managers/UpdateManager/UpdateManager.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/MatrixMoveNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/TileChangeNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Server/RemoveTileMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/SubsystemManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

More script stuff
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
  UnityProject/Assets/Scripts/Shuttles/ShuttleFuelSystem.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
Labels: none

Scenes
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Syndicate.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
Labels: Scene Changes

Fixes
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Scripts/Messages/Server/MatrixMoveMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/TileChangesNewClientSync.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: none

Asteroid Scenes
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Scripts/Map/Asteroid.cs
Labels: Scene Changes

Fixes
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Messages/Server/MatrixMoveMessage.cs
Labels: none

Cable fixes
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
Labels: none

logger
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
Labels: none

RCS fixes
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
Labels: none

Scene ids again
  UnityProject/Assets/Scripts/Shuttles/MatrixPostProcessScene.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixPostProcessScene.cs.meta
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
Labels: none

Set scene ids
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Syndicate.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
  UnityProject/Assets/Scripts/Core/Editor/Tools/Tools.cs
Labels: Scene Changes

Build fixes
  UnityProject/Assets/Editor.meta
  UnityProject/Assets/Editor/EditorFolder.asmdef
  UnityProject/Assets/Editor/EditorFolder.asmdef.meta
  UnityProject/Assets/Editor/MatrixPostProcessScene.cs
  UnityProject/Assets/Editor/MatrixPostProcessScene.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
Labels: none

Add matrix sync to all scenes
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Syndicate.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
  UnityProject/Assets/Scripts/Core/Editor/Tools/Tools.cs
Labels: Scene Changes

Update SubSceneManager.Server.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Server.cs
Labels: none

Scene check fixes
  UnityProject/Assets/Prefabs/SceneConstruction/MatrixSync.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
Labels: none

Should be fully working now
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
Labels: none

Wait for net id init
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
Labels: none

Might fix skeleton
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

Update MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
Labels: none

New fonts (#6526)
  UnityProject/Assets/UI/Fonts/FontAwesome.meta
  UnityProject/Assets/UI/Fonts/FontAwesome/FontAwesome.otf
  UnityProject/Assets/UI/Fonts/FontAwesome/FontAwesome.otf.meta
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont.ttf
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont.ttf.meta
  UnityProject/Assets/UI/Fonts/Monaco.meta
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf.meta
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset.meta
  UnityProject/Assets/UI/Fonts/chatbubble.meta
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset.meta
  UnityProject/Assets/UI/Fonts/white-rabbit.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/license.txt
  UnityProject/Assets/UI/Fonts/white-rabbit/license.txt.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.ttf
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.ttf.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.txt
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.txt.meta
Labels: none

Fixes energy bow bullet prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbow.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbowMini.prefab
Labels: none

Update docker-compose.yml
  Docker/docker-compose.yml
Labels: none

Update docker-compose.yml (#6534)
  Docker/docker-compose.yml
Labels: none

Fixes energy bow bullet prefab (#6533)
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbow.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbowMini.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

RCS fixes (#6529)
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none
