Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Increased carp spawn rate
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/AsteroidPools/CarpSpawner.asset
Labels: none

Defibs added to Pog & Outpost, and adds mining conscription bag.
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/MiningConscriptionDuffelBag.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/MiningConscriptionDuffelBag.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/mining_machines_54.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Items/BagBundles/MiningConscriptionDuffelBagpopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Items/BagBundles/MiningConscriptionDuffelBagpopulator.asset.meta
Labels: none

e
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

Defibs added to Pog & Outpost, and adds mining conscription bag. (#6242)
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/MiningConscriptionDuffelBag.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Backwear/DuffelBags/MiningConscriptionDuffelBag.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/mining_machines_54.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Items/BagBundles/MiningConscriptionDuffelBagpopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Items/BagBundles/MiningConscriptionDuffelBagpopulator.asset.meta
Labels: none

last one i swear
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Comments out a line that needs to be used for button interactable change later on to suppress codacy complaints
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialEntry.cs
Labels: UI

Silences codacy
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialEntry.cs
Labels: UI

final cleanup and removal of auto price button for cargo data.
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/CargoData.cs
  UnityProject/Assets/Tests/Balance/CargoTest.cs
Labels: UI

silence codacy
  UnityProject/Assets/Tests/Utils.cs
Labels: none

Add test for order exploits in CargoData (#6237)
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/CargoData.cs
  UnityProject/Assets/Tests/Balance.meta
  UnityProject/Assets/Tests/Balance/CargoTest.cs
  UnityProject/Assets/Tests/Balance/CargoTest.cs.meta
  UnityProject/Assets/Tests/SubsceneTests.cs
  UnityProject/Assets/Tests/Utils.cs
  UnityProject/Assets/Tests/Utils.cs.meta
Labels: UI

First commit
  docs/assets/images/HowToMap/APC_autoconnect.gif
  docs/assets/images/HowToMap/APC_multi_select.gif
  docs/assets/images/HowToMap/adding_role_to_maps.png
  docs/assets/images/HowToMap/atmos_pipes.PNG
  docs/assets/images/HowToMap/hireachy_hide.gif
  docs/assets/images/HowToMap/log_levels.gif
  docs/assets/images/HowToMap/matrix_check.gif
  docs/assets/images/HowToMap/matrix_move_shuttle.PNG
  docs/assets/images/HowToMap/matrix_move_sub_menu.PNG
  docs/assets/images/HowToMap/search_for_prefab.png
  docs/assets/images/HowToMap/shuttle_specialities.png
  docs/assets/images/HowToMap/sidebar.png
  docs/assets/images/HowToMap/spawn_points.PNG
  docs/assets/images/HowToMap/test_runner.PNG
  docs/assets/images/HowToMap/tile_palette.gif
  docs/assets/images/HowToMap/wire_connections.png
  docs/assets/images/HowToSprite/crowbar_change_durden.png
  docs/assets/images/HowToSprite/crowbar_editor.png
  docs/assets/images/HowToSprite/durden_sprite_editor_slice.png
  docs/assets/images/HowToSprite/durden_sprite_mode_single_multiple.png
  docs/assets/images/HowToSprite/durden_sprite_so.png
  docs/assets/images/HowToSprite/tyler_in_file.png
  docs/assets/images/HowToSprite/tyler_inspector_view.png
  docs/assets/images/HowToSprite/tyler_select_sprite.png
  docs/assets/images/HowToSprite/tyler_sprite_data_so.png
  docs/development/How-to-Sprite.md
Labels: Documentation

fixed a typo + missing yawn text.
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicGenderedEmotes/yawn.asset
Labels: none

removed deprecated {player.expensivename} scan
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/Dance.asset
Labels: none

Adding the correct file extensions back in so all the pngs show up on the HowToMap page.
  docs/Documentation-Guide.md
  docs/assets/images/HowToMap/APC_autoconnect.gif
  docs/assets/images/HowToMap/APC_multi_select.gif
  docs/assets/images/HowToMap/adding_role_to_maps.png
  docs/assets/images/HowToMap/atmos_pipes.png
  docs/assets/images/HowToMap/hireachy_hide.gif
  docs/assets/images/HowToMap/log_levels.gif
  docs/assets/images/HowToMap/matrix_check.gif
  docs/assets/images/HowToMap/matrix_move_shuttle.png
  docs/assets/images/HowToMap/matrix_move_sub_menu.png
  docs/assets/images/HowToMap/search_for_prefab.png
  docs/assets/images/HowToMap/shuttle_specialities.png
  docs/assets/images/HowToMap/sidebar.png
  docs/assets/images/HowToMap/spawn_points.png
  docs/assets/images/HowToMap/test_runner.png
  docs/assets/images/HowToMap/tile_palette.gif
  docs/assets/images/HowToMap/wire_connections.png
Labels: Documentation

Retaking the Stonks Test
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

ORM and Silo nettabs (#6243)
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Mining/MaterialSilo.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/Ore Redemption Machine.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/GUI_MaterialEntry.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/GUI_MaterialEntry.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabHackingPanel.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabMaterialSilo.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabMaterialSilo.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabOreRedemptionMachine.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabOreRedemptionMachine.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Mining/BluespaceCrystalMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/DiamondMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/GlassMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/GoldMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/MetalMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/PlasmaMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/SilverMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/TitaniumMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/UraniumMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/Traits/Materials/Ores/DIamondOre.asset
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
  UnityProject/Assets/Scripts/Objects/ExosuitFabricator.cs
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorage.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorageLink.cs
  UnityProject/Assets/Scripts/Objects/Mining/OreRedemptionMachine.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining.meta
  UnityProject/Assets/Scripts/UI/Objects/Mining/Material Silo.meta
  UnityProject/Assets/Scripts/UI/Objects/Mining/Material Silo/GUI_MaterialSilo.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Material Silo/GUI_MaterialSilo.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine.meta
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialsList.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialsList.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_OreRedemptionMachine.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_OreRedemptionMachine.cs.meta
Labels: UI

Made dance actually work + made it print out view,you and fail text.
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs
Labels: none

fixed weird rotation behavior.
  UnityProject/Assets/Scripts/Player/EmoteScripts/Backflip.cs
Labels: none

reverts backs a change unity made for no reason
  UnityProject/Assets/Resources/ScriptableObjects/FloorSound/DefaultFloorSound.asset
Labels: none

Fixed an issue for objects that use GAMEOBJECT mode after they have moved from their original spawn location.
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

How to Sprite additions (#6244)
  docs/Documentation-Guide.md
  docs/assets/images/HowToMap/atmos_pipes.png
  docs/assets/images/HowToMap/matrix_move_shuttle.png
  docs/assets/images/HowToMap/matrix_move_sub_menu.png
  docs/assets/images/HowToMap/spawn_points.png
  docs/assets/images/HowToMap/test_runner.png
  docs/assets/images/HowToSprite/crowbar_change_durden.png
  docs/assets/images/HowToSprite/crowbar_editor.png
  docs/assets/images/HowToSprite/durden_sprite_editor_slice.png
  docs/assets/images/HowToSprite/durden_sprite_mode_single_multiple.png
  docs/assets/images/HowToSprite/durden_sprite_so.png
  docs/assets/images/HowToSprite/tyler_in_file.png
  docs/assets/images/HowToSprite/tyler_inspector_view.png
  docs/assets/images/HowToSprite/tyler_select_sprite.png
  docs/assets/images/HowToSprite/tyler_sprite_data_so.png
  docs/development/How-to-Sprite.md
Labels: Documentation

Shake will now play on the server.
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

Attempts to fix the issue where rotations aren't synced across all clients
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
Labels: none

Fixed sprites disappearing
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

Cargo order overhaul (#6193)
  UnityProject/Assets/Resources/Prefabs/Items/Spawners/RandomHatPool.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Spawners/RandomHatPool.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Spawners/RandomToyCrate.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Spawners/RandomToyCrate.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomHat.asset
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomHat.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomToyCrate.asset
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/RandomToyCrate.asset.meta
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Overlord codacy, please fuck off
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
Labels: none

progress
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSyndicateOpConsole.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSyndicateOpConsole.prefab.meta
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateOpConsole.cs
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateTelecrystalStation.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/NuclearOperative.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Objects/GUI_SyndicateOpConsole.cs
Labels: UI

Pass 5: BodyPartBlood, Lungs, and RespiratorySystemBase
  UnityProject/Assets/Resources/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratoryInfo.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratoryInfo.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartDropDownOrgans.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartDropDownReplaceOrgan.cs
Labels: UI

Pass 6: BodyPartDamage
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Grammar fixes and reverts
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
Labels: none

Removed the rest of RespiratoryInfo
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Resources/ScriptableObjects/Health/RespiratoryInfo.meta
  UnityProject/Assets/Resources/ScriptableObjects/Health/RespiratoryInfo/HumanRespiratoryInfo.asset
  UnityProject/Assets/Resources/ScriptableObjects/Health/RespiratoryInfo/HumanRespiratoryInfo.asset.meta
Labels: none

allow emote detection to be case insensitive
  UnityProject/Assets/Scripts/Core/Chat/EmoteActionManager.cs
Labels: none

renamed method to better convey its functionality
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
Labels: none

Attempting to fix an issue where sprites don't follow objects when shaking and moving
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

prevent emotes from showing on chatbubbles
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
Labels: UI

set back all barefoot sounds
  UnityProject/Assets/Resources/ScriptableObjects/FloorSound/DefaultFloorSound.asset
Labels: none

Sprites will now follow the object when shaking in spritemode + compiler error fix.
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

switch nettab value on some prefabs
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/SyndicateOperationsConsole.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSyndicateOpConsole.prefab
Labels: none
