Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Centers the characters window
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
Labels: none

Fixes a bug where drop down names never got updated when opening the window
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Fixes more issues where player spawns with the wrong character
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: UI

Fixes a lot of very broken things about loading characters that no one noticed whoops
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Cookable Component on FoodBase
  UnityProject/Assets/Prefabs/Items/Food/_FoodBase.prefab
Labels: none

Overlay fixes
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/OverlayTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

Readability Tweaks
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
Labels: none

Updates SpriteUpdateMessage to stop manually parsing the messages causing performance issues for clients.
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
Labels: none

Updates SpriteUpdateMessage to stop manually parsing the messages causing performance issues for clients. (#6480)
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
Labels: none

EditChraracter() now ensures that the current character index is loaded
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Fixes issue with the right scroll button + code cleanup
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

The right and left scroll buttons are no longer ontop of the dropdown UI
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
Labels: none

A Pixel perfect character preview has replaced the old image system
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Removes a no longer needed aysnc task
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Fixes a bug with last characters
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

CreateCharacter() will now check if currentCharacter is not null incase the player is new to the game.
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Stops the server from sending sprite updates from objects that no longer exist, making clients constantly search for them. (#6489)
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
Labels: none

Fixes ghost roles not being set at the first round of the server.
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
Labels: none

Improve cable cutting window prefab
  UnityProject/Assets/Textures/under floors/Power_Cond/Resources/CableCuttingWindow.prefab
Labels: none

Fix cable cutting window not popping up
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/LoadCableCuttingWindow.cs
Labels: UI

Fix cable cutting window not showing on non-cable tiles
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
Labels: none

Simplify list copying and typed variable
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
Labels: none

Add more documentation and typed variables
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalPool.cs
Labels: none

Change while loop to for loop for readability
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
Labels: none

Fixes ghost roles not being set at the first round of the server. (#6490)
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
Labels: none

Improve health scanner readout
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
Labels: none

Improve health scanner readout (#6495)
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
Labels: none

lastSettings now remembers the character your editing
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

removed references to an unused gameobjects
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Fixes character preview going out of place
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Fixes handcuff player overlay being too dark. Fixes handcuff UI sprite having a material colouring them pitch black.
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
  UnityProject/Assets/Textures/clothing/hands/hands_cuffed.png
Labels: Sprite Work, UI

Fixes handcuff player overlay being too dark. (#6496)
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
  UnityProject/Assets/Textures/clothing/hands/hands_cuffed.png
Labels: Sprite Work, UI

Fix cable coil consumption, refactor, and clean CableCoil.cs
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
Labels: none

Add XML documentation to Connection enum
  UnityProject/Assets/Scripts/Systems/Electricity/ConnectionMap.cs
Labels: none

Clean and document ServerPerformInteraction in CableCoil.cs
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
Labels: none

Simplify, clean up, and add docs CableCoil.cs even more
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
Labels: none

Fix small typo
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
Labels: none

Shield sprite fixes
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatter.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatterShard.prefab
Labels: none

Stop space sound playing when entering locker
  UnityProject/Assets/Scripts/Core/Sound/AmbientSoundArea.cs
Labels: none

Fixes the game loading in an outdated character sheet
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI
