Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

misc: update Changelog
  CHANGELOG.md
Labels: none

Etlwwtl is fun but clearing it outside the loop is even more so
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

just adding spacing so teh file reads better
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

Hold the data structure please (#6841)
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

Adjust deconstruction for rod giving tiles. (#6842)
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/MetalRods.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/CatwalkToLattice.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/CatwalkToLattice.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/DeconstructWhenWirecuttersUsed.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/Grille/GrilleBrokenUnsecure.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/Grille/GrilleBrokenUnsecure.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Resources/GrilleBrokenObject.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Resources/GrilleBrokenObject.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Resources/RodOne.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Resources/RodOne.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Resources/RodTwo.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Resources/RodTwo.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/CatWalk.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Lattice.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/Grille.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleBroken.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleBroken.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleDestroyed.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleInDoors.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

General fixes
  UnityProject/Assets/Prefabs/Items/Clothing/Feetwear/MagBoots/MagBoots.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/Others/ItemMagBoots.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleBroken.asset
Labels: none

Fixes fires getting stuck in the case of a runtime happening during a fire exposure. Removes the queue and semi-lock system from TileList to apply actions, replaced it with a temp list instead.
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

Remove unneeded check
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

Fixes traitors having some uplink items missing from their PDAs.
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDAUplinkItem.cs
Labels: UI

Fixes traitors having some uplink items missing from their PDAs. (#6845)
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDAUplinkItem.cs
Labels: UI

General fixes (#6843)
  UnityProject/Assets/Prefabs/Items/Clothing/Feetwear/MagBoots/MagBoots.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/Others/ItemMagBoots.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleBroken.asset
Labels: none

Fixes explosions getting stuck in a loop in the case of a runtime happening when a explosion node is processing.
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
Labels: none

Fixes explosions getting stuck in a loop in the case of a runtime happening when a explosion node is processing. (#6846)
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
Labels: none

Fixes fires getting stuck in the case of a runtime happening during a fire exposure. (#6844)
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

added mats to fall and square,
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Electrical.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/EngineeringFire.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/EngineersLockerPopulator.asset
Labels: none

fix upside down shader on DX10 systems
  UnityProject/Assets/Shaders/DrunkShader.shader
Labels: none

Removed active grey camera and made shader DX agnostic
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Shaders/DrunkShader.shader
Labels: Scene Changes

Apply suggestions from code review
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
Labels: Scene Changes

fix upside down shader on DX10 systems (#6847)
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Shaders/DrunkShader.shader
Labels: Scene Changes

players now will no longer develop Lung and heart cancer
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

made body parts moore forgiving
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatoryInfo/CirculatoryInfo.cs
Labels: none

Update Mop.cs
  UnityProject/Assets/Scripts/Items/Tool/Mop.cs
Labels: none

Now properly fixed, turns out cancers hard to get rid of
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatoryInfo/CirculatoryInfo.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

updated SO
  UnityProject/Assets/ScriptableObjects/Health/CirculatoryInfo/HumanCirculatory.asset
Labels: none

cleaned up
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

fixes people spontaneously suffocating (#6849)
  UnityProject/Assets/ScriptableObjects/Health/CirculatoryInfo/HumanCirculatory.asset
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatoryInfo/CirculatoryInfo.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Update Mop.cs (#6848)
  UnityProject/Assets/Scripts/Items/Tool/Mop.cs
Labels: none

Resolvingaidfgnaoging
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Let's hope this works
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

review1
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Fixes enumflag issues
  UnityProject/Assets/Prefabs/Items/Tools/AbductorTools/AbductorCircularSaw.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Screwdriver.prefab
  UnityProject/Assets/Prefabs/Items/Tools/SurgicalTools/CircularSaw.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Claymore.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ArrhythmicKnife.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/AtheistsFedora.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ChainsawHand.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ChaplainEnergySwordDark.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ChaplainEnergySwordLight.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ChaplainEnergySwordNautical.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/DarkBlade.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/DarkBlessing.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ExtradimensionalBlade.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ForceWeapon.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/GodHand.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/HanzoSteel.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/HighFrequencyBlade.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/PossessedChainsword.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/ReaperScythe.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/SacredChainsword.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/SpellbladeDormant.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/UNREALSORD.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/NullRod/UnholyPitchfork.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/OfficersSabre.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Bloodspear.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Knife.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Scalpel.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/SupermatterScalpel.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
Labels: none

Fixing sprites for cyborg and surplus prosthetic limbs.
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticRightLeg.prefab
Labels: none

hide the hide
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Let's hope this works (#6852)
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

Cleans up the duplicate calls for CanApply() and CanInteract() in Validations code as well as some clearing some code in DefaultWillInteract. (#6854)
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/DefaultWillInteract.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/MouseDraggable.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TileInteraction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Items/Others/Horn.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Construction/Deconstructable.cs
  UnityProject/Assets/Scripts/Objects/Construction/Rack.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Emitter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reflector.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/TeslaCoil.cs
  UnityProject/Assets/Scripts/Objects/Medical/DNAScanner.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
Labels: UI

Fixing sprites for cyborg and surplus prosthetic limbs. (#6855)
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticRightLeg.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Inital500 blood add
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatoryInfo/CirculatoryInfo.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
Labels: none

Fix merge conflicts
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/DefaultWillInteract.cs
  UnityProject/Assets/Scripts/Objects/Research/AiLawModule.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
Labels: none
