Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

More fixes
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Machines/QuantumPad.cs
Labels: none

a lot of stuff
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Bruise Pack.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Charcoal Pill.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Ointment.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/RAD Pill.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Gauze.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
Labels: none

Adds ghost teleport spot to singularity, tesla and sm
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/Singularity.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatter.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab
Labels: none

Some improvements
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
Labels: none

Shields now block explosions
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Shield/FieldGenHorizontal.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Shield/FieldGenVertical.asset
Labels: none

Adds Gauze in a namespace
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
Labels: none

Block sound message for action or examine. Only allow for speaking
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
Labels: none

Gauze stops limb loss bleeding again.
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
Labels: none

fix
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
Labels: none

Doc and fixes some annoying spacing issues
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
Labels: none

item trait thingy mgingy
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Gauze.prefab
  UnityProject/Assets/ScriptableObjects/Traits/Usage/Gauze.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/Gauze.asset.meta
Labels: none

e
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Fixes (#6769)
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/Singularity.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatter.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Chairs/WoodenChairItem.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Chairs/WoodenChairWingedItem.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/WoodenPlankConstructionList.asset
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Sound/AmbientSoundArea.cs
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Items/Tool/Pickaxe.cs
  UnityProject/Assets/Scripts/Managers/SoundAmbientManager.cs
  UnityProject/Assets/Scripts/Messages/Server/ServerMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/TileChangesNewClientSync.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateChatMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/BookNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/BookshelfNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/SubBookshelfNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/UpdateClientValue.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Machines/QuantumPad.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Shield/FieldGenHorizontal.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Shield/FieldGenVertical.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

DamageType check
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

fixes codacy issue
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Blood regaents drop on the ground
  UnityProject/Assets/Prefabs/Decal/Resources/LargeBloodSplat.prefab
  UnityProject/Assets/Prefabs/Decal/Resources/MediumBloodSplat.prefab
  UnityProject/Assets/Prefabs/Decal/Resources/SmallBloodSplat.prefab
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/BloodSystem.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor1.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor1.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor2.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor3.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor4.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor5.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor6.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor7.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl1.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl2.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl3.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl4.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl5.png
Labels: Sprite Work

Blood splatsnow use agnostic MetaDataLayer
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
Labels: none

Fixes Wrench Harm Behaviour (#6758)
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/TableDeconstruction.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/TableDeconstruction.asset.meta
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/DeconstructWhenItemUsed.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableDeconstruction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableDeconstruction.cs.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTable.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableBlack.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableBlue.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableCyan.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableGreen.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableOrange.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTablePurple.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableRed.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableRoyalBlack.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableRoyalBlue.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/Table.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_poker.asset
Labels: none

Fixes admin windows sometimes not disabling character keyboard input when using text fields.
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/AdminSearchBar.cs
Labels: UI

Clean up and camera arrow movement.
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatContext/ChatInputContext.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Messages/Server/ServerMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ShowChatBubbleMessage.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiMouseInputController.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ElectricalArc.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

Fix spelling
  UnityProject/Assets/Scripts/Player/IPlayerControllable.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiMouseInputController.cs
Labels: none

Fixes
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

disables skin tone validation
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: none

Admin info fix
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminInfo.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Syncs character deletion with the server
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Fix json error
  UnityProject/Assets/Scripts/Messages/Server/TileChangesNewClientSync.cs
Labels: none

Door message fix
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
Labels: none

Fixes admin windows sometimes not disabling character keyboard input when using text fields. (#6775)
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/AdminSearchBar.cs
Labels: UI

Syncs character deletion with the server (#6777)
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

disables skin tone validation (#6776)
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Door message fix (#6778)
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
Labels: none

Moved check
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
Labels: none

camel case
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
Labels: none

says which body part your heart is in instead.
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
Labels: none

fixed
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
Labels: none

fixed i guess
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Fixes candles not starting plasma fires.
  UnityProject/Assets/Prefabs/Items/Mining/EverburningCandle.prefab
Labels: none

Fixes candles not starting plasma fires. (#6782)
  UnityProject/Assets/Prefabs/Items/Mining/EverburningCandle.prefab
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
