Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Radiation Collector Fix
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/RadiationCollector.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/RadiationCollector.cs
Labels: none

Field Generator Fix
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
Labels: none

Wire Fix
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
Labels: none

Singularity Time fix
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Fixes rounds being unable to restart if there is a sound still playing in a matrix.
  UnityProject/Assets/Scripts/Core/Sound/SoundSpawn.cs
Labels: none

Damage items when thrown to stop continuous ping pong
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Reactor (De)Construction
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Materials/Resources/PlasteelSheet.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/ReactorEngine/Boiler.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/ReactorEngine/SteamTurbine.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorTurbine.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/ReservoirTank.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/WaterPump.cs
Labels: none

fixed null value
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

Last fixes
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

v1
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBall.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBall.prefab.meta
  UnityProject/Assets/Scripts/Objects/Engineering/TeslaCoil.cs
  UnityProject/Assets/Scripts/Objects/Engineering/TeslaCoil.cs.meta
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs.meta
Labels: none

v2
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/GravitationalSingularityGenerator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/EnergyBallGenerator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/GroundingRod.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/GroundingRod.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaCoil.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaCoil.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBall.prefab
  UnityProject/Assets/Scripts/Core/Transform/RotateAroundTransform.cs
  UnityProject/Assets/Scripts/Core/Transform/RotateAroundTransform.cs.meta
  UnityProject/Assets/Scripts/Health/Objects/Resistances.cs
  UnityProject/Assets/Scripts/NPC/MobSprite.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorHitSpawner.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorHitSpawner.cs.meta
  UnityProject/Assets/Scripts/Objects/Engineering/TeslaCoil.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Explosions/IOnLightningHit.cs
  UnityProject/Assets/Scripts/Systems/Explosions/IOnLightningHit.cs.meta
Labels: none

Hotfixes a runtime at the round restart sound dictionary loop, responsible of keeping the server stuck.
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
Labels: none

Fixes, some botany recipes, network pool right having null?, And added more logging for ghost thing
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cannabis/CannabisSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cannabis/DeathCannabisSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cereal/WheatSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cotton/DurathreadSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Grasses/CarpetSeeds.prefab
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Standard Assets/Mirror/Runtime/NetworkWriterPool.cs
Labels: UI

Update SoundManager.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
Labels: none

Fixes a case of rounds being unable to restart (#5984)
  UnityProject/Assets/Scripts/Core/Sound/SoundSpawn.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
Labels: none

Fixes, some botany recipes, network pool right having null?, And added more logging for ghost thing (#5996)
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cannabis/CannabisSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cannabis/DeathCannabisSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cereal/WheatSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cotton/DurathreadSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Grasses/CarpetSeeds.prefab
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Standard Assets/Mirror/Runtime/NetworkWriterPool.cs
Labels: UI

Raycast tile ignore, sprite fixes, spawner fix
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/EnergyBallGenerator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/GroundingRod.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaCoil.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBall.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/FieldGenerator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/RadiationCollector.prefab
  UnityProject/Assets/Scripts/Core/Transform/RotateAroundTransform.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
Labels: none

Grounding rod and tesla coil construction, energy ball generator added to cargo
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Circuitboard/MachineBoards/MachineBoardGroundingRod.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Circuitboard/MachineBoards/MachineBoardGroundingRod.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Circuitboard/MachineBoards/MachineBoardTeslaCoil.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Circuitboard/MachineBoards/MachineBoardTeslaCoil.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/GroundingRod.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaCoil.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Construction/MachineParts/GroundingRod.asset
  UnityProject/Assets/Resources/ScriptableObjects/Construction/MachineParts/GroundingRod.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Construction/MachineParts/TeslaCoil.asset
  UnityProject/Assets/Resources/ScriptableObjects/Construction/MachineParts/TeslaCoil.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CircuitImprinterProducts.asset
Labels: none

Fixes a large amount of errors that can surge from the atmos thread using mirror by changing the UpdateTileMessage Send() call to the mainthread utilizing the SpawnSafeThread class.
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

Finished I think
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/AssetGroups/Sounds.asset
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/SuperMatter.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/SuperMatter.prefab.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Weapons/Emitter1.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Weapons/Emitter2.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.10.17.55.17.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.10.17.55.17.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.11.19.49.26.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.11.19.49.26.json
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBall.prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Objects/Engineering/TeslaCoil.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
Labels: none

Forgot this
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
Labels: none

Added bump damage to singularity
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/Singularity.prefab
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Direction fix
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

AsteroidSmall had two matrix move events. Removed one of them.
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
Labels: Scene Changes

Sets up GUI menu for the advice thingy
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
Labels: UI

Revert "Adjusts UI prefabs and adds icon scaling (#5977)"
  UnityProject/Assets/Resources/Prefabs/UI/Ingame/Resources/InventorySlot.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

AsteroidSmall had two matrix move events. Removed one of them. (#6000)
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
Labels: Scene Changes

Revert "Adjusts UI prefabs and adds icon scaling (#5977)" (#6001)
  UnityProject/Assets/Resources/Prefabs/UI/Ingame/Resources/InventorySlot.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

Adds null checks. MatrixInfo implements GetHashCode, keep id readonly. Use locals for LineIntersectsRect.
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Core/Input System/WallMountHandApplySpawn.cs
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/BoundsExtensions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Audio/FootstepSounds.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/CargoEliminateSecurity.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Escape.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Hijack.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Maroon.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/OnlyCargoMenEscape.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Inheritance/CableInheritance.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Wire/CableCategories/LowVoltageMachineConnector.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Wire/CableCategories/MediumMachineConnector.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventAsteroids.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventImmovableRod.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
Labels: none

Remove unused imports
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
Labels: none

small code cleanup and a trace log
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

Emitter, fireball bullet fix
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/FireballProjectile.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/_MagicProjectileBase.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/PoolConfig.asset
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
Labels: none

Always send to hidden pos if active pos is hidden pos
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
Labels: none

Fixes
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaCoil.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage1.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage1.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage2.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage2.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage3.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage3.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage4.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage4.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage5.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage5.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/FieldGenerator.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
Labels: none

Update roadmap.md
  docs/project-goals/roadmap.md
Labels: Documentation

Removes fugitive from traitor gamemode
  UnityProject/Assets/Resources/ScriptableObjects/GameModes/Traitor.asset
Labels: none

Fixes menu button not working
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
Labels: none

Possible NRE fixes
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
Labels: none

Tesla now moves through walls
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
