Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

PlayerEffectsManager got nuked out of existence for some reason, referenced it again.
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

tring to fix backflip
  UnityProject/Assets/Scripts/Effects/LTEffect.cs
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Backflip.cs
Labels: none

Update PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
Labels: none

Reverting back to not using commands
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

Finally got ClientRpc to work without it spitting errors
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Effects/FloatingEffect.cs
  UnityProject/Assets/Scripts/Effects/LTEffect.cs
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
  UnityProject/Assets/Scripts/Effects/Shake.cs
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

Added a way to check expensivenames in the inspector + docs in EmoteSO
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
Labels: none

fixed this from rebase
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
Labels: none

stop making major changes too god damn quickly
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/GenderedEmote.cs
Labels: none

Fixed the player prefab breaking for no reason what so ever
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

Updates exofab products. Update bananium material asset.
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanChest.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Endoskeleton.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Endoskeleton.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Head.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Arm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Arm.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Leg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Leg.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Right Arm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Right Arm.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Right Leg.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Torso.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Torso.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/CyborgEndoskeleton.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/CyborgEndoskeleton.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Storage/FirstAidKits/FirstAidKit.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Construction/CleanbotAssembly.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Construction/FloorbotAssembly.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Machines/ExoFabProducts.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/BananiumMaterial.asset
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
Labels: Scene Changes

Added a dance emote
  UnityProject/Assets/Resources/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/Dance.asset
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/Dance.asset.meta
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
Labels: none

Added a shake animation to tremble and twitch + clap
  UnityProject/Assets/Resources/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/clap.asset
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/clap.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/tremble.asset
  UnityProject/Assets/Scripts/Player/EmoteScripts/ShakeEmote.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/ShakeEmote.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
Labels: none

Final cleanup
  UnityProject/Assets/Scripts/Effects/LTEffect.cs
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
  UnityProject/Assets/Scripts/Effects/Shake.cs
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

First Pass: LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Clothing/FacehuggerImpregnation.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Food/Lighter.cs
  UnityProject/Assets/Scripts/Items/Food/XenomorphFood.cs
  UnityProject/Assets/Scripts/Items/Others/Horn.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDamageLivingHealth.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDamageLivingHealthKinetic.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DamageOnPickUp.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Vending/GUI_Spawner.cs
  UnityProject/Assets/Scripts/UI/Systems/Alerts/UI_HeartMonitor.cs
Labels: UI

Update LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

Pass 2: PlayerHealthV2
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSettings.cs
Labels: UI

Pass 3.0, part way through Body Part
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

Update CharacterCustomization.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Pass 3.5: Finished BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
Labels: none

Pass 4: RootBodyContainers
  UnityProject/Assets/Resources/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanChest.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/DamageMonitorListener.cs
  UnityProject/Assets/Resources/Prefabs/Player/Resources/BodyPartSprites.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/CatPerson/SpriteCatEars.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/body parts/Chest.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/body parts/Head.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/body parts/LeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/body parts/LeftLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/body parts/RightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/body parts/RightLeg.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PlayerHealth_UI_Hud.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
Labels: UI

general clean up
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/EmoteActionManager.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Effects/FloatingEffect.cs
  UnityProject/Assets/Scripts/Effects/LTEffect.cs
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
  UnityProject/Assets/Scripts/Effects/Shake.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Backflip.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/ShakeEmote.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Surrender.cs
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/GenderedEmote.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

Not supposed to be null, fixed.
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

add test for cargo order exploits
  UnityProject/Assets/Tests/Balance.meta
  UnityProject/Assets/Tests/Balance/CargoTest.cs
  UnityProject/Assets/Tests/Balance/CargoTest.cs.meta
  UnityProject/Assets/Tests/SubsceneTests.cs
  UnityProject/Assets/Tests/Utils.cs
  UnityProject/Assets/Tests/Utils.cs.meta
Labels: none

button to auto assign price to orders
  UnityProject/Assets/Scripts/UI/Objects/Cargo/CargoData.cs
Labels: UI

Update UnityProject/Assets/Tests/Utils.cs
  UnityProject/Assets/Tests/Utils.cs
Labels: none

Disabled surrender as requested
  UnityProject/Assets/Resources/Prefabs/Chat/ChatSystem.prefab
Labels: none

fixed sprites disappearing after an animation finishes.
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

Fixed a bug by Gillies that prevented some emotes from working
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
Labels: none

fixed shake freaking out on player objects
  UnityProject/Assets/Scripts/Effects/Shake.cs
Labels: none

Made twitch and tremble effects less intense
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/tremble.asset
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/twitch.asset
Labels: none

Update Player_V4(uNet).prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

Fixed exploit, removed annoying mirror logo, added some stuff back in that got accidentally removed
  UnityProject/Assets/Mirror/Icon/MirrorIcon.png
  UnityProject/Assets/Mirror/Icon/MirrorIcon.png.meta
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
Labels: none

disabled floating animation for players until it's fixed
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
Labels: none

Players shouldn't animate floating on startup + fixed float number issues.
  UnityProject/Assets/Scripts/Effects/FloatingEffect.cs
Labels: none

Revert "disabled floating animation for players until it's fixed"
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
Labels: none

Fixed floating effects issues.
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

removed FinalYouText as requested by gillies.
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/sway.asset
  UnityProject/Assets/Resources/ScriptableObjects/Emotes/basicEmotes/twitch.asset
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
Labels: none

Asteroid redesign, decreased carp frequency, new asteroids
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/AsteroidPools/CarpSpawner.asset
  UnityProject/Assets/Resources/ScriptableObjects/SubScenes/AsteroidListSO.asset
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02Settings.lighting.meta
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes

Buffs oxygen tanks to work
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTank.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankDouble.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/EmergencyOxygenTankExtendedCapacity.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/GasTank.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/OxygenTank.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/PlasmaInternalsTank.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none
