Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Max drunk time and switch off when ghost (#6544)
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Added more comments and stuff
  UnityProject/Assets/Scripts/Health/RespiratoryHealth/RespiratorySystem.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestInventoryTransferMessage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ClothingSlots.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/PlayerSlotStoragePopulator.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/StoragePopulator.cs
  UnityProject/Assets/Scripts/Systems/Inventory/UI_DynamicItemSlot.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
Labels: UI

Some more comments
  UnityProject/Assets/Scripts/Core/Camera/Camera2DFollow.cs
  UnityProject/Assets/Scripts/Core/Editor/GenerateSpriteSO.cs
Labels: none

Mob Fixes (#6545)
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Cats/Cat.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Dogs/Corgi.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/ChestbursterSimple.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Lava/Lava1.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Reflective Blob Now Reflects (#6543)
  UnityProject/Assets/Prefabs/Objects/Blob/BlobReflective.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Statues/StatueBases/StatueBase.prefab
  UnityProject/Assets/Scripts/Objects/LaserReflectObject.cs
  UnityProject/Assets/Scripts/Objects/LaserReflectObject.cs.meta
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Deleting Stray Debug.log
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemMaster.cs
Labels: UI

Update NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Revert "Update NetworkManager.prefab"
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Update NetworkManager.prefab Take 2
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Test to check for matrix sync
  UnityProject/Assets/Tests/SubsceneTests.cs
Labels: none

Fix ore gen and pickaxe
  UnityProject/Assets/Scripts/Items/Tool/Pickaxe.cs
  UnityProject/Assets/Scripts/Systems/Ore Generation/OreGenerator.cs
Labels: none

Update UnityProject/Assets/Scripts/Systems/Ore Generation/OreGenerator.cs
  UnityProject/Assets/Scripts/Systems/Ore Generation/OreGenerator.cs
Labels: none

Clean up and check for matrix sync in interaction messages instead
  UnityProject/Assets/Scripts/Items/Tool/Pickaxe.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
Labels: none

Comments
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
Labels: none

Fix laying down sync
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

Self-power ChemMaster
  UnityProject/Assets/Prefabs/Objects/Chemistry/ChemMaster.prefab
Labels: none

Codacy Review Compliance
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetTMPSubmitButton.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetTMPSubmitButton.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemMaster.cs
Labels: UI

Fix laying down sync (#6553)
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: none

Fixes tests?
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

fixes highlight disappearing
  UnityProject/Assets/Scripts/Core/Highlight/Highlight.cs
Labels: none

double fix
  UnityProject/Assets/Scripts/Core/Highlight/Highlight.cs
Labels: none

Thanks Codacy
  UnityProject/Assets/Scripts/Systems/Inventory/ClothingSlots.cs
Labels: none

Point fixing
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
Labels: none

Access, APCs, and Airlocks
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockAtmosphericsOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockAtmosphericsWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCargoOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCargoWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCentCom.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCommandOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCommandWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockEngineeringOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockEngineeringWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockFreezer.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockHatchMaintenance.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockHighSecurity.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMaintenanceWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMedicalWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockResearchWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockScienceWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockSecurityWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockVault.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockVirologyOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockVirologyWindowed.prefab
Labels: none

away sites done
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
Labels: Scene Changes

fixes highlight disappearing (#6555)
  UnityProject/Assets/Scripts/Core/Highlight/Highlight.cs
Labels: none

Matrix Sync Test (#6551)
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Tool/Pickaxe.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
  UnityProject/Assets/Scripts/Systems/Ore Generation/OreGenerator.cs
  UnityProject/Assets/Tests/SubsceneTests.cs
Labels: none

Fixes Controls Internal Error (#6541)
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

More fixes
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestExamineMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
Labels: none

Update UnrealStation to Doors V2 (#6556)
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockAtmosphericsOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockAtmosphericsWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCargoOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCargoWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCentCom.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCommandOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCommandWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockEngineeringOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockEngineeringWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockFreezer.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockHatchMaintenance.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockHighSecurity.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMaintenanceWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMedicalWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockResearchWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockScienceWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockSecurityWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockVault.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockVirologyOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockVirologyWindowed.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Update ChemMaster.cs to MonoBehaviour
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
Labels: none

Missing sprites for atmos devices
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/HugeAirScrubber.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/PortableAirPump.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/PortableAirScrubber.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/_PortableAtmosphericsBase.prefab
Labels: none

Disposals bin recharge sound
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalBin.prefab
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
Labels: none

Fix poly
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/Parrots/Parrot.prefab
Labels: none

MicroSound Fixes
  UnityProject/Assets/Prefabs/Objects/Kitchen/Microwave.prefab
  UnityProject/Assets/ScriptableObjects/Audio/PunchSounds.asset
  UnityProject/Assets/ScriptableObjects/Audio/PunchSounds.asset.meta
  UnityProject/Assets/Scripts/Objects/Machines/Microwave.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
