Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Update UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
Labels: none

Spawn Sound
  UnityProject/Assets/ScriptableObjects/Occupations/Ai.asset
Labels: none

Scaled up blood production
  UnityProject/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
Labels: none

Update Outpost to Doors V2 and adds security cameras, add tools and mats to Fall and Square (#6857)
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Electrical.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/EngineeringFire.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/EngineersLockerPopulator.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Fixes mixer prefab and convert sprite handler Message to use reader and writer
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/Mixer.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
Labels: none

Fixes mixer prefab and convert sprite handler Message to use reader and writer (#6858)
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/Mixer.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
Labels: none

Revert "Scaled up blood production"
  UnityProject/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
Labels: none

Scale blood splats
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
Labels: none

Fixes admin storage items being invisible on the UI.
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: none

Body parts now have customisations tied to the body part When set
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
Labels: Scene Changes, UI

Fixes admin storage items being invisible on the UI. (#6859)
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: none

Body parts now have customisations tied to the body part When set (#6860)
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
Labels: Scene Changes, UI

Final review?
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

merge conflict shenanigans
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

Removes destroy object completely
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: none

This was supposed to be in but got deleted at some point
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanChest Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanHead Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanChest Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanHead Variant 1.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

buffed values
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Update three different documentation pages
  docs/assets/images/HowToUI/editor_UI_elements.png
  docs/assets/images/HowToUI/is_pop_out_pic.png
  docs/contribution-guides/Starting-contribution.md
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
Labels: Documentation

Placing collision sensors and RCS on ancient station shuttle.
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

Surgery fixes
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Felinid/Felinid.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SurgeryProcedureBaseSingleton 1.asset
  UnityProject/Assets/ScriptableObjects/Surgery/GenericAttachProcedure.asset
  UnityProject/Assets/ScriptableObjects/Surgery/GenericAttachProcedure.asset.meta
  UnityProject/Assets/ScriptableObjects/Surgery/genericOpenProcedure.asset
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/SurgeryDialogue.cs
Labels: none

Script stuff
  UnityProject/Assets/Scripts/Core/Editor/Matrix/Views/MetaDataView.cs
  UnityProject/Assets/Scripts/Core/Editor/Objects/GasContainerEditor.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Systems/Fluids/MixAndVolume.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMixes.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/PlasmaFireReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Utils/AtmosUtils.cs
Labels: none

gas mixes SOs
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/GasMixesSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/GasMixesSingleton.asset.meta
  UnityProject/Assets/ScriptableObjects/Atmospherics.meta
  UnityProject/Assets/ScriptableObjects/Atmospherics/Air.asset
  UnityProject/Assets/ScriptableObjects/Atmospherics/Air.asset.meta
  UnityProject/Assets/ScriptableObjects/Atmospherics/Empty.asset
  UnityProject/Assets/ScriptableObjects/Atmospherics/Empty.asset.meta
  UnityProject/Assets/ScriptableObjects/Atmospherics/EmptyTile.asset
  UnityProject/Assets/ScriptableObjects/Atmospherics/EmptyTile.asset.meta
  UnityProject/Assets/ScriptableObjects/Atmospherics/Space.asset
  UnityProject/Assets/ScriptableObjects/Atmospherics/Space.asset.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasMixesSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasMixesSO.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasMixesSingleton.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasMixesSingleton.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMixes.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Utils/AtmosUtils.cs
Labels: none

Tanks
  UnityProject/Assets/Prefabs/Items/Tanks/EmergencyOxygenTank.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/EmergencyOxygenTankDouble.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/EmergencyOxygenTankDoubleEmpty.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/EmergencyOxygenTankEmpty.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/EmergencyOxygenTankExtendedCapacity.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/EmergencyOxygenTankExtendedCapacityEmpty.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/GasTank.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/OxygenTank.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/OxygenTankEmpty.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/PlasmaInternalsTank.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/PlasmaInternalsTankEmergencyEmpty.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/PlasmaInternalsTankFull.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/PlasmaTank.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/PlasmaTankEmpty.prefab
  UnityProject/Assets/Prefabs/Items/Tanks/_GasTankInternalsBase.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterAir.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterBZ.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterCarbonDioxide.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterFreon.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterHydrogen.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterHyperNoblium.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterMiasma.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterNitrogen.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterNitrousOxide.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterNitryl.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterOxygen.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterPlasma.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterPluoxium.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterStimulum.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterTritium.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterWaterVapour.prefab
  UnityProject/Assets/Scripts/Core/Editor/Objects/GasContainerEditor.cs
  UnityProject/Assets/Scripts/Core/Editor/Objects/GasContainerEditor.cs.meta
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Systems/Fluids/MixAndVolume.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Utils/AtmosUtils.cs
Labels: none

Surgery fixes (#6865)
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Felinid/Felinid.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SurgeryProcedureBaseSingleton 1.asset
  UnityProject/Assets/ScriptableObjects/Surgery/GenericAttachProcedure.asset
  UnityProject/Assets/ScriptableObjects/Surgery/GenericAttachProcedure.asset.meta
  UnityProject/Assets/ScriptableObjects/Surgery/genericOpenProcedure.asset
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/SurgeryDialogue.cs
Labels: none

remove empty line
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
Labels: none

Hotfixes a server crash when a new player joins in an ongoing round with where coloured graffitis have been laid down.
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

Placing collision sensors and RCS on ancient station shuttle. (#6863)
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

misc: update Changelog
  CHANGELOG.md
Labels: none

Hotfixes a server crash when a new player joins in an ongoing round with where coloured graffitis have been laid down. (#6868)
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

Apply suggestions from code review
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
Labels: Documentation

Update three different documentation pages (#6862)
  docs/assets/images/HowToUI/editor_UI_elements.png
  docs/assets/images/HowToUI/is_pop_out_pic.png
  docs/contribution-guides/Starting-contribution.md
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
Labels: Documentation

Quick documentation for QuickBuild
  docs/contribution-guides/Building-And-Testing.md
Labels: Documentation

fixes
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/ScriptableObjects/Atmospherics/Air.asset
  UnityProject/Assets/Scripts/ChemistryComponents/GAS2ReagentSingleton.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasMixesSO.cs
Labels: none

Pipe merge optimisations
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasesSingleton.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
Labels: none

reaction fix
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasesSingleton.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/Reaction.cs
Labels: none

Set transfer moles to 10
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirScrubber.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirVent.prefab
  UnityProject/Assets/Scripts/Core/Editor/Matrix/Views/MetaDataView.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasesSingleton.cs
Labels: none

Codacy
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasesSingleton.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: none

Adds the HitIcon prefab to the NetworkManager. Moves the HitIcon spawn away from the SpriteHandlerManager, it'll now use the Spawn and Despawn classes utilizing their client only functions.
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Player/HitIcon.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none
