Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Turret Switch
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Wallmounts/TurretControlPanel.prefab
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/MetalConstructionList.asset
  UnityProject/Assets/Scripts/Items/Tool/Multitool/Multitool.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs.meta
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs.meta
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs
Labels: none

notes
  UnityProject/Assets/Mirror/Editor/NetworkScenePostProcess.cs
  UnityProject/Assets/Mirror/Runtime/NetworkIdentity.cs
Labels: none

Fixes
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Research Director.asset
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileStun.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs
  UnityProject/Assets/Scripts/Util/VectorExtensions.cs
Labels: none

Fixes
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Items/Dice/RollDie.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
Labels: none

Integrity and armor updated
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
Labels: none

Construction Fixes
  UnityProject/Assets/Prefabs/Items/Construction/Assemblies/ProximitySensor.prefab
  UnityProject/Assets/Prefabs/Objects/Construction/TurretFrame.prefab
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/ScriptableObjects/Traits/Construction/StockParts/ProximitySensor.asset
  UnityProject/Assets/ScriptableObjects/Traits/Construction/StockParts/ProximitySensor.asset.meta
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs
Labels: none

remove unreachable code
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
Labels: none

Documentation Fixes
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
  docs/development/How-to-Sprite.md
Labels: Documentation

Refactor power set up
  UnityProject/Assets/Prefabs/Items/Construction/Wallframes/TurretControlFrame.prefab
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs
Labels: none

Fixes
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
Labels: none

Miscellaneous Fixes
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

Last fixes
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
Labels: none

Spawn fixes
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Objects/Botany/HydroponicsTray.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
Labels: none

door hacking panel overlay fix
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
Labels: none

Snap to Grid Tool
  UnityProject/Assets/Scripts/Core/Editor/Tools/Tools.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
Labels: none

fixed doors
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
Labels: Scene Changes

fixed doors (#6659)
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
Labels: Scene Changes

remove extra ;
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
Labels: none

Square Station Changes (#6660)
  UnityProject/Assets/Scripts/Core/Editor/Tools/Tools.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
Labels: none

Miscellaneous Fixes (#6656)
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

Update docs/development/How-To-User-Interface.md
  docs/development/How-To-User-Interface.md
Labels: Documentation

Various Documentation Fixes (#6655)
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
  docs/development/How-to-Sprite.md
Labels: Documentation

access stuff
  UnityProject/Assets/Scripts/Systems/Access.meta
  UnityProject/Assets/Scripts/Systems/Access/AccessDefinitions.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessDefinitions.cs.meta
  UnityProject/Assets/Scripts/Systems/Access/AccessType.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessType.cs.meta
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf
Labels: none

moar access progress
  UnityProject/Assets/Scripts/Systems/Access.meta
  UnityProject/Assets/Scripts/Systems/Access/AccessRegion.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessRegion.cs.meta
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs.meta
Labels: none

access progress
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
Labels: none

default thing for unity warnings
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
Labels: none

add new access to new doors
  UnityProject/Assets/Scripts/Objects/Doors/Modules/AccessModule.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessCheckable.cs
Labels: none

add support for future access change on low pop
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
Labels: none

rename shit
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessCheckable.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
Labels: none

silence codacy
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
Labels: none

progress on custom job names
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
Labels: UI

attempt on networking accesss shit
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
  UnityProject/Assets/Scripts/Systems/Access/SyncListAccess.cs
  UnityProject/Assets/Scripts/Systems/Access/SyncListAccess.cs.meta
Labels: none

start regions definition for hop console
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
Labels: none

customjobname whoops
  UnityProject/Assets/Scripts/Items/IDCard.cs
Labels: none

silence codacy v2
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
Labels: none

start of prefabing stuff
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/IdentificationConsoleV2.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/IdentificationConsoleV2.prefab.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsoleV2.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsoleV2.cs.meta
Labels: UI

moar progress
  UnityProject/Assets/Scripts/Items/Cards/IDCardV2.cs
  UnityProject/Assets/Scripts/Items/Cards/IDCardV2.cs.meta
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/Systems/Occupations/Occupation.cs
Labels: none

Fix PDALogic rebase
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
Labels: none

Fixes colour and rotation not being synchronised to new clients
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
Labels: none

Fixed the formatting on the How To UI for real this time
  docs/development/How-To-User-Interface.md
Labels: Documentation

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
