Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*

Further rebase fixes
  UnityProject/Assets/Prefabs/Objects/Consoles/IdentificationConsoleV2.prefab
  UnityProject/Assets/Prefabs/Objects/Consoles/IdentificationConsoleV2.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/MachineDoorBase.prefab
  UnityProject/Assets/Scripts/Systems/Access/AccessCheckable.cs.meta
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs.meta
  UnityProject/Assets/Scripts/Systems/Occupations/Occupation.cs
Labels: none

Register tile fix
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
Labels: UI

Fix this error with trying to access tile list While accessing Tile list
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

minor fixes.....
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: none

Update CustomNetTransform.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
Labels: none

Update CustomNetTransform.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
Labels: none

Fix surgery text and operating table
  UnityProject/Assets/Prefabs/Objects/Medical/OperatingTable.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/Objects/Furniture/BuckleInteract.cs
Labels: none

other fixes
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

Fix hacking panel showing, switch sound to be client side not networked
  UnityProject/Assets/Scripts/Messages/Server/DoorUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
Labels: none

Update DoorAnimatorV2.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
Labels: none

Reduces GC and fixes Divide Secretly being multtiply
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

Matrix and Other Fixes (#6662)
  UnityProject/Assets/Prefabs/Objects/Medical/OperatingTable.prefab
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/Messages/Server/DoorUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Furniture/BuckleInteract.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
Labels: UI

Fixed the formatting on the How To UI for real this time (#6661)
  docs/development/How-To-User-Interface.md
Labels: Documentation

Fix sweetextensions go.NetId()
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

More fixes2 (#6663)
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: none

revert PlayerSync
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
Labels: none

go.NetId() is hopefully more readable now
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

sweet extensions go.NetId() fix (#6664)
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: none

Ghost rules now correctlyy show how many players are Spawned with the role or How many plays are awaiting for it
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs
Labels: none

Fixes status displays Frames not been used up
  UnityProject/Assets/Scripts/Objects/StatusDisplay.cs
Labels: none

double fixed
  UnityProject/Assets/Scripts/Core/Input System/WallMountHandApplySpawn.cs
Labels: none

Number of active cameras
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Player/TeleportUtils.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Turret Controller NetTab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/TurretControlPanel.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabTurretController.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabTurretController.prefab.meta
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  UnityProject/Assets/Scripts/UI/Core/Net/ICanOpenNetTab.cs
  UnityProject/Assets/Scripts/UI/Core/Net/ICanOpenNetTab.cs.meta
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/GUI_TurretController.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/GUI_TurretController.cs.meta
Labels: UI

More fixes3 (#6666)
  UnityProject/Assets/Scripts/Core/Input System/WallMountHandApplySpawn.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/StatusDisplay.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs
Labels: none

-Added the correct belt sprite for the double-emergency oxygen tank
  UnityProject/Assets/Textures/clothing/belt/emergency oxygen tank/double emergency oxygen tank.asset
Labels: none

-Added sprites for bag belt overlays (not yet properly implemented, will implement soon!)
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/clothing/belt/bags.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_biobag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/belt_biobag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_biobag.png
  UnityProject/Assets/Textures/clothing/belt/bags/belt_biobag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_bookbag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/belt_bookbag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_bookbag.png
  UnityProject/Assets/Textures/clothing/belt/bags/belt_bookbag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_chembag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/belt_chembag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_chembag.png
  UnityProject/Assets/Textures/clothing/belt/bags/belt_chembag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_plantbag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/belt_plantbag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_plantbag.png
  UnityProject/Assets/Textures/clothing/belt/bags/belt_plantbag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_satchel.asset
  UnityProject/Assets/Textures/clothing/belt/bags/belt_satchel.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/belt_satchel.png
  UnityProject/Assets/Textures/clothing/belt/bags/belt_satchel.png.meta
Labels: Sprite Work

-Moved some stuff around
  UnityProject/Assets/Textures/clothing/belt/bags/ClothingData.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_biobag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_biobag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_biobag.png
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_biobag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_bookbag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_bookbag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_bookbag.png
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_bookbag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_chembag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_chembag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_chembag.png
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_chembag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_plantbag.asset
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_plantbag.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_plantbag.png
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_plantbag.png.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_satchel.asset
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_satchel.asset.meta
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_satchel.png
  UnityProject/Assets/Textures/clothing/belt/bags/SpriteData/belt_satchel.png.meta
Labels: Sprite Work

InteliCard part 1
  UnityProject/Assets/Prefabs/Items/Research/Ai/InteliCard.prefab
  UnityProject/Assets/Prefabs/Objects/Research/AiCore.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Messages/Server/FollowCameraMessage.cs
  UnityProject/Assets/Scripts/Objects/Research/AiCore.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Intelicard net tab
  UnityProject/Assets/Prefabs/Items/Research/Ai/InteliCard.prefab
  UnityProject/Assets/Prefabs/Objects/Research/AiCore.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabInteliCard.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabInteliCard.prefab.meta
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTabItem.cs
  UnityProject/Assets/Scripts/Objects/Research/AiCore.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs.meta
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_InteliCard.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_InteliCard.cs.meta
Labels: UI

Fixes
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabInteliCard.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_InteliCard.cs
Labels: UI

more fixes
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabInteliCard.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_InteliCard.cs
Labels: UI

test fix
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Codacy
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/Net/ICanOpenNetTab.cs
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

Ai Core Frame construction
  UnityProject/Assets/Prefabs/Items/Construction/Circuitboard/AiCoreCircuitBoard.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Circuitboard/AiCoreCircuitBoard.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Construction/AiCoreFrame.prefab
  UnityProject/Assets/Prefabs/Objects/Construction/AiCoreFrame.prefab.meta
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/PlasteelConstruction.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreAnchored.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreAnchored.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreBrain.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreBrain.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreCircuit.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreCircuit.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreGlass.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreGlass.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreInitial.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreInitial.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreScrewed.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreScrewed.asset.meta
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreWire.asset
  UnityProject/Assets/ScriptableObjects/Interaction/Stateful/AiCore/AiCoreWire.asset.meta
  UnityProject/Assets/ScriptableObjects/Traits/Construction/AiCoreCircuitBoard.asset
  UnityProject/Assets/ScriptableObjects/Traits/Construction/AiCoreCircuitBoard.asset.meta
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Systems/Construction/AiCoreFrame.cs
  UnityProject/Assets/Scripts/Systems/Construction/AiCoreFrame.cs.meta
  UnityProject/Assets/Scripts/Systems/Construction/ComputerFrame.cs
  UnityProject/Assets/Scripts/Systems/Construction/TurretFrame.cs
Labels: none

Update CircuitImprinterProducts.asset
  UnityProject/Assets/ScriptableObjects/Machines/CircuitImprinterProducts.asset
Labels: none

Fixes
  UnityProject/Assets/Prefabs/Objects/Construction/AiCoreFrame.prefab
  UnityProject/Assets/Prefabs/Objects/Research/AiCore.prefab
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Systems/Construction/AiCoreFrame.cs
Labels: none

test fix
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

New Clean Functions + Huge code cleanup
  UnityProject/Assets/Prefabs/Decal/Resources/ChemSplat.prefab
  UnityProject/Assets/Prefabs/Decal/Resources/WaterSplat.prefab
  UnityProject/Assets/Prefabs/Items/Food/Drinks/MugDutchHotCoco.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/Other/Oxygen.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/Other/Water.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/Other/WeldingFuel.asset
  UnityProject/Assets/ScriptableObjects/Health/BloodTypes/HumanBlood.asset
  UnityProject/Assets/Scripts/Items/Tool/Mop.cs
  UnityProject/Assets/Scripts/Items/Tool/SpaceCleaner.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
Labels: none

Stop client adding to some updates
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Health/Living/HealthStateMonitor.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Sickness/Contagion.cs
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/UpdateManager.cs
  UnityProject/Assets/Scripts/Objects/Botany/HydroponicsTray.cs
  UnityProject/Assets/Scripts/Objects/Botany/SeedExtractor.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Emitter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
  UnityProject/Assets/Scripts/Player/PlayerEffectsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Shuttles/CargoShuttle.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Shuttles/ShuttleFuelSystem.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationProducer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: none
