Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Player sprite layering fixes.
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

Additional fixes.
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

Player sprite layering fixes. (#6358)
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: none

Updates Prefabs for Scrubber and Vents, as well as on some Maps (#6354)
  UnityProject/Assets/Resources/Prefabs/Objects/Atmos/PipeObjects/Unary/AirScrubber.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Atmos/PipeObjects/Unary/AirVent.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/LiquidPipes/DepreciatedScrubber.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/LiquidPipes/DepreciatedScrubber.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/LiquidPipes/DepreciatedVent.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/LiquidPipes/DepreciatedVent.prefab.meta
Labels: none

SMES work
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/BatterySupplyingModule.cs
Labels: none

SMES changes
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
Labels: none

sound effects
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
Labels: none

setget thingy
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
Labels: UI

Apply suggestions from code review
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
Labels: none

Adds adjustable input and output levels for SMES (#6360)
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/BatterySupplyingModule.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

a
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/ElectronicFiringPin.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/FoamForceFiringPin.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/HonkFiringPin.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/SyndicateFiringPin.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/UltraHonkFiringPin.prefab
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/ClownPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/ClownPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/GenericPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/GenericPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/HonkPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/HonkPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/IDLockedPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/IDLockedPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

e
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
Labels: none

Adds multiple character selection (#6313)
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/character customisation/DropDownOrganReplacement.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/character customisation/Item.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/HairStyle.prefab
  UnityProject/Assets/Scripts/Core/Camera/CaptureScreen.cs
  UnityProject/Assets/Scripts/Core/Camera/CaptureScreen.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/Util/CaptureUI.cs
  UnityProject/Assets/Scripts/Util/CaptureUI.cs.meta
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

trying to fix shitty git stuff
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
Labels: none

should be up to date
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/BatterySupplyingModule.cs
Labels: none

releasing toxic gas
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/Reactions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/StyreneFireReaction.cs
Labels: none

Hasty reference fixes.
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Moth/MothWings.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Template/HumanChest Variant 1.prefab
Labels: none

metafile
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs.meta
Labels: none

yes
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/ClownPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/GenericPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/HonkPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/IDLockedPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/PinBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/PinBase.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

Removed some resources.load stuff
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/NetworkTabManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/ScriptableObjects/NetEntries.asset
  UnityProject/Assets/ScriptableObjects/NetEntries.asset.meta
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/ScriptableObjects/NetTabs.asset.meta
  UnityProject/Assets/Scripts/Core/Editor/Tools/Tools.cs
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/Printer.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/Scanner.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Photocopier.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileObjectOnDespawn.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/NetworkTabManager.cs
  UnityProject/Assets/Scripts/Messages/Client/UpdateHeadsetKeyMessage.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GameObjectList.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/NetUIDynamicList.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/LoadCableCuttingWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/CharacterCreator/AntagonistPreferences.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_StorageHandler.cs
  UnityProject/Assets/Tests/Config/GameManagerTest.cs
Labels: UI

other stuff
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/ScriptableObjects/CommonPrefabs.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/Prefab/ItemList.cs
Labels: UI

Fix spawnable list
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Core/Editor/Tools/Tools.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
Labels: none

Fix gamemanager Test
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs.meta
  UnityProject/Assets/Tests/Config/GameManagerTest.cs
Labels: none

Build fix
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/AddressablesDevBuildSetup.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs
Labels: none

Fix 2
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs
Labels: none

Last fix
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs
Labels: none

Test fix
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs
Labels: none

Conflict fix
  UnityProject/Assets/Prefabs.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/DevTileChangeMenu.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/DevTileChangeMenu.prefab.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_atlas.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_burnt_off.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_deathhead.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_firewatch.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_gothic.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_lovers.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_luna.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_monarch.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_moonfly.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_plain.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_poison.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_ragged.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_reddish.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_royal.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_snow.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/antennae/moth_antennae_whitefly.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_atlas_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_burnt_off_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_deathhead_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_firewatch_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_gothic_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_lovers_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_luna_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_monarch_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_moonfly_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_plain_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_poison_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_ragged_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_reddish_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_royal_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_snow_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/wings/wings_m_moth_wings_whitefly_wings.png.meta
  UnityProject/Assets/Textures/mobs/races/lizard/overly/AnimatedTail/overly_m_waggingtail_dtiger.png.meta
Labels: none

UI fix
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
Labels: none

stop UI clicks
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Scripts/UI/Systems/AdminTabButtons.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevTileChanger.cs
Labels: UI

Moving prefabs.
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothMarkings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothMarkings.prefab.meta
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_MarkingBase.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_MarkingBase.prefab.meta
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_WingsBase.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_WingsBase.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/moth/MothMarkings.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/moth/MothMarkings.prefab.meta
Labels: none

Update NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

Add service bell assets.
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Effects/service_bell_big.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Effects/service_bell_big.ogg.meta
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell_big.png
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell_big.png.meta
Labels: Sprite Work

Create audio prefab.
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/ServiceBellBig Variant.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/ServiceBellBig Variant.prefab.meta
Labels: none

Add big bell sprite variant.
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell.asset
Labels: none

Add logic for the elusive big bell.
  UnityProject/Assets/Prefabs/Objects/Misc/ServiceBell.prefab
  UnityProject/Assets/Scripts/Items/ServiceBell.cs
Labels: none

Update ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
