Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Fixes character body sprites being out of sync with the clothes of the same character. (#6815)
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
Labels: UI

Fixes
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
Labels: none

fix hit
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
Labels: none

Update MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
Labels: none

Mob Fixes (#6816)
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

v2
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
Labels: none

Update MobMeleeAttack.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
Labels: none

Update MobMeleeAttack.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
Labels: none

Refactor the Mob Tile Hit (#6817)
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
Labels: none

added Comment
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
Labels: none

changed the name
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: none

A bunch of miscellaneous fixes (#6814)
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/Items/Implants/Felind/CatEars.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Felind/CatTail.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_TailBase.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/DepreciatedScrubber.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

fixed access on additional scenes and fixed brig access on mainstations
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
Labels: Scene Changes

Fixes surgery
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
Labels: none

Examine message now uses server
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
Labels: none

ReagentScanner is goggles now priv
  UnityProject/Assets/Scripts/Items/Medical/ReagentScanner.cs
Labels: none

cargo crates rebalance + gauze
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Armory.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Costumes and Toys.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Costumes and Toys.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Engineering.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Mining and Cargo.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Mining and Cargo.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Miscellaneous.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Security.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Service.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/5 Plasma Sheets.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/5 Plasma Sheets.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Body Armor Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Body Armor Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bullet Proof Armor Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bullet Proof Armor Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Cargo Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Defibrillators Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Defibrillators Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Electrical Cable Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Electrical Cable Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emergency Bot - Internals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emergency Bot - Internals Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Engineering Gear Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Janitorial Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Bundle Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Kits Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Kits Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Peripherals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Peripherals Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Oxygen Tank Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Oxygen Tank Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Riot Suit Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Riot Suppression Bundle Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Shaft Miner Starter Kit.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Surgical Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Tool Crate.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/FirstAidKitPopulator.asset
Labels: none

Rebalanced door access requirements for most maps after switching to Doors V2 (#6819)
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicatePog.unity
Labels: Scene Changes

cargo crates rebalance + gauze (#6820)
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Armory.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Costumes and Toys.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Costumes and Toys.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Engineering.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Mining and Cargo.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Mining and Cargo.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Miscellaneous.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Security.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Service.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/5 Plasma Sheets.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/5 Plasma Sheets.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Body Armor Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Body Armor Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bullet Proof Armor Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bullet Proof Armor Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Cargo Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Defibrillators Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Defibrillators Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Electrical Cable Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Electrical Cable Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emergency Bot - Internals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emergency Bot - Internals Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Engineering Gear Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Janitorial Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Bundle Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Kits Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Kits Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Peripherals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Peripherals Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Oxygen Tank Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Oxygen Tank Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Riot Suit Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Riot Suppression Bundle Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Shaft Miner Starter Kit.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Surgical Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Tool Crate.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/FirstAidKitPopulator.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

armor rebalance
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/MKIIISWATHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/PrototypeHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/BombSuits/BombSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/ERTHardsuits/InquisitorsHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/ERTHardsuits/PRTHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/MKIIISWATSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/PrototypeHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ChemistsJumpskirt.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ChemistsJumpsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ClownSuits/ClownSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/MedicalDoctorsJumpsuit.prefab
Labels: none

rebalanced AP rounds
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_.45 AP.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_.50Sniper Penetrator.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_4.6x30mm AP.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_7.12x82mm AP.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_9mm AP.asset
Labels: none

Slightly more liver stuff
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/Alchohol.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Liver.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Liver/Alchohol.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/SO Lists.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/SO Lists/Alchoholic.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/SO Lists/Alchoholic/HumanAlcoholicDrinks.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/SO Lists/Alchoholic/HumanAlcoholicDrinks.asset.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

Update UnityProject/Assets/ScriptableObjects/Traits/Usage/ScienceScan.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/ScienceScan.asset
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

network manager changes
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

misc: update Changelog
  CHANGELOG.md
Labels: none

just a sliver more liver stuff
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

Fixes
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/TileChangeNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
  UnityProject/Assets/Scripts/Objects/Canisters/Canister.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Systems/Construction/MachineFrame.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: none

Conflict fix
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
Labels: none

Log level
  .gitignore
  UnityProject/Assets/StreamingAssets/LogLevelDefaults/custom.json
  UnityProject/Assets/StreamingAssets/LogLevelDefaults/default.json
Labels: none

Fixes odd surrgery
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Procedures/RemovalProcedure.cs
Labels: none

Error fixing
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/ChemMasterStoragePopulator.asset
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
Labels: none

redo ghost role fix
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
Labels: none

Fixes surgery (#6818)
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Procedures/RemovalProcedure.cs
Labels: none

Update UnderFloorLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/UnderFloorLayer.cs
Labels: none

Discord link moved to config file
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/ServerInfoUI.prefab
  UnityProject/Assets/Scripts/Core/Database/ServerData.ServerStatus.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoUILobby.cs
  UnityProject/Assets/StreamingAssets/config/config.json
  UnityProject/Assets/StreamingAssets/config/serverDescLinks.json
  UnityProject/Assets/StreamingAssets/config/serverDescLinks.json.meta
Labels: UI

Docker
  Docker/docker-compose.yml
  Docker/entrypoint.sh
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
