Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Removes "Tip : " +
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
Labels: UI

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Update UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Moves to StringArray
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab
  UnityProject/Assets/ScriptableObjects/Learning.meta
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/Scripts/ScriptableObjects/Learning/TipsSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Learning/TipsSO.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
  UnityProject/Assets/Strings/tips.meta
  UnityProject/Assets/Strings/tips/GeneralTips.asset
  UnityProject/Assets/Strings/tips/GeneralTips.asset.meta
Labels: UI

using PickRandom()
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
Labels: UI

adjustments and rewriting everything
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
  UnityProject/Assets/Strings/tips/GeneralTips.asset
Labels: UI

finally
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
Labels: UI

Readds firing sounds to plasma cutters.
  UnityProject/Assets/Prefabs/Items/Mining/PlasmaCutter.prefab
Labels: none

Modifying an asteroid and ruin scenes, asteroid tile tweaks. (#6903)
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Tilemaps/Palettes/Base Floors.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand13.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand14.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand15.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rock_wall.asset
Labels: Scene Changes

Readds firing sounds to plasma cutters. (#6904)
  UnityProject/Assets/Prefabs/Items/Mining/PlasmaCutter.prefab
Labels: none

Apply suggestions from code review
  UnityProject/Assets/Strings/tips/GeneralTips.asset
Labels: none

Apply suggestions from code review
  UnityProject/Assets/Strings/tips/GeneralTips.asset
Labels: none

Tips system (Part 1/3) (#6536)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Prefabs/UI/Learning.meta
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab.meta
  UnityProject/Assets/Prefabs/UI/LoadingScreen.prefab
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs.meta
  UnityProject/Assets/Strings/tips.meta
  UnityProject/Assets/Strings/tips/GeneralTips.asset
  UnityProject/Assets/Strings/tips/GeneralTips.asset.meta
Labels: UI

Fix tests
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipeObject.cs
  UnityProject/Assets/Strings/tips/GeneralTips.asset
Labels: none

Fix tests (#6909)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipeObject.cs
  UnityProject/Assets/Strings/tips/GeneralTips.asset
Labels: none

Fixes oxygen UI
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
Labels: UI

Tweaks to shovel and trash bag storage.
  UnityProject/Assets/Prefabs/Items/Janitor/TrashBag.prefab
  UnityProject/Assets/Prefabs/Items/Mining/Shovel.prefab
  UnityProject/Assets/Prefabs/Items/Storage/Bags/TrashBag.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/Belts/JanibeltCapacity.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/TrashBag.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/TrashBag.asset.meta
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
