Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Cleans up a few initialisation issues and bugs with stomach fat (#6954)
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
Labels: none

Sand tile adjustments.
  UnityProject/Assets/Prefabs/Items/Mining/Ore/SandPile.prefab
  UnityProject/Assets/Prefabs/Items/Mining/Ore/VolcanicAsh.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/DigWithShovelVolcanic.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/DigWithShovelVolcanic.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/DugSand.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/DugSandVolcanic.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/DugSandVolcanic.asset.meta
  UnityProject/Assets/Tilemaps/Palettes/Base Floors.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid_dug.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic0.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic_dug.asset.meta
Labels: Scene Changes

Mining satchel is now medium sized.
  UnityProject/Assets/Prefabs/Items/Storage/Bags/MiningSatchel.prefab
Labels: none

Deconstructing reinforced walls now correctly creates reinforced girders
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/RWallSheath.asset
Labels: none

Fixes re-logging losing UI
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

Mining satchel is now medium sized. (#6958)
  UnityProject/Assets/Prefabs/Items/Storage/Bags/MiningSatchel.prefab
Labels: none

Deconstructing reinforced walls now correctly creates reinforced girders (#6959)
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/RWallSheath.asset
Labels: none

Sand tile adjustments. (#6957)
  UnityProject/Assets/Prefabs/Items/Mining/Ore/SandPile.prefab
  UnityProject/Assets/Prefabs/Items/Mining/Ore/VolcanicAsh.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/DigWithShovelVolcanic.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/DigWithShovelVolcanic.asset.meta
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/DugSand.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/DugSandVolcanic.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Tiles/DugSandVolcanic.asset.meta
  UnityProject/Assets/Tilemaps/Palettes/Base Floors.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid_dug.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic0.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/volcanic_dug.asset.meta
Labels: Scene Changes

Donut has eating sounds again.
  UnityProject/Assets/Prefabs/Items/Food/Snacks/PastrySnacks/Donuts/_DonutBase.prefab
Labels: none

Donut has eating sounds again. (#6964)
  UnityProject/Assets/Prefabs/Items/Food/Snacks/PastrySnacks/Donuts/_DonutBase.prefab
Labels: none

Update UnityProject/Assets/Scripts/Systems/Clearance/ClearanceCheckable.cs
  UnityProject/Assets/Scripts/Systems/Clearance/ClearanceCheckable.cs
Labels: none

End of round sounds and some clean up of gamemanager
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/ScriptableObjects/Audio/EndOfRoundSounds.asset
  UnityProject/Assets/ScriptableObjects/Audio/EndOfRoundSounds.asset.meta
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/Systems/NukeOpsGameMode/GUI_NukeOps.cs
Labels: UI

Refactor client job amount knowledge
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs.meta
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
  UnityProject/Assets/Scripts/UI/Systems/NukeOpsGameMode/GUI_NukeOps.cs
Labels: UI

Fix message
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs
Labels: none

liver leak hotfix
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

More fixes
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
Labels: none

Update GameManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
Labels: none

this is how, which i need to remove as well
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
Labels: none

monopipe gizmos
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
Labels: none

Apply suggestions from code review
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
Labels: UI

Refactor Client Job Values (#6965)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/ScriptableObjects/Audio/EndOfRoundSounds.asset
  UnityProject/Assets/ScriptableObjects/Audio/EndOfRoundSounds.asset.meta
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs.meta
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/Systems/NukeOpsGameMode/GUI_NukeOps.cs
Labels: UI

Fix CrewManifestManager docstrings
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
Labels: UI

monopipe gizmos (#6967)
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
Labels: none

Fix Some Cargo Costs (#6955)
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/50 Plasteel Sheets.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Biological Emergency Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bureaucracy Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Cargo Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Cargo Tech Starter Kit.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emitter Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Festive Wrapping Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Field Generator Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Firefighting Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/ID Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Internals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Laser Tag Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Prisoner Uniform Set.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Radiation Protection Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Reactor Starting Rod Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Theatre Costume Supply Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Wrapping Crate.asset
  UnityProject/Assets/Tests/Balance/CargoTest.cs
Labels: none

Update UnityProject/Assets/Scripts/Systems/Explosions/SparkUtil.cs
  UnityProject/Assets/Scripts/Systems/Explosions/SparkUtil.cs
Labels: none

Update UnityProject/Assets/Scripts/Systems/Explosions/SparkUtil.cs
  UnityProject/Assets/Scripts/Systems/Explosions/SparkUtil.cs
Labels: none

Update Igniter.cs
  UnityProject/Assets/Scripts/Items/Tool/Igniter.cs
Labels: none

seperating containers to seperate objects in children
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
Labels: none

Nonserialized bodyparts, the new hot market item!
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
Labels: none

Liver, stop bleeding like a whoopie cushion [hotfix] (#6966)
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
Labels: none

Fixes re-logging losing UI (#6962)
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

Robust UI
  UnityProject/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
  UnityProject/Assets/Firebase/Editor/network_request.exe.meta
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerController.cs
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestInventoryTransferMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerPopulateInventoryUIMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerPopulateInventoryUIMessage.cs.meta
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeData.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/InstantSummons.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/SpatialRelationship/ObserveStorageRelationship.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
Labels: UI

Removing something that Wasn't so robust
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
Labels: none

fixes tests
  UnityProject/Assets/Prefabs/Items/Botany/Equipment/Hatchet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/BedSheet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/PetCollar.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Scarves/StripedGreenScarf.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Scarves/WhiteScarf.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Stethoscope.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Ties/BlueTie.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ClownSuits/ClownSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ClownSuits/SexyClownSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/EngineersJumpsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ExplorersJumpsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/HardWornSuit.prefab
  UnityProject/Assets/Prefabs/Items/Other/Rolled Poster.prefab
  UnityProject/Assets/Prefabs/Mobs/Bot/Resources/Construction/FloorbotAssembly.prefab
Labels: none

Square and RCS tweaks.
  UnityProject/Assets/Prefabs/Objects/Shuttle/Vernor RCS.prefab
Labels: none

AI Improvements, Door Electrocution and oxygen damage fix.
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabAirlock.prefab
  UnityProject/Assets/ScriptableObjects/Antagonists/AntagData.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Antags/Traitor.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent All Lifeforms from Escaping.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent All Lifeforms from Escaping.asset.meta
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent Everyone From Escaping.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent Everyone From Escaping.asset.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Traitor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/PreventEveryoneFromEscaping.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/PreventEveryoneFromEscaping.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/GUI_Airlock.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

better
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
Labels: none

turning into modules
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/_AirlockBase.prefab
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/GUI_Airlock.cs
Labels: UI

A fix for door signals that break other modules
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ModuleSignal.cs
Labels: none

Final thing woohoo!
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/_AirlockBase.prefab
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
