Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Jukebox and Singularity Fixes (#5973)
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

The UpdateTile call of the reaction manager for atmos visual effects will now use a simpler argument for the position
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: none

Fixes gases on non-station matrices (#5974)
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: none

Fixes
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/ParticleAccelerator/ParticleAcceleratorControlBox.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/GravitationalSingularityGenerator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/Singularity.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/SingularityStage11.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/SingularityStage3.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/SingularityStage5.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/SingularityStage7.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/SingularityStage9.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDamageIntegrity.cs
  UnityProject/Assets/Scripts/Objects/Engineering/GravitationalSingularityGenerator.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Gun/DamageData.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/GUI_ParticleAccelerator.cs
Labels: UI

RegisterPlayer in singularity
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: none

Fixes footsteps not using the correct matrix for their sounds.
  UnityProject/Assets/Scripts/ScriptableObjects/Audio/FootstepSounds.cs
Labels: none

Fixes footsteps not using the correct matrix for their sounds. (#5976)
  UnityProject/Assets/Scripts/ScriptableObjects/Audio/FootstepSounds.cs
Labels: none

prediction stuff and fixes
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
Labels: none

whoops
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: none

rename shit
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessCheckable.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessDefinitions.cs
  UnityProject/Assets/Scripts/Systems/Access/AccessDefinitions.cs.meta
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
Labels: none

add support for future access change on low pop
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
Labels: none

progress on custom job names
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
Labels: UI

implement the ability to saw off guns (#5969)
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/EnchantedBoltActionRifle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/MosinNagantM1891.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Shotguns/ImprovisedShotgun.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Shotguns/RiotShotgun.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Shotguns/S3HunterShotgun.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs.meta
Labels: none

silence codacy
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
Labels: none

start regions definition for hop console
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
Labels: none

customjobname whoops
  UnityProject/Assets/Scripts/Items/IDCard.cs
Labels: none

Adjusts UI prefabs and adds icon scaling
  UnityProject/Assets/Resources/Prefabs/UI/Ingame/Resources/InventorySlot.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

Emitter/Field gen wrench fix
  UnityProject/Assets/Scripts/Objects/Engineering/Emitter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
Labels: none

Adjusts UI prefabs and adds icon scaling (#5977)
  UnityProject/Assets/Resources/Prefabs/UI/Ingame/Resources/InventorySlot.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

Large Crate deconstruction, geiger count sound
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Geiger Counter.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_ParticleAccelerator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/LargeCrate.prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Tool/GeigerCounter.cs
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Objects/Construction/Deconstructable.cs
  UnityProject/Assets/Scripts/Objects/Construction/Deconstructable.cs.meta
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: none

Emag for setting three and power fix
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/ParticleAccelerator/ParticleAcceleratorControlBox.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
Labels: none

Slight UI change
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabParticleAccelerator.prefab
Labels: none

Sing generator Crate and export value rebalance
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/LargeCrate.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CargoData.asset
Labels: none

Radiation collector prefab name fix and added radiation collect to circuit imprinter
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/RadiationCollector.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/RadiationCollector.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Machines/CircuitImprinterProducts.asset
  UnityProject/Assets/Scripts/Objects/Engineering/RadiationCollector.cs
Labels: none

Change MatrixInfo from struct to class
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
Labels: none

Removes the matrix check in the validation IsReachableByRegisterTiles(), enabling interactions inbetween two adjacent matrix
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
Labels: none

Whoops, forgot to add IEquatable.
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
Labels: none

New UI
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabParticleAccelerator.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/UI/Shuttle_Controls/Button1.png
  UnityProject/Assets/UI/Shuttle_Controls/Button1.png.meta
Labels: none

Colour red at 3
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
Labels: none

Bullet names
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_Emitter.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_ParticleAccelerator.prefab
Labels: none

Adds an advice thingy.
  UnityProject/Assets/Scripts/UI/Systems/Advice/AdviceController.cs
Labels: UI

Removes the matrix check in the validation IsReachableByRegisterTiles(), enabling interactions inbetween two adjacent matrix (#5978)
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
Labels: none

Finishes advice object.
  UnityProject/Assets/Scripts/UI/Systems/Advice/AdviceController.cs
Labels: UI

Apparently enums are a thing.
  UnityProject/Assets/Scripts/UI/Systems/Advice/AdviceController.cs
Labels: UI

attempt on networking accesss shit
  UnityProject/Assets/Scripts/Systems/Access/AccessHolder.cs
  UnityProject/Assets/Scripts/Systems/Access/SyncListAccess.cs
  UnityProject/Assets/Scripts/Systems/Access/SyncListAccess.cs.meta
Labels: none

moar progress
  UnityProject/Assets/Scripts/Items/Cards/IDCardV2.cs
  UnityProject/Assets/Scripts/Items/Cards/IDCardV2.cs.meta
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/Systems/Occupations/Occupation.cs
Labels: none

start of prefabing stuff
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/IdentificationConsoleV2.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/IdentificationConsoleV2.prefab.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsoleV2.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsoleV2.cs.meta
Labels: UI

misc: update Changelog
  CHANGELOG.md
Labels: none

silence codacy v2
  UnityProject/Assets/Scripts/Systems/Access/AccessUtils.cs
Labels: none

rebalances ancient station, fixes occupation populator
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/PrototypeRIGHardsuitHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/PrototypeRIGHardsuit.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/GhostRole/AncientEngineer.asset
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
