Repository unitystation/unitystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Scene Changes, Scene: SquareStation, Scene: PogStation, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Documentation, Sprite Work, UI

Renamed gas mixes and put summary
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirVent.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Scrubber.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasMixesSO.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSystem.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMixes.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataNode.cs
Labels: none

Prevent law change on dead AI's
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
Labels: none

Fix compile issue
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/Pipes/GUI_Filter.cs
Labels: UI

Fixes default mole values in canisters
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterAir.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterBZ.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterCarbonDioxide.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterFreon.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterHydrogen.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterHyperNoblium.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterMiasma.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterNitrogen.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterNitrousOxide.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterNitryl.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterOxygen.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterPlasma.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterPluoxium.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterStimulum.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterTritium.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterWaterVapour.prefab
Labels: none

DynamicItemStorage Fixes
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/CaptureCapsHat.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/NotCuffed.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Disarmable.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: none

More fixes
  UnityProject/Assets/Scripts/Objects/Engineering/PowerGenerator.cs
  UnityProject/Assets/Scripts/Systems/Construction/WrenchSecurable.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

Law fix
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
Labels: none

Update AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
Labels: none

Fixes examine window
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/Player_Examination.prefab
  UnityProject/Assets/Prefabs/UI/Player_Examination.prefab.meta
Labels: none

Frame sprite order fix
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
Labels: none

Hopefully makes it so when the user relogs it Clears the UI
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

done
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
Labels: none

moved examination window out of UI manager now has its own prefab (#6885)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/Player_Examination.prefab
  UnityProject/Assets/Prefabs/UI/Player_Examination.prefab.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

SO fix
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/ScriptableObjectSingletons.prefab
  UnityProject/Assets/Scripts/Managers/ScriptableObjectSingletons.cs
Labels: none

SO fix (#6886)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/ScriptableObjectSingletons.prefab
  UnityProject/Assets/Scripts/Managers/ScriptableObjectSingletons.cs
Labels: none

Fix
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
Labels: none

Fix (#6887)
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
Labels: none

Update GasContainer.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
Labels: none

Fixes the seed extractor scroll wheel from only working when mouseovering the button and not the background. Increased the scroll speed in both scrolls of the seed extractor by 3 times.
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/SeedExtractorEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabSeedExtractor.prefab
Labels: none

Fixes the seed extractor scroll wheel from only working when mouseovering the button and not the background. (#6888)
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/SeedExtractorEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabSeedExtractor.prefab
Labels: none

Namespace issue + fixes dismemberment values going 0 for no reason
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanChest Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanHead Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanLeftArm Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanLeftLeg Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanRightArm Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanRightLeg Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
Labels: none

Puts gib check in BodyPartRemoval.
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

switches from case to if statements
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
Labels: none

missing functions due to merge
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

i hate merge conflicts with passion it ruions everything
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

public to private variable
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Replacing pink tiles with grilles on several maps, tile palette tweaks.
  UnityProject/Assets/Tilemaps/Palettes/Floors.prefab
  UnityProject/Assets/Tilemaps/Palettes/Objects.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/Grille.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleBroken.asset
Labels: none

Replacing pink tiles with grilles on several maps, tile palette tweaks. (#6897)
  UnityProject/Assets/Tilemaps/Palettes/Floors.prefab
  UnityProject/Assets/Tilemaps/Palettes/Objects.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/Grille.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/GrilleBroken.asset
Labels: none

fixed initialisation
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

fixed
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
Labels: none

Surgery fix 2 (#6901)
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: none

Human spawn steps will now be slightly more organized. (#6900)
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningPod.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
Labels: UI

Modifying an asteroid and ruin scenes, asteroid tile tweaks.
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Tilemaps/Palettes/Base Floors.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand13.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand14.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand15.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rock_wall.asset
Labels: Scene Changes

manually fixing a misplaced line via github itself
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
Labels: none

fixed a public variable's name being camelCase
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
Labels: UI

Codacy
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
Labels: none

Tips system (Part 1/3)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Prefabs/UI/Learning.meta
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab.meta
  UnityProject/Assets/Prefabs/UI/LoadingScreen.prefab
  UnityProject/Assets/ScriptableObjects/Learning.meta
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Learning.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Learning/TipsSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Learning/TipsSO.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs.meta
Labels: UI

Spell fixes
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

More spelling fixes
  UnityProject/Assets/ScriptableObjects/Learning/Tips.asset
Labels: none

Fixes font scales
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Prefabs/UI/LoadingScreen.prefab
Labels: none

.github/labeler.yml:

"Scene Changes":
  - UnityProject/Assets/**/*.unity

"Scene: SquareStation":
  - UnityProject/Assets/Scenes/MainStations/SquareStation.unity

"Scene: PogStation":
  - UnityProject/Assets/Scenes/MainStations/PogStation.unity

"Scene: FallStation":
  - UnityProject/Assets/Scenes/MainStations/FallStation.unity

"Scene: OutpostStation":
  - UnityProject/Assets/Scenes/MainStations/OutpostStation.unity

"Scene: BoxStation":
  - UnityProject/Assets/Scenes/MainStations/BoxStationV1.unity

"Documentation":
  - docs/**/*

"Sprite Work":
  - UnityProject/Assets/Textures/**/*.png
  - UnityProject/Assets/Textures/**/*.PNG
  - AssetLibrary/**/*.png
  - AssetLibrary/**/*.PNG

"UI":
  - UnityProject/Assets/Scripts/UI/**/*
  - UnityProject/Assets/Scenes/UI/**/*
