Repository unitystation/unitystation, pull requests merged in 2020-03, with the labels that each got.

#3426 Randomized Damage Fix and Custom Damage Calculation
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Extradimensional Blade.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Chaplain.asset
  UnityProject/Assets/Scripts/Items/ICustomDamageCalculation.cs
  UnityProject/Assets/Scripts/Items/ICustomDamageCalculation.cs.meta
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Weapons/Melee/ExtradimBlade.cs
Labels: Test Me On Staging

#3444 Fix WinDoor hitbox rotation
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/WinDoor.prefab
Labels: Test Me On Staging

#3453 Refactor DoorController to Remove Duplicate IsOpen/IsClosed
  UnityProject/Assets/Scripts/Doors/DoorController.cs
  UnityProject/Assets/Scripts/Doors/GeneralDoorAnimator.cs
  UnityProject/Assets/Scripts/Doors/InteractableDoor.cs
  UnityProject/Assets/Scripts/Switches/DoorSwitch.cs
Labels: Test Me On Staging

#3448 Items sounds settings
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/GrilleObject.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/ReinforcedWindow.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Window.prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Weapons/WeaponNetworkActions.cs
Labels: Test Me On Staging

#3499 Initial job preferences screen
  UnityProject/Assets/Animations/UI/Lobby/Clown_Lobby.anim
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/ScriptableObjectSingletons.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/JobPreferences.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/JobPreferences.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Disclaimer.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Disclaimer.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Lobby_ClownAnim.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Departments.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Cargo.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Cargo.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Civilian.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Civilian.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Command.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Command.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/DepartmentsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/DepartmentsSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Engineering.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Engineering.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Entertainment.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Entertainment.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Medical.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Medical.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Research.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Research.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Security.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Security.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Service.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Service.asset.meta
  UnityProject/Assets/Scenes/Lobby.unity
  UnityProject/Assets/Scripts/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Managers/ScriptableObjectSingletons.cs
  UnityProject/Assets/Scripts/Occupations/Department.cs
  UnityProject/Assets/Scripts/Occupations/Department.cs.meta
  UnityProject/Assets/Scripts/Occupations/DepartmentList.cs
  UnityProject/Assets/Scripts/Occupations/DepartmentList.cs.meta
  UnityProject/Assets/Scripts/UI/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/EscapeKeyTarget.cs
  UnityProject/Assets/Scripts/UI/FlowLayoutGroup.cs
  UnityProject/Assets/Scripts/UI/FlowLayoutGroup.cs.meta
  UnityProject/Assets/Scripts/UI/IngameMenu/GUI_IngameMenu.cs
  UnityProject/Assets/Scripts/UI/Jobs/GUI_JobPreferences.cs
  UnityProject/Assets/Scripts/UI/Jobs/GUI_JobPreferences.cs.meta
  UnityProject/Assets/Scripts/UI/Jobs/JobPreferences.meta
  UnityProject/Assets/Scripts/UI/Jobs/JobPreferences/JobDepartmentEntry.cs
  UnityProject/Assets/Scripts/UI/Jobs/JobPreferences/JobDepartmentEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Jobs/JobPreferences/JobListEntry.cs
  UnityProject/Assets/Scripts/UI/Jobs/JobPreferences/JobListEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Lobby/CharacterSprites.cs
  UnityProject/Assets/Scripts/UI/WindowDrag.cs
Labels: Feature, Scene Changes

#3573 Make Emote, Whisper and Sing commands ignorecase.
  UnityProject/Assets/Scripts/Chat/Chat.Process.cs
Labels: Test Me On Staging

#3576 Adds Alt-Click functionality for InventoryApply and HandApply
  UnityProject/Assets/Scripts/Closets/InteractableFireCabinet.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/Interactions/HandApply.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/Interactions/InventoryApply.cs
  UnityProject/Assets/Scripts/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
Labels: Test Me On Staging

#3575 Add a Way to Add Nutriment and Other Botany Updates
  UnityProject/Assets/Scripts/Botany/hydroponics tray/HydroponicsTray.cs
  UnityProject/Assets/Scripts/Tilemaps/Editor/GeneratePlantSOs.cs
Labels: Test Me On Staging

#3566 Add a song
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/SoundManager.prefab
  UnityProject/Assets/Sounds/Ambient/Chris Remo - The Wizard.mp3
  UnityProject/Assets/Sounds/Ambient/Chris Remo - The Wizard.mp3.meta
Labels: Test Me On Staging

#3564 FIX | Machine Connector is attackable under floor
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/VIR_LowVoltageMachineConnector.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/VIR_MediumMachine character.prefab
  UnityProject/Assets/Scripts/Electricity/Wire/CableCategories/LowVoltageMachineConnector.cs
  UnityProject/Assets/Scripts/Electricity/Wire/CableCategories/MediumMachineConnector.cs
Labels: Test Me On Staging

#3589 Add basic alert level system
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/SoundManager.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabComms.prefab
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Comms/GUI_Comms.cs
Labels: Test Me On Staging

#3601 Fixes paper closing when hovering over inventory slot
  UnityProject/Assets/Scripts/UI/UI Bottom/UI_ItemSlot.cs
Labels: Test Me On Staging

#3610 Fire Resist Action B:20
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/UI Bottom/ControlAction.cs
Labels: Test Me On Staging

#3620 randomizes rebel (Cargonia) department
  UnityProject/Assets/Scripts/Antagonists/Antags/Cargonian.asset
  UnityProject/Assets/Scripts/Antagonists/Antags/Cargonian.cs
  UnityProject/Assets/Scripts/Antagonists/Objectives/Cargo Eliminate Security.asset
  UnityProject/Assets/Scripts/Antagonists/Objectives/Cargo Men Survival.asset
  UnityProject/Assets/Scripts/Antagonists/Objectives/CargoMenSurvival.cs
  UnityProject/Assets/Scripts/GameModes/Cargonia.cs
  UnityProject/Assets/Scripts/Managers/GameManager.GameMode.cs
Labels: Test Me On Staging

#3584 Mining | Proto-Kinetic-Accelerator
  UnityProject/Assets/Resources/Prefabs/Items/Mining/Proto-Kinetic-Accelerator.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Mining/Proto-Kinetic-Accelerator.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_KineticShot.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_KineticShot.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/SoundManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/ExplorerBagPopulator.asset
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
  UnityProject/Assets/Scripts/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Weapons/GunPKA.cs
  UnityProject/Assets/Scripts/Weapons/GunPKA.cs.meta
  UnityProject/Assets/Scripts/Weapons/Projectiles/BulletBehaviour.cs
  UnityProject/Assets/Scripts/Weapons/Projectiles/BulletKinetic.cs
  UnityProject/Assets/Scripts/Weapons/Projectiles/BulletKinetic.cs.meta
  UnityProject/Assets/Scripts/Weapons/Projectiles/BulletMineOnHit.cs
  UnityProject/Assets/Scripts/Weapons/Projectiles/BulletMineOnHit.cs.meta
  UnityProject/Assets/Sounds/Weapons/GunShots/kinetic_accel.ogg
  UnityProject/Assets/Sounds/Weapons/GunShots/kinetic_accel.ogg.meta
  UnityProject/Assets/Sounds/Weapons/kinetic_reload.ogg
  UnityProject/Assets/Sounds/Weapons/kinetic_reload.ogg.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/KineticAnimation.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/KineticAnimation.asset.meta
Labels: Test Me On Staging

#3653 [DNM] Table climbing
  UnityProject/Assets/Resources/ScriptableObjects/Interaction/TileInteraction/TableInteractionClimb.asset
  UnityProject/Assets/Resources/ScriptableObjects/Interaction/TileInteraction/TableInteractionClimb.asset.meta
  UnityProject/Assets/Scripts/Input System/InteractionV2/Interactions/MouseDrop.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/MouseDraggable.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TableInteraction.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs.meta
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TileApply.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TileMouseDrop.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TileMouseDrop.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/Reinforced Table/table_reinforced.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/Reinforced Table/table_reinforced_unwelded.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/Table.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_wood.asset
Labels: Test Me On Staging

#3666 Whitelist
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/StreamingAssets/admin/whitelist.txt
  UnityProject/Assets/StreamingAssets/admin/whitelist.txt.meta
Labels: DNM

#3688 Table climb fixes
  UnityProject/Assets/Scripts/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ObjectLayer.cs
Labels: Test Me On Staging

#3697 Chair fixes.
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/Stool.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/comfy_chair.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/pewend_left_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/pewend_right_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/pewmiddle_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/shuttle_chair_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/sofacorner_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/sofaend_left_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/sofaend_right_0.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/sofamiddle_0.prefab
  UnityProject/ProjectSettings/Physics2DSettings.asset
Labels: DNM

#3701 Fix security records console entry editing
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/SecurityRecordsCrimeEntry.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabSecurityRecords.prefab
  UnityProject/Assets/Scripts/UI/SecurityRecords/GUI_SecurityRecordsCrime.cs
  UnityProject/Assets/Scripts/UI/SecurityRecords/GUI_SecurityRecordsEntryPage.cs
Labels: Test Me On Staging
