Repository unitystation/unitystation, pull requests merged in 2020-09, with the labels that each got.

#5024 fixes clothing not refreshing properly
  UnityProject/Assets/Resources/Effects/Light2D/Default Light Sprite.png
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Lights/Flashlight.prefab
  UnityProject/Assets/Scripts/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/UI/Action/RequestGameAction.cs
  UnityProject/Assets/Scripts/UI/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Bool/GUI_P_Bool.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Class/GUI_P_Class.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/GUI_P_Collection.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/GUI_P_Colour.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/GUI_P_Colour.cs.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/UIColour.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/UIColour.prefab.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Eume/GUI_P_Eume.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/InputField/GUI_P_Input.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Vectors/GUI_P_Vectors.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Vectors/UIVectors.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/PageElement.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/VariableViewerUIFunctionHandler.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableViewerManager.prefab
Labels: UI

#5040 Now warnText will be hidden when the UI is set for Joining
  UnityProject/Assets/Scripts/UI/PreRound/GUI_PreRoundWindow.cs
Labels: UI

#5051 Update Hosting-a-Server.md
  docs/development/Hosting-a-Server.md
Labels: Documentation

#5063 Randomizing door hacking nodes both between rounds and between door types (Security vs Atmos, vs Command, etc.)
  UnityProject/Assets/Scripts/Hacking/HackingProcesses/HackingProcessDoorSimple.cs
Labels: Test Me On Staging

#5073 Fix wood and reinforced table construction
  UnityProject/Assets/Resources/Prefabs/Items/Construction/Materials/Resources/MetalRods.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Rack Parts.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/VIR_LowVoltageMachineConnector.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/VIR_MediumMachine character.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/TableFrame.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Furniture/TableFrame.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/WallProtrusions/LightTubeMount.prefab
  UnityProject/Assets/Resources/Prefabs/SpellImplementations/MimeBox.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Scripts/Electricity/Wire/CableCategories/LowVoltageMachineConnector.cs
  UnityProject/Assets/Scripts/Electricity/Wire/CableCategories/MediumMachineConnector.cs
  UnityProject/Assets/Scripts/Furniture/TableBuilding.cs
  UnityProject/Assets/Scripts/Items/Others/RodsToMetal.cs
  UnityProject/Assets/Scripts/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/ScriptableObjects/CommonPrefabs.cs
  UnityProject/Assets/Scripts/Spells/Mime/MimeBox.cs
  UnityProject/Assets/Scripts/Spells/Spell.cs
  UnityProject/Assets/Scripts/Storage/RackParts.cs
  UnityProject/Assets/Scripts/Tool/ToolUtils.cs
Labels: Status: Merge Conflicts

#5083 Increase vendor list scroll speed
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabVendor.prefab
  UnityProject/Assets/Scripts/UI/VendorItemEntry.cs
  UnityProject/Assets/Textures/TilePreviews/res/Prefabs/Items/Other/VendingRefills.meta
Labels: UI

#5088 Fix PDAs
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabPDA.prefab
  UnityProject/Assets/Scripts/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/UI/Net/NetTab.cs
Labels: UI

#5081 [Rebase] Moved Atlases out of resources. Added Spread setting to jukebox
  UnityProject/Assets/Materials/Sprites_Outline.mat
  UnityProject/Assets/Resources/Prefabs/Objects/Bar/Jukebox.prefab
  UnityProject/Assets/Scripts/Machines/Jukebox.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/AudioSourceParameters.cs
  UnityProject/Assets/Textures/Resources.meta
  UnityProject/Assets/Textures/Shroud.meta
  UnityProject/Assets/Textures/Shroud/shroud.asset
  UnityProject/Assets/Textures/Shroud/shroud.asset.meta
  UnityProject/Assets/Textures/Shroud/shroud.png
  UnityProject/Assets/Textures/Shroud/shroud.png.meta
  UnityProject/Assets/Textures/Shroud/shroudHard.asset
  UnityProject/Assets/Textures/Shroud/shroudHard.asset.meta
  UnityProject/Assets/Textures/Shroud/shroudHard.png
  UnityProject/Assets/Textures/Shroud/shroudHard.png.meta
  UnityProject/Assets/Textures/SpriteAtlases.meta
  UnityProject/Assets/Textures/SpriteAtlases/BigBoss.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/BigBoss.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Clothes.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Clothes.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Cutscenes.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Cutscenes.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/HighlightingTexture.png
  UnityProject/Assets/Textures/SpriteAtlases/HighlightingTexture.png.meta
  UnityProject/Assets/Textures/SpriteAtlases/InHands.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/InHands.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Items.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Items.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Mobs.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Mobs.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/MobsShared.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/MobsShared.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Objects.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Objects.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Other.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Other.spriteatlas.meta
  UnityProject/Assets/Textures/SpriteAtlases/Station.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Station.spriteatlas.meta
Labels: Sprite Work

#5102 roadmap update
  docs/project-goals/roadmap.md
Labels: Documentation

#5111 Feature: Add RCS control and movement to shuttles #3889
  UnityProject/Assets/Resources/Prefabs/Objects/Shuttle/Vernor RCS.prefab
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Shuttles/RcsThruster.cs
  UnityProject/Assets/Scripts/Shuttles/ShipThruster.cs
  UnityProject/Assets/Scripts/UI/Shuttles/GUI_ShuttleControl.cs
Labels: UI

#5120 Addressables
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AssetLoadingScreen.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AssetLoadingScreen.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/AssetLoadingScreenManager.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AssetLoadingScreenManager.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/AssetManager.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AssetManager.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/Popup.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Popup.prefab.meta
  UnityProject/Assets/Scripts/Addressables/Types/AddressableReference.cs
  UnityProject/Assets/Scripts/Managers/AssetLoadingPopupManager.cs
  UnityProject/Assets/Scripts/Managers/AssetLoadingPopupManager.cs.meta
  UnityProject/Assets/Scripts/Managers/AssetManager.cs
  UnityProject/Assets/Scripts/Managers/AssetManager.cs.meta
  UnityProject/Assets/Scripts/UI/AssetLoadingPopup.cs
  UnityProject/Assets/Scripts/UI/AssetLoadingPopup.cs.meta
Labels: Status: Ready to review

#5137 Sprites for captain's and MK.III SWAT suits by Tex.
  UnityProject/Assets/Textures/clothing/head/MK III SWAT helmet/hats_deathsquad.png
  UnityProject/Assets/Textures/clothing/head/MK III SWAT helmet/head_deathsquad.png
  UnityProject/Assets/Textures/clothing/head/captain's SWAT helmet/hats_capspace.png
  UnityProject/Assets/Textures/clothing/head/captain's SWAT helmet/head_capspace.png
  UnityProject/Assets/Textures/clothing/suits/MK III SWAT suit/suits_deathsquad.png
  UnityProject/Assets/Textures/clothing/suits/MK III SWAT suit/suits_deathsquad_icon.png
  UnityProject/Assets/Textures/clothing/suits/captain's SWAT suit/suits_caparmor.png
  UnityProject/Assets/Textures/clothing/suits/captain's SWAT suit/suits_caparmor_icon.png
Labels: Sprite Work

#5131 optimises load time
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AntagBanner.prefab
  UnityProject/Assets/Scripts/AutoMod/AutoMod.cs
  UnityProject/Assets/Scripts/Chat/DiscordWebhookMessage.cs
  UnityProject/Assets/Scripts/Database/ServerData.cs
  UnityProject/Assets/Scripts/Highlight/Highlight.cs
  UnityProject/Assets/Scripts/Initialisation.meta
  UnityProject/Assets/Scripts/Initialisation/LoadManager.cs
  UnityProject/Assets/Scripts/Initialisation/LoadManager.cs.meta
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/StringManager.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/Ore Generation/OreGenerator.cs
  UnityProject/Assets/Scripts/Research/Techweb.cs
  UnityProject/Assets/Scripts/Sound/Synth.cs
  UnityProject/Assets/Scripts/Spawners/NPCSpawner.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/SubsystemManager.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
  UnityProject/Assets/Scripts/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/UI/ChatBubble/ChatBubbleManager.cs
  UnityProject/Assets/Scripts/UI/OptionsMenu/OptionsMenu.cs
  UnityProject/Assets/Scripts/UI/OptionsMenu/ThemeOptions/ThemeManager.cs
  UnityProject/Assets/Scripts/UI/ResponsiveUI.cs
  UnityProject/Assets/Scripts/UI/ServerInfoUI.cs
  UnityProject/Assets/Scripts/UI/ServerInfoUILobby.cs
  UnityProject/Assets/Scripts/UI/UIManager.cs
  UnityProject/Assets/Scripts/Util/ScriptsUtilMonoBehaviourSingleton.cs
  UnityProject/Assets/Scripts/Util/ScriptsUtilMonoBehaviourSingleton.cs.meta
  UnityProject/Assets/Scripts/Variable Viewer/VariableViewerManager.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Editor/BuilderUtils.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/Academy.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/Agent.cs
  UnityProject/Assets/Standard Assets/ML-Agents/Scripts/Brain.cs
Labels: UI

#5144 Bug fixes
  UnityProject/Assets/Resources/Prefabs/Items/Other/Toys/ToySword.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabComms.prefab
  UnityProject/Assets/Scripts/Electricity/Engine/GUI_ReactorController.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/UI/Comms/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Net/Elements/NetSpriteImage.cs
  UnityProject/Assets/Scripts/UI/NukeOpsGameMode/GUI_NukeOps.cs
  UnityProject/Assets/Scripts/Weapons/Projectiles/Behaviours/ProjectileDecal.cs
Labels: UI

#5147 Fixed UI stackingg
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/SuitStorageUnit.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/SuitStorageUnits/SuitStorageUnitChiefEngineer.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Scripts/UI/UI Bottom/UI_ItemImage.cs
  UnityProject/Assets/Scripts/UI/UI Bottom/UI_ItemSlot.cs
Labels: UI

#5149 New minor antag: Fugitives
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/AntagData.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Cargonian.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Fugitive.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Fugitive.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/Not Cuffed.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/Not Cuffed.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/GameModes/Traitor.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/FugitivePopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/FugitivePopulator.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Fugitive.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Fugitive.asset.meta
  UnityProject/Assets/Scripts/Antagonists/Antags/Fugitive.cs
  UnityProject/Assets/Scripts/Antagonists/Antags/Fugitive.cs.meta
  UnityProject/Assets/Scripts/Antagonists/Antags/NuclearOperative.cs
  UnityProject/Assets/Scripts/Antagonists/Objectives/NotCuffed.cs
  UnityProject/Assets/Scripts/Antagonists/Objectives/NotCuffed.cs.meta
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
  UnityProject/Assets/Scripts/Occupations/JobDepartments.cs
  UnityProject/Assets/Scripts/Occupations/JobType.cs
  UnityProject/Assets/Scripts/UI/Animations/Managers.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Documentation/assets/css.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Documentation/classes.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Documentation/elements.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Editor.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Framework.meta
Labels: UI

#5154 Weld & Anchor closets/lockers and crates
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/ClosetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/BluespaceBodyBag.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/BodyBag.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/Cabinet.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/LargeCardboardBox.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/LargeMetalBox.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/BoozeStorageCabinet.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/DetectivesCabinet.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/SecureCabinetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/CrateBase.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/CartBase.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/Coffin.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/CritterCrate.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/LargeCrate.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/LaundryCart.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/MiningCar.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/TrashBin.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/TrashCart.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Crates/WoodenCrate.prefab
  UnityProject/Assets/Scripts/Closets/ClosetControl.cs
  UnityProject/Assets/Textures/objects/crates/crate_welded.png
  UnityProject/Assets/Textures/objects/crates/crate_welded.png.meta
Labels: Sprite Work

#5158 Update canister and radar entry
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/ShuttleControlEntry.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabCanister.prefab
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/UI/Canister/GUI_Canister.cs
  UnityProject/Assets/Scripts/UI/Jobs/GUIAntagBanner.cs
  UnityProject/Assets/Scripts/UI/Net/Elements/Dynamic/Spawned/RadarEntry.cs
Labels: UI

#5030 Airlock system rework to be more scalable and maintainable
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/Airlocks.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockBase.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockBase.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/Airlocks/Public Airlock.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/Airlocks/Public Airlock.prefab.meta
  UnityProject/Assets/Scripts/Doors/DoorAnimatorV2.cs
  UnityProject/Assets/Scripts/Doors/DoorAnimatorV2.cs.meta
  UnityProject/Assets/Scripts/Doors/DoorController.cs
  UnityProject/Assets/Scripts/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Doors/DoorMasterController.cs.meta
  UnityProject/Assets/Scripts/Doors/Editor.meta
  UnityProject/Assets/Scripts/Doors/Editor/DoorAnimatorV2Editor.cs
  UnityProject/Assets/Scripts/Doors/Editor/DoorAnimatorV2Editor.cs.meta
  UnityProject/Assets/Scripts/Doors/HackeableDoor.cs
  UnityProject/Assets/Scripts/Doors/HackeableDoor.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules.meta
  UnityProject/Assets/Scripts/Doors/Modules/AccessModule.cs
  UnityProject/Assets/Scripts/Doors/Modules/AccessModule.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules/BoltsModule.cs
  UnityProject/Assets/Scripts/Doors/Modules/BoltsModule.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules/CrowbarModule.cs
  UnityProject/Assets/Scripts/Doors/Modules/CrowbarModule.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules/DoorModuleBase.cs
  UnityProject/Assets/Scripts/Doors/Modules/DoorModuleBase.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules/ModuleSignal.cs
  UnityProject/Assets/Scripts/Doors/Modules/ModuleSignal.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules/PressureModule.cs
  UnityProject/Assets/Scripts/Doors/Modules/PressureModule.cs.meta
  UnityProject/Assets/Scripts/Doors/Modules/WeldModule.cs
  UnityProject/Assets/Scripts/Doors/Modules/WeldModule.cs.meta
  UnityProject/Assets/Scripts/Electricity/PoweredDevices/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Tests/PowerLightsRelatedTests.cs
Labels: Type: Refactor

#5165 ItemActionButton component
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/MagBoots/MagBoots.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/Hardhats/HardHat.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/CarpHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/ERTHelmets/PRTHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/HardsuitHelmetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/MKIIISWATHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/MKIISWATHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDABase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tools/Lights/Flashlight.prefab
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/MagBootsUIActionSO.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleFlashlight.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleLight.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleLight.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleMagboots.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/ToggleMagboots.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/TogglePDALight.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/TogglePDALight.asset.meta
  UnityProject/Assets/Scripts/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/Inventory/NamedSlot.cs
  UnityProject/Assets/Scripts/Items/Others/FlashLight.cs
  UnityProject/Assets/Scripts/Items/Others/ItemMagBoots.cs
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/ScriptableObjects/SingletonScriptableObject.cs
  UnityProject/Assets/Scripts/UI/Action/ItemActionButton.cs
  UnityProject/Assets/Scripts/UI/Action/ItemActionButton.cs.meta
Labels: UI

#5167 Small idle performance tweak
  UnityProject/Assets/Scripts/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Construction/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Effects/Fire/BurningOverlay.cs
  UnityProject/Assets/Scripts/Food/Edible.cs
  UnityProject/Assets/Scripts/Gateway/MobSpawnControlScript.cs
  UnityProject/Assets/Scripts/Gateway/StationGateway.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/BloodSystem.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/MetabolismSystem.cs
  UnityProject/Assets/Scripts/Health/BrainHealth/BrainSystem.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Health/RespiratoryHealth/RespiratorySystem.cs
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Machines/QuantumPad.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateHungerStateMessage.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAttack.cs
  UnityProject/Assets/Scripts/NPC/MobMood.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/OutsideFlashingLight.cs
  UnityProject/Assets/Scripts/Player/Overlays/PlayerDirectionalOverlay.cs
  UnityProject/Assets/Scripts/Player/PlayerEatDrinkEffects.cs
  UnityProject/Assets/Scripts/Radiation/RadiationProducer.cs
  UnityProject/Assets/Scripts/Sound/SoundSpawn.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
  UnityProject/Assets/Scripts/Tool/GeigerCounter.cs
  UnityProject/Assets/Scripts/UI/AdminTools/AdminPage.cs
  UnityProject/Assets/Scripts/UI/AdminTools/AdminPlayersScrollView.cs
  UnityProject/Assets/Scripts/UI/UI_HeartMonitor.cs
  UnityProject/Assets/Scripts/UI/UI_OxygenAlert.cs
Labels: UI

#5197 Profiler maker admin tool
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/ProfileEntry.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/ProfileEntry.prefab.meta
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/ProfileMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/ProfileMessage.cs.meta
  UnityProject/Assets/Scripts/UI/AdminTools/DevToolsPage.cs
  UnityProject/Assets/Scripts/UI/AdminTools/DevToolsPage.cs.meta
  UnityProject/Assets/Scripts/UI/AdminTools/GUI_AdminTools.cs
  UnityProject/Assets/Scripts/UI/AdminTools/ProfileEntry.cs
  UnityProject/Assets/Scripts/UI/AdminTools/ProfileEntry.cs.meta
  UnityProject/Assets/Scripts/UI/AdminTools/ProfileScrollView.cs
  UnityProject/Assets/Scripts/UI/AdminTools/ProfileScrollView.cs.meta
  UnityProject/Assets/Scripts/UI/UIManager.cs
  UnityProject/Assets/Standard Assets/DentedPixel/Documentation/assets/css.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Documentation/classes.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Documentation/elements.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Editor.meta
  UnityProject/Assets/Standard Assets/DentedPixel/Framework.meta
  UnityProject/Profiles/example.raw
  UnityProject/ProjectSettings/GvhProjectSettings.xml
  UnityProject/ProjectSettings/Packages/com.xeleh.enhancer/Settings.asset
Labels: UI

#5201 Adds Paramedic and Psychiatrist occupations
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Earwear/PsychiatristHeadset.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Earwear/PsychiatristHeadset.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/JobInfoWindow.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows/Nanotrasen_JobSelect.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Departments/DepartmentsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/Departments/Medical.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/ParamedicPopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/ParamedicPopulator.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/PsychiatristPopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/PsychiatristPopulator.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/AllowedOccupationsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Paramedic.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Paramedic.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Psychiatrist.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Psychiatrist.asset.meta
  UnityProject/Assets/Scripts/Items/EncryptionKey.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
  UnityProject/Assets/Scripts/Occupations/JobType.cs
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset.meta
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset/Psychiatrist headset.asset
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset/Psychiatrist headset.asset.meta
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset/radio_srvmed_headset.asset
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset/radio_srvmed_headset.asset.meta
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset/radio_srvmed_headset.png
  UnityProject/Assets/Textures/clothing/ears/psychiatrist headset/radio_srvmed_headset.png.meta
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Fugitive.asset
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Fugitive.asset.meta
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Fugitive.png
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Fugitive.png.meta
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Paramedic.asset
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Paramedic.asset.meta
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Paramedic.png
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Paramedic.png.meta
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Psychiatrist.asset
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Psychiatrist.asset.meta
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Psychiatrist.png
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Psychiatrist.png.meta
Labels: Sprite Work

#5202 update fallst syn
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Syndicate.unity
Labels: Scene Changes

#5212 New gizmos to aid mapping: Disconnected from APC and no doors in door switch
  UnityProject/Assets/Gizmos.meta
  UnityProject/Assets/Gizmos/disconnected.png
  UnityProject/Assets/Gizmos/disconnected.png.meta
  UnityProject/Assets/Gizmos/noDoor.png
  UnityProject/Assets/Gizmos/noDoor.png.meta
  UnityProject/Assets/Scripts/Core/Editor/Editor.asmdef
  UnityProject/Assets/Scripts/Core/Editor/Inspector/SubscriptionControllerEditor.cs
  UnityProject/Assets/Scripts/Editor/Inspector/APCPoweredDeviceEditor.cs
  UnityProject/Assets/Scripts/Editor/Inspector/APCPoweredDeviceEditor.cs.meta
  UnityProject/Assets/Scripts/Items/Tool/Multitool/Multitool.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorController.cs
  UnityProject/Assets/Scripts/Objects/Doors/FireLock.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Electricity.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Electricity.cs.meta
  UnityProject/Assets/Scripts/Objects/Wallmounts/FireAlarm.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/DoorSwitch.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/GeneralSwitch.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/LightSwitchV2.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Inheritance/SubscriptionController.cs
  UnityProject/Assets/Scripts/UI/APC/GUI_APC.cs
  UnityProject/Assets/Tests/PowerLightsRelatedTests.cs
Labels: UI

#5223 implements the ability for guns to use different ammotypes
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/MagazineBehaviour.cs
Labels: Test Me On Staging
