Repository unitystation/unitystation, pull requests merged in 2020-10, with the labels that each got.

#5233 Resist out of lockers, break lock and no longer weld self in closet
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/ClosetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/SecureLockerBase.prefab
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/UI/ProgressBar/StandardProgressActionType.cs
Labels: UI

#5294 Sickness event fixes
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSickness.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/SicknessParametersPage.cs
Labels: Status: Ready to review, UI

#5293 Fixes Captain Gloves and Removing Light Bulbs
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Handwear/CaptainsGloves.prefab
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
Labels: Status: Ready to review

#5295 Fixes profile command messages
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/UpdateManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevToolsPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GUI_AdminTools.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ProfileEntry.cs
Labels: UI

#5299 Fixes nuke disk teleporting bug
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
Labels: Status: Ready to review

#5301 Resolves some codacy complaints
  Tools/Bods random python tools/DOIT.py
  Tools/DMI_splitter_and_meta_maker/duplicate_name_renamer.py
  Tools/DMI_splitter_and_meta_maker/to_filename.py
  Tools/DMI_to_png_python_version/DMI_to_PNG.py
  Tools/python DM botany to json/Transport.py
  Tools/python sprite textureFormat seter/python sprite textureFormat seter.py
  UnityProject/Assets/Scripts/Clothing/StepChanger.cs
  UnityProject/Assets/Scripts/Clothing/WearableSpeechMod.cs
  UnityProject/Assets/Scripts/Items/Botany/Hatchet.cs
  UnityProject/Assets/Scripts/Items/Food/WishSoup.cs
  UnityProject/Assets/Scripts/Items/Others/Knife.cs
  UnityProject/Assets/Scripts/Items/Others/RollingPin.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/DebugAtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/NPC/ConeOfSight/ConeOfSight.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_AutolatheCategoryEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_AutolatheItem.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExoFabCategoryEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExoFabItem.cs
  UnityProject/Assets/Textures/objects/hydroponics/DOIT.py
  UnityProject/Assets/Tilemaps/Resources/Tiles/Electrical/DOIT.py
Labels: UI

#5306 Add ProtivogaZ's Stechkin and RPG sprites to asset library.
  AssetLibrary/Items/ProtivogaZ/Makarov.png
  AssetLibrary/Items/ProtivogaZ/Makarov_mag.png
  AssetLibrary/Items/ProtivogaZ/Makarov_mag_empty.png
  AssetLibrary/Items/ProtivogaZ/Makarov_unloaded.png
  AssetLibrary/Items/ProtivogaZ/PRGunarmed.png
  AssetLibrary/Items/ProtivogaZ/RPGarmed.png
  AssetLibrary/attributions.txt
Labels: Sprite Work

#5333 Blob Fixes
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Blob/NPC_BlobSpore.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobCore.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobNode.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobNormal.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Traits/PassableExclusions.meta
  UnityProject/Assets/Resources/ScriptableObjects/Traits/PassableExclusions/IgnoreBlob.asset
  UnityProject/Assets/Resources/ScriptableObjects/Traits/PassableExclusions/IgnoreBlob.asset.meta
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobPathFinder.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/IPushable.cs
  UnityProject/Assets/Scripts/Objects/PassableExclusionHolder.cs
  UnityProject/Assets/Scripts/Objects/PassableExclusionHolder.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/ScriptableObjects/PassableExclusionTrait.cs
  UnityProject/Assets/Scripts/ScriptableObjects/PassableExclusionTrait.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ObjectLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: Status: Ready to review

#5336 Blob Chat Fix
  UnityProject/Assets/Resources/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Blob/NPC_BlobSpore.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/BlobHud.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatContext/ChatInputContext.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEvent.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatTypingSync.cs
  UnityProject/Assets/Scripts/Objects/Gateway/TransportUtility.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs
  UnityProject/Assets/Scripts/UI/Systems/ChatChannel/IconConstants.cs
Labels: Status: Ready to review, UI

#5349 Blob tile count fix
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
Labels: Status: Ready to review

#5350 Give the fugitive budget insulated gloves and cables.
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/FugitivePopulator.asset
  UnityProject/Assets/Textures/objects/Mapping/Mapping_Fugitive.png
Labels: Sprite Work

#5362 Some blob fixes
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs
Labels: Status: Ready to review

#5364 Includes Palette editor, documentation, and some fixes for use in more systems
  Tools/paletteable sprite editor/PaletteableSpriteEditor.html
  UnityProject/Assets/Resources/Materials/Palettable UI.mat
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
  docs/development/How-to-Paletteable-Sprite.md
Labels: Documentation, UI

#5377 Power, lathe, scene?
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/DepartmentBattery.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/SMES.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabAutolathe.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabExosuitFabricator.prefab
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SubScenes.meta
  UnityProject/Assets/Scripts/Messages/Server/SubScenes/PokeClientSubScene.cs
  UnityProject/Assets/Scripts/Messages/Server/SubScenes/PokeClientSubScene.cs.meta
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalPool.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalSynchronisation.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/BatteryCalculation.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/ElectricalDataCleanup.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/ElectronicData.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/InputOutputFunctions.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/Resistance.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/BatterySupplyingModule.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/ResistanceSourceModule.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Wire/CableCategories/MediumMachineConnector.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_AutolatheCategoryEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_AutolatheItem.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExoFabCategoryEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExoFabItem.cs
Labels: UI

#5372 Blob fixes
  UnityProject/Assets/Resources/Prefabs/Effects/Resources/Hit.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobReflective.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/SoundManager.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatContext/ChatInputContext.cs
  UnityProject/Assets/Scripts/Managers/LavaLandManager.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStructure.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
Labels: Status: Ready to review, UI

#5379 Fixes blacked out action icons, fixes regressions in paletteable objects in dev spawner & cloner
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BlueShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BrownShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/OrangeShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/WhiteShoes.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/DevSpawnCursor.prefab
  UnityProject/Assets/Scripts/Clothing/FacehuggerImpregnation.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosDefines.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Vending/GUI_Spawner.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

#5384 Blob fixes
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStructure.cs
Labels: Status: Ready to review

#5392 A bunch of changes
  UnityProject/Assets/Resources/Prefabs/Items/Storage/Bags/PlantBag.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Botany/HydroponicsTray.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/VendingMachines/MegaseedServitor.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/UpdateManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/SubScenes/PokeClientSubScene.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: Status: Merge Conflicts

#5396 New sniper rifle sprites by schwick.
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/AmmoBoxes/ExternalMagazines/SniperRounds.50.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/AmmoBoxes/ExternalMagazines/SniperRounds.50Soporific.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Migraine50SniperRifle.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/clothing/back/back_sniper-mag.asset
  UnityProject/Assets/Textures/clothing/back/back_sniper-mag.png
  UnityProject/Assets/Textures/clothing/back/back_sniper-mag.png.meta
  UnityProject/Assets/Textures/clothing/back/back_sniper.png
  UnityProject/Assets/Textures/items/ammo/ammo_50-live.asset
  UnityProject/Assets/Textures/items/ammo/ammo_50-live.asset.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50-live.png
  UnityProject/Assets/Textures/items/ammo/ammo_50-live.png.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50.asset
  UnityProject/Assets/Textures/items/ammo/ammo_50.asset.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50.png
  UnityProject/Assets/Textures/items/ammo/ammo_50.png.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50mag-ammo.asset
  UnityProject/Assets/Textures/items/ammo/ammo_50mag-ammo.asset.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50mag-ammo.png
  UnityProject/Assets/Textures/items/ammo/ammo_50mag-ammo.png.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50mag.asset
  UnityProject/Assets/Textures/items/ammo/ammo_50mag.asset.meta
  UnityProject/Assets/Textures/items/ammo/ammo_50mag.png
  UnityProject/Assets/Textures/items/ammo/ammo_50mag.png.meta
  UnityProject/Assets/Textures/items/ammo/ammo__50mag-ammo.png
  UnityProject/Assets/Textures/items/ammo/ammo__50mag.png
  UnityProject/Assets/Textures/items/ammo/ammo_soporific-ammo.png
  UnityProject/Assets/Textures/items/ammo/ammo_soporific.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_sniper.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_sniper_mag.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_sniper_suppressor.asset
  UnityProject/Assets/Textures/items/guns/projectile/projectile_sniper_suppressor.asset.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_sniper_suppressor.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_sniper_suppressor.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_sniper.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_sniper.png
Labels: Sprite Work

#5401 Adds distant explosion sounds
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Sheep/NPC_Sheep_Female.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Hostile/Sheep/NPC_Sheep_Male.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Disposals/Pipes/DisposalPipeSegment-Bent.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/SoundManager.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/DeconstructDisposalPipe.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosionUtils.cs
  UnityProject/Assets/Sounds/Effects/Explosions.meta
  UnityProject/Assets/Sounds/Effects/Explosions/Explosion1.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/Explosion1.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/Explosion2.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/Explosion2.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/creak1.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/creak1.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/creak2.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/creak2.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/creak3.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/creak3.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/explosion3.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/explosion3.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/explosion_distant.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/explosion_distant.ogg.meta
  UnityProject/Assets/Sounds/Effects/Explosions/explosionfar.ogg
  UnityProject/Assets/Sounds/Effects/Explosions/explosionfar.ogg.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/UnderFloors/pipes/DisposalPipes/DisposalPipeBent-NE.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/UnderFloors/pipes/DisposalPipes/DisposalPipeBent-NW.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/UnderFloors/pipes/DisposalPipes/DisposalPipeBent-SE.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/UnderFloors/pipes/DisposalPipes/DisposalPipeBent-SW.asset
Labels: Scene Changes

#5404 Blob Strains
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/BlobHud.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Blazing Oil.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Blazing Oil.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Cryogenic Poison.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Cryogenic Poison.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Debris Devourer.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Debris Devourer.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Distributed Neurons.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Distributed Neurons.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Electromagnetic Web.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Electromagnetic Web.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Energized Jelly.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Energized Jelly.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Explosive Lattice.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Explosive Lattice.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Networked Fibers.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Networked Fibers.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Pressurized Slime.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Pressurized Slime.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Reactive Spines.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Reactive Spines.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Regenerative Materia.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Regenerative Materia.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Replicating Foam.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Replicating Foam.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Shifting Fragments.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Shifting Fragments.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Synchronous Mesh.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/BlobStrains/Synchronous Mesh.asset.meta
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStructure.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/BlobStrain.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/BlobStrain.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Blob.cs
Labels: Status: Ready to review, UI

#5406 Admins can now see objectives and compile times have been decreased
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminOverlayPanel.prefab
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/SpawnedAntag.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminOverlayPanel.cs
  UnityProject/Assets/Standard Assets/UPAToolkit/Editor/UPAEditorToolKit.asmdef
Labels: UI

#5412 Revert (most) changes to PlayerSpawn
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowPlasmaFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowPlastitaniumFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowPodFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowReinforcedFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowReinforcedPlasmaFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowShuttleFullTile.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Windows/WindowFullTiles/WindowTintedFullTile.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
Labels: Test Me On Staging

#5416 Allows admins to see Disconnected players
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminToolRefreshMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
Labels: UI

#5421 Replace shift-key magnifying glass icon with sprite by Krysonism.
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V3(uNet).prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/interface/UI/mouse/examine_pointer.meta
  UnityProject/Assets/Textures/interface/UI/mouse/examine_pointer/examine_pointer_glass.asset
  UnityProject/Assets/Textures/interface/UI/mouse/examine_pointer/examine_pointer_glass.asset.meta
  UnityProject/Assets/Textures/interface/UI/mouse/examine_pointer/examine_pointer_glass.png
  UnityProject/Assets/Textures/interface/UI/mouse/examine_pointer/examine_pointer_glass.png.meta
Labels: Sprite Work

#5422 feat: search added to admin player manager
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayersScrollView.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GUI_AdminTools.cs
Labels: UI

#5425 Kitchen knife and hypospray by jeff.
  AssetLibrary/Items/crappysmg.png
  AssetLibrary/attributions.txt
  UnityProject/Assets/Textures/items/food/containers/containers_enzyme.png
  UnityProject/Assets/Textures/items/kitchen/kitchen_knife.png
  UnityProject/Assets/Textures/items/syringe/syringe_hypo.png
Labels: Sprite Work

#5405 Adds dynamic sizing to paletteable sprites
  Tools/paletteable sprite editor/PaletteableSpriteEditor.html
  Tools/paletteable sprite editor/js/editor.js
  Tools/paletteable sprite editor/js/lib/jquery-3.5.1.slim.min.js
  Tools/paletteable sprite editor/js/lib/marvinj-0.9.js
  UnityProject/Assets/Animations/UI/ResizePanel.cs
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogConsole.cs
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogManager.cs
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogPopup.cs
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BlackShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BlueShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BrownShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/OrangeShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/WhiteShoes.prefab
  UnityProject/Assets/Scripts/Clothing/ClothingData.cs
  UnityProject/Assets/Scripts/Clothing/ContainerData.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RadialButton.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSpawner.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
  UnityProject/Assets/Shaders/Sprite Fov Masked.shader
  UnityProject/Assets/Shaders/UIPalettable.shader
  UnityProject/Assets/Textures/SpriteAtlases/Clothes.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/InHands.spriteatlas
  UnityProject/Assets/Textures/SpriteAtlases/Items.spriteatlas
  UnityProject/Assets/Textures/clothing/shoes/Black shoes/black shoes.asset
  UnityProject/Assets/Textures/clothing/shoes/blue shoes/blue shoes.asset
  UnityProject/Assets/Textures/clothing/shoes/brown shoes/shoes_brown.asset
  UnityProject/Assets/Textures/clothing/shoes/orange shoes/orange shoes.asset
  UnityProject/Assets/Textures/clothing/shoes/shoes_icon_paletteable.png
  UnityProject/Assets/Textures/clothing/shoes/shoes_paletteable.png
  UnityProject/Assets/Textures/clothing/shoes/white shoes/white shoes.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_shoes_paletteable.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_shoes_paletteable.png
  docs/development/How-to-Paletteable-Sprite.md
Labels: Documentation, Sprite Work, UI

#5428 Minor Blob Fixes
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Scripts/Core/Input System/BlobMouseInputController.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStructure.cs
Labels: Status: Ready to review

#5432 Adds WizardAsteriod Scene
  UnityProject/Assets/Resources/ScriptableObjects/SubScenes/AdditionalSceneList.asset
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteriod.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteriod.unity.meta
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes

#5436 Fix reaction temperature check
  UnityProject/Assets/Scripts/Systems/Chemistry/Reaction.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Tests/Chemistry/ReactionTests.cs
  UnityProject/Assets/Tests/Chemistry/ReactionTests.cs.meta
  UnityProject/Assets/Tests/Chemistry/ReagentContainerTests.cs
  UnityProject/Assets/Tests/Chemistry/ReagentContainerTests.cs.meta
Labels: System: Chemistry

#5439 Improve tilemap floodfill
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
Labels: System: Atmos, Type: Performance

#5442 Stops hostile dragon behaviour on WizardAsteroid Scene
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
Labels: Scene Changes

#5434 When calculating if something is "in reach", often checks if something is blocking the way.
  UnityProject/Assets/Resources/Prefabs/Objects/Disposals/DisposalBin.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Disposals/DisposalIntake.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Disposals/DisposalOutlet.prefab
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Items/Others/Horn.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ObjectLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
Labels: Status: DNM, UI
