Repository unitystation/unitystation, pull requests merged in 2020-02, with the labels that each got.

#2843 Fix Re-logging breaks player sprites for all equipment. #2647
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
Labels: Ready to review

#2876 Reduce nesting in CI build output.
  .github/workflows/main.yml
Labels: Tool

#2879 Removed file extension from build directory
  .github/workflows/main.yml
  UnityProject/Assets/Scripts/Editor/BuildServer.cs
Labels: Tool

#2947 Add automated docker server builds.
  .gitattributes
  .github/workflows/main.yml
  Docker/Dockerfile
  Docker/docker-compose.yml
  Docker/entrypoint.sh
Labels: DNM, Feature, Headless Only, Host Only, In Progress, Linux Only

#2906 Fix for Can't place item on a rack #2829
  UnityProject/Assets/Scripts/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Storage/Rack.cs
Labels: In Progress

#2972 Chat / Radio shortcuts
  UnityProject/Assets/Scripts/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Chat/ChatContext.meta
  UnityProject/Assets/Scripts/Chat/ChatContext/ChatInputContext.cs
  UnityProject/Assets/Scripts/Chat/ChatContext/ChatInputContext.cs.meta
  UnityProject/Assets/Scripts/Chat/ChatContext/IChatInputContext.cs
  UnityProject/Assets/Scripts/Chat/ChatContext/IChatInputContext.cs.meta
  UnityProject/Assets/Scripts/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/Chat/ParsedChatInput.cs
  UnityProject/Assets/Scripts/Chat/ParsedChatInput.cs.meta
  UnityProject/Assets/Scripts/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Items/EncryptionKey.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  UnityProject/Assets/Tests/Chat.meta
  UnityProject/Assets/Tests/Chat/ChatParseInputTests.cs
  UnityProject/Assets/Tests/Chat/ChatParseInputTests.cs.meta
Labels: In Progress

#2996 Expanded construction for Glass Windows and Grills
  UnityProject/Assets/Resources/Prefabs/Items/Mining/Materials/glass sheet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/construction/Materials/Resources/Rods.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Construction/BuildList/MetalConstructionList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Interaction/TileInteraction/DeconstructWhenWirecuttersUsed.asset
  UnityProject/Assets/Resources/ScriptableObjects/SpawnableLists/Resources.meta
  UnityProject/Assets/Resources/ScriptableObjects/SpawnableLists/Resources/Rods.asset
  UnityProject/Assets/Resources/ScriptableObjects/SpawnableLists/Resources/Rods.asset.meta
  UnityProject/Assets/Scripts/Items/PlaceableTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataNode.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grills/Grill.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grills/GrillDestroyed.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grills/GrillDestroyed.asset.meta
Labels: Engineering, Feature, Ready to review

#3004 More round end sounds and restart vote cooldowns
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/SoundManager.prefab
  UnityProject/Assets/Scripts/GameModes/Extended.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Managers/GameManager.GameMode.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/UI/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/Voting/VotingManager.cs
  UnityProject/Assets/Sounds/RoundEnd.meta
  UnityProject/Assets/Sounds/RoundEnd/apcdestroyed.ogg
  UnityProject/Assets/Sounds/RoundEnd/apcdestroyed.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/bangindonk.ogg
  UnityProject/Assets/Sounds/RoundEnd/bangindonk.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/disappointed.ogg
  UnityProject/Assets/Sounds/RoundEnd/disappointed.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/its_only_game.ogg
  UnityProject/Assets/Sounds/RoundEnd/its_only_game.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/leavingtg.ogg
  UnityProject/Assets/Sounds/RoundEnd/leavingtg.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/newroundsexy.ogg
  UnityProject/Assets/Sounds/RoundEnd/newroundsexy.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/scrunglartiy.ogg
  UnityProject/Assets/Sounds/RoundEnd/scrunglartiy.ogg.meta
  UnityProject/Assets/Sounds/RoundEnd/yeehaw.ogg
  UnityProject/Assets/Sounds/RoundEnd/yeehaw.ogg.meta
  UnityProject/Assets/Sounds/UI_Sounds/ss13_apc_destroyed.mp3
Labels: Balance, In Progress, Ready to review

#3046 Remove old travis scripts
  .travis.yml
  Travis/Old Scripts/Test.sh
  Travis/Old Scripts/buildLinux.sh
  Travis/Old Scripts/buildOSX.sh
  Travis/Old Scripts/buildWindows.sh
  Travis/Old Scripts/post_build.sh
  Travis/Old Scripts/upgrade.sh
  Travis/before_script.sh
  Travis/build.sh
  Travis/docker_build.sh
  Travis/docker_test.sh
  Travis/test.sh
  Unity_v2018.x.ulf.enc
Labels: Tool

#3024 Added Unity Test runner for editor tests
  .github/workflows/test.yml
  README.md
  UnityProject/Assets/Scripts/Chemistry/ReagentContainer.cs
Labels: In Progress

#3033 Added petting as a scriptable component.
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Ian.prefab
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs.meta
Labels: DNM, In Progress

#3013 Fixed having no hub config stopping rcon config from running.
  UnityProject/Assets/Scripts/Database/ServerData.ServerStatus.cs
  UnityProject/Assets/Scripts/Database/ServerData.cs
Labels: Admin, Bug, In Progress, Ready to review

#2930 Added hunger and basic MetabolismSystem
  UnityProject/Assets/Resources/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Anti Steak.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Anti Steak.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Meat Steak.prefab
  UnityProject/Assets/Scripts/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Chat/Chat.cs
  UnityProject/Assets/Scripts/Food/Edible.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/MetabolismSystem.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/MetabolismSystem.cs.meta
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/InteractionUtils.cs
  UnityProject/Assets/Scripts/Messages/MessageTypes.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateHungerStateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateHungerStateMessage.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/PlayerHealthUI.cs
Labels: In Progress

#3087 Atmospheric GFX added for plasma
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/PlasmaAir.asset
Labels: Animation, Atmos, Feature

#3059 Throwing over tables
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/Table.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_glass.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_poker.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_reinforced.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_wood.asset
Labels: In Progress

#3066 Access Restriction added to Door Switch
  UnityProject/Assets/Resources/Prefabs/Objects/Wallmounts/DoorSwitch.prefab
  UnityProject/Assets/Scripts/Switches/DoorSwitch.cs
Labels: In Progress

#3108 Handles missing reference test passing properly
  UnityProject/Assets/Tests/Asset/MissingAssetReferences.cs
Labels: Ready to review, Tool

#3114 Fixed #2909 (Latency letting players go over job limits)
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows (Put all window UI's in here).prefab
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Jobs/GUI_PlayerJobs.cs
Labels: Ready to review

#3159 Fixed carbon dioxide going bank into tanks.
  UnityProject/Assets/Scripts/Health/RespiratoryHealth/RespiratorySystem.cs
Labels: In Progress

#3143 Canister holding tank
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/Emergency Oxygen Tank.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/GasContainer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Tanks/Oxygen Tank.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Canisters/BaseCanister.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Canisters/CO2Canister.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Canisters/NitrogenCanister.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Canisters/OxygenCanister.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Canisters/PlasmaCanister.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabCanister.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/Traits/Usage/CanisterFillable.asset
  UnityProject/Assets/Scripts/Editor/Objects/GasContainerEditor.cs
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
  UnityProject/Assets/Scripts/Objects/Canister.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/UI/Canister/GUI_Canister.cs
  UnityProject/Assets/Scripts/UI/Net/Elements/NetSpriteImage.cs
  UnityProject/Assets/UI/Canister/Resources/ExternalTankEmpty.png
  UnityProject/Assets/UI/Canister/Resources/ExternalTankInserted.png
Labels: In Progress

#3051 Adds Lockable Lockers to the Game
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Closet_Locker_CMO.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Closet_Locker_Green.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Closet_Locker_HOP.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Closet_Locker_Security.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Closet_Locker_Warden.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Closet_Locker_mining.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Closets/Engineering Locker.prefab
  UnityProject/Assets/Scripts/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Occupations/AccessRestrictions.cs
Labels: In Progress

#3214 Starting round as a Spectator Ghost
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows (Put all window UI's in here).prefab
  UnityProject/Assets/Scripts/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/UI/Jobs/GUI_PlayerJobs.cs
Labels: Test Me On Staging

#3216 Add buildnumber to github actions builds.
  .github/workflows/main.yml
  .gitignore
  Docker/Dockerfile
  Docker/docker-compose.yml
  Docker/entrypoint.sh
  UnityProject/Assets/StreamingAssets/config/config.json
Labels: Test Me On Staging

#3236 Add staging server auto-deploy.
  .github/workflows/main.yml
  Docker/docker-compose.yml
Labels: Headless Only, Host Only

#3241 Fixed #3201 - Stuck in loading screen / No exit button.
  UnityProject/Assets/Scenes/Lobby.unity
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/UI/Lobby/GUI_LobbyDialogue.cs
Labels: Test Me On Staging

#3248 Give CE his unique belt and HoS his unique beret
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/ChiefEngineerPopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/DetectivePopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/HeadOfSecurityPopulator.asset
Labels: Test Me On Staging

#3179 Adds basic NetMessage based examine system (review and comments)
  UnityProject/Assets/Scripts/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/Interfaces/IExaminable.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/Interfaces/IExaminable.cs.meta
  UnityProject/Assets/Scripts/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestExamineMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestExamineMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/MessageTypes.cs
  UnityProject/Assets/Scripts/UI/Lobby/CharacterCustomization.cs
Labels: In Progress

#3268 Add 2019.2.19f1 version file
  UnityProject/ProjectSettings/ProjectVersion.txt
Labels: Editor

#3182 Fix: Stackable Foods in Microwaves and Eating
  UnityProject/Assets/Scripts/Items/Stackable.cs
  UnityProject/Assets/Scripts/Machines/Microwave.cs
  UnityProject/Assets/Scripts/Objects/InteractableMicrowave.cs
Labels: In Progress

#3294 Fix for trashbags being able to pick up secured items
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
Labels: Test Me On Staging

#3291 Fixes "Unknown" tooltip when hovering people
  UnityProject/Assets/Scripts/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: Test Me On Staging

#3092 Action system with free networking V1
  UnityProject/Assets/Resources/Prefabs/Items/Janitor/TrashBag.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V3(uNet).prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/ScriptableObjectSingletons.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/UIActionSOSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/UIActionSOSingleton.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/Buckled.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/Buckled.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/RestraintOverlay.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/RestraintOverlay.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/RubbishBag.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsGraphics/RubbishBag.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsSO.meta
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsSO/UIActionScriptableObject.asset
  UnityProject/Assets/Resources/ScriptableObjects/UIActionsSO/UIActionScriptableObject.asset.meta
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab.meta
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Clothing/RestraintOverlay.cs
  UnityProject/Assets/Scripts/Managers/ScriptableObjectSingletons.cs
  UnityProject/Assets/Scripts/Messages/MessageTypes.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/UI/Action.meta
  UnityProject/Assets/Scripts/UI/Action/ActionControlInventory.cs
  UnityProject/Assets/Scripts/UI/Action/ActionControlInventory.cs.meta
  UnityProject/Assets/Scripts/UI/Action/ActionData.cs
  UnityProject/Assets/Scripts/UI/Action/ActionData.cs.meta
  UnityProject/Assets/Scripts/UI/Action/IActionGUI.cs
  UnityProject/Assets/Scripts/UI/Action/IActionGUI.cs.meta
  UnityProject/Assets/Scripts/UI/Action/RequestGameAction.cs
  UnityProject/Assets/Scripts/UI/Action/RequestGameAction.cs.meta
  UnityProject/Assets/Scripts/UI/Action/RequestGameActionSO.cs
  UnityProject/Assets/Scripts/UI/Action/RequestGameActionSO.cs.meta
  UnityProject/Assets/Scripts/UI/Action/SetActionUI.cs
  UnityProject/Assets/Scripts/UI/Action/SetActionUI.cs.meta
  UnityProject/Assets/Scripts/UI/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Action/UIAction.cs.meta
  UnityProject/Assets/Scripts/UI/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Action/UIActionManager.cs.meta
  UnityProject/Assets/Scripts/UI/Action/UIActionSOSingleton.cs
  UnityProject/Assets/Scripts/UI/Action/UIActionSOSingleton.cs.meta
  UnityProject/Assets/Scripts/UI/Action/UIActionScriptableObject.cs
  UnityProject/Assets/Scripts/UI/Action/UIActionScriptableObject.cs.meta
  UnityProject/Assets/Scripts/UI/AlertUI.cs
  UnityProject/Assets/Scripts/UI/AlertUI.cs.meta
  UnityProject/Assets/Scripts/UI/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/UIManager.cs
  docs/development/How-to-use-UIActions.md
Labels: Test Me On Staging

#3303 Banana peel from banana
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Banana.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Banana.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/banana seed packet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/food.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Trash/Banana peel.prefab
Labels: Test Me On Staging

#3300 Welderable glass shards, Construction list for Glass Sheets
  UnityProject/Assets/Resources/Prefabs/Items/Mining/Materials/glass sheet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/construction/Materials/Resources/GlassShard.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Construction/BuildList/GlassConstructionList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Construction/BuildList/GlassConstructionList.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjects/Traits/Usage/Transformable.asset
  UnityProject/Assets/Resources/ScriptableObjects/Traits/Usage/Transformable.asset.meta
  UnityProject/Assets/Scripts/Items/Others/TransformableItem.cs
  UnityProject/Assets/Scripts/Items/Others/TransformableItem.cs.meta
  UnityProject/Assets/Scripts/Items/PlaceableTile.cs
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
Labels: Test Me On Staging

#3290 Increases accuracy of NutritionLevel and fixed some things
  UnityProject/Assets/Resources/Prefabs/Items/Bureaucracy/HandLabeler.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Food.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/4no raisins.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Anti Steak.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Beef Jerky.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Cooked Cutlet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Donut.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Meat Cutlet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Meat Steak.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/food/Meat.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/CraftingManager.prefab
  UnityProject/Assets/Scripts/Health/BloodHealth/MetabolismSystem.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/HandLabeler.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Weapons/Meleeable.cs
Labels: Test Me On Staging

#3316 Makes turning off light not make the bulb disappear
  UnityProject/Assets/Scripts/Lighting/LightSource.cs
Labels: Test Me On Staging

#3333 More Shift-click features + a gun fix
  UnityProject/Assets/Scripts/Construction/ComputerFrame.cs
  UnityProject/Assets/Scripts/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Input System/InteractionV2/Interfaces/IExaminable.cs
  UnityProject/Assets/Scripts/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/Items/EncryptionKey.cs
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestExamineMessage.cs
  UnityProject/Assets/Scripts/Objects/Construction/Girder.cs
  UnityProject/Assets/Scripts/Objects/Construction/ReinforcedGirder.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/UI Bottom/UI_ItemSwap.cs
  UnityProject/Assets/Scripts/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Weapons/MagazineBehaviour.cs
Labels: Test Me On Staging

#3332 Basic Cleanbot
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Cleanbot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Cleanbot.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Floorbot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Floorbot.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Medibot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Medibot.prefab.meta
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobExplore.cs
Labels: Feature, Test Me On Staging

#3327 Feature: Chaplain's Null Rod
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Extradimensional Blade.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Extradimensional Blade.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Null Rod.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Null Rod.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Relic Hammer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Melee/NullRod/Relic Hammer.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabNullRod.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabNullRod.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/ChaplainPopulator.asset
  UnityProject/Assets/Scripts/Items/Others/NullRod.cs
  UnityProject/Assets/Scripts/Items/Others/NullRod.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/UI/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/PopUps/GUI_NullRod.cs
  UnityProject/Assets/Scripts/UI/PopUps/GUI_NullRod.cs.meta
  UnityProject/Assets/Scripts/Weapons/Melee/ExtradimBlade.cs
  UnityProject/Assets/Scripts/Weapons/Melee/ExtradimBlade.cs.meta
Labels: DNM

#3345 Fixes paletteable shoes
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BlackShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/BrownShoes.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Feetwear/WhiteShoes.prefab
  UnityProject/Assets/Textures/clothing/shoes/Black shoes/black shoes.asset
  UnityProject/Assets/Textures/clothing/shoes/Black shoes/shoes_black.json.meta
  UnityProject/Assets/Textures/clothing/shoes/Black shoes/shoes_black.png
  UnityProject/Assets/Textures/clothing/shoes/Black shoes/shoes_black.png.meta
  UnityProject/Assets/Textures/clothing/shoes/Black shoes/shoes_black_icon.png
  UnityProject/Assets/Textures/clothing/shoes/brown shoes/shoes_brown.asset
  UnityProject/Assets/Textures/clothing/shoes/brown shoes/shoes_brown.json.meta
  UnityProject/Assets/Textures/clothing/shoes/brown shoes/shoes_brown.png
  UnityProject/Assets/Textures/clothing/shoes/brown shoes/shoes_brown_Icon.png
  UnityProject/Assets/Textures/clothing/shoes/brown shoes/shoes_brown_Icon.png.meta
  UnityProject/Assets/Textures/clothing/shoes/shoes_icon_paletteable.png
  UnityProject/Assets/Textures/clothing/shoes/shoes_icon_paletteable.png.meta
  UnityProject/Assets/Textures/clothing/shoes/shoes_paletteable.json
  UnityProject/Assets/Textures/clothing/shoes/shoes_paletteable.json.meta
  UnityProject/Assets/Textures/clothing/shoes/shoes_paletteable.png
  UnityProject/Assets/Textures/clothing/shoes/shoes_paletteable.png.meta
  UnityProject/Assets/Textures/clothing/shoes/white shoes/shoes_white.json.meta
  UnityProject/Assets/Textures/clothing/shoes/white shoes/shoes_white.png
  UnityProject/Assets/Textures/clothing/shoes/white shoes/shoes_white_icon.png
  UnityProject/Assets/Textures/clothing/shoes/white shoes/shoes_white_icon.png.meta
  UnityProject/Assets/Textures/clothing/shoes/white shoes/white shoes.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_b_shoes.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_b_shoes.json.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_b_shoes.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_bl_shoes.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_bl_shoes.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_bl_shoes.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_shoes_paletteable.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_shoes_paletteable.json.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_shoes_paletteable.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_shoes_paletteable.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_w_shoes.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_w_shoes.json.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_w_shoes.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_lefthand/clothing_lefthand_w_shoes.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_b_shoes.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_b_shoes.json.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_b_shoes.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_b_shoes.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_bl_shoes.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_bl_shoes.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_bl_shoes.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_shoes_paletteable.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_shoes_paletteable.json.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_shoes_paletteable.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_shoes_paletteable.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_w_shoes.json
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_w_shoes.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/clothing_righthand/clothing_righthand_w_shoes.png.meta
Labels: Test Me On Staging

#3389 Automate Staging server client upload.
  .github/workflows/main.yml
  Docker/docker-compose.yml
  Docker/entrypoint.sh
Labels: Tool

#3406 Change to lowercase.
  .github/workflows/main.yml
  Docker/Dockerfile
  Docker/docker-compose.yml
  Docker/entrypoint.sh
Labels: Tool

#3405 Adds 7 new pets to choose from!
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Coffee.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Coffee.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Gaggle.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Gaggle.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Henrietta.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Henrietta.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Jerry.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Jerry.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Paperwork.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Paperwork.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Polly.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Polly.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Sergeant_Araneus.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/NPC_Sergeant_Araneus.prefab.meta
Labels: Test Me On Staging
