Repository unitystation/unitystation, pull requests merged in 2020-12, with the labels that each got.

#5675 Add ghost role system
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GhostRoleManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GhostRoleManager.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/GhostHud.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows/GhostRoleWindow.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows/GhostRoleWindow.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows/GhostRoleWindowEntry.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Windows/GhostRoleWindowEntry.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/SubSystemManagers(Place in every map scene).prefab
  UnityProject/Assets/Resources/ScriptableObjects/Systems.meta
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles.meta
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/DeathSquad.asset
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/DeathSquad.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/GhostRoleList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/GhostRoleList.asset.meta
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Effects/AnimateIcon.cs
  UnityProject/Assets/Scripts/Effects/AnimateIcon.cs.meta
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles.meta
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles/RequestAvailableGhostRolesMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles/RequestAvailableGhostRolesMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles/RequestGhostRoleMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles/RequestGhostRoleMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles.meta
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleResponseMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleResponseMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/ServerMessage.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GhostRoleData.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GhostRoleData.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/GhostRoleList.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GhostRoleList.cs.meta
  UnityProject/Assets/Scripts/Systems/GhostRoles.meta
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs.meta
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs.meta
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/CentCommPage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Ghost/GhostRoleWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Ghost/GhostRoleWindow.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Ghost/GhostRoleWindowEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Ghost/GhostRoleWindowEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#5693 Compiler warnings and runtime error fixes
  UnityProject/Assets/Resources/Prefabs/Mobs/DamageMonitorListener.cs
  UnityProject/Assets/Resources/Prefabs/Mobs/NPC/Resources/Friendly/NPC_Gaggle.prefab
  UnityProject/Assets/Scripts/Clothing/PlayerTextureDataSOs.cs
  UnityProject/Assets/Scripts/Core/Addressables/AssetLoadingPopup.cs
  UnityProject/Assets/Scripts/Core/Addressables/Types/AddressableReference.cs
  UnityProject/Assets/Scripts/Core/Camera/Camera2DFollow.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatHelpWindowUI.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatPlayerNameTooltip.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.ServerStatus.cs
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/AddressablePicker.cs
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/AddressableReferencePropertyDrawer.cs
  UnityProject/Assets/Scripts/Core/Editor/BuildServer.cs
  UnityProject/Assets/Scripts/Core/Editor/PostBuildActions.cs
  UnityProject/Assets/Scripts/Core/Editor/ProcessExtension.cs
  UnityProject/Assets/Scripts/Core/Editor/ThemeHandlerEditor.cs
  UnityProject/Assets/Scripts/Core/Editor/Tools/FindAddressableAudioSource.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/ServerValidations.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
  UnityProject/Assets/Scripts/Managers/AssetManager.cs
  UnityProject/Assets/Scripts/Managers/PopUpAddressable/AssetLoadingPopupManager.cs
  UnityProject/Assets/Scripts/Objects/Botany/SeedExtractor.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/SurvivalistMagic.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeData.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSummonGuns.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/Forcewall.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/UI/Core/PanelHudBottomController.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowSlot.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
  UnityProject/Assets/Scripts/UI/Core/Windows/TeleportWindow/TeleportApplyButton.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_PipeDispenser.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayersScrollView.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminRespawnPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/EventsManagerPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
  UnityProject/Assets/Scripts/UI/Systems/Alerts/UI_HeartMonitor.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlClothing.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Hands.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_StorageHandler.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#5728 Update Lobby and OnlineScene. Readd MatrixMove to other scenes.
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scenes/AdditionalScenes/SyndicateOutpost.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
Labels: Scene Changes

#5730 Basic bread monster.
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/BreadSnacks/BreadMonsterLoafDead.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/BreadSnacks/BreadMonsterLoafDead.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/BreadSnacks/BreadMonsterSlice.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/BreadSnacks/BreadMonsterSlice.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/MonsterBreadLoaf.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/MonsterBreadLoaf.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/_SimpleAnimalBase.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/CraftingManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/FoodRecipes/Slices/BreadSlices/MonsterBreadSlices.asset
  UnityProject/Assets/Resources/ScriptableObjects/FoodRecipes/Slices/BreadSlices/MonsterBreadSlices.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread.asset
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread.asset.meta
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread.png
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread.png.meta
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread_dead.asset
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread_dead.asset.meta
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread_dead.png
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbread_dead.png.meta
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbreadslice.asset
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbreadslice.asset.meta
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbreadslice.png
  UnityProject/Assets/Textures/items/food/burgerbread/burgerbread_monsterbreadslice.png.meta
Labels: Sprite Work

#5736 implement colored ui's for pdas
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAAtmospherics.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDABartender.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDABotanist.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDACaptain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDACargoTechnician.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAChaplain.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAChemist.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAChiefEngineer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAChiefMedicalOfficer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAClown.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDACook.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDACurator.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDADetective.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAEngineering.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAGeneticist.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAHeadOfPersonnel.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAHeadOfSecurity.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAJanitor.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDALawyer.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAMedical.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAMime.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAQuartermaster.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAResearchDirector.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDARoboticist.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAScientist.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDASecurity.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAShaftMiner.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDASyndicate.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAVirology.prefab
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDAWarden.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabPDA.prefab
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDA.cs
  UnityProject/Assets/UI/PDA/pda_logo.png
  UnityProject/Assets/UI/PDA/pda_logo.png.meta
  UnityProject/Assets/UI/PDA/pda_overlay0.png
  UnityProject/Assets/UI/PDA/pda_overlay0.png.meta
  UnityProject/Assets/UI/PDA/pda_overlay01.png
  UnityProject/Assets/UI/PDA/pda_overlay01.png.meta
  UnityProject/Assets/UI/PDA/pda_overlay02.png
  UnityProject/Assets/UI/PDA/pda_overlay02.png.meta
  UnityProject/Assets/UI/PDA/pda_overlay03.png
  UnityProject/Assets/UI/PDA/pda_overlay03.png.meta
  UnityProject/Assets/UI/PDA/pda_overlay04.png
  UnityProject/Assets/UI/PDA/pda_overlay04.png.meta
Labels: UI

#5738 How to Map Additions
  docs/assets/images/HowToMap/APC_autoconnect.gif
  docs/assets/images/HowToMap/adding_role_to_maps.png
  docs/assets/images/HowToMap/hireachy_hide.gif
  docs/assets/images/HowToMap/search_for_prefab.png
  docs/assets/images/HowToMap/sidebar.png
  docs/assets/images/HowToMap/spawn_points.PNG
  docs/assets/images/HowToMap/wire_connections.png
  docs/development/How-to-Map.md
Labels: Documentation

#5740 Minor Formatting Fixes
  docs/development/How-to-Map.md
Labels: Documentation

#5731 Moves pipes and atmospheric reactions to the atmospherics thread.
  UnityProject/Assets/Scripts/Core/Initialisation/LoadManager.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/RemoveTileMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/RemoveTileMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs.meta
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirVent.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Scrubber.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/FireAlarm.cs
  UnityProject/Assets/Scripts/Systems/Fluids/LiquidPipeNet.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeData.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventOxyToPlasma.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosThread.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/BZFormation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/FreonFireReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/FreonFormation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/FusionReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/HyperNobliumFormation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/MiasmaDecomposition.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/NO2Decomposition.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/NO2Formation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/NitrylFormation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/PlasmaFireReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/Reaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/Reactions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/StimBallReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/StimulumFormation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/TritiumFireReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/WaterVapourReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Hotspot.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataNode.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Editor/Brushes/LevelBrush.cs
Labels: Status: Ready to review

#5747 Formating changes
  docs/development/How-to-Map.md
Labels: Documentation

#5748 Attempting to fix the bullet points again
  docs/development/How-to-Map.md
Labels: Documentation

#5750 Fixes ghost roles, paper, objectives (restarting)
  UnityProject/Assets/Resources/Prefabs/Items/Bureaucracy/Paper.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabPaper.prefab
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objective.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
Labels: UI

#5753 Another How-To-Map Format Fix Attempt
  docs/development/How-to-Map.md
Labels: Documentation

#5365 Mentor System
  .gitignore
  UnityProject/Assets/Resources/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/MentorReplyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/MentorReplyMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestMentorBwoink.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestMentorBwoink.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminChatNotifications.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminEnableMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorBwoinkMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorBwoinkMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorEnableMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorEnableMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorPlayerChatUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorPlayerChatUpdateMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/ServerMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminChatButtons.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminChatWindows.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayersScrollView.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/MentorHelpChat.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/MentorHelpChat.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/MentorPlayerChat.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/MentorPlayerChat.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Standard Assets/Logger/Logger.cs
  UnityProject/Assets/StreamingAssets/admin/mentors.txt
  UnityProject/Assets/StreamingAssets/admin/mentors.txt.meta
Labels: Scene Changes, UI

#5758 Now when the player tries to unbuckle while handcuffed, it is possible to do so (in a minute)
  UnityProject/Assets/Scripts/Objects/Furniture/BuckleInteract.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressActionType.cs
Labels: UI

#5774 Fixes some PDA issues, improve player identity behaviour
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/BioHoods/BioHood.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/BlackRedSpaceHelmetReplica.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/BombHoods/BombHood.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/CrusaderHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/RadiationHood.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/OfficersBeret.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PirateBandanaSpace.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PirateHatSpace.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SpaceHelmetBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/WeldingHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Maskwear.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Maskwear/BreathMask.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Maskwear/CarpMask.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Maskwear/MedicalMask.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Maskwear/SecurityGasMask.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Maskwear/SterileMask.prefab
  UnityProject/Assets/Scripts/Clothing/ClothingV2.cs
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Mobs/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antagonist.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/Blob.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Cargonian.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Fugitive.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/NuclearOperative.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Survivor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Traitor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Wizard.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSummonGuns.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
Labels: Status: Ready to review, UI

#5777 BlobNet
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobCore.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobFactory.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobNode.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobNormal.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobReflective.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobResource.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Blob/BlobStrong.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/BlobHud.prefab
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStructure.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Blob.cs
  UnityProject/Assets/Standard Assets/PathFinder.meta
  UnityProject/Assets/Standard Assets/PathFinder/AStarFinder.cs
  UnityProject/Assets/Standard Assets/PathFinder/AStarFinder.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/DiagonalMovement.cs
  UnityProject/Assets/Standard Assets/PathFinder/DiagonalMovement.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/Grid.meta
  UnityProject/Assets/Standard Assets/PathFinder/Grid/BaseGrid.cs
  UnityProject/Assets/Standard Assets/PathFinder/Grid/BaseGrid.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/Grid/DynamicGrid.cs
  UnityProject/Assets/Standard Assets/PathFinder/Grid/DynamicGrid.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/Grid/DynamicGridWPool.cs
  UnityProject/Assets/Standard Assets/PathFinder/Grid/DynamicGridWPool.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/Grid/PartialGridWPool.cs
  UnityProject/Assets/Standard Assets/PathFinder/Grid/PartialGridWPool.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/Grid/StaticGrid.cs
  UnityProject/Assets/Standard Assets/PathFinder/Grid/StaticGrid.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/GridPos.cs
  UnityProject/Assets/Standard Assets/PathFinder/GridPos.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/GridRect.cs
  UnityProject/Assets/Standard Assets/PathFinder/GridRect.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/Heuristic.cs
  UnityProject/Assets/Standard Assets/PathFinder/Heuristic.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/JumpPointFinder.cs
  UnityProject/Assets/Standard Assets/PathFinder/JumpPointFinder.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/NodePool.cs
  UnityProject/Assets/Standard Assets/PathFinder/NodePool.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/ParamBase.cs
  UnityProject/Assets/Standard Assets/PathFinder/ParamBase.cs.meta
  UnityProject/Assets/Standard Assets/PathFinder/UnityC5.meta
  UnityProject/Assets/Standard Assets/PathFinder/UnityC5/C5.dll
  UnityProject/Assets/Standard Assets/PathFinder/UnityC5/C5.dll.meta
  UnityProject/Assets/Standard Assets/PathFinder/Util.cs
  UnityProject/Assets/Standard Assets/PathFinder/Util.cs.meta
Labels: UI

#5782 Updates HowToMap Page with more information and pictures
  docs/assets/images/HowToMap/atmos_pipes.PNG
  docs/assets/images/HowToMap/log_levels.gif
  docs/assets/images/HowToMap/matrix_check.gif
  docs/assets/images/HowToMap/test_runner.PNG
  docs/assets/images/HowToMap/tile_palette.gif
  docs/development/How-to-Map.md
Labels: Documentation

#5785 fix intent keybinds
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Player/ItemLightControl.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/NamedSlot.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowSlot.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
Labels: UI

#5786 Comply with requested changes in #4524
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/DeconstructDisposalPipe.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalIntake.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalMachine.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalOutlet.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipe.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipeBroken.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipeObject.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
  UnityProject/Assets/Scripts/Objects/Disposals/PipeDispenser.cs
  UnityProject/Assets/Scripts/Systems/Construction/WrenchSecurable.cs
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalTraversal.cs
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalsManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_DisposalBin.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_PipeDispenser.cs
Labels: UI

#5790 Fix wizard bugs
  UnityProject/Assets/Resources/Prefabs/Effects/ElectricalArcEffect.prefab
  UnityProject/Assets/Resources/Prefabs/Effects/ElectricalArcEffect.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GhostRoleManager.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Lighting/ElectricalArcGlow.cs
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Messages/Server/ElectricalArcMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
  UnityProject/Assets/Scripts/Objects/Other/DropPod.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Wizard.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ElectricalArc.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/SpawnByPortal.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
Labels: UI

#5784 Fix Centcom announcement sounds so they use addressables
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/GameScreenManager.cs
  UnityProject/Assets/Scripts/Managers/GameScreenManager.cs.meta
  UnityProject/Assets/Scripts/Managers/Managers.cs
  UnityProject/Assets/Scripts/Managers/SettingsManager/DisplaySettings.cs
  UnityProject/Assets/Scripts/Objects/Gateway/StationGateway.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Objects/StatusDisplay.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Strings.meta
  UnityProject/Assets/Scripts/Strings/ChatTemplates.cs
  UnityProject/Assets/Scripts/Strings/ChatTemplates.cs.meta
  UnityProject/Assets/Scripts/Strings/ReportTemplates.cs
  UnityProject/Assets/Scripts/Strings/ReportTemplates.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Fugitive.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventAsteroids.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventGiveGuns.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventGiveItems.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventImmovableRod.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventOxyToPlasma.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSickness.cs
  UnityProject/Assets/Scripts/UI/Core/CameraZoomHandler.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/DisplayOptions.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/RoundManagerPage.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_PlayerOptions.cs
Labels: Status: Ready to review, UI
