Repository unitystation/unitystation, pull requests merged in 2020-11, with the labels that each got.

#5459 Improve issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  docs/issue_template.md
Labels: Documentation

#5456 Drinking glass icon fixes
  UnityProject/Assets/Scripts/ChemistryComponents/MorphableReagentContainer.cs
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainerFillVisualisation.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

#5464 Suggest using draft feature instead of DNM
  docs/CONTRIBUTING.md
Labels: Documentation

#5465 Canister server crash fix
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/Canister/GUI_Canister.cs
Labels: UI

#5449 Removes pushing of nonblocking objects and fixes pulling of blocking objects
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
Labels: Status: Ready to review

#5418 Fix guns but for real
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/BuzzsawLMG.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/BuzzsawLMGUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/BuzzsawLMGUnrestricted.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/M90glCarbine.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/M90glCarbineUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/M90glCarbineUnrestricted.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Migraine50SniperRifle.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Migraine50SniperRifleUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Migraine50SniperRifleUnrestricted.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/StalkerSMG.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/StalkerSMGUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/StalkerSMGUnrestricted.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/_GunBase.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunPKA.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/MagazineBehaviour.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDamageIntegrityKinetic.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
Labels: Status: DNM, Status: Ready to review

#5488 Energy gun fixes
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/AcceleratorLaserCannon.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/DisablerPistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbow.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbowMini.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/ImperatorLaserGun.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/IonCarbine.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/IonProjector.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/LaserCarbine.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/TaserV42.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/XRayCarbine.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Energy/_GunEnergyBase.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunPKA.cs
  UnityProject/Assets/Scripts/Items/Weapons/MagazineBehaviour.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
Labels: Status: Merge Conflicts

#5485 Add more info to Stats tab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerListUI.cs
Labels: UI

#5494 fix centcom atmos issues
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
Labels: Scene Changes

#5495 Some canister code cleanup
  UnityProject/Assets/Scripts/Objects/Canisters/Canister.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/Canister/GUI_Canister.cs
Labels: UI

#5505 New ore redemption machine and mining vendor sprites by Ghommie.
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/Ore Redemption Machine.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/mining_machines_54.prefab
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining-deny.asset
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining-deny.png
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining-off.png
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining-open.png
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining.asset
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining.png
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_mining.png.meta
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_ore_redemption-off.png
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_ore_redemption-open.png
  UnityProject/Assets/Textures/objects/machines/mining_machines/mining_machines_ore_redemption.png
Labels: Sprite Work

#5511 Fixes canisters GUI not showing the correct color and label
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/Canister/GUI_Canister.cs
Labels: UI

#5521 Cloning fixes
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_Cloning.cs
Labels: UI

#5525 wizard ship 95% complete
  UnityProject/Assets/Resources/ScriptableObjects/SubScenes/AdditionalSceneList.asset
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
Labels: Scene Changes

#5532 Revert removal of ProjectVersion.txt
  .gitignore
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPromotion.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestGameModeUpdate.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevCloneMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevDestroyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevSpawnMessage.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Fugitive.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerAlerts.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  UnityProject/ProjectSettings/ProjectVersion.txt
Labels: UI

#5544 Some interactable/movement refactoring
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Editor/Matrix/Views/MetaTileMapView.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnDestination.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/PaperBin.cs
  UnityProject/Assets/Scripts/Items/Others/Horn.cs
  UnityProject/Assets/Scripts/Items/Others/Restraint.cs
  UnityProject/Assets/Scripts/Items/PlaceItemAsObject.cs
  UnityProject/Assets/Scripts/Items/Renameable.cs
  UnityProject/Assets/Scripts/Items/Storage/RackParts.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevCloneMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestBuildMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestConveyorBuildMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestElectricalStats.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestHackingNodeConnections.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/PlaySoundMessage.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/FaceHuggerAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAgent.cs
  UnityProject/Assets/Scripts/NPC/AI/MobFlee.cs
  UnityProject/Assets/Scripts/NPC/AI/MobPathFinder.cs
  UnityProject/Assets/Scripts/Objects/Cargo/ConveyorBelts/ConveyorBelt.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorController.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ChairDraggable.cs
  UnityProject/Assets/Scripts/Objects/Medical/BodyBag.cs
  UnityProject/Assets/Scripts/Objects/PlayerFlippable.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Player/TeleportUtils.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Hacking/HackingProcesses/HackingProcessBase.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ObjectLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/BasicTile.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
Labels: UI

#5564 Tool to disable additional scenes for temporary builds
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs.meta
Labels: Group: Editor

#5598 Replace hardcoded colors and make the colors match mapped piping
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabPipeDispenser.prefab
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_PipeDispenser.cs
Labels: UI

#5599 Adds spell upgrading system
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/Book/SpellBookCategoryEntry.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/Book/SpellBookEntry.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/Book/SpellBookEntry.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/Scroll/TeleportScrollEntry.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabTeleportScroll.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/Blink.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/Fireball.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/Forcewall.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/LesserSummonGuns.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/LightningBolt.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/Teleport.asset
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/Items/Others/Magical/BookOfSpells.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/ScrollOfTeleportation.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Items/SpellBook/SpellBookSpell.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Wizard.cs
  UnityProject/Assets/Scripts/Systems/Spells/Spell.cs
  UnityProject/Assets/Scripts/Systems/Spells/SpellData.cs
  UnityProject/Assets/Scripts/Systems/Spells/WizardSpellData.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Items/Scroll/GUI_TeleportScroll.cs
  UnityProject/Assets/Scripts/UI/Items/SpellBook/GUI_SpellBook.cs
  UnityProject/Assets/Scripts/UI/Items/SpellBook/GUI_SpellBookEntry.cs
  UnityProject/Assets/Scripts/UI/Items/SpellBook/GUI_SpellBookEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Items/SpellBook/GUI_SpellBookSpellEntry.cs
Labels: UI

#5604 Fixes speech inside a locker reaching all players.
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/NPC/AI/Friendly/ParrotAI.cs
  UnityProject/Assets/Scripts/Objects/Botany/SeedExtractor.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Objects/Posters/PosterBehaviour.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Botany/SeedExtractor/GUI_SeedExtractor.cs
Labels: UI

#5600 add more gasses into filters
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabFilter.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabPipeDispenser.prefab
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_PipeDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/Pipes/GUI_Filter.cs
Labels: UI

#5607 New Mosin-Nagant and "Cutthroat" sprites by schwick.
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/MosinNagantM1891.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/Cutthroat9Pistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/Cutthroat9SMachinePistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/M1911Pistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/OP70Handgun.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/Punisher44Mag.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/ToyGuns/FoamForcePistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/ToyGuns/FoamForcePistolUnrestricted.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/ToyGuns/FoamForceShotgun.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/clothing/back/back_moistnugget.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19p-0.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19p-8.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19p.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pA-0.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pA-8.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pA.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pH-0.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pH-8.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pH.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pI-0.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pI-8.png
  UnityProject/Assets/Textures/items/ammo/ammo_9x19pI.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_moistnugget.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_moistnugget_bolt.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_moistnugget_bolt_locked.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_moistnugget_sawn.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_moistnugget_sawn_bolt.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_moistnugget_sawn_bolt_locked.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_bolt.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_bolt_locked.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_magazine.asset
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_magazine.asset.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_magazine.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_magazine.png.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_suppressor.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_toy.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_moistnugget.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_moistnugget_sawn.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_moistnugget_sawn.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_moistnugget_sawn.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_moistnugget_sawn.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_pistol.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_pistol.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_pistol.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_lefthand/guns_lefthand_pistol.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_moistnugget.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_moistnugget_sawn.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_moistnugget_sawn.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_moistnugget_sawn.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_moistnugget_sawn.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_pistol.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_pistol.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_pistol.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/guns_righthand/guns_righthand_pistol.png.meta
Labels: Sprite Work

#5615 New Stechkin sprites. Rename Cutthroat to Makarov.
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/MakarovPistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/MakarovPistol.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/StechkinMachinePistol.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Guns/Ballistics/Pistols/StechkinMachinePistol.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/PDA/UplinkCategoryList.asset
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/items/ammo/ammo_9mmaps-0.png
  UnityProject/Assets/Textures/items/ammo/ammo_9mmaps-10.png
  UnityProject/Assets/Textures/items/ammo/ammo_9mmaps-15.png
  UnityProject/Assets/Textures/items/ammo/ammo_9mmaps-5.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_bolt.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_bolt_locked.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_mag.asset
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_mag.asset.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_mag.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_mag.png.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_suppressor.asset
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_suppressor.asset.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_suppressor.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_aps_suppressor.png.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_mag.asset
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_mag.asset.meta
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_mag.png
  UnityProject/Assets/Textures/items/guns/projectile/projectile_pistol_mag.png.meta
Labels: Sprite Work

#5624 Add wizard summoning rituals
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Survivor.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Survivor.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/SurvivalistGuns.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/SurvivalistGuns.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/SurvivalistMagic.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/SurvivalistMagic.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Gun/GunList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Gun/GunList.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Items/SpellBook/Rituals.meta
  UnityProject/Assets/Resources/ScriptableObjects/Items/SpellBook/Rituals/SummonGuns.asset
  UnityProject/Assets/Resources/ScriptableObjects/Items/SpellBook/Rituals/SummonGuns.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Items/SpellBook/Rituals/SummonMagic.asset
  UnityProject/Assets/Resources/ScriptableObjects/Items/SpellBook/Rituals/SummonMagic.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Items/SpellBook/SpellBookData.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/MagicList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Spells/Wizard/MagicList.asset.meta
  UnityProject/Assets/Scripts/Items/Others/Magical/BookOfSpells.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GameObjectList.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GameObjectList.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Items/SpellBook/SpellBookRitual.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Items/SpellBook/SpellBookRitual.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Antagonist.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Survivor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Survivor.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Objective.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Steal.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/SurvivalistGuns.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/SurvivalistGuns.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/SurvivalistMagic.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/SurvivalistMagic.cs.meta
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventGiveGuns.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSummonGuns.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSummonGuns.cs.meta
  UnityProject/Assets/Scripts/UI/Items/SpellBook/GUI_SpellBook.cs
  UnityProject/Assets/Scripts/UI/Items/SpellBook/GUI_SpellBookEntry.cs
Labels: UI

#5633 UI Changes
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/Panel_ToolTip.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PlayerHealth_UI_Hud.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Health/BodyParts/BodyPartBehaviour.cs
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/chest_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/eyes_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/head_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/hips_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/l_arm_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/l_foot_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/l_hand_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/l_leg_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/mouth_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/r_arm_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/r_foot_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/r_hand_target.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_new/Health/targets/r_leg_target.png
Labels: Scene Changes, Sprite Work, Status: DNM, UI

#5651 Fixes papers being unable to be written.
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
Labels: UI

#5650 Action text stuff
  UnityProject/Assets/Resources/Prefabs/ActionText.prefab
  UnityProject/Assets/Resources/Prefabs/ActionText.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/ChatBubbleManager.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Messages/Server/ShowChatBubbleMessage.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ActionText.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ActionText.cs.meta
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
Labels: UI
