Repository unitystation/unitystation, pull requests merged in 2020-01, with the labels that each got.

#2512 Player slots work again
  UnityProject/Assets/Scripts/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Messages/Server/ForceJobListUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ForceJobListUpdateMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/UI/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/NukeOpsGameMode/GUI_NukeOps.cs
Labels: Ready to review

#2546 #2535 Fix Object Descriptions
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
Labels: DNM

#2542 Variable viewer now Can change, int strings floats, enum and bools
  UnityProject/Assets/Scripts/Messages/MessageTypes.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Bool/GUI_P_Bool.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Class/GUI_P_Class.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Class/UIClassButton.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/GUI_P_Collection.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/PCollection.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Eume/GUI_P_Eume.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Eume/PEume.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/InputField/GUI_P_Input.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/InputField/UIInputField.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/PageElement.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/VariableViewerUIFunctionHandler.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/GUI_PageEntry.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/GUI_VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/PageVariable.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/Book.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/BookshelfViewer - Copy.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/HeldBook.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/RequestChangeVariableNetMessage.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/RequestChangeVariableNetMessage.cs.meta
  UnityProject/Assets/Scripts/Variable Viewer/VariableViewerNetworking.cs
  UnityProject/Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Labels: Ready to review

#2558 Atmospheric, Speed setting, new plasma reaction, Fire does less damage
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AtmosManager.prefab
  UnityProject/Assets/Scripts/Editor/Matrix/AtmosManagerEditor.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosThread.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMixes.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Hotspot.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: Atmos, Discussion

#2609 Protection against NaN in Atmos
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
Labels: DNM

#2708 Unified chat log & chat bubble modifiers, and various chat bubble changes.
  UnityProject/Assets/Resources/Prefabs/ChatCanvas.prefab
  UnityProject/Assets/Scripts/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Chat/Chat.cs
  UnityProject/Assets/Scripts/Chat/ChatEvent.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/PlayerChatBubble/PlayerChatBubble.cs
  UnityProject/Assets/UI/Fonts/ComicSans.meta
  UnityProject/Assets/UI/Fonts/ComicSans/ComicSans.asset
  UnityProject/Assets/UI/Fonts/ComicSans/ComicSans.asset.meta
  UnityProject/Assets/UI/Fonts/ComicSans/ComicSans.ttf
  UnityProject/Assets/UI/Fonts/ComicSans/ComicSans.ttf.meta
Labels: Refactor, UI

#2741 Player chat icon position now 0. Changed pivot on default icon. (Thes…
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V3(uNet).prefab
  UnityProject/Assets/Textures/interface/HUD/talk/talk_default0.png.meta
Labels: lol
