Repository unitystation/unitystation, pull requests merged in 2021-07, with the labels that each got.

#6900 Organizes human spawn steps slightly
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/Gauze.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningPod.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
Labels: UI

#6903 Modifying an asteroid and ruin scenes, asteroid tile tweaks.
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Tilemaps/Palettes/Base Floors.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/asteroid9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand10.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand11.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand12.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand13.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand14.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand15.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand8.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand9.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/ironsand_dug.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rock_wall.asset
Labels: Scene Changes

#6536 Tips system (Part 1/3)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Prefabs/UI/Learning.meta
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab
  UnityProject/Assets/Prefabs/UI/Learning/Tips.prefab.meta
  UnityProject/Assets/Prefabs/UI/LoadingScreen.prefab
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/TipsUI.cs.meta
  UnityProject/Assets/Strings/tips.meta
  UnityProject/Assets/Strings/tips/GeneralTips.asset
  UnityProject/Assets/Strings/tips/GeneralTips.asset.meta
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6910 Fixes oxygen UI
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
Labels: UI

#6927 Ai Fixes
  UnityProject/Assets/Prefabs/Items/Research/Ai/InteliCard.prefab
  UnityProject/Assets/Prefabs/Objects/Research/AiCore.prefab
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/CameraAssembly.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Objects/Research/AiLawModule.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Objects/StatusDisplay.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/CameraAssembly.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/CameraAssembly.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/ScriptableObjects/CommonPrefabs.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiUploadConsole.cs
  UnityProject/Assets/Scripts/UI/Core/GeneralInputField.cs
Labels: UI

#6932 First iteration for integrating the new clearance framework
  UnityProject/Assets/Scripts/Core/Editor/AirlockMigrationTool.cs
  UnityProject/Assets/Scripts/Core/Editor/AirlockMigrationTool.cs.meta
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/AccessModule.cs
  UnityProject/Assets/Scripts/Systems/Clearance.meta
  UnityProject/Assets/Scripts/Systems/Clearance/BasicClearanceProvider.cs
  UnityProject/Assets/Scripts/Systems/Clearance/BasicClearanceProvider.cs.meta
  UnityProject/Assets/Scripts/Systems/Clearance/CheckType.cs
  UnityProject/Assets/Scripts/Systems/Clearance/CheckType.cs.meta
  UnityProject/Assets/Scripts/Systems/Clearance/Clearance.cs
  UnityProject/Assets/Scripts/Systems/Clearance/Clearance.cs.meta
  UnityProject/Assets/Scripts/Systems/Clearance/ClearanceCheckable.cs
  UnityProject/Assets/Scripts/Systems/Clearance/ClearanceCheckable.cs.meta
  UnityProject/Assets/Scripts/Systems/Clearance/IClearanceProvider.cs
  UnityProject/Assets/Scripts/Systems/Clearance/IClearanceProvider.cs.meta
  UnityProject/Assets/Scripts/Systems/Clearance/SyncListClearance.cs
  UnityProject/Assets/Scripts/Systems/Clearance/SyncListClearance.cs.meta
  UnityProject/Assets/Scripts/Systems/Clearance/Utils.meta
  UnityProject/Assets/Scripts/Systems/Clearance/Utils/MigrationData.cs
  UnityProject/Assets/Scripts/Systems/Clearance/Utils/MigrationData.cs.meta
  UnityProject/Assets/Tests/ClearanceFramework.meta
  UnityProject/Assets/Tests/ClearanceFramework/HasClearanceTest.cs
  UnityProject/Assets/Tests/ClearanceFramework/HasClearanceTest.cs.meta
Labels: Status: Awaiting Review

#6935 Forgotten changes
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

#6936 Ported fixes2
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanChest Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanHead Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanChest Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanHead Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/Vulpkanin Body Markings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/Vulpkanin Facial Markings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/Vulpkanin Tail Markings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninTail.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Door Bolt Toggle.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Door Bolt Toggle.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/Overlay_Crit.prefab
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/ChiefEngineersLockerPopulator.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/IDToggleCard.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/IDToggleCard.asset.meta
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/AccessModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/BoltsModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/CrowbarModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/DoorModuleBase.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/EmagInteractionModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/EmagInteractionModule.cs.meta
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ModuleSignal.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/PressureModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/WeldModule.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartDropDownReplaceOrgan.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#6945 [4119] Fixes particular mob invisibility, other small things
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainerFillVisualisation.cs
  UnityProject/Assets/Scripts/Clothing/ClothingV2.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Player/GhostSprites.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Construction/LightFixtureConstruction.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/InstantSummons.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: Status: Awaiting Review

#6944 Fixes particular mob invisibility, other small things
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainerFillVisualisation.cs
  UnityProject/Assets/Scripts/Clothing/ClothingV2.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Player/GhostSprites.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Construction/LightFixtureConstruction.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/InstantSummons.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: Status: Awaiting Review, UI

#6965 Refactor Client Job Values
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/ScriptableObjects/Audio/EndOfRoundSounds.asset
  UnityProject/Assets/ScriptableObjects/Audio/EndOfRoundSounds.asset.meta
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateJobCountsMessage.cs.meta
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/Systems/NukeOpsGameMode/GUI_NukeOps.cs
Labels: Status: Awaiting Review, UI

#6962 Fixes re-logging losing UI
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

#6923 AI Improvements, Door Electrocution and oxygen damage fix.
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/_AirlockBase.prefab
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabAirlock.prefab
  UnityProject/Assets/ScriptableObjects/Antagonists/AntagData.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Antags/Traitor.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent All Lifeforms from Escaping.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent All Lifeforms from Escaping.asset.meta
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent Everyone From Escaping.asset
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Prevent Everyone From Escaping.asset.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Managers/GameConfigManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs.meta
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ModuleSignal.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Traitor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/PreventEveryoneFromEscaping.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/PreventEveryoneFromEscaping.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/GUI_Airlock.cs
  UnityProject/Assets/StreamingAssets/config/gameConfig.json
Labels: Status: Awaiting Changes, Status: Merge Conflicts, UI

#6972 UI is now robust hopefully
  UnityProject/Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
  UnityProject/Assets/Firebase/Editor/network_request.exe.meta
  UnityProject/Assets/Prefabs/Items/Botany/Equipment/Hatchet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/BedSheet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/PetCollar.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Scarves/StripedGreenScarf.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Scarves/WhiteScarf.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Stethoscope.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Neckwear/Ties/BlueTie.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ClownSuits/ClownSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ClownSuits/SexyClownSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/EngineersJumpsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/ExplorersJumpsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/HardWornSuit.prefab
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Items/Other/Rolled Poster.prefab
  UnityProject/Assets/Prefabs/Mobs/Bot/Resources/Construction/FloorbotAssembly.prefab
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerController.cs
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/DebugAtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Items/Tool/DebugMultitool.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestInventoryTransferMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerPopulateInventoryUIMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerPopulateInventoryUIMessage.cs.meta
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/BatterySupplyingModule.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeData.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/InstantSummons.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/SpatialRelationship/ObserveStorageRelationship.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

#6998 Trauma damage can now be healed by their designed items
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Bruise Pack.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Ointment.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Ointment.prefab.meta
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Ointment.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Ointment.prefab.meta
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Regen Mesh.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Regen Mesh.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/NanoMedPlus.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/FireFirstAidKitPopulator.asset
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
Labels: Scene Changes, Scene: BoxStation, Scene: FallStation

#7000 Fixes uplink entries being mixed up
  UnityProject/Assets/Scripts/UI/Core/EmptyItemList.cs
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDAUplinkItem.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageSupplies.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemMaster.cs
Labels: UI

#7008 Moth hair removal, poster in-hands, and potato seed fixes.
  UnityProject/Assets/Prefabs/Items/Botany/Seeds/Roots/PotatoSeeds.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothHead.prefab
  UnityProject/Assets/Prefabs/Items/Other/Rolled Poster.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/Grenade.prefab
Labels: cherry-pick

#7041 Fixes table-placing ignoring mouse position
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
Labels: cherry-pick

#6861 Scaled human blood
  UnityProject/Assets/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Organ.prefab
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatoryInfo/CirculatoryInfo.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
Labels: System: Health

#7044 Health gradient
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/Overlay_Crit.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandlerManager.cs
  UnityProject/Assets/Scripts/Items/Food/Consumable.cs
  UnityProject/Assets/Scripts/Managers/EventManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/LavaLandManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Alerts/UI_HeartMonitor.cs
  UnityProject/Assets/Scripts/UI/Systems/CameraOverlays/OverlayCrits.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI, lol

#7062 Quick fix for races in security records
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
Labels: UI

#7064 Blood fix and hiding flags not working
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_SnackBase.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Ears.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Eyes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Facial Hair.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Hair.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Organ.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/PlayerHealth_UI_Hud.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/Anti-ToxinInbody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/BicaridineInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/KelotaneInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/TricordrazineInBody.asset
  UnityProject/Assets/ScriptableObjects/Health/BloodTypes/HumanBlood.asset
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartModifiers.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSurgery.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/BodyHealthEffect.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
Labels: UI

#7079 Mid Round Antag Chance
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
Labels: cherry-pick

#7080 Wet floor sign and trash bin sprites by CeUvi.
  UnityProject/Assets/Textures/items/janitor/janitor_caution.png
  UnityProject/Assets/Textures/objects/crates/crates_largebin.png
  UnityProject/Assets/Textures/objects/crates/crates_largebinopen.png
Labels: Sprite Work

#7091 Schoolgirl, cloak, greatcoat, and firesuit resprites by Naevii and Azlan.
  UnityProject/Assets/Textures/clothing/head/atmospheric firefighting helmet/hats_hardhat0_atmos.png
  UnityProject/Assets/Textures/clothing/head/atmospheric firefighting helmet/hats_hardhat1_atmos.png
  UnityProject/Assets/Textures/clothing/head/atmospheric firefighting helmet/head_hardhat0_atmos.png
  UnityProject/Assets/Textures/clothing/head/atmospheric firefighting helmet/head_hardhat1_atmos.png
  UnityProject/Assets/Textures/clothing/head/firefighter helmet/hats_hardhat0_red.png
  UnityProject/Assets/Textures/clothing/head/firefighter helmet/hats_hardhat1_red.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/captain/cloaks_capcloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/captain/neck_capcloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/chief engineer/cloaks_cecloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/chief engineer/neck_cecloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/chief medical officer/cloaks_cmocloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/chief medical officer/neck_cmocloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/head of personnel/cloaks_hopcloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/head of security/cloaks_hoscloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/head of security/neck_hoscloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/quartermaster/cloaks_qmcloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/quartermaster/neck_qmcloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/research director/cloaks_rdcloak.png
  UnityProject/Assets/Textures/clothing/neck/cloaks/research director/neck_rdcloak.png
  UnityProject/Assets/Textures/clothing/suits/armored greatcoat/suits_hos.png
  UnityProject/Assets/Textures/clothing/suits/armored greatcoat/suits_hos_icon.png
  UnityProject/Assets/Textures/clothing/suits/firesuit/suits_atmos_firesuit.png
  UnityProject/Assets/Textures/clothing/suits/firesuit/suits_atmos_firesuit_icon.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniform_schoolgirl.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniform_schoolgirlgreen.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniform_schoolgirlorange.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniform_schoolgirlred.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniforms_schoolgirl.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniforms_schoolgirlgreen.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniforms_schoolgirlorange.png
  UnityProject/Assets/Textures/clothing/uniform/Schoolgirl/uniforms_schoolgirlred.png
Labels: Sprite Work

#7094 Fixes players being unable to move
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
Labels: cherry-pick

#7097 Gives moths unique eyes.
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothEyes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothEyes.prefab.meta
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Eyes.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue.asset
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue.png
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue.png.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue_skirt.asset
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue_skirt.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue_skirt.png
  UnityProject/Assets/Textures/clothing/uniform/lawyer blue suit/uniforms_lawyer_blue_skirt.png.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red.asset
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red.png
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red.png.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red_skirt.asset
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red_skirt.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red_skirt.png
  UnityProject/Assets/Textures/clothing/uniform/lawyer red suit/uniforms_lawyer_red_skirt.png.meta
  UnityProject/Assets/Textures/items/surgery/surgery_eyeballs-moth.asset
  UnityProject/Assets/Textures/items/surgery/surgery_eyeballs-moth.asset.meta
  UnityProject/Assets/Textures/items/surgery/surgery_eyeballs-moth.png
  UnityProject/Assets/Textures/items/surgery/surgery_eyeballs-moth.png.meta
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_head_f.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_head_m.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_motheyes.asset
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_motheyes.asset.meta
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_motheyes.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_motheyes.png.meta
Labels: Sprite Work

#7096 Adding quite a few items to the ClothesMate.
  UnityProject/Assets/Prefabs/Items/Clothing/Feetwear/Sandals.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Feetwear/Sandals.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/LaborersOveralls.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/LaborersOveralls.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/WornShirt.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/WornShirt.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/ClothesMate.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Textures/clothing/suits/worn shirt.meta
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt.asset
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt.asset.meta
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt.png
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt.png.meta
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt_icon.asset
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt_icon.asset.meta
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt_icon.png
  UnityProject/Assets/Textures/clothing/suits/worn shirt/suits_ianshirt_icon.png.meta
  UnityProject/Assets/Textures/clothing/suits/worn shirt/worn shirt.asset
  UnityProject/Assets/Textures/clothing/suits/worn shirt/worn shirt.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/laborer's overalls.asset
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/laborer's overalls.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls.asset
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls.png
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls.png.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls_d.asset
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls_d.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls_d.png
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniform_overalls_d.png.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniforms_overalls.asset
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniforms_overalls.asset.meta
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniforms_overalls.png
  UnityProject/Assets/Textures/clothing/uniform/laborer's overalls/uniforms_overalls.png.meta
Labels: Sprite Work

#7102 SmiteFix
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: cherry-pick

#7112 Hotfixes lockers being unable to be hit in harm intent
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
Labels: cherry-pick

#7095 Fixes PDA TC count not updating after using a telecrystal
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDA.cs
Labels: UI

#7103 Prevents Drinks From Playing Global Sounds
  UnityProject/Assets/Scripts/Items/Food/DrinkableContainer.cs
Labels: cherry-pick

#7116 Fixes warops withdraw machine
  UnityProject/Assets/Prefabs/Objects/Misc/SyndicateWithdrawStation.prefab
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateOpConsole.cs
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateTelecrystalStation.cs
Labels: cherry-pick

#7093 Change Reaction.cs to not rely on the serilization of nullable floats. Change ReactionEditor.cs to be compatible.
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Others/Ash.asset
  UnityProject/Assets/Scripts/Systems/Chemistry/Editor/ReactionEditor.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Reaction.cs
  UnityProject/Assets/Tests/Chemistry/ReactionTests.cs
Labels: cherry-pick

#7123 Fixing Fallstation syndicate access, wallmount rendering fixes.
  UnityProject/Assets/Prefabs/Objects/Electricity/APC.prefab
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/CameraAssembly.prefab
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/LightTubeFixture.prefab
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/LightTubeFixtureFrame.prefab
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/SecurityCamera.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/Button.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/DefibrillatorMount.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/ExtinguisherCabinet.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/FireAlarm.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/LightSwitch.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/MagicMirror.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/MountedFlash.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/Poster.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/RequestConsole.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/Signs/_SignBase.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/StationIntercom.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/StatusDisplay.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/TurretControlPanel.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/UnitystationPoster3.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/UnitystationSign.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/UnitystationSign2.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/UnitystationSign3.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Syndicate.unity
Labels: Scene Changes

#7138 Hotfixes handswap not working after a restart
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
Labels: UI

#7162 Fixes UI hand slots not properly updating on login
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
Labels: UI

#7164 Ancient station engine bay and medical room expansion
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

#7182 fixes Atmospheric Tiles randomly becoming empty for like a millisecond
  UnityProject/Assets/ScriptableObjects/Atmospherics/Air.asset
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
Labels: System: Atmos
