Repository unitystation/unitystation, pull requests merged in 2021-02, with the labels that each got.

#5927 Fixes a ghost UI related runtime at lobby screen.
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
Labels: UI

#5930 Fixes human UI right side alerts on clients.
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
Labels: UI

#5932 Update Profession window role percentages + removes magboots from CE's locker
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Atmospheric Technician.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Chaplain.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Chief Medical Officer.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Cook.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Engineer.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Geneticist.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Paramedic.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/Roboticist.asset
  UnityProject/Assets/Resources/ScriptableObjects/SpawnableLists/Closets/ChiefEngineersLockerPopulator.asset
Labels: Type: Balance

#5936 Adds Ancientstation scene and Ancient Engineer Occupation. Fixes Wizard Ship sprites.
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_Engineer.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_Engineer.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_strong.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Hivebots/NPC_hivebot_strong.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Sleeper.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Sleeper.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/AncientEngineerPopulator.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Populators/Occupations/AncientEngineerPopulator.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/AncientEngineer.asset
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/AncientEngineer.asset.meta
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity.meta
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scripts/Systems/Occupations/JobType.cs
Labels: Group: Mapping, Scene Changes

#5940 Some more objectives
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/EscapeShuttleConsole.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Consoles/EscapeShuttleConsole.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/AntagData.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Traitor.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Antags/Wizard.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/GloriousDeath.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/GloriousDeath.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Hijack.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/EscapeObjectives/Hijack.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/BetterClown.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/BetterClown.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/RemoveLights.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/RemoveLights.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/RemovePlants.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/RemovePlants.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/SabotageSecurity.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/SabotageSecurity.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/StealBack.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/StealBack.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/WeaponsTrade.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/GimmickObjectives/WeaponsTrade.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/Maroon.asset
  UnityProject/Assets/Resources/ScriptableObjects/Antagonists/Objectives/Maroon.asset.meta
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttleConsole.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttleConsole.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagData.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antagonist.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/GloriousDeath.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/GloriousDeath.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Hijack.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Hijack.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Gimmick.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Gimmick.cs.meta
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Maroon.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Maroon.cs.meta
Labels: Status: Ready to review

#5942 Asteroid mob spawner rework
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/AsteroidPools/CarpSpawner.asset
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/AsteroidPools/CarpSpawner.asset.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
Labels: Scene Changes

#5943 finish ancient engineer first implementation
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/GhostRoleManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/SpawnPoints/SpawnPoint - AncientEngineering.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/SpawnPoints/SpawnPoint - AncientEngineering.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/SubScenes/AdditionalSceneList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/GhostRoleList.asset
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/Occupations.meta
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/Occupations/AncientEngineer.asset
  UnityProject/Assets/Resources/ScriptableObjects/Systems/GhostRoles/Occupations/AncientEngineer.asset.meta
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/AdditionalSceneListSO.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/AsteroidListSO.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/AwayWorldListSO.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/MainStationListSO.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/ScriptableObjects/GhostRoleList.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes, Status: Ready to review

#5955 Ghost Role Job Ban Check
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleResponseMessage.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
Labels: Status: Ready to review

#5946 Admin Gib Option
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
Labels: Status: Ready to review

#5950 New asteroid and space ruins, increased carp spawnrate
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/AsteroidPools.meta
  UnityProject/Assets/Resources/ScriptableObjects/RandomItemPools/AsteroidPools/CarpSpawner.asset
  UnityProject/Assets/Resources/ScriptableObjects/SubScenes/AsteroidListSO.asset
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin08.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin08Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin08Settings.lighting.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin09.unity.meta
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin09Settings.lighting
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin09Settings.lighting.meta
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes

#5963 Fixes Jaws of life name issue
  UnityProject/Assets/Scripts/Objects/Doors/InteractableDoor.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/CrowbarModule.cs
Labels: Status: Ready to review

#5972 Fixes NRE on Ancient Station and Scene ID resets
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin09.unity
Labels: Scene Changes

#5968 Adds UI sprite scaling
  UnityProject/Assets/Assets.asmdef
  UnityProject/Assets/Resources/Prefabs/UI/RightClick/RightClickButtonBase.prefab
  UnityProject/Assets/Scripts/UI/Core/ImageExtensions.cs
  UnityProject/Assets/Scripts/UI/Core/ImageExtensions.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/ItemRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RadialBranch.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickRadialButton.cs
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing.meta
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/SpriteMetadata.cs
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/SpriteMetadata.cs.meta
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/SpriteProcessing.asmdef
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/SpriteProcessing.asmdef.meta
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/TextureMetadata.cs
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/TextureMetadata.cs.meta
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/TextureMetadataCache.cs
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/TextureMetadataCache.cs.meta
Labels: UI

#5973 Jukebox and Singularity Fixes
  UnityProject/Assets/Scripts/Objects/Machines/Jukebox.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: Status: Ready to review

#5977 Adds icon scaling/centering to rest of UI
  UnityProject/Assets/Resources/Prefabs/UI/Ingame/Resources/InventorySlot.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

#5983 Rebalances ancient station, fixes Ancient Engineer occupation populator
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/PrototypeRIGHardsuitHelmet.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/PrototypeRIGHardsuit.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Occupations/GhostRole/AncientEngineer.asset
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

#5986 Singularity Fixes
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/RadiationCollector.prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/Objects/Engineering/RadiationCollector.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: Status: Ready to review

#5996 bug fixes
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cannabis/CannabisSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cannabis/DeathCannabisSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cereal/WheatSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Cotton/DurathreadSeeds.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Seeds/Grasses/CarpetSeeds.prefab
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Standard Assets/Mirror/Runtime/NetworkWriterPool.cs
Labels: UI

#6000 Removed an extra matrix move component from Asteroid Small.
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
Labels: Scene Changes

#6001 Revert "Adds icon scaling/centering to rest of UI"
  UnityProject/Assets/Resources/Prefabs/UI/Ingame/Resources/InventorySlot.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Resources/UI/GUI/ActionButton.prefab
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

#6006 Fixes items not going to hidden pos on client
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
Labels: Status: Ready to review

#5979 Change MatrixInfo from struct to class
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Core/Input System/WallMountHandApplySpawn.cs
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/BoundsExtensions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Audio/FootstepSounds.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/CargoEliminateSecurity.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Escape.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Hijack.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Maroon.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/OnlyCargoMenEscape.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Inheritance/CableInheritance.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Wire/CableCategories/LowVoltageMachineConnector.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Wire/CableCategories/MediumMachineConnector.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventAsteroids.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventImmovableRod.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
Labels: Status: Ready to review

#6007 Tesla Fixes
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaCoil.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage1.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage1.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage2.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage2.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage3.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage3.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage4.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage4.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage5.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBallStage5.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/FieldGenerator.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
Labels: Status: Ready to review

#6004 Emitter, particle accelerator bullet fix
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/FireballProjectile.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Weapons/Projectiles/Resources/_MagicProjectileBase.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/PoolConfig.asset
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
Labels: Status: Ready to review

#6034 Admin Event Changes
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSpawnBlob.cs.meta
Labels: Status: Ready to review

#6036 Some Blob Fixes
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/BlobDestroyStation.cs
Labels: Status: Ready to review

#6041 Adds in explanation for Addressable Sounds
  docs/assets/images/AddressableSounds/SoundAndMusic.PNG
  docs/assets/images/AddressableSounds/select_sound.PNG
  docs/assets/images/AddressableSounds/unity_hub_screen_with_soundandmusic.png
  docs/development/Addressables.md
Labels: Documentation

#6043 Fixes Plasma Generator Sound
  UnityProject/Assets/Resources/Prefabs/Objects/Electricity/PowerGeneratorPlasma.prefab
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Objects/Engineering/PowerGenerator.cs
Labels: Status: Ready to review

#6049 fix players being able to revive themselves when they shouldn't
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
Labels: UI

#6053 Lights Sparking When Broken
  UnityProject/Assets/Resources/Prefabs/Effects/SparkEffect.prefab
  UnityProject/Assets/Resources/Prefabs/Effects/SparkEffect.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Effects/SparkEffect.cs
  UnityProject/Assets/Scripts/Effects/SparkEffect.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/CommonPrefabs.cs
Labels: Status: Ready to review

#6057 Fixes bag opening sound being a bit too loud
  UnityProject/Assets/Scripts/Messages/Server/ObserveInteractableStorageMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_StorageHandler.cs
Labels: UI

#6056 Lobby Music Autoplay and Various Addressable Audio fixes
  UnityProject/Assets/Scripts/Core/Addressables/Types/AddressableReference.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/MusicManager.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SongTracker.cs
Labels: UI

#6061 Removes default damage sound for objects
  UnityProject/Assets/Resources/Prefabs/Objects/Object.prefab
Labels: Status: Ready to review

#6060 Spark Fix
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/Sparks01.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/Sparks02.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/Sparks03.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/Sparks04.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.11.19.49.26.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.11.19.49.26.json
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.19.15.21.11.hash
  UnityProject/AddressablePackingProjects/SoundAndMusic/ServerData/catalog_2021.02.19.15.21.11.json
  UnityProject/Assets/Resources/Prefabs/Effects/SparkEffect.prefab
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
Labels: Status: Ready to review

#6078 Update PDA Sounds to Addressable
  UnityProject/Assets/Resources/Prefabs/Items/PDA/PDAs/PDABase.prefab
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDASettingMenu.cs
Labels: UI

#6094 BlastDoor and Shutter Sound Fix
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoor.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoorIndestructible.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoorOpen.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/Shutters.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Doors/MachineDoors/PodDoors/ShuttersIndestructible.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SpawnableLists/Tiles/RWallSheath.asset
Labels: Status: Ready to review

#6096 Overflow protection for tile damage
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
Labels: Status: Ready to review

#6104 Fixes Scrubbers and vents being shootable
  UnityProject/Assets/Resources/Prefabs/Objects/Atmos/PipeObjects/GasFlowMeter.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Atmos/PipeObjects/_AtmosComponentsBase.prefab
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Standard Assets/Logger/Logger.cs
Labels: Status: Ready to review

#6114 Minor Ancient Station additions
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes
