Repository unitystation/unitystation, pull requests merged in 2021-08, with the labels that each got.

#7205 Fix Examination
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
Labels: UI

#7210 Ai chat
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
Labels: Status: Awaiting Testing

#7237 Xenos and spiders rebalance
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpider.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpiderBroodmother.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpiderHunter.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpiderTarantula.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/GiantSpiderViper.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/GiantSpiders/Spiderling.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/ChestbursterSimple.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/Facehugger.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/XenomorphDroneSimple.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/XenomorphHunterSimple.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/XenomorphPraetorianSimple.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/XenomorphQueenSimple.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Xenomorphs/XenomorphSentinelSimple.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/_SimpleAnimalHostileBase.prefab
Labels: Type: Balance

#7233 Fix Emotes
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/EmoteActionManager.cs
Labels: Status: Awaiting Changes

#7241 Some step-by-step guides for the new crafting system
  docs/development/Crafting-System.md
Labels: Documentation

#7242 Fixes multi-level list in the Crafting-System.md
  docs/development/Crafting-System.md
Labels: Documentation

#7236 Allows users to customize how big their chat logs can be
  UnityProject/Assets/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ChatOptions.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ChatOptions.cs.meta
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI, Status: Awaiting Changes

#7274 fixes players getting kicked for bad mapping
  UnityProject/Assets/Mirror/Runtime/NetworkIdentity.cs
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

#7272 Adds the DeviceLinker mapping tool
  UnityProject/Assets/Scripts/Core/Editor/Inspector/APCPoweredDeviceInspector.cs
  UnityProject/Assets/Scripts/Core/Editor/Tools/Mapping/DeviceLinker.cs
  UnityProject/Assets/Scripts/Core/Editor/Tools/Mapping/DeviceLinker.cs.meta
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Items/Tool/Multitool/IMultitoolLinkable.cs
  UnityProject/Assets/Scripts/Items/Tool/Multitool/IMultitoolLinkable.cs.meta
  UnityProject/Assets/Scripts/Items/Tool/Multitool/ISetMultitoolBase.cs
  UnityProject/Assets/Scripts/Items/Tool/Multitool/Multitool.cs
  UnityProject/Assets/Scripts/Objects/Cargo/ConveyorBelts/ConveyorBelt.cs
  UnityProject/Assets/Scripts/Objects/Cargo/ConveyorBelts/ConveyorBeltSwitch.cs
  UnityProject/Assets/Scripts/Objects/Doors/AirLockAnimator.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorController.cs
  UnityProject/Assets/Scripts/Objects/Doors/FireLock.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/BoilerTurbineController.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorBoiler.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorControlConsole.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorTurbine.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/StatusDisplay.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/FireAlarm.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/DoorSwitch.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/GeneralSwitch.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/LightSwitchV2.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/TurretSwitch.cs
  docs/development/How-to-Map.md
Labels: Status: Awaiting Review, Documentation

#7287 Fixes builds
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
Labels: UI

#7291 Blob fixes
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
Labels: UI

#7326 Fixing up lawyer galaxy suit sprites.
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue.asset
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue.png
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue.png.meta
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_e.png
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_e.png.meta
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_n.png
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_n.png.meta
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_s.png
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_s.png.meta
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_w.png
  UnityProject/Assets/Textures/clothing/uniform/blue galaxy suit/uniform_lawyer_galaxy_blue_w.png.meta
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red.asset
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red.png
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red.png.meta
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_e.png
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_e.png.meta
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_n.png
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_n.png.meta
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_s.png
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_s.png.meta
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_w.png
  UnityProject/Assets/Textures/clothing/uniform/red galaxy suit/uniform_lawyer_galaxy_red_w.png.meta
Labels: Sprite Work

#7293 map serialization first iteration
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Objects/Object.prefab
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/MapSaver.meta
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs.meta
  UnityProject/Assets/Scripts/MapSaver/TestMapSaverScript.cs
  UnityProject/Assets/Scripts/MapSaver/TestMapSaverScript.cs.meta
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/LightSwitchV2.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ObjectLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/Types.cs
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
Labels: UI

#7318 Traumacodefix
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanChest Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanHead Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanLeftArm Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanLeftLeg Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanRightArm Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanRightLeg Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothMarkings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Organ.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SurplusProsthetics/SurplusProstheticRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanChest Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanHead Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanLeftArm Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanLeftLeg Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanRightArm Variant 1.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Template/HumanRightLeg Variant 1.prefab
  UnityProject/Assets/Scripts/HealthV2/HealthEnums.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamageDiscriptors.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartTraumaDamage.cs
Labels: Status: Awaiting Review

#7334 Add prefab-mode-only and scene-mode-only attributes
  UnityProject/Assets/Scripts/Core/Attributes.meta
  UnityProject/Assets/Scripts/Core/Attributes/Attributes.cs
  UnityProject/Assets/Scripts/Core/Attributes/Attributes.cs.meta
  UnityProject/Assets/Scripts/Core/Editor/CheckmarkMenuItems.meta
  UnityProject/Assets/Scripts/Core/Editor/CheckmarkMenuItems/CheckmarkMenuItems.cs
  UnityProject/Assets/Scripts/Core/Editor/CheckmarkMenuItems/CheckmarkMenuItems.cs.meta
  UnityProject/Assets/Scripts/Core/Editor/PropertyDrawers.meta
  UnityProject/Assets/Scripts/Core/Editor/PropertyDrawers/PropertyDrawers.cs
  UnityProject/Assets/Scripts/Core/Editor/PropertyDrawers/PropertyDrawers.cs.meta
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Directional.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalRotatesParent.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalSpriteV2.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/FovDoorController.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/UprightSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: Status: Awaiting Review
