Repository unitystation/unitystation, pull requests merged in 2021-06, with the labels that each got.

#6664 sweet extensions go.NetId() fix
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6676 Bodypart color on drop
  UnityProject/Assets/Firebase/Editor/network_request.exe.meta
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Frills.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Hornes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanChest Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanHead Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardSnout.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardTail.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Spikes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/DepreciatedScrubber.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartCustomisationBase.cs
Labels: UI

#6625 Adds in bleeding for dismembered parts
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Hornes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanChest Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanHead Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanLeftArm Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanLeftLeg Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanRightArm Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/HumanRightLeg Variant 2.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardSnout.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardTail.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothWings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
Labels: Status: Merge Conflicts

#6758 Fixes Wrench Harm Behaviour
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/TableDeconstruction.asset
  UnityProject/Assets/ScriptableObjects/Interaction/TileInteraction/TableDeconstruction.asset.meta
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/DeconstructWhenItemUsed.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableDeconstruction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableDeconstruction.cs.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTable.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableBlack.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableBlue.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableCyan.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableGreen.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableOrange.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTablePurple.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableRed.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableRoyalBlack.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/FancyTableRoyalBlue.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/Table.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Tables/table_poker.asset
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6775 Fixes admin windows not disabling character input
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/AdminSearchBar.cs
Labels: UI

#6777 Syncs character deletion with the server
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#6794 Fixes pickaxes and other interactions on tiles not outside the station
  UnityProject/Assets/Scripts/Core/Input System/BlobMouseInputController.cs
  UnityProject/Assets/Scripts/Core/Input System/CablePlacementVisualisation.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AimApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/ConnectionApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/PositionalHandApply.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/LoadCableCuttingWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSelectVVTile.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
Labels: UI

#6815 Fixes character body sprites being out of sync
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
Labels: UI

#6814 A bunch of miscellaneous fixes
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/Items/Implants/Felind/CatEars.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Felind/CatTail.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_TailBase.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/DepreciatedScrubber.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#6820 Added gauze to first aid kits and rebalanced some cargo crates
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Armory.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Costumes and Toys.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Costumes and Toys.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Engineering.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Mining and Cargo.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Mining and Cargo.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Miscellaneous.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Security.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Service.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/5 Plasma Sheets.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/5 Plasma Sheets.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Body Armor Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Body Armor Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bullet Proof Armor Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Bullet Proof Armor Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Cargo Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Defibrillators Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Defibrillators Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Electrical Cable Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Electrical Cable Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emergency Bot - Internals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Emergency Bot - Internals Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Engineering Gear Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Janitorial Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Bundle Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Kits Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Kits Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Peripherals Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Medical Peripherals Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Oxygen Tank Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Oxygen Tank Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Riot Suit Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Riot Suppression Bundle Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Shaft Miner Starter Kit.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Surgical Supplies Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Tool Crate.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/FirstAidKitPopulator.asset
Labels: System: Cargo, System: Health, Type: Balance

#6810 Spill blood reagents + science goggles scan reagents
  UnityProject/Assets/Prefabs/Decal/Resources/LargeBloodSplat.prefab
  UnityProject/Assets/Prefabs/Decal/Resources/MediumBloodSplat.prefab
  UnityProject/Assets/Prefabs/Decal/Resources/SmallBloodSplat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Eyewear/ScienceGoggles.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/Food/Nutriment.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reagents/Other/SpaceLube.asset
  UnityProject/Assets/ScriptableObjects/Health/BloodTypes/HumanBlood.asset
  UnityProject/Assets/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/ScienceScan.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/ScienceScan.asset.meta
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/BloodSystem.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Medical/ReagentScanner.cs
  UnityProject/Assets/Scripts/Items/Medical/ReagentScanner.cs.meta
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
  UnityProject/Assets/Scripts/Objects/Construction/FloorDecals/FloorDecal.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_drip1.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_drip2.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_drip3.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_drip4.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_drip5.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor1.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor1.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor2.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor3.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor4.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor5.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor6.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_floor7.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl1.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl2.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl3.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl4.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/blood/blood_gibbl5.png
Labels: Sprite Work, Status: Awaiting Testing

#6818 Fixes surgery
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Procedures/RemovalProcedure.cs
Labels: Status: Awaiting Testing

#6833 fixes a few staging Errors
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Trinary/GasMixerOff.prefab
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BloodTypes/BloodType.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Objects/Engineering/PowerGenerator.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Mixer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/FireAlarm.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSprites.cs
Labels: Scene Changes, UI

#6838 Improved variety of loot to find in maintenance
  UnityProject/Assets/Prefabs/Items/Spawners/RandomHatPool.prefab
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonChemistrystuff.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonChemistrystuff.asset.meta
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonConstructionNCrafting.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonEquipment.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonFood.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonLightSources.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonMedicalStuff.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonMedicalStuff.asset.meta
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonMisc.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonSnacks.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/CommonSnacks.asset.meta
  UnityProject/Assets/ScriptableObjects/RandomItemPools/ContrabandGuns.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/Gloves.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RandomDonkPocketPool.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RandomHat.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RareHeadset.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/TrashOrGrille.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/UncommonConstructionNCrafting.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/UncommonEquipment.asset
Labels: Type: Balance

#6832 Better Drunk Shader and Camera Controls + New Desaturation Shader
  UnityProject/Assets/Materials/DrunkMaterial.mat
  UnityProject/Assets/Materials/Resources/Sprite-GreyScale.mat
  UnityProject/Assets/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Core/Camera/DrunkCamera.cs
  UnityProject/Assets/Scripts/Core/Camera/GreyscaleCamera.cs
  UnityProject/Assets/Scripts/Core/Camera/GreyscaleCamera.cs.meta
  UnityProject/Assets/Shaders/DrunkShader.shader
  UnityProject/Assets/Shaders/GreyScale.shader
  UnityProject/ProjectSettings/ProjectSettings.asset
Labels: Scene Changes

#6845 Fixes traitors having some uplink items missing
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDAUplinkItem.cs
Labels: UI

#6847 fix upside down shader on DX10 systems
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Shaders/DrunkShader.shader
Labels: Scene Changes

#6854 Interaction code cleaning
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/DefaultWillInteract.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/MouseDraggable.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TileInteraction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Glass/IceShard.cs
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Items/Others/Horn.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Construction/Deconstructable.cs
  UnityProject/Assets/Scripts/Objects/Construction/Rack.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Emitter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reflector.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/TeslaCoil.cs
  UnityProject/Assets/Scripts/Objects/Medical/DNAScanner.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
Labels: UI

#6860 Body parts now have customisations tied to the body part When set
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
Labels: Scene Changes, UI

#6863 Adding collision sensors and RCS thrusters on ancient station shuttle.
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
Labels: Scene Changes

#6862 Update three different documentation pages
  docs/assets/images/HowToUI/editor_UI_elements.png
  docs/assets/images/HowToUI/is_pop_out_pic.png
  docs/contribution-guides/Starting-contribution.md
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
Labels: Documentation

#6369 Feature: Giant service bell
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Effects/service_bell_big.ogg
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Audio Files/Effects/service_bell_big.ogg.meta
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/ServiceBellBig Variant.prefab
  UnityProject/AddressablePackingProjects/SoundAndMusic/Assets/Prefabs/Effects/ServiceBellBig Variant.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Misc/ServiceBell.prefab
  UnityProject/Assets/Scripts/Items/ServiceBell.cs
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell.asset
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell_big.png
  UnityProject/Assets/Textures/objects/machines/service_bell/service_bell_big.png.meta
Labels: Sprite Work, Status: On Hold, lol

#6880 Ai Power Restorer and fixes
  UnityProject/Assets/Prefabs/Objects/Atmos/PortableAtmospherics/Canisters/CanisterBase.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Messages/Client/SuicideMessage.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirInjector.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Metre.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Mixer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Pump.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/Research/AiVessel.cs
  UnityProject/Assets/Scripts/Objects/SecurityCamera.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: Status: Awaiting Review, UI

#6885 moved examination window out of UI manager now has its own prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/Player_Examination.prefab
  UnityProject/Assets/Prefabs/UI/Player_Examination.prefab.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI
