Repository unitystation/unitystation, pull requests merged in 2021-01, with the labels that each got.

#5798 More JoinedViewer logging
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/JoinedViewer.meta
  UnityProject/Assets/Scripts/Messages/Server/JoinedViewer/JobRequestFailedMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/JoinedViewer/JobRequestFailedMessage.cs.meta
  UnityProject/Assets/Scripts/Objects/Mining/PickaxeMineable.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Wizard.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
Labels: UI

#5805 Fixes dummy players not spawning
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSettings.cs
Labels: UI

#5822 Updates several packages, prepares for #5765
  UnityProject/Assets/Scripts/Core/Sound/Synth.cs
  UnityProject/Assets/Scripts/Health/BloodHealth/MetabolismSystem.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Messages/Client/AddHackingConnection.cs
  UnityProject/Assets/Scripts/Messages/Client/AddHackingDevice.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/AdminCheckAdminMessages.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/AdminCheckMessages.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/AdminCheckPlayerAlerts.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/AdminPlayerAlertActions.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/AdminReplyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/MentorReplyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminBwoink.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminChatMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPageRefresh.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPromotion.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestGameModeUpdate.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestKickMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestMentorBwoink.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestRespawnPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevCloneMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevDestroyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevSpawnMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles/RequestGhostRoleMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/CustomNetTransformNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/DoorNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/MatrixMoveNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/PlayerNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/TileChangeNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/PostToChatMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RemoveHackingConnection.cs
  UnityProject/Assets/Scripts/Messages/Client/RemoveHackingDevice.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestElectricalStats.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestHackingNodeConnections.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestMoveMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestObserverRefresh.cs
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/UpdateHeadsetKeyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/OpenBookIDNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/OpenPageValueNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestBookshelfNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestToViewObjectsAtTile.cs
  UnityProject/Assets/Scripts/Messages/Server/ElectricalArcMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleResponseMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/HackingNodeConnectionList.cs
  UnityProject/Assets/Scripts/Messages/Server/LocalGuiMessages/AntagBannerMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PortalSpawnAnimateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/SetActionUIMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/ChangeAudioSourceParametersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/PlaySoundMessage.cs
  UnityProject/Assets/Scripts/UI/Core/Action/RequestGameAction.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SongTracker.cs
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
Labels: Test Me On Staging, UI

#5824 Add GhostHud animations, fix Respawn button, and extra
  UnityProject/Assets/Resources/Prefabs/Objects/ClosetsAndCrates/DropPodBase.prefab
  UnityProject/Assets/Resources/Prefabs/PANEL_PlayersConnected.prefab
  UnityProject/Assets/Resources/Prefabs/PANEL_PlayersConnected.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/GhostHud.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Managers/EventManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.GameMode.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerDeathMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerDeathMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/ServerToClientEventsMsg.cs
  UnityProject/Assets/Scripts/Messages/Server/TriggerEventMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
  UnityProject/Assets/Scripts/UI/Core/Animations/AnimateOnHover.cs
  UnityProject/Assets/Scripts/UI/Core/Animations/AnimateOnHover.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#5827 Examination window steal interaction
  UnityProject/Assets/Scripts/Messages/Client/OtherPlayerSlotTransferMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/OtherPlayerSlotTransferMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/RequestInventoryTransferMessage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressActionType.cs
Labels: UI

#5855 Fixes and Adds more Stuff to How-To-Map
  docs/assets/images/HowToMap/APC_multi_select.gif
  docs/development/How-to-Map.md
Labels: Documentation, Status: Merge Conflicts

#5870 Add slight delay between item selection in radial.
  UnityProject/Assets/Resources/Prefabs/UI/RightClick/RightClickItemButton.prefab
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickRadialButton.cs
Labels: UI

#5881 Fixes #5844
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Items/Others/ItemMagBoots.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
Labels: UI

#5879 Admin ghost examination window steal/apply
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminGhostItemStorageHolder.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminGhostItemStorageHolder.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminManager.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/AdminManager/AdminManager.prefab.meta
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/GhostHud.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Structure/Equip/GhostCapacity.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Structure/Equip/GhostCapacity.asset.meta
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Structure/Equip/GhostStructure.asset
  UnityProject/Assets/Resources/ScriptableObjects/Inventory/Structure/Equip/GhostStructure.asset.meta
  UnityProject/Assets/Scripts/Clothing/StepChanger.cs
  UnityProject/Assets/Scripts/Managers/AdminManager.cs
  UnityProject/Assets/Scripts/Managers/AdminManager.cs.meta
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Client/AdminInventoryTransferMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/AdminInventoryTransferMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/OtherPlayerSlotTransferMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminEnableMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Inventory/NamedSlot.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/PanelHudBottomController.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_AdminItemSwap.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_AdminItemSwap.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#5877 Readd self-examination and add wounds descriptions
  UnityProject/Assets/Scripts/Health/BodyParts/BodyPartBehaviour.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestExamineMessage.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationMessage.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowSlot.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: Status: Ready to review, UI

#5888 Fix radial camera reference
  UnityProject/Assets/Scripts/UI/Core/RightClick/RadialBranch.cs
Labels: UI

#5896 Improves to symptoms and player feedback
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V3(uNet).prefab
  UnityProject/Assets/Scripts/Health/RespiratoryHealth/RespiratorySystem.cs
Labels: Status: Ready to review

#5898 Action text fixes
  UnityProject/Assets/Resources/Prefabs/ActionText.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateChatMessage.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ActionText.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
Labels: UI

#5904 Examining objects in the examine window
  UnityProject/Assets/Scripts/Clothing/StepChanger.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
Labels: UI

#5901 Feature: (Almost fully working) Processors + Processable Items + Microwaves hotfixes
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/Cereal/CornEar.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/Roots/Carrot.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/Roots/Parsnip.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/Roots/Potato.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/Roots/SweetPotato.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/Soybeans/Soybeans.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Botany/Produce/WoodLog.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/DoughIngredients/Dough.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/MeatIngredients/MeatSlabs/MeatSlabBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/MeatIngredients/RawCutlets/RawCutletBase.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Food/Snacks/PotatoWedges.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Kitchen/FoodProcessor.prefab
  UnityProject/Assets/Scripts/Items/Kitchen/Processable.cs
  UnityProject/Assets/Scripts/Objects/Kitchen/InteractableProcessor.cs
  UnityProject/Assets/Scripts/Objects/Kitchen/InteractableProcessor.cs.meta
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs.meta
  UnityProject/Assets/Scripts/Objects/Machines/Microwave.cs
  UnityProject/Assets/Textures/items/kitchen/FoodProcessorIdle.asset
  UnityProject/Assets/Textures/items/kitchen/FoodProcessorIdle.asset.meta
  UnityProject/Assets/Textures/items/kitchen/FoodProcessorRunning.asset
  UnityProject/Assets/Textures/items/kitchen/FoodProcessorRunning.asset.meta
  UnityProject/Assets/Textures/items/kitchen/kitchen_processor1.asset
  UnityProject/Assets/Textures/items/kitchen/kitchen_processor1.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Generated/Kitchen/FoodProcessor/FoodProcessor.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Generated/Kitchen/Microwave/Microwave.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Kitchen/FoodProcessor.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Kitchen/Microwave.asset
Labels: Scene Changes, Scene: BoxStation, Scene: SquareStation

#5911 Revolver tc rebalance
  UnityProject/Assets/Resources/ScriptableObjects/PDA/UplinkCategoryList.asset
Labels: Type: Balance

#5912 Ghost admin smash and drop
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/GhostHud.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/AdminManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminEnableMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
Labels: UI

#5920 Various Radial QoL features
  UnityProject/Assets/Resources/Prefabs/UI/RightClick/RightClickActionRadial.prefab
  UnityProject/Assets/Resources/Prefabs/UI/RightClick/RightClickItemRadial.prefab
  UnityProject/Assets/Resources/Prefabs/UI/RightClick/RightClickMenuController.prefab
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/IRadial.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/Radial.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/RadialMouseWheelScroll.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/RadialScroll.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/RadialScroll.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/BranchScreenPosition.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/BranchScreenPosition.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/BranchWorldPosition.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/BranchWorldPosition.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/IBranchPosition.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/IBranchPosition.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/ItemRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RadialBranch.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickMenuController.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickRadialButton.cs
  UnityProject/Assets/Scripts/Util/VectorExtensions.cs
Labels: UI
