Repository unitystation/unitystation, pull requests merged in 2021-11, with the labels that each got.

#7686 Optimises hacking code (Removes a lot of unneeded game objects)
  UnityProject/Assets/Scripts/Messages/Client/RequestHackingNodeConnections.cs
  UnityProject/Assets/Scripts/Systems/Hacking/HackingProcesses/HackingProcessBase.cs
  UnityProject/Assets/Scripts/UI/Systems/Hacking/GUI_CablePanel.cs
  UnityProject/Assets/Scripts/UI/Systems/Hacking/GUI_Hacking.cs
Labels: UI

#7652 Health simplification
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Appendix.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Bones.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Ears.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Eyes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Lungs.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanFat.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Organ.prefab
  UnityProject/Assets/Prefabs/Mobs/DamageMonitorListener.cs
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/PlayerHealth_UI_Hud.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ToxinInBody.asset
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartFunctionality.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartFunctionality.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/BodyHealthEffect.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/MetabolismReaction.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Procedures/RemovalProcedure.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayerPopulateInventoryUIMessage.cs
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/Alerts/UI_HeartMonitor.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#7710 Fixes ghosts being hit by thrown objects freezing all players
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
Labels: lol

#7717 Generral fixes
  UnityProject/Assets/Materials/PostProcess/Post-FloorFovGenerator Material.mat
  UnityProject/Assets/ScriptableObjects/Health/BloodTypes/HumanBlood.asset
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BloodTypes/BloodType.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickableElement.cs
  UnityProject/Assets/Scripts/Util/ScriptsUtilMonoBehaviourSingleton.cs
Labels: UI

#7715 Fix blob stuff
  UnityProject/Assets/Prefabs/Player/Resources/Blob.prefab
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Blob.cs
Labels: UI

#7723 bodybags / black
  UnityProject/Assets/Textures/items/medical/bodybag/bodybag_bodybag.png
  UnityProject/Assets/Textures/items/medical/bodybag/bodybag_bodybag_open.png
Labels: Sprite Work

#7722 SingletonManager Stuff
  UnityProject/Assets/Scripts/Core/Chat/DiscordWebhookMessage.cs
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/Managers/CraftingManager.cs
  UnityProject/Assets/Scripts/Managers/GameConfigManager.cs
  UnityProject/Assets/Scripts/Managers/LandingZoneManager.cs
  UnityProject/Assets/Scripts/Managers/LavaLandManager.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/NetworkTabManager.cs
  UnityProject/Assets/Scripts/Managers/StringManager.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventsManager.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/KickBanEntryPage.cs
Labels: UI

#7728 vv Hierarchy Optimisations
  UnityProject/Assets/Resources/UI/RightClickButtonIcon/HierarchyRefresh.png
  UnityProject/Assets/Resources/UI/RightClickButtonIcon/HierarchyRefresh.png.meta
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestBookshelfNetMessage.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/HierarchyEntry.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/LibraryUI.cs
Labels: UI

#7725 Use GasContainer's gasmix for ambient air when inside
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/ClosetBase.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/CrateBase.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/DropPodBase.prefab
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalBin.prefab
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalVirtualContainer.prefab
  UnityProject/Assets/Prefabs/Objects/Drawers/Cremator.prefab
  UnityProject/Assets/Prefabs/Objects/Drawers/Morgue.prefab
  UnityProject/Assets/Prefabs/Objects/Medical/Genetics/DNAScanner.prefab
  UnityProject/Assets/Prefabs/Objects/Medical/Genetics/DNAScanner.prefab.meta
  UnityProject/Assets/Presets/GasContainer.meta
  UnityProject/Assets/Presets/GasContainer/StandardAtmosphereHalfCubic.preset
  UnityProject/Assets/Presets/GasContainer/StandardAtmosphereHalfCubic.preset.meta
  UnityProject/Assets/Presets/GasContainer/StandardAtmosphereOneCubic.preset
  UnityProject/Assets/Presets/GasContainer/StandardAtmosphereOneCubic.preset.meta
  UnityProject/Assets/ScriptableObjects/Atmospherics/Air.asset
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalIntake.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalMachine.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/AirVent.cs
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalsManager.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_DisposalBin.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
Labels: UI

#7748 Antag preferences on by default
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/AntagonistPreferences.prefab
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
  UnityProject/Assets/Scripts/UI/Systems/CharacterCreator/AntagEntry.cs
Labels: UI

#7749 general fixes
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Charcoal Pill.prefab
  UnityProject/Assets/Prefabs/Items/Other/ServiceBell.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Pipes/PipeItem.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/BoltsModule.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/Switches/DoorSwitch.cs
  UnityProject/Assets/Scripts/Shuttles/ShuttleLanding.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ClothingSlots.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
Labels: Status: Awaiting Review, UI

#7775 Fixed builds
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
Labels: UI

#7768 Reduces gc on Atmospherics
  UnityProject/Assets/Scripts/Core/Editor/Matrix/Views/MetaDataView.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosionUtils.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Objects/Atmospherics/AcuSample.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Scrubber.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Fluids/MixAndVolume.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/FusionReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/SubsystemManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Utils/AtmosUtils.cs
Labels: System: Atmos

#7774 Robust audio - Part 2
  UnityProject/Assets/Scripts/Managers/AudioManager.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/MusicManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/PlayMusicMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/PlayMusicMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/StopMusicMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/StopMusicMessage.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SongTracker.cs
Labels: UI

#7786 Make exception messages better
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateItemSlotMessage.cs
  UnityProject/Assets/Scripts/Objects/Construction/APCFrame.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/EmagInteractionModule.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationProducer.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ActionRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ItemRadial.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSwap.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
Labels: UI

#7783 More information is always good
  docs/development/What-is-a-matrix.md
Labels: Documentation

#7764 2 QoL thingies
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/PlayerListLobbyUI.prefab
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/PingMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/PingMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ZoomButtons.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/LobbyUIListTemplate.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/LobbyUIPlayerListController.cs
Labels: Status: Awaiting Review, UI

#7810 fix lizard spike textures and reorder rendering so that spikes and snouts look nicer
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardSnout.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardTail.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Spikes.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/Snout.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/Spikes.prefab
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Frills/overly_m_frills_aqua_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Frills/overly_m_frills_short_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Frills/overly_m_frills_simple_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Snout/overly_m_snout_round_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Snout/overly_m_snout_roundlight_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Snout/overly_m_snout_sharp_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Snout/overly_m_snout_sharplight_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Snout/overly_m_snout_sharplight_FRONT.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_aqua_ADJ.png
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_long_ADJ.png
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_longmeme_ADJ.png
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_short_ADJ.png
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_shortmeme_ADJ.png
Labels: Sprite Work

#7825 Fix Syndie Shuttle so it flies again
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Syndicate.unity
Labels: Scene Changes

#7826 Cached world bounds
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/BoundsExtensions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventAsteroids.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventElectricalStorm.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventImmovableRod.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSystem.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
  UnityProject/Assets/Scripts/UI/Objects/Shuttles/GUI_ShuttleControl.cs
  UnityProject/Assets/Scripts/Util/RandomUtils.cs
Labels: UI

#7844 Reagent code linq removal
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/MetabolismReaction.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Reaction.cs
  UnityProject/Assets/Tests/Chemistry/ReagentContainerTests.cs
Labels: Status: Awaiting Review

#7843 Fixes radiation hopefully and metabolism
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ToxinInBody.asset
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/BodyHealthEffect.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/MetabolismReaction.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Medical/HealthScanner.cs
  UnityProject/Assets/Scripts/Systems/Botany/GrownFood.cs
  UnityProject/Assets/Scripts/Systems/Botany/PlantData.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
Labels: Status: Awaiting Review

#7819 Tile removal code clean-up
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnSafeThread.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileHitTileProcessor.cs
  UnityProject/Assets/Scripts/Map/LavaLand/LavaLandRandomGenScript.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Messages/Server/RemoveTileMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ObjectLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/TileLocation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/TilemapDamage.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
Labels: Status: Awaiting Review

#7852 Fixes players being thrown off from the shuttles on rotation
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
Labels: lol

#7849 Move chat UI to new UI canvas
  .gitignore
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/Chat/ChatEntry.prefab
  UnityProject/Assets/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab.meta
  UnityProject/Assets/Prefabs/UI/UI.prefab
  UnityProject/Assets/Prefabs/UI/UI.prefab.meta
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEntryPool.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatHelpWindowUI.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatTypingSync.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/SpellBooks/ForcewallPunishment.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Objects/Consoles/SyndicateOpConsole.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttleConsole.cs
  UnityProject/Assets/Scripts/Strings/ChatTemplates.cs
  UnityProject/Assets/Scripts/Strings/ReportTemplates.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/SpawnedAntag.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSummonGuns.cs
  UnityProject/Assets/Scripts/Systems/StationObjectives/StationObjectiveManager.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ChatOptions.cs
  UnityProject/Assets/Scripts/UI/Core/RootCanvas.cs
  UnityProject/Assets/Scripts/UI/Core/RootCanvas.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Systems/ChatChannel/IconConstants.cs
  UnityProject/Assets/Scripts/UI/Systems/ChatChannel/UIToggleChannel.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/MiniActionsHelpWindowUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/UI/ActiveChannelTemplate.prefab
  UnityProject/Assets/UI/ChannelToggleTemplate.prefab
  UnityProject/UserSettings/Search.settings
Labels: Scene Changes, UI

#7850 Refactor all uses of serializable dicts to make use of generics #7111
  UnityProject/Assets/Materials/PostProcess/Post-FloorFovGenerator Material.mat
  UnityProject/Assets/Materials/PostProcess/Post-FovGenerator.mat
  UnityProject/Assets/Plugins/SerializableDictionary/SerializableDictionary.cs
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/Crowbars.asset
  UnityProject/Assets/Scripts/ChemistryComponents/MorphableReagentContainerData.cs
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/CatalogueData.cs
  UnityProject/Assets/Scripts/Items/Kitchen/Fermentable.cs
  UnityProject/Assets/Scripts/Items/Kitchen/Grindable.cs
  UnityProject/Assets/Scripts/Items/Kitchen/Juiceable.cs
  UnityProject/Assets/Scripts/Objects/Machines/MachineProductsCollection.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorage.cs
  UnityProject/Assets/Scripts/ScriptableObjects/SOLightMountStatesMachine.cs
  UnityProject/Assets/Scripts/ScriptableObjects/SpeechModManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Steal.cs
  UnityProject/Assets/Scripts/Systems/Cargo/CargoBounty.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Editor/Importer.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Reaction.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/Occupations/Occupation.cs
  UnityProject/Assets/Scripts/Systems/StationObjectives/Objectives/ShipResources.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/BasicTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/SerializableDictionaries.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/SerializableDictionaries.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Shuttles/GUI_TextSwap.cs
  UnityProject/Assets/StreamingAssets/google-services-desktop.json.meta
  UnityProject/Assets/Tests/Chemistry/ReactionTests.cs
  UnityProject/Assets/Tests/Chemistry/ReagentContainerTests.cs
Labels: Status: Awaiting Review, UI

#7848 Drinking an entire bottle of salt will now cause a heart attack
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Heart.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Human Stomach.prefab
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
Labels: Status: Awaiting Review

#7846 Better Inventory feedback
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
Labels: Status: Awaiting Changes

#7862 C4 Improvements
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/C4.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/X4.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabExplosive.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Explosive.cs
  UnityProject/Assets/Scripts/UI/Objects/GUI_Explosive.cs
Labels: UI

#7859 fixes radiation randomly killing air
  UnityProject/Assets/Prefabs/Items/Chemistry/BloodPack.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Medical.asset
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/MedicalChemistry/BodyHealthEffect.cs
  UnityProject/Assets/Scripts/Items/Tool/Syringe.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileExplode.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/FuelTank.cs
  UnityProject/Assets/Scripts/Objects/Other/DropPod.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Effects/ChemExplosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/Explosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/TestExplosionScript.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventAsteroids.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventImmovableRod.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationProducer.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/Rockdrop.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/FusionReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/TritiumFireReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: Status: Awaiting Review

#7853 Refactor server setup & management utilities.
  Tools/server-utils/README.md
  Tools/server-utils/config.example.json
  Tools/server-utils/editconfig.sh
  Tools/server-utils/installserver.sh
  Tools/server-utils/manageuss/README.md
  Tools/server-utils/manageuss/manageuss
  Tools/server-utils/manageuss/manageuss.c
  Tools/server-utils/unitystation.service
  Tools/server-utils/update.sh
Labels: Status: Awaiting Review

#7813 Lockageddon add Locks to atmospherics
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Objects/Atmospherics/AcuSample.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Scrubber.cs
  UnityProject/Assets/Scripts/Systems/Fluids/MixAndVolume.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/FusionReaction.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Utils/AtmosUtils.cs
Labels: Status: Awaiting Review

#7875 Fixes clients failing access checks when the ID is inside a PDA
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
  UnityProject/Assets/Scripts/Systems/Occupations/AccessRestrictions.cs
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDAMainMenu.cs
Labels: UI

#7870 Stack splitting
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/SplittingMenu.prefab
  UnityProject/Assets/Prefabs/UI/SplittingMenu.prefab.meta
  UnityProject/Assets/Scripts/Items/Stackable.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Systems/SplittingMenu.cs
  UnityProject/Assets/Scripts/UI/Systems/SplittingMenu.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#7816 Blocks mimes from force opening closed doors
  UnityProject/Assets/Scripts/Systems/Spells/Spell.cs
Labels: Status: Awaiting Review

#7901 chore: configure Restyled-io
  .restyled.yaml
Labels: Status: Awaiting Review

#7914 Create Integration tests.yml changes branches
  .github/workflows/Integration tests.yml
Labels: Status: Merge Conflicts
