Repository unitystation/unitystation, pull requests merged in 2021-04, with the labels that each got.

#6318 Changes references to new health,
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ImpedrezeneInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/ImpedrezeneInBody.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/MannitolInBody.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/MannitolInBody.asset.meta
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.Move.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartModification.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/BodyPartBlood.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Food/HealableJobEdible.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs.meta
  UnityProject/Assets/Scripts/Items/Medical/DefibrillatorPaddles.cs
  UnityProject/Assets/Scripts/Items/Others/HolyBook.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileIncendiary.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Morgue.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReactionSet.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Vending/GUI_Spawner.cs
Labels: UI

#6320 Fixes #6166 Guns with the "SawnOff" component can't be reloaded.
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
Labels: Status: Ready to review

#6315 Fixes Some Night Vision Goggles Issues
  UnityProject/Assets/Resources/Prefabs/Items/Clothing/Eyewear/MesonScanners/NightVisionMesonScanner.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/CrayonUI.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/PopUp/SurgicalUI.prefab
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/ToggleVisionGoggles.asset
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs
  UnityProject/Assets/Scripts/Player/PlayerOnlySyncValues.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
Labels: Status: Ready to review

#6324 Hides player names and player jobs from the stats tab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
Labels: UI

#6313 Adds multiple character selection
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/character customisation/DropDownOrganReplacement.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/character customisation/Item.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/HairStyle.prefab
  UnityProject/Assets/Scripts/Core/Camera/CaptureScreen.cs
  UnityProject/Assets/Scripts/Core/Camera/CaptureScreen.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/Util/CaptureUI.cs
  UnityProject/Assets/Scripts/Util/CaptureUI.cs.meta
Labels: Status: Ready to review, System: Animation, System: Health, UI

#6374 Prefab spawn error fixes
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
Labels: Status: Ready to review

#6378 Adds some improvements to the character selector
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: System: Health, UI

#6379 Lizards' tails will now share colors with their skintones.
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Textures/mobs/races/Felinid/overly/overly_m_waggingtail_cat.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/AnimatedTail/overly_m_waggingtail_dtiger.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/AnimatedTail/overly_m_waggingtail_ltiger.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/AnimatedTail/overly_m_waggingtail_smooth.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/AnimatedTail/overly_m_waggingtail_spikes.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Horns/overly_m_horns_angler_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Horns/overly_m_horns_curled_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Horns/overly_m_horns_ram_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Horns/overly_m_horns_short_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Horns/overly_m_horns_simple_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_aqua_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_aqua_BEHIND.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_long_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_long_BEHIND.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_longmeme_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_longmeme_BEHIND.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_short_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_shortmeme_ADJ.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Spikes/overly_m_spines_shortmeme_BEHIND.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Tail/overly_m_tail_dtiger.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Tail/overly_m_tail_ltiger.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Tail/overly_m_tail_smooth.asset
  UnityProject/Assets/Textures/mobs/races/lizard/overly/Tail/overly_m_tail_spikes.asset
Labels: UI

#6392 Chat Fixes and Enhancement
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeManager.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
Labels: Status: Ready to review, UI

#6328 cleanup gun scripts
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/ElectronicFiringPin.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/FoamForceFiringPin.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/HonkFiringPin.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/SyndicateFiringPin.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/UltraHonkFiringPin.prefab
  UnityProject/Assets/Scripts/Items/Weapons/ElectricalMagazine.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/ClownPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/ClownPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/GenericPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/GenericPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/HonkPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/HonkPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/IDLockedPin.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/IDLockedPin.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/PinBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/PinBase.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunPKA.cs
  UnityProject/Assets/Scripts/Items/Weapons/GunTrigger.cs
  UnityProject/Assets/Scripts/Items/Weapons/MagazineBehaviour.cs
  UnityProject/Assets/Scripts/Items/Weapons/SawnOff.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
  UnityProject/Assets/Scripts/Objects/Charger.cs
Labels: Status: Ready to review

#6396 MetaTileMap null fix
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
Labels: Status: Ready to review

#6395 UI icons staying open and crawl text
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
Labels: UI

#6404 Fixes Oxy to Plasma Reaction
  UnityProject/Assets/Scripts/Systems/InGameEvents/EventScriptBase.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventOxyToPlasma.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Reactions/Reaction.cs
Labels: Status: Ready to review

#6407 Memory Profiler
  UnityProject/Assets/Assets.asmdef
  UnityProject/Assets/IngameDebugConsole/IngameDebugConsole.prefab
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogManager.cs
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/ProfileManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevToolsPage.cs
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/PackageManagerSettings.asset
Labels: Status: Ready to review, UI

#6387 Adds in some improvements and fixes to emotes
  UnityProject/Assets/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/ScriptableObjects/Emotes/Backflip.asset
  UnityProject/Assets/ScriptableObjects/Emotes/Dance.asset
  UnityProject/Assets/ScriptableObjects/Emotes/Surrender.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/clap.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/cross.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/drool.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/frown.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/grimace.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/jump.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/pout.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/shake.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/sit.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/smile.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/smug.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/snap.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/stare.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/stretch.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/sulk.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/surrenderSimple.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/sway.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/tremble.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/twitch.asset
  UnityProject/Assets/Scripts/Player/EmoteScripts/Backflip.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Surrender.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/GenderedEmote.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
Labels: Status: Awaiting Review, System: Animation

#6411 Fixes a bug where camera effects stay on after death
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
Labels: UI

#6413 Fixes a bug with creating new characters
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#6412 Turns Off Some Damage Messages
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SingularityEngine/SingularityStages/Singularity.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/TeslaEngine/TeslaEnergyBalls/TeslaEnergyBall.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/FieldGenerator.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/SyndicateWithdrawStation.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/SyndicateWithdrawStation.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/PlayerList.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/PlayerList.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/Resource Tracker.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Resource Tracker.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/SpawnPoints.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/SpawnPoints.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/Station(rename me and break prefab instance on use).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Station(rename me and break prefab instance on use).prefab.meta
  UnityProject/Assets/Prefabs/UI/ActionText.prefab
  UnityProject/Assets/Prefabs/UI/ActionText.prefab.meta
  UnityProject/Assets/Prefabs/UI/ChatBubble.prefab
  UnityProject/Assets/Prefabs/UI/ChatBubble.prefab.meta
Labels: Status: Awaiting Review

#6432 Enables Callstacks on profiler
  UnityProject/Assets/Scripts/Managers/ProfileManager.cs
Labels: Status: Awaiting Review

#6425 Multitool text improvement, NetToggle workaround
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/PipeDispenser/ColorToggle.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/PipeDispenser/Toggle.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPipeDispenser.prefab
  UnityProject/Assets/Scripts/Core/Editor/Inspector/APCPoweredDeviceInspector.cs
  UnityProject/Assets/Scripts/Items/Tool/Multitool/Multitool.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetToggle.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6439 Just a health doll fix
  UnityProject/Assets/Prefabs/UI/Panel_Hud_Bottom.prefab
Labels: Status: Awaiting Testing

#6442 Fixes AHelp and Mentor Chat buttons
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventsManager.cs
Labels: Status: Awaiting Review
