Repository unitystation/unitystation, pull requests merged in 2021-05, with the labels that each got.

#6448 Gun and PKA Fix
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticAccelerator.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: Status: Awaiting Review

#6443 Improve melee code, fix some melee issues
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Player/Pettable.cs
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
Labels: Status: Awaiting Review

#6437 Refactor AI initialisation, more flexible dead/prone states on MobSprite
  UnityProject/Assets/Prefabs/Mobs/NPC/Resources/Friendly/NPC_GOD_Friendly.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/PlasmaCrate.prefab
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/Living/SimpleAnimal/SimpleAnimal.cs
  UnityProject/Assets/Scripts/NPC/AI/Friendly/GenericFriendlyAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Friendly/GodAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/FaceHuggerAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/LarvaeAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/StatueAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/XenoAI.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/XenoQueenAI.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAI.cs
  UnityProject/Assets/Scripts/NPC/MobSprite.cs
Labels: System: AI, System: Animation

#6441 Stop, drop, and roll + Plasma fire damage tweaks
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
Labels: UI

#6449 Various fixes
  UnityProject/Assets/Prefabs/Items/Food/Drinks/MugDukePurpleTea.prefab
  UnityProject/Assets/Prefabs/Items/Storage/SecureBriefcase.prefab
  UnityProject/Assets/Prefabs/Items/Storage/SecureBriefcaseSyndicate.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirScrubber.prefab
  UnityProject/Assets/Prefabs/Objects/Atmos/PipeObjects/Unary/AirVent.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/APC.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Bed.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Chairs/Stool.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Toilet.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/UnaryVent.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs.meta
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: System: Damage, System: Health, UI

#6467 Small Bug Fixes
  UnityProject/Assets/Prefabs/Objects/Library/Photocopier.prefab
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
Labels: Status: Awaiting Review

#6470 Fixes welders turning air into space
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: lol

#6468 Custom Net Transform Packet Optimisations
  UnityProject/Assets/Prefabs/Objects/Kitchen/FoodProcessor.prefab
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6472 Issue 4292 fix
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#6496 Fixes handcuff darkness
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
  UnityProject/Assets/Textures/clothing/hands/hands_cuffed.png
Labels: Sprite Work, UI

#6466 Fix cable cutting window, cable duplication, and cable construction costs
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Systems/Electricity/ConnectionMap.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalPool.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/LoadCableCuttingWindow.cs
  UnityProject/Assets/Textures/under floors/Power_Cond/Resources/CableCuttingWindow.prefab
Labels: UI

#6508 Fixes SM Shield Overlay and Locker Space Sound
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatter.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/SuperMatterEngine/SuperMatterShard.prefab
  UnityProject/Assets/Scripts/Core/Sound/AmbientSoundArea.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6440 Improvements and bug fixes for the character selector screen
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: Scene Changes, Status: Awaiting Changes, UI

#6511 Blob Fixes and Forces Player Colour Alpha to 1
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6512 Character preview will no longer escape outside of the window
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6513 Closet Populator Optimisation
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6476 Overlay fixes
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/OverlayTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: Status: Awaiting Changes

#6518 More UI improvements and small changes
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6524 Null Check PickUpAnimation And Other Error Fixes
  UnityProject/Assets/Scripts/Core/Lighting/EmergencyLightAnimator.cs
  UnityProject/Assets/Scripts/Messages/Server/DoorUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6526 New fonts
  UnityProject/Assets/UI/Fonts/FontAwesome.meta
  UnityProject/Assets/UI/Fonts/FontAwesome/FontAwesome.otf
  UnityProject/Assets/UI/Fonts/FontAwesome/FontAwesome.otf.meta
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont.ttf
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont.ttf.meta
  UnityProject/Assets/UI/Fonts/Monaco.meta
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf
  UnityProject/Assets/UI/Fonts/Monaco/monaco.ttf.meta
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset.meta
  UnityProject/Assets/UI/Fonts/chatbubble.meta
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset.meta
  UnityProject/Assets/UI/Fonts/white-rabbit.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/license.txt
  UnityProject/Assets/UI/Fonts/white-rabbit/license.txt.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.ttf
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.ttf.meta
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.txt
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt.txt.meta
Labels: Group: UI, Type: Feature

#6529 RCS fixes
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6527 Possible fix for unending plasma fires
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: Status: Awaiting Review

#6532 Might fix skeleton
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
Labels: Status: Awaiting Testing

#6578 Re-textures high-voltage cable
  UnityProject/Assets/Textures/under floors/Power_Cond/Resources/power_cond_high.png
Labels: Sprite Work

#6583 added Admin button for healing players
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: UI

#6516 Item Storage Populator Optimiations
  UnityProject/Assets/Prefabs/Items/Cargo/WrappingPaper.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/FakeWitchHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/FakeWizardHat.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Assemblies/ProximitySensor.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/BuildingMaterialItemBase.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/BuildingMaterialItemBase.prefab.meta
  UnityProject/Assets/Prefabs/Items/Construction/Materials/SheetBase.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/SheetBase.prefab.meta
  UnityProject/Assets/Prefabs/Items/Construction/PlaceableTiles/_TileItemBase.prefab
  UnityProject/Assets/Prefabs/Items/Economy/Cash/SpaceCash.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Prefabs/Items/Other/Syndicate Telecrystal.prefab
  UnityProject/Assets/Prefabs/Items/StackableItemBase.prefab
  UnityProject/Assets/Prefabs/Items/StackableItemBase.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Seclite.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/ReactorEngine/ReactorGraphiteChamber.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/ExtinguisherCabinet.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V3(uNet).prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/Chest.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/Head.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/LeftArm.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/LeftLeg.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/RightArm.prefab
  UnityProject/Assets/Prefabs/Player/Resources/body parts/RightLeg.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawnable/SpawnableList.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/IndexedStoragePopulator.cs
  UnityProject/Assets/Tests/ComponentTests.cs
  UnityProject/Assets/Tests/ComponentTests.cs.meta
  UnityProject/Assets/Tests/SubsceneTests.cs
Labels: Type: Discussion, Type: Performance

#6547 Add the ChemMaster and CondiMaster Neo
  UnityProject/Assets/Prefabs/Objects/Chemistry/ChemMaster.prefab
  UnityProject/Assets/Prefabs/Objects/Kitchen/Condimaster Neo.prefab
  UnityProject/Assets/Prefabs/Objects/Kitchen/Condimaster Neo.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster/ChemBufferEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster/ChemBufferEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster/ChemContainerEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster/ChemContainerEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster/ChemProductEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ChemMaster/ChemProductEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo/CondiBufferEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo/CondiBufferEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo/CondiContainerEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo/CondiContainerEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo/CondiProductEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Condimaster Neo/CondiProductEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemMaster.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemMaster.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCondimasterNeo.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCondimasterNeo.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabSecurityRecords.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/ChemMasterStoragePopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/ChemMasterStoragePopulator.asset.meta
  UnityProject/Assets/ScriptableObjects/NetEntries.asset
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs.meta
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemistryDispenser.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetSpriteAndColor.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetSpriteAndColor.cs.meta
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetTMPSubmitButton.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetTMPSubmitButton.cs.meta
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemBufferEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemBufferEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemContainerEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemContainerEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemMaster.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemMaster.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemProductEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemProductEntry.cs.meta
  UnityProject/Assets/UI/Fonts/Liliput_Steps.meta
  UnityProject/Assets/UI/Fonts/Liliput_Steps/lilliput steps SDF.asset
  UnityProject/Assets/UI/Fonts/Liliput_Steps/lilliput steps SDF.asset.meta
  UnityProject/Assets/UI/Fonts/Liliput_Steps/lilliput steps.otf
  UnityProject/Assets/UI/Fonts/Liliput_Steps/lilliput steps.otf.meta
  UnityProject/Assets/UI/Shuttle_Controls/SquareButtonv216x16.png.meta
Labels: Scene Changes, Status: Awaiting Review, UI

#6594 QuickBuild Tool
  UnityProject/Assets/Scripts/Core/Editor/DisableNonEssentialScenes.cs
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs
  UnityProject/Assets/Scripts/Core/Editor/QuickBuild.cs.meta
Labels: Group: Tool, Status: Awaiting Review, Status: Awaiting Testing, Status: DNM

#6599 fixed fall centcom and wizard asteroid switches
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
Labels: Group: Mapping, Scene Changes

#6588 Eject Item(s) into empty hand & more
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/OldIdConsoleManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/OldIdConsoleManager.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBoozeDispenser.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemistryDispenser.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabComms.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabOldIdConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabOldIdConsole.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabSecurityRecords.prefab
  UnityProject/Assets/Scripts/Objects/Chemistry/BoozeDispenser.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemMaster.cs
  UnityProject/Assets/Scripts/Objects/Chemistry/ChemistryDispenser.cs
  UnityProject/Assets/Scripts/Objects/Consoles/CommsConsole.cs
  UnityProject/Assets/Scripts/Objects/SecurityRecordsConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleEntryOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleEntryOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IdConsoleOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsoleManagerOld.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/IdConsoleManagerOld.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_BoozeDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_ChemistryDispenser.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecordsEntriesPage.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecordsEntryPage.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6587 Possible Rejoin Fix
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Others/NukeDiskScript.cs
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/CargoEliminateSecurity.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevCloner.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevDestroyer.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSelectVVTile.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing, UI

#6605 Edited role screen text and percentages reflect the health update.
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Chief Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chemist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chief Medical Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Medical Doctor.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Paramedic.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Roboticist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Bartender.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Botanist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Chaplain.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Cook.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Janitor.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Lawyer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Mime.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Cargo Technician.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Quartermaster.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Shaft Miner.asset
Labels: Type: Documentation

#6597 Admin healing will now revive dead players instead of healing dead bodies.
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: Status: Awaiting Changes, Status: Awaiting Testing

#6608 Added information to help UI development
  docs/development/How-To-User-Interface.md
Labels: Documentation

#6606 Better possible fixes for plasma fires
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#6610 Adds in dismembering players + No more alive headless players
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/AncientHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/BulletproofHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/CrusaderHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Hardhats/AtmosphericTechniciansFirefightingHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/RiotHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/EVAHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/ERTHelmets/PRTHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/EliteSyndicateHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/EngineeringHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/SyndicateHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/_HardsuitHelmetBase.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/AtmosphericsEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/BotanyEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/ClownEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PlasmaEnvirosuitHelmets/ScienceEnvirohelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndBlueSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndGreenSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndOrangeSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackAndRedSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackEngineeringSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackMedicalSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlackSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/BlueSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SyndicateSpaceHelmets/RedSpaceHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmorVests/ArmorVest.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmorVests/ArmorVestLarge.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmoredGreatcoat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/BoneArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/CrusaderArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/AtmosphericsHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/CaptainsSWATSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/NarSienHardenedArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/SyndicateHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/StudentRobeArmor.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
Labels: System: Damage, System: Health

#6647 How to make User Interface Formatting Fix
  docs/assets/images/HowToUI/auto_save_location.png
  docs/development/How-To-User-Interface.md
Labels: Documentation

#6659 Update space ruins to doors V2
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
Labels: Group: Mapping, Scene Changes

#6655 Various Documentation Fixes
  docs/development/How-To-User-Interface.md
  docs/development/How-to-Map.md
  docs/development/How-to-Sprite.md
Labels: Documentation

#6662 Matrix and Other Fixes
  UnityProject/Assets/Prefabs/Objects/Medical/OperatingTable.prefab
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/Dissectible.cs
  UnityProject/Assets/Scripts/Messages/Server/DoorUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Furniture/BuckleInteract.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
Labels: UI

#6661 Fixed the formatting on the How To UI for real this time
  docs/development/How-To-User-Interface.md
Labels: Documentation
