Repository unitystation/unitystation, pull requests merged in 2021-09, with the labels that each got.

#7342 Spider Infestation random event.
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Humanoid/RegalRatMob.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Humanoid/RegalRatMob.prefab.meta
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Humanoid/_HostileHumanoidBase.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Textures/mobs/species/animals/regalrat.asset
  UnityProject/Assets/Textures/mobs/species/animals/regalrat.asset.meta
  UnityProject/Assets/Textures/mobs/species/animals/regalrat.png
  UnityProject/Assets/Textures/mobs/species/animals/regalrat.png.meta
  UnityProject/Assets/Textures/mobs/species/animals/regalrat_dead.png
  UnityProject/Assets/Textures/mobs/species/animals/regalrat_dead.png.meta
  UnityProject/Assets/Textures/mobs/species/animals/regalratdead.asset
  UnityProject/Assets/Textures/mobs/species/animals/regalratdead.asset.meta
Labels: Type: Balance, Sprite Work

#7366 Moth limbs are now properly grayscale.
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_chest_f.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_chest_m.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_head_f.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_head_m.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_l_arm.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_l_hand.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_l_leg.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_r_arm.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_r_hand.png
  UnityProject/Assets/Textures/mobs/races/Moth/body parts/body parts_moth_r_leg.png
Labels: Sprite Work

#7343 Loudspeak
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetCE.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetCaptain.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetCentCom.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetCommand.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetHoP.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetHoS.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetRD.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Earwear/RadioHeadsetSyndicate.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEvent.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Items/Headset.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/BookOfSpells.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/ScrollOfTeleportation.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/SpellBooks/SpellBook.cs
  UnityProject/Assets/Scripts/Messages/Client/PostToChatMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateChatMessage.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/AutomatedAnnouncer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/NuclearOperative.cs
  UnityProject/Assets/Scripts/Systems/Spells/Spell.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI, Status: Awaiting Changes

#7339 Map saving parrt 3
  UnityProject/Assets/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/UI/Lobby_ClownAnim.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scenes/DevScenes/RRT DEV2.unity
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/DeconstructDisposalPipe.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/PipeDeconstruction.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnInfo.cs
  UnityProject/Assets/Scripts/Core/Lighting System/Light2D/Util.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/Items/Others/RandomItemSpot.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/SpriteStretch.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/SpriteStretch.cs.meta
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaverAttribute.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaverAttribute.cs.meta
  UnityProject/Assets/Scripts/MapSaver/RuntimeSpawned.cs
  UnityProject/Assets/Scripts/MapSaver/RuntimeSpawned.cs.meta
  UnityProject/Assets/Scripts/MapSaver/TestMapSaverScript.cs
  UnityProject/Assets/Scripts/Messages/Server/TileChangesNewClientSync.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Objects/Canisters/Canister.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipeObject.cs
  UnityProject/Assets/Scripts/Objects/Doors/GeneralDoorAnimator.cs
  UnityProject/Assets/Scripts/Objects/Doors/WindoorAnimator.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorControlConsole.cs
  UnityProject/Assets/Scripts/Objects/Pipes/PipeItemTile.cs
  UnityProject/Assets/Scripts/Objects/Pipes/PipeTile.cs
  UnityProject/Assets/Scripts/Player/ItemLightControl.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/Resistance.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Inheritance/ElectricalIOInheritance.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Inheritance/ElectricalModuleInheritance.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/BatterySupplyingModule.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/ElectricalNodeControl.cs
  UnityProject/Assets/Scripts/Systems/Electricity/NodeModules/ResistanceSourceModule.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeData.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeFunctions.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/TileLocation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/UnderFloorLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Editor/Brushes/LevelBrush.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/CableCuttingWindow.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/UIColour.prefab
Labels: Scene Changes, UI

#7372 Adds Delivery and Loading Area Decals to the Crayon draw menu
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/ScriptableObjects/GraffitiTiles/FloorGraffitiSymbols.asset
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_delivery.asset
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_delivery.asset.meta
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_delivery.png
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_delivery.png.meta
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_loadingarea.asset
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_loadingarea.asset.meta
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_loadingarea.png
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_loadingarea.png.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/FloorGraffiti/FloorSymbols/DeliveryGraffiti.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/FloorGraffiti/FloorSymbols/DeliveryGraffiti.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/FloorGraffiti/FloorSymbols/LoadingAreaGraffiti.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/FloorGraffiti/FloorSymbols/LoadingAreaGraffiti.asset.meta
Labels: Status: Merge Conflicts, Sprite Work

#7390 Little clean up in movement related code
  UnityProject/Assets/Scripts/Clothing/WearableSpeedDebuff.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Others/ItemMagBoots.cs
  UnityProject/Assets/Scripts/Items/Others/Restraint.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/WeaponNetworkActions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Objects/Furniture/BuckleInteract.cs
  UnityProject/Assets/Scripts/Objects/Furniture/InteractableFurniture.cs
  UnityProject/Assets/Scripts/Objects/Furniture/ObjectPickupable.cs
  UnityProject/Assets/Scripts/Objects/Furniture/OccupiableDirectionalSprite.cs
  UnityProject/Assets/Scripts/Objects/PushPull.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs
  UnityProject/Assets/Scripts/Player/Movement.meta
  UnityProject/Assets/Scripts/Player/Movement/IMovementEffect.cs
  UnityProject/Assets/Scripts/Player/Movement/IMovementEffect.cs.meta
  UnityProject/Assets/Scripts/Player/Movement/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/Movement/PlayerMove.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerMove.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/SpatialRelationship/ObserveStorageRelationship.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#7401 Pop in Chat Bubble Text
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Managers/AdminManager.cs
  UnityProject/Assets/Scripts/Managers/SettingsManager/DisplaySettings.cs
  UnityProject/Assets/Scripts/Managers/SingletonManager.cs
  UnityProject/Assets/Scripts/Managers/SingletonManager.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminEnableMessage.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubble.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/DisplayOptions.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowUI.cs
  UnityProject/Assets/Scripts/UI/Core/SliderValueToLabel.cs
  UnityProject/Assets/Scripts/UI/Core/SliderValueToLabel.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_AdminItemSwap.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
  UnityProject/Assets/Scripts/Util/RandomUtils.cs
Labels: Status: Awaiting Review, UI

#7395 matrix initialization organization
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Items/Tool/GeigerCounter.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Server.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Objects/Canisters/Canister.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorPart.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Objects/Mining/MaterialSilo.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/GasMeter.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Client.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.Server.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixSync.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/SubsystemManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: Status: Awaiting Review, Status: Awaiting Testing

#7420 Fixes floor tiles disappearing from inventory after drag & drop
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSwap.cs
Labels: UI

#7459 Medkit consumable and NanoMed vendor balance tweaks, added charcoal pill bottle.
  UnityProject/Assets/Prefabs/Items/Storage/PillBottles/BottleOfCharcoalPills.prefab
  UnityProject/Assets/Prefabs/Items/Storage/PillBottles/BottleOfCharcoalPills.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/NanoMed.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/NanoMedPlus.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/FireFirstAidKitPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/FirstAidKitPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/PillBottles/BottleOfCharcoalPillsPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/PillBottles/BottleOfCharcoalPillsPopulator.asset.meta
Labels: System: Health

#7461 Deals with Server NRE's on Staging for 25th Sept
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Addressables/Types/AddressableReference.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateItemSlotMessage.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorBoiler.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationProducer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/UI/Systems/Hacking/GUI_Hacking.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
Labels: UI

#7464 Deals with Server NRE's on Staging for 26th Sept
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/EmagInteractionModule.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Shuttles/GUI_ShuttleControl.cs
Labels: UI

#7468 Catches Exceptions on the Client and returns LogErrors instead. Also adjusts Resolution of UI to QHD.
  UnityProject/Assets/Mirror/Runtime/NetworkWriter.cs
  UnityProject/Assets/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/ScriptableObjects/Gun/LayersToHit/Bullet_Laser.asset
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Items/Weapons/MagazineBehaviour.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Objects/Construction/APCFrame.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ActionRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ItemRadial.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSwap.cs
Labels: UI

#7477 Acu mapping wiki
  docs/development/How-to-Map.md
Labels: Documentation
