Repository unitystation/unitystation, pull requests merged in 2021-03, with the labels that each got.

#6128 Field Gen bug fix
  UnityProject/Assets/Scripts/Objects/Engineering/FieldGenerator.cs
Labels: Status: Ready to review

#6171 RWall Health Change
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/ReinforcedWall.asset
Labels: Status: Ready to review

#6161 Variable Pickaxe Speeds
  UnityProject/Assets/Resources/Prefabs/Items/Mining/PickaxeCompact.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Mining/PickaxeDiamondTipped.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Mining/PickaxeImprovised.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Mining/PickaxeSilverPlated.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Mining/mining_machines_54.prefab
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Tool/Pickaxe.cs
  UnityProject/Assets/Scripts/Objects/Mining/PickaxeMineable.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/BasicTile.cs
Labels: System: Mining

#6175 Changed CNT to a SyncVar
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/CustomNetTransformNewPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/CustomNetTransformNewPlayer.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/TransformStateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/TransformStateMessage.cs.meta
Labels: Status: Ready to review

#6177 Resets window position if you hit '
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
Labels: UI

#6180 Fixes admin join issue and ghost storage issue
  UnityProject/Assets/Scripts/Managers/AdminManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminEnableMessage.cs
Labels: Status: Ready to review

#6182 Fix singularity size error
  UnityProject/Assets/Scripts/Objects/Singularity.cs
Labels: Status: Ready to review

#6183 Fixes Some Connection Errors
  UnityProject/Assets/Scripts/Clothing/StepChanger.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Messages/GameMessageBase.cs
  UnityProject/Assets/Scripts/Messages/Server/HealthMessages/HealthBloodMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/PlayParticleMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
  UnityProject/Assets/Scripts/Objects/Machines/Microwave.cs
Labels: Status: Ready to review

#6191 Updates Addressable Sounds and How to Map docs
  docs/assets/images/AddressableSounds/addressable_groups_clean_build.png
  docs/assets/images/AddressableSounds/addressable_groups_new_build.png
  docs/assets/images/AddressableSounds/addressable_locate_groups.png
  docs/assets/images/HowToMap/matrix_move_shuttle.PNG
  docs/assets/images/HowToMap/matrix_move_sub_menu.PNG
  docs/assets/images/HowToMap/shuttle_specialities.png
  docs/development/Addressables.md
  docs/development/How-to-Map.md
Labels: Documentation

#6207 Fixes bullet collisions, fixess double spawning of limbs may be, Fixes some Layering issues
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDamageLivingHealth.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
Labels: Status: Merge Conflicts

#6219 MaterialStorage refactor
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Autolathe.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Research/CircuitImprinter.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Research/Exosuit Fabricator.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Research/research_0.prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/CraftingManager.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Machines/MaterialsInMachineStorage.asset
  UnityProject/Assets/Resources/ScriptableObjects/Machines/MaterialsInMachineStorage.asset.meta
  UnityProject/Assets/Scripts/Managers/CraftingManager.cs
  UnityProject/Assets/Scripts/Objects/ExosuitFabricator.cs
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorage.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialsInMachineStorage.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialsInMachineStorage.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_AutolatheMaterialEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_AutolathePageMaterialsAndCategory.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExoFabMaterialEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExoFabPageMaterialsAndCategory.cs
Labels: UI

#6224 Mineral silos
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Autolathe.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Mining.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Mining/MaterialSilo.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/Mining/MaterialSilo.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Objects/Research/Exosuit Fabricator.prefab
  UnityProject/Assets/Scripts/Managers/CraftingManager.cs
  UnityProject/Assets/Scripts/Objects/ExosuitFabricator.cs
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorage.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorageLink.cs
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorageLink.cs.meta
  UnityProject/Assets/Scripts/Objects/Mining/MaterialSilo.cs
  UnityProject/Assets/Scripts/Objects/Mining/MaterialSilo.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Commons/Autolathe/GUI_Autolathe.cs
  UnityProject/Assets/Scripts/UI/Objects/Robotics/ExosuitFabricator/GUI_ExosuitFabricator.cs
Labels: UI

#6225 Nonbinary gender and neutral pronouns for "unknown" players
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanChest.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/BodyParts/Cat Person/Cat Person.asset
  UnityProject/Assets/Resources/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Resources/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Resources/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Resources/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Resources/ScriptableObjects/SOs singletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Scripts/Clothing/PlayerCustomisationData.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Health/Living/HumanHealth/PlayerHealth.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/Health/RespiratoryHealth/RespiratorySystem.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Food/ConsumableTextUtils.cs
  UnityProject/Assets/Scripts/Items/Food/Lighter.cs
  UnityProject/Assets/Scripts/Items/Implants/ImplantBase.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/SpellBooks/ForcewallPunishment.cs
  UnityProject/Assets/Scripts/Managers/StringManager.cs
  UnityProject/Assets/Scripts/Mobs/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/Systems/Spells/Mime/MimeBox.cs
  UnityProject/Assets/Scripts/Systems/Spells/Mime/MimeChair.cs
  UnityProject/Assets/Scripts/Systems/Spells/Mime/MimeWall.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSettings.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/Gender.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/Pronouns.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/Pronouns.cs.meta
  UnityProject/Assets/Textures/mobs/races/Human/body parts/greyscale/greyscale_human_chest_n.asset
  UnityProject/Assets/Textures/mobs/races/Human/body parts/greyscale/greyscale_human_chest_n.asset.meta
  UnityProject/Assets/Textures/mobs/races/Human/body parts/greyscale/greyscale_human_chest_n.png
  UnityProject/Assets/Textures/mobs/races/Human/body parts/greyscale/greyscale_human_chest_n.png.meta
Labels: Sprite Work, UI

#6233 Updates exofab products. Update bananium material asset.
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanChest.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Endoskeleton.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Endoskeleton.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Head.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Arm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Arm.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Leg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Left Leg.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Right Arm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Right Arm.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Right Leg.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Torso.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/Cyborg Torso.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/CyborgEndoskeleton.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Robotics/CyborgEndoskeleton.prefab.meta
  UnityProject/Assets/Resources/Prefabs/Items/Storage/FirstAidKits/FirstAidKit.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Construction/CleanbotAssembly.prefab
  UnityProject/Assets/Resources/Prefabs/Mobs/Bot/Resources/Construction/FloorbotAssembly.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Machines/ExoFabProducts.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/BananiumMaterial.asset
  UnityProject/Assets/Scenes/AwaySites/Relicta.unity
Labels: Scene Changes

#6237 Add test for order exploits in CargoData
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/CargoData.cs
  UnityProject/Assets/Tests/Balance.meta
  UnityProject/Assets/Tests/Balance/CargoTest.cs
  UnityProject/Assets/Tests/Balance/CargoTest.cs.meta
  UnityProject/Assets/Tests/SubsceneTests.cs
  UnityProject/Assets/Tests/Utils.cs
  UnityProject/Assets/Tests/Utils.cs.meta
Labels: UI

#6244 How to Sprite additions
  docs/Documentation-Guide.md
  docs/assets/images/HowToMap/atmos_pipes.png
  docs/assets/images/HowToMap/matrix_move_shuttle.png
  docs/assets/images/HowToMap/matrix_move_sub_menu.png
  docs/assets/images/HowToMap/spawn_points.png
  docs/assets/images/HowToMap/test_runner.png
  docs/assets/images/HowToSprite/crowbar_change_durden.png
  docs/assets/images/HowToSprite/crowbar_editor.png
  docs/assets/images/HowToSprite/durden_sprite_editor_slice.png
  docs/assets/images/HowToSprite/durden_sprite_mode_single_multiple.png
  docs/assets/images/HowToSprite/durden_sprite_so.png
  docs/assets/images/HowToSprite/tyler_in_file.png
  docs/assets/images/HowToSprite/tyler_inspector_view.png
  docs/assets/images/HowToSprite/tyler_select_sprite.png
  docs/assets/images/HowToSprite/tyler_sprite_data_so.png
  docs/development/How-to-Sprite.md
Labels: Documentation

#6251 Labor points
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/VendingMachines/MiningEquipment.prefab
  UnityProject/Assets/Resources/Prefabs/Objects/Machines/VendingMachines/MiningEquipment.prefab.meta
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabOreRedemptionMachine.prefab
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/VendorEntry.prefab
  UnityProject/Assets/Resources/ScriptableObjects/Mining/BananiumMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/BluespaceCrystalMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/DiamondMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/GlassMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/GoldMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/MetalMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/PlasmaMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/SilverMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/TitaniumMaterial.asset
  UnityProject/Assets/Resources/ScriptableObjects/Mining/UraniumMaterial.asset
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/Items/MaterialSheet.cs
  UnityProject/Assets/Scripts/Objects/Mining/OreRedemptionMachine.cs
  UnityProject/Assets/Scripts/Objects/Vendor.cs
  UnityProject/Assets/Scripts/Systems/Occupations/AccessRestrictions.cs
  UnityProject/Assets/Scripts/UI/Objects/Commons/Vending/VendorItemEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialsList.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_OreRedemptionMachine.cs
Labels: UI

#6260 Fixed objects not despawning properly
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Despawn.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
Labels: Status: Ready to review

#6263 Fixes the dev spawner freezing lag on empty search
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSpawner.cs
Labels: UI

#6268 Ore box loading
  UnityProject/Assets/Resources/Prefabs/UI/Tabs/Resources/TabOreRedemptionMachine.prefab
  UnityProject/Assets/Scripts/Objects/Mining/OreBox.cs
  UnityProject/Assets/Scripts/Objects/Mining/OreRedemptionMachine.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_OreRedemptionMachine.cs
Labels: UI

#6264 tells you if your CPR is a bit useless, sprites should rotate properly now
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanChest.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Clothing/RestraintOverlay.cs
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/RootBodyPartContainer.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/UI/Core/PanelHudBottomController.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: UI

#6287 Fixes Overlays for proto, explosions and hotspots
  UnityProject/Assets/ScriptableObjects/Gun/AnimationTile/AnimationKinetic.asset
  UnityProject/Assets/Scripts/ScriptableObjects/Gun/TileAnimations/AnimationTile.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionComponent.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/KineticAnimation.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/KineticAnimation.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/LargeAsh.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/SmallAsh.asset
Labels: Status: Ready to review

#6282 Restores random character generation functionality + minor fixes and documentation to the character creator.
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanChest.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanLeftLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightArm.prefab
  UnityProject/Assets/Resources/Prefabs/Items/Implants/Organs/HumanRightLeg.prefab
  UnityProject/Assets/Resources/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartCustomisationBase.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartDropDownReplaceOrgan.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/CustomisationSubPart.cs
Labels: System: Health, UI

#6304 Headless Server Health Update Error Fix
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
Labels: Status: Ready to review

#6316 Racks are not properly despawning when deconstructed or destroyed. #6190
  UnityProject/Assets/Resources/Prefabs/Objects/Construction/Rack.prefab
  UnityProject/Assets/Scripts/Objects/Construction/Rack.cs
Labels: Status: Ready to review
