Repository unitystation/unitystation, pull requests merged in 2022-02, with the labels that each got.

#8303 Wrapping paper fixes
  UnityProject/Assets/Prefabs/Items/Cargo/_ItemParcel.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/WrappedContainers/_ObjectParcel.prefab
  UnityProject/Assets/Scripts/Items/Cargo/Wrapping/WrappingPaper.cs
  UnityProject/Assets/Textures/items/storage/storage_deliverycloset.png
Labels: Sprite Work

#8319 Advanced Scanning Record
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCloningConsole.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_Cloning.cs
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_chest_highlight.asset
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_chest_highlight.asset.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_chest_highlight.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_chest_highlight.png.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_head_highlight.asset
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_head_highlight.asset.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_head_highlight.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_head_highlight.png.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_arm_highlight.asset
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_arm_highlight.asset.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_arm_highlight.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_arm_highlight.png.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_leg_highlight.asset
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_leg_highlight.asset.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_leg_highlight.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_l_leg_highlight.png.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_arm_highlight.asset
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_arm_highlight.asset.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_arm_highlight.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_arm_highlight.png.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_leg_highlight.asset
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_leg_highlight.asset.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_leg_highlight.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_r_leg_highlight.png.meta
  UnityProject/Assets/UI/UI_Sprites/GUI/UIOrganInfo.asset
  UnityProject/Assets/UI/UI_Sprites/GUI/UIOrganInfo.asset.meta
  UnityProject/Assets/UI/UI_Sprites/GUI/UIOrganInfo.png
  UnityProject/Assets/UI/UI_Sprites/GUI/UIOrganInfo.png.meta
Labels: Sprite Work, UI

#8329 Fix eating/drinking through helmets or masks + Limit to length of name and title on ID
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/AncientHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Beanies/ChristmasBeanie.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/BioHoods/BioHood.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/BlackRedSpaceHelmetReplica.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/BombHoods/BombHood.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Cardborg Helmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/CorgiHood.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/CrusaderHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/GriffonHead.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/MagusHelmBloodCult.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/RadiationHood.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/EVAHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/EngineeringHardsuitHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/SpaceHelmetBase.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WeldingHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WerewolfMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/XenosHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/BreathMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/CarpMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/ClownMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/FakeMoustache.prefab
  UnityProject/Assets/Scripts/Clothing/ClothingV2.cs
  UnityProject/Assets/Scripts/Items/Food/DrinkableContainer.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Mobs/Equipment/Equipment.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
Labels: UI

#8336 Interrupt ProgressActions
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Items/PlaceableTile.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
Labels: UI

#8340 Fixes accumulating ability icons
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
Labels: UI

#8341 Allows AI to interact with consoles that require IDs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageCart.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
Labels: Status: Awaiting Review, UI

#8365 Adds the Secret Documents HRI
  UnityProject/Assets/Prefabs/Items/Bureaucracy/NTSecretDocuments.prefab
  UnityProject/Assets/Prefabs/Items/Bureaucracy/NTSecretDocuments.prefab.meta
  UnityProject/Assets/Prefabs/Items/Storage/PaperFolders/NT Secure Folder.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/Steal.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/NTSecureFolderPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/NTSecureFolderPopulator.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/SecureBriefcaseSyndicatePopulator.asset
Labels: Type: Feature, Type: Balance

#8364 Added centcom officer, clown, and greytide disguises to the syndicate Uplink.
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/ClownCostumeBundle.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/ClownCostumeBundle.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/GreytideDuffelBundle.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/GreytideDuffelBundle.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/MiningConscriptionDuffelBag.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/MiningConscriptionDuffelBag.prefab.meta
  UnityProject/Assets/Prefabs/Items/Storage/CentcomOfficerCostumeBriefcase.prefab
  UnityProject/Assets/Prefabs/Items/Storage/CentcomOfficerCostumeBriefcase.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/CentcomOfficerCostumeBundle.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/CentcomOfficerCostumeBundle.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/ClownCostumeBundle.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/ClownCostumeBundle.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/GreytideCostumeBundle.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/GreytideCostumeBundle.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/StalkerBundle.asset
  UnityProject/Assets/ScriptableObjects/PDA/UplinkCategoryList.asset
Labels: Type: Feature, Type: Balance

#8366 Playtest fixes3
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Firelocks/Firelock.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
Labels: Status: Awaiting Review

#8375 Improves the addressable picker
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/AddressableReferencePropertyDrawer.cs
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/StringSearchList.cs
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/StringSearchList.cs.meta
Labels: Status: Awaiting Review

#8373 fixes hivebot fabricator error
  UnityProject/Assets/Prefabs/Items/Spawners/LavalandRandomMobSpawner.prefab
  UnityProject/Assets/Prefabs/Items/Spawners/LavalandRandomMobSpawner.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/Hivebot Fabricator.prefab
Labels: Status: Awaiting Review

#8392 Lets the AI control ACUs again
  UnityProject/Assets/Scripts/Objects/Atmospherics/AirController.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/ACU/GUI_Acu.cs
Labels: UI

#8377 Regen meshs' stacks are now visually visible + require opening before use.
  UnityProject/Assets/Prefabs/Items/Food/Drinks/SodaCans/SpaceColaCan.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Regen Mesh.prefab
  UnityProject/Assets/Scripts/Items/Food/Consumable.cs
  UnityProject/Assets/Scripts/Items/HandPreparable.cs
  UnityProject/Assets/Scripts/Items/HandPreparable.cs.meta
  UnityProject/Assets/Scripts/Items/Medical/HealsTheLiving.cs
Labels: Status: Awaiting Review

#8394 Asking for more materials than there is just dumps all materials now
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Common/Autolathe/GUI_AutolatheMaterialEntry.cs
Labels: Status: Awaiting Review, UI

#8438 Adds a quick respawn toggle for admins
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: Status: Awaiting Review, UI

#8435 Fixes antags stealing objectives failing
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objective.cs
Labels: Status: Awaiting Review

#8391 Fixed being unable to login to security console
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
Labels: Status: Awaiting Review, UI
