Repository unitystation/unitystation, pull requests merged in 2022-04, with the labels that each got.

#8533 Adds the "Give Item" ability for admins in the player manager
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGiveItem.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGiveItem.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGiveItemEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGiveItemEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/Search/SpawnerSearch.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GUI_AdminTools.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: System: Admin, UI

#8534 Removes the character screen on joining a server from stationhub
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_LobbyDialogue.cs
Labels: UI

#8524 Update ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
Labels: Status: Awaiting Changes

#8540 Expanded file cabinet traits list and fix small issues with Ruin02
  UnityProject/Assets/Prefabs/Items/Storage/PaperFolders/Grey Folder.prefab
  UnityProject/Assets/Prefabs/Objects/Library/FileCabinet.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/ScriptableObjects/Traits/Usage/Folder.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/Folder.asset.meta
Labels: Type: Balance, Scene Changes

#8538 Add Mirror doc (link to unitystation/Mirror contribution guide)
  docs/development/Mirror.md
Labels: Status: Awaiting Review, Documentation

#8536 Expanded Voting
  UnityProject/Assets/Materials/PostProcess/Post-FloorFovGenerator Material.mat
  UnityProject/Assets/Prefabs/Objects/Wallmounts/RequestConsole.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Voting/VotePopUp.cs
  UnityProject/Assets/Scripts/Systems/Voting/VotingButton.cs
  UnityProject/Assets/Scripts/Systems/Voting/VotingButton.cs.meta
  UnityProject/Assets/Scripts/Systems/Voting/VotingManager.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
Labels: Status: Awaiting Review, UI

#8544 Switch to SpaceMirror master (Mirror 64.04)
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Networking/CustomInterestManagement.cs
  UnityProject/Assets/Scripts/Core/Networking/CustomInterestManagement.cs.meta
  UnityProject/Assets/Scripts/Core/Networking/CustomNetSceneChecker.cs
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Managers/InfiniteLoopTracker.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Server.cs
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
Labels: Status: Awaiting Review

#8541 Fixes admin's "give item" ability on headless servers
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: UI

#8557 Adds the ability for admins to manage and create new bounties for cargo
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManager.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManagerListEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManagerListEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/RoundManagerPage.cs
Labels: UI

#8570 one more attempt at fixing the admin item giver button
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGiveItem.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GUI_AdminTools.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: UI

#8578 Brute and Combat medkits
  UnityProject/Assets/Prefabs/Items/Storage/FirstAidKits/BruteTreatmentKit.prefab
  UnityProject/Assets/Prefabs/Items/Storage/FirstAidKits/BruteTreatmentKit.prefab.meta
  UnityProject/Assets/Prefabs/Items/Storage/FirstAidKits/CombatAidKit.prefab
  UnityProject/Assets/Prefabs/Items/Storage/FirstAidKits/CombatAidKit.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/BruteAidKitPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/BruteAidKitPopulator.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/CombatAidKitPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/CombatAidKitPopulator.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTMedic.asset
  UnityProject/Assets/ScriptableObjects/PDA/UplinkCategoryList.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RandomMedkit.asset
Labels: Type: Balance

#8584 Wizard Spell Blade
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticAccelerator.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/EnergyCrossbowMini.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Misc/SpellBlade.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Misc/SpellBlade.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_LaserHeavy.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/SpellbladeProjectile.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/SpellbladeProjectile.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/PoolConfig.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_Spellblade.asset
  UnityProject/Assets/ScriptableObjects/Gun/DamageInfo/Bullet_Spellblade.asset.meta
  UnityProject/Assets/Scripts/Items/Weapons/GunPKA.cs
Labels: Type: Balance, Type: Improvement

#8576 Improved random seed drops and aloe seed pack sprite fix
  UnityProject/Assets/Prefabs/Items/Botany/Seeds/AloeSeeds.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RandomSeeds.asset
  UnityProject/Assets/Textures/objects/hydroponics/seeds/seed-aloe.asset
  UnityProject/Assets/Textures/objects/hydroponics/seeds/seed-aloe.asset.meta
  UnityProject/Assets/Textures/objects/hydroponics/seeds/seed-aloe.png
  UnityProject/Assets/Textures/objects/hydroponics/seeds/seed-aloe.png.meta
Labels: Type: Balance, Sprite Work

#8579 New wizard spell: Stunning Bolt, aka Thrown Lightning.
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SpellImplementations/Wizard/StunningBolt.prefab
  UnityProject/Assets/Prefabs/SpellImplementations/Wizard/StunningBolt.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpellList.asset
  UnityProject/Assets/ScriptableObjects/Items/SpellBook/SpellBookData.asset
  UnityProject/Assets/ScriptableObjects/Items/SpellBook/Spells/StunningBolt.asset
  UnityProject/Assets/ScriptableObjects/Items/SpellBook/Spells/StunningBolt.asset.meta
  UnityProject/Assets/ScriptableObjects/Spells/Wizard/StunningBolt.asset
  UnityProject/Assets/ScriptableObjects/Spells/Wizard/StunningBolt.asset.meta
Labels: Type: Balance

#8586 Alternate wizard robe colors and adds spell blade to spellbook.
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/BlackWizardHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/BlackWizardHat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/PaperWizardHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/PaperWizardHat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/RedWizardHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/RedWizardHat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/VioletWizardHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/VioletWizardHat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/YellowWizardHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/WizardHats/YellowWizardHat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/BlackWizardRobe.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/BlackWizardRobe.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/PaperWizardRobe.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/PaperWizardRobe.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/RedWizardRobe.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/RedWizardRobe.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/YellowWizardRobe.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WizardRobes/YellowWizardRobe.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/MagiVend.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/WizardAsteroid.unity
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/ScriptableObjects/Items/SpellBook/Artifacts/SpellBlade.asset
  UnityProject/Assets/ScriptableObjects/Items/SpellBook/Artifacts/SpellBlade.asset.meta
  UnityProject/Assets/ScriptableObjects/Items/SpellBook/SpellBookData.asset
  UnityProject/Assets/Textures/clothing/head/wizard hat/Black wizard hat.asset
  UnityProject/Assets/Textures/clothing/head/wizard hat/Black wizard hat.asset.meta
  UnityProject/Assets/Textures/clothing/head/wizard hat/paper wizard hat.asset
  UnityProject/Assets/Textures/clothing/head/wizard hat/paper wizard hat.asset.meta
  UnityProject/Assets/Textures/clothing/head/wizard hat/red wizard hat.asset
  UnityProject/Assets/Textures/clothing/head/wizard hat/red wizard hat.asset.meta
  UnityProject/Assets/Textures/clothing/head/wizard hat/violet wizard hat.asset
  UnityProject/Assets/Textures/clothing/head/wizard hat/violet wizard hat.asset.meta
  UnityProject/Assets/Textures/clothing/head/wizard hat/yellow wizard hat.asset
  UnityProject/Assets/Textures/clothing/head/wizard hat/yellow wizard hat.asset.meta
  UnityProject/Assets/Textures/clothing/suits/wizard robe/black wizard robe.asset
  UnityProject/Assets/Textures/clothing/suits/wizard robe/black wizard robe.asset.meta
  UnityProject/Assets/Textures/clothing/suits/wizard robe/paper wizard robe.asset
  UnityProject/Assets/Textures/clothing/suits/wizard robe/paper wizard robe.asset.meta
  UnityProject/Assets/Textures/clothing/suits/wizard robe/red wizard robe.asset
  UnityProject/Assets/Textures/clothing/suits/wizard robe/red wizard robe.asset.meta
  UnityProject/Assets/Textures/clothing/suits/wizard robe/suits_blackwizard.asset
  UnityProject/Assets/Textures/clothing/suits/wizard robe/suits_blackwizard.asset.meta
  UnityProject/Assets/Textures/clothing/suits/wizard robe/suits_blackwizard.png
  UnityProject/Assets/Textures/clothing/suits/wizard robe/suits_blackwizard.png.meta
  UnityProject/Assets/Textures/clothing/suits/wizard robe/yellow wizard robe.asset
  UnityProject/Assets/Textures/clothing/suits/wizard robe/yellow wizard robe.asset.meta
Labels: Scene Changes, Sprite Work

#8583 Fixes cargo admin manager
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManagerListEntry.cs
Labels: UI

#8591 Pirate EVA suit
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Helmets/InfiltratorHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PirateEVAHelmetBandanna.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PirateEVAHelmetBandanna.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PirateEVAHelmetHat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/PirateEVAHelmetHat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/PirateEVASuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/PirateEVASuit.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirate EVA bandanna.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirate EVA bandanna.asset.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirate EVA hat.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirate EVA hat.asset.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAbandanna.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAbandanna.asset.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAbandannaworn.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAbandannaworn.asset.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAhat.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAhat.asset.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAhatworn.asset
  UnityProject/Assets/Textures/clothing/head/EVA helmet/pirateEVAhatworn.asset.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna back.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna back.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna front.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna front.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna left.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna left.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna right.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm bandanna right.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat back.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat back.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat front.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat front.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat left.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat left.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat right.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helm hat right.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helmet bandana.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helmet bandana.png.meta
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helmet hat.png
  UnityProject/Assets/Textures/clothing/head/EVA helmet/space pirate helmet hat.png.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/pirate EVA suit.asset
  UnityProject/Assets/Textures/clothing/suits/EVA suit/pirate EVA suit.asset.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/pirateEVAsuit.asset
  UnityProject/Assets/Textures/clothing/suits/EVA suit/pirateEVAsuit.asset.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/pirateEVAsuitworn.asset
  UnityProject/Assets/Textures/clothing/suits/EVA suit/pirateEVAsuitworn.asset.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit back.png
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit back.png.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit front.png
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit front.png.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit item.png
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit item.png.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit left.png
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit left.png.meta
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit right.png
  UnityProject/Assets/Textures/clothing/suits/EVA suit/space pirate suit right.png.meta
Labels: Sprite Work

#8606 Fix admin event cooldowns
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/EventsManagerPage.cs
Labels: UI

#8604 Misc. explosives fixes
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabExplosive.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPizzaBomb.prefab
  UnityProject/Assets/Scripts/Items/Storage/PizzaBox.cs
  UnityProject/Assets/Scripts/Items/Weapons/AttachableExplosive.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosiveBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/PowerSink.cs
  UnityProject/Assets/Scripts/Messages/Server/EnableComponentMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/EnableComponentMessage.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Explosive.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_PizzaBomb.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#8603 improvements,
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Managers/AudioManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/SoundOptions.cs
Labels: UI

#8608 Adds more controls for admins for bounty rewards and station budget
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManagerListEntry.cs
Labels: System: Cargo, System: Admin, UI

#8614 Fix LightningBolt Spell
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/UpdateManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ElectricalArc.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/LightningBolt.cs
Labels: Type: Balance

#8615 fix: maybe fixes labeler from breaking after merge
  .github/workflows/labelers.yml
Labels: Status: Awaiting Review

#8613 maybe changelogs will work again?
  .github/workflows/changelog.yml
Labels: Status: Awaiting Review

#8623 Small fixes: ensure username on new character, resilient addressables, fixes kick on round restart
  UnityProject/Assets/Scripts/Managers/AddressableManager/AddressableCatalogueManager.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#8626 Fix starting the game from the lobby in the editor
  UnityProject/Assets/Scripts/Core/Editor/SceneAutoLoader.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/MainStationListSO.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
Labels: Status: Awaiting Review

#8625 Improve lobby UI flow
  UnityProject/Assets/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/LobbyManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_LobbyDialogue.cs
Labels: Status: Awaiting Review, UI
