Repository unitystation/unitystation, pull requests merged in 2022-11, with the labels that each got.

#9284 the option between classic and new hover tooltip
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/Panel_ToolTip.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/TooltipHoverManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/TooltipHoverManager.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#9281 Character Attributes - Part one
  UnityProject/Assets/IngameDebugConsole/Sprites/Unused/IconErrorHighRes.psd.meta
  UnityProject/Assets/IngameDebugConsole/Sprites/Unused/IconInfoHighRes.psd.meta
  UnityProject/Assets/IngameDebugConsole/Sprites/Unused/IconWarningHighRes.psd.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors/GiveAccessToIDs.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors/GiveAccessToIDs/GiveCaptainAccess.prefab
  UnityProject/Assets/Prefabs/AttributeBehaviors/GiveAccessToIDs/GiveCaptainAccess.prefab.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors/InventoryPopulators.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors/InventoryPopulators/InventoryPopulatorBehaviorCaptain.prefab
  UnityProject/Assets/Prefabs/AttributeBehaviors/InventoryPopulators/InventoryPopulatorBehaviorCaptain.prefab.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors/SpawnAtJobType.meta
  UnityProject/Assets/Prefabs/AttributeBehaviors/SpawnAtJobType/SpawnAtCaptain.prefab
  UnityProject/Assets/Prefabs/AttributeBehaviors/SpawnAtJobType/SpawnAtCaptain.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Research/BlastYieldDetector.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/Nanotrasen_JobSelect.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptableObjects/CharacterAttributes.meta
  UnityProject/Assets/ScriptableObjects/CharacterAttributes/Jobs.meta
  UnityProject/Assets/ScriptableObjects/CharacterAttributes/Jobs/Captain.asset
  UnityProject/Assets/ScriptableObjects/CharacterAttributes/Jobs/Captain.asset.meta
  UnityProject/Assets/ScriptableObjects/CharacterAttributes/Jobs/RoundJoinAttributes.asset
  UnityProject/Assets/ScriptableObjects/CharacterAttributes/Jobs/RoundJoinAttributes.asset.meta
  UnityProject/Assets/Scripts/Core/Characters.meta
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors.meta
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/GiveAccessToID.cs
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/GiveAccessToID.cs.meta
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/SetupPlayerInventory.cs
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/SetupPlayerInventory.cs.meta
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/SpawnAtJobType.cs
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/SpawnAtJobType.cs.meta
  UnityProject/Assets/Scripts/Core/Characters/CharacterAttributeBehavior.cs
  UnityProject/Assets/Scripts/Core/Characters/CharacterAttributeBehavior.cs.meta
  UnityProject/Assets/Scripts/Core/Characters/CharacterAttributes.cs
  UnityProject/Assets/Scripts/Core/Characters/CharacterAttributes.cs.meta
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestSpawnWithAttribute.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestSpawnWithAttribute.cs.meta
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Characters.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Characters/CharacterAttribute.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Characters/CharacterAttribute.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Characters/RoundJoinAttributes.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Characters/RoundJoinAttributes.cs.meta
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
Labels: Scene Changes, UI

#9291 Updates to Unity 2021.3.12f1 LTS
  .github/workflows/test.yml
  README.md
  UnityProject/Assets/Prefabs/Objects/Research/BlastYieldDetector.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/PublicTerminal.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/UnityPackages.meta
  UnityProject/Assets/UnityPackages/JsonNet.meta
  UnityProject/Assets/UnityPackages/JsonNet.unitypackage.json
  UnityProject/Assets/UnityPackages/JsonNet.unitypackage.json.meta
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll.mdb
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll.mdb.meta
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll.meta
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
  UnityProject/ProjectSettings/InputManager.asset
  UnityProject/ProjectSettings/ProjectSettings.asset
  UnityProject/ProjectSettings/ProjectVersion.txt
  UnityProject/ProjectSettings/ShaderGraphSettings.asset
  docs/contribution-guides/Starting-contribution.md
Labels: Scene Changes, Documentation

#9301 reverts update and redoes it
  UnityProject/Assets/Prefabs/Objects/Research/BlastYieldDetector.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/PublicTerminal.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/UnityPackages.meta
  UnityProject/Assets/UnityPackages/JsonNet.meta
  UnityProject/Assets/UnityPackages/JsonNet.unitypackage.json
  UnityProject/Assets/UnityPackages/JsonNet.unitypackage.json.meta
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll.mdb
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll.mdb.meta
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.dll.meta
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.pdb
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.pdb.meta
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.xml
  UnityProject/Assets/UnityPackages/JsonNet/Newtonsoft.Json.xml.meta
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
  UnityProject/ProjectSettings/InputManager.asset
  UnityProject/ProjectSettings/ProjectSettings.asset
  UnityProject/ProjectSettings/ShaderGraphSettings.asset
Labels: Scene Changes

#9305 Adds the option to the UI to play in off-line mode
  UnityProject/Assets/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Scripts/Core/Networking/Authenticator.cs
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/AccountLoginPanel.cs
Labels: UI

#9315 The great hover tooltip
  UnityProject/Assets/Materials/Sprites_Outline.mat
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/Panel_ToolTip.prefab
  UnityProject/Assets/Prefabs/UI/Tooltips.meta
  UnityProject/Assets/Prefabs/UI/Tooltips/HoverTooltip.prefab
  UnityProject/Assets/Prefabs/UI/Tooltips/HoverTooltip.prefab.meta
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/Items/Weapons/AttachableExplosive.cs
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Player/Huggable.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterObject.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PanelTooltipManager.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PanelTooltipManager.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/TooltipHoverManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips.meta
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips.meta
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/IHoverTooltip.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/IHoverTooltip.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#9369 Fixes hover tooltips getting stuck when a high level experience is enabled.
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs
Labels: UI

#9373 Server Password
  UnityProject/Assets/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Core/Database/ServerData.ServerStatus.cs
  UnityProject/Assets/Scripts/Core/Networking/Authenticator.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/LobbyManager.cs
  UnityProject/Assets/Scripts/Messages/Client/GhostRoles/RequestAvailableGhostRolesMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Lobby/InfoPanelMessageClient.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminToolRefreshMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ServerSettingsPage.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_ServerPassword.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_ServerPassword.cs.meta
  UnityProject/Assets/StreamingAssets/config/config.json
Labels: UI

#9367 Alternative prefab names
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardCaptainsSpare.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Eyewear/NightVisionGoggles.prefab
  UnityProject/Assets/Prefabs/Items/Food/Drinks/_DrinkBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_SnackBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/_FoodBase.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/_GunEnergyBase.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/_GunBase.prefab
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGiveItemEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/Search/DevSpawnerDocument.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/Search/SpawnerSearch.cs
Labels: UI

#9364 Expands upon development standards doc
  docs/contribution-guides/Development-Standards-Guide.md
Labels: Documentation

#9370 First time player experience selection screen
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/Learning/ExpLevelScreen.prefab
  UnityProject/Assets/Prefabs/UI/Learning/ExpLevelScreen.prefab.meta
  UnityProject/Assets/Scripts/Learning/ProtipManager.cs
  UnityProject/Assets/Scripts/Learning/UI/ExpLevelUI.cs
  UnityProject/Assets/Scripts/Learning/UI/ExpLevelUI.cs.meta
  UnityProject/Assets/Scripts/UI/Core/OnMouseEnterUI.cs
  UnityProject/Assets/Scripts/UI/Core/OnMouseEnterUI.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#9381 Updates Xenomorph embryo sprite
  UnityProject/Assets/Prefabs/Items/Implants/Xenomorph/XenomorphLarvaeOrgan.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/items/surgery/surgery_larvae_organ.asset
  UnityProject/Assets/Textures/items/surgery/surgery_larvae_organ.asset.meta
  UnityProject/Assets/Textures/items/surgery/surgery_larvae_organ.png
  UnityProject/Assets/Textures/items/surgery/surgery_larvae_organ.png.meta
Labels: Sprite Work

#9382 Fixes hover tooltip anim getting stuck + Adds delay option
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs
Labels: UI

#9383 Fixes ghost UI appearing when it shouldn't and fixes mimes not getting their spells
  UnityProject/Assets/Scripts/Messages/Server/SetActionUIMessage.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
Labels: UI

#9385 Protip behavior improvements and options placement change
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/Objects/Wallmounts/PublicTerminal.prefab
  UnityProject/Assets/Prefabs/UI/Learning/HelpWindow.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Learning/ProtipObject.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnPickupTrait.cs
  UnityProject/Assets/Scripts/Learning/UI/ProtipListUI.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/GameplayOptions.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/GameplayOptions.cs.meta
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeManager.cs
Labels: UI
