Repository unitystation/unitystation, pull requests merged in 2022-01, with the labels that each got.

#8032 Ghost Orbit
  UnityProject/Assets/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Scripts/Core/Transform/RotateAroundTransform.cs
  UnityProject/Assets/Scripts/Player/GhostOrbit.cs
  UnityProject/Assets/Scripts/Player/GhostOrbit.cs.meta
  UnityProject/Assets/Scripts/UI/Core/Windows/TeleportWindow/TeleportWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
Labels: UI

#8078 Ash and Smoke filtration. fixes #8071
  UnityProject/Assets/Prefabs/Objects/Wallmounts/ACU.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ACU/ACUScrubberEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ACU/TabACU.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabFilter.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/GasesSingleton.asset
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Filter.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Atmospherics/GasesSingleton.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/ACU/Templates/GUI_AcuScrubberEntry.cs
Labels: UI

#8077 Fix warnings
  UnityProject/Assets/Scripts/Core/Editor/GenerateSpriteSO.cs
  UnityProject/Assets/Scripts/Core/Editor/MiscFunctions.cs
  UnityProject/Assets/Scripts/Core/Editor/MiscFunctions.cs.meta
  UnityProject/Assets/Scripts/Core/Editor/PreBuildActions.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawnRequest.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamageDescriptors.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Cards/Emag.cs
  UnityProject/Assets/Scripts/Managers/AudioManager.cs
  UnityProject/Assets/Scripts/Managers/ConnectedPlayer.cs
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/JobAllocator.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/NPC/AI/MobMeleeAction.cs
  UnityProject/Assets/Scripts/NPC/AI/MobObjective.cs
  UnityProject/Assets/Scripts/Objects/Alien/AlienEggCycle.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/ElectrifiedDoorModule.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/RadiationCollector.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Objects/Gateway/StationGateway.cs
  UnityProject/Assets/Scripts/Objects/Kitchen/InteractableBarrel.cs
  UnityProject/Assets/Scripts/Objects/Machines/QuantumPad.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Player/PlayerSync.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antagonist.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/Blob.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Cargonian.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Survivor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Traitor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Assassinate.cs
  UnityProject/Assets/Scripts/Systems/GameModes/Cargonia.cs
  UnityProject/Assets/Scripts/Systems/GameModes/Extended.cs
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Hands.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Blob.cs
  UnityProject/Assets/Tests/Asset/NetworkManagerTests.cs
  UnityProject/Assets/Tests/SubsceneTests.cs
Labels: UI

#8065 You can now pull tails
  UnityProject/Assets/Prefabs/Items/Implants/Organs/_TailBase.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/ScriptableObjects/Traits/Implants/Tail.asset
  UnityProject/Assets/ScriptableObjects/Traits/Implants/Tail.asset.meta
  UnityProject/Assets/Scripts/Player/Huggable.cs
Labels: Status: Awaiting Review

#8102 Handles customisations on body parts better
  UnityProject/Assets/Prefabs/Items/Implants/Implant.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/BodyPartSpriteAndColour Variant.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/BodyPartSpriteAndColourFacialHair.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/Frills.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/Horns.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/Snout.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/Spikes.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/lizard/TailCustomisation.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/moth/MothAntennae.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/moth/MothMarkings.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/moth/MothWings.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/TailCustomisation 1.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/VulpkaninBodyMarkings.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/VulpkaninFacialHair.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/VulpkaninFacialMarkings.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/VulpkaninHair.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/VulpkaninTailCustomisation.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/DropDownSprites/vulpkanin/VulpkaninTailMarkings.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartColourSprite.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/BodyPartCustomisations/BodyPartSpriteAndColour.cs
Labels: UI

#8110 Advanced Regen mesh + other medical consumable fixes
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/ClothRoll.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Advanced Regen Mesh.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Advanced Regen Mesh.prefab.meta
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Gauze.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Trauma Treatment/Regen Mesh.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Belt/ToolbeltMedFullPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/Belts/MedicalBeltCapacity.asset
Labels: System: Health, Type: Balance

#8117 Prevent Tags in ChatBubbles and Comms Console
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Messages/Server/ShowChatBubbleMessage.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
Labels: UI

#8084 chemistry reaction optimisation
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/ChemistryReagentsSO.asset
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/ScriptableObjects/ChemistryReagentsSO.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReactionSet.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Reagent.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/ChemistryInMainAssembly/ChemistryManager.cs
  UnityProject/Assets/Scripts/Systems/ChemistryInMainAssembly/ChemistryManager.cs.meta
  UnityProject/Assets/Tests/Chemistry/ReferenceTests.cs
  UnityProject/Assets/Tests/Chemistry/ReferenceTests.cs.meta
Labels: Status: Awaiting Review

#7979 Standarizes threads
  UnityProject/Assets/Scripts/Core/Editor/Matrix/AtmosManagerEditor.cs
  UnityProject/Assets/Scripts/Core/Editor/Matrix/AtmosManagerEditor.cs.meta
  UnityProject/Assets/Scripts/Core/Editor/Matrix/Views/MetaDataView.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/LavaStepInteraction.cs
  UnityProject/Assets/Scripts/Core/Threading/ThreadBehaviour.cs
  UnityProject/Assets/Scripts/Health/Sickness/SicknessManager.cs
  UnityProject/Assets/Scripts/Health/Sickness/SicknessThread.cs
  UnityProject/Assets/Scripts/Health/Sickness/SicknessThread.cs.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManagerEditor.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManagerEditor.cs.meta
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalSynchronisation.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalThread.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalThread.cs.meta
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/OverlapDestroy.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationManager.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationThread.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationThread.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSimulation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosSystem.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/AtmosThread.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/ReactionManager.cs
Labels: Status: Awaiting Review

#8101 Showing objective reminder for traitors now show their uplink code
  UnityProject/Assets/Scripts/Player/Mind.cs
Labels: Status: Awaiting Changes

#8142 Window and Recipe fixes
  UnityProject/Assets/Gizmos/Mapping/Mapping_Ashwalker.asset
  UnityProject/Assets/Gizmos/Mapping/Mapping_Ashwalker.asset.meta
  UnityProject/Assets/Gizmos/Mapping/Mapping_ashwalker.png
  UnityProject/Assets/Gizmos/Mapping/Mapping_ashwalker.png.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/GoliathCloakHood.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/AnimalHides/GoliathHidePlates.prefab
  UnityProject/Assets/Prefabs/Objects/Construction/Windows/DirectionalWindow.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CraftingRecipeSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/ScriptableObjects/Crafting/AshwalkerRecipes.asset
  UnityProject/Assets/ScriptableObjects/Crafting/DefaultHumanCraftingRecipes.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Clothing/GoliathCloakHoodRecipe.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Clothing/GoliathCloakHoodRecipe.asset.meta
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Clothing/GoliathCloakRecipe.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Clothing/GoliathCloakRecipe.asset.meta
  UnityProject/Assets/ScriptableObjects/Systems/GhostRoles/Occupations/Ashwalker.asset
  UnityProject/Assets/Scripts/Managers/NetworkManagement/SpawnPoint.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Drawer.cs
  UnityProject/Assets/Scripts/Player/GhostOrbit.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Escape.cs
  UnityProject/Assets/Scripts/Systems/CraftingV2/ClientServerLogic/RequestInitRecipes.cs
  UnityProject/Assets/Scripts/Systems/CraftingV2/CraftingRecipeSingleton.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetLabel.cs
Labels: UI

#8141 Batons and Prods now require powercells, Fixes #5720
  UnityProject/Assets/Prefabs/Items/Construction/StockParts/PowerCells/PowerCell.prefab
  UnityProject/Assets/Prefabs/Items/Construction/StockParts/PowerCells/PowerCellHighCapacity.prefab
  UnityProject/Assets/Prefabs/Items/Security/Stun Baton.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Stun Prod.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Teleprod.prefab
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Weapons/StunProd.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Weapons/TeleProd.asset
  UnityProject/Assets/Scripts/Core/Editor/Items/MeleeEffectEditor.cs
  UnityProject/Assets/Scripts/Core/Editor/Items/MeleeEffectEditor.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/Melee/MeleeEffect.cs
  UnityProject/Assets/Scripts/Items/Weapons/Melee/ToggleableEffect.cs
Labels: Status: Awaiting Review

#8147 Fix atmos devices
  UnityProject/Assets/Prefabs/Items/LiquidPipes/_PipeItemBase.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/Pump.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/ReservoirTank.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/WaterPump.prefab
  UnityProject/Assets/Scripts/Objects/Directionals/Directional.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalRotatesParent.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalSpriteV2.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/Pipes/PipeItemObject.cs
Labels: Status: Awaiting Review

#8120 EMPs
  UnityProject/Assets/Prefabs/Effects/Explosions/EMPGrenadeExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/EMPGrenadeExplosion.prefab.meta
  UnityProject/Assets/Prefabs/Effects/Explosions/IonBoltExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/IonBoltExplosion.prefab.meta
  UnityProject/Assets/Prefabs/Effects/Explosions/IonBoltWeakExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/IonBoltWeakExplosion.prefab.meta
  UnityProject/Assets/Prefabs/Items/Storage/Boxes/EMPGrenadesSyndicate.prefab
  UnityProject/Assets/Prefabs/Items/Storage/Boxes/EMPGrenadesSyndicate.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/EMPGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/EMPGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/IonCarbine.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/IonProjector.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_IonBolt.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_IonBoltWeak.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/ChemExplosions/ExplosionUraniumIron.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Effects/ChemExplosions/ExplosionUraniumIron.asset.meta
  UnityProject/Assets/ScriptableObjects/Chemistry/ReactionSets/DefaultReactions.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Pyrotechnics/EmpPulse.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Boxes/EMPGrenadesSyndicate.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Boxes/EMPGrenadesSyndicate.asset.meta
  UnityProject/Assets/ScriptableObjects/PDA/UplinkCategoryList.asset
  UnityProject/Assets/ScriptableObjects/Traits/CommonTraitsSingleton.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/EMPResistant.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/EMPResistant.asset.meta
  UnityProject/Assets/Scripts/Core/Addressables/CommonSounds.cs
  UnityProject/Assets/Scripts/Items/Headset.cs
  UnityProject/Assets/Scripts/Items/Others/FlashLight.cs
  UnityProject/Assets/Scripts/Items/Traits/CommonTraits.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosionUtils.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/EmagInteractionModule.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Effects/ChemExplosion.cs
  UnityProject/Assets/Scripts/Systems/Construction/Machine.cs
  UnityProject/Assets/Scripts/Systems/Construction/Parts/Battery.cs
  UnityProject/Assets/Scripts/Systems/Explosions/Explosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionComponent.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/IEMPAble.cs
  UnityProject/Assets/Scripts/Systems/Explosions/IEMPAble.cs.meta
  UnityProject/Assets/Scripts/Systems/Hacking/HackingProcesses/HackingProcessBase.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/EMPEffect.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/EMPEffect.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/EMPEffectCenter.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Effects/EMPEffectCenter.asset.meta
Labels: Status: Awaiting Review

#8152 Fixes re-logging on rotated matrices items being displaced
  UnityProject/Assets/Mirror/Runtime/NetworkClient.cs
  UnityProject/Assets/Mirror/Runtime/NetworkServer.cs
  UnityProject/Assets/Scripts/Core/Transform/CustomNetTransform.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
Labels: Status: Awaiting Review

#8167 Left Handed People Can Write
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
Labels: UI

#8151 Fixes players being unable to escape lockers and expanding Escapable Containers and Cremator logic
  UnityProject/Assets/Prefabs/Objects/Drawers/Cremator.prefab
  UnityProject/Assets/Prefabs/Objects/Drawers/Morgue.prefab
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Cremator.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Drawer.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Morgue.cs
  UnityProject/Assets/Scripts/Objects/ObjectContainer.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressActionConfig.cs
Labels: Status: Awaiting Review, UI

#8174 Wizard, Syndicate, and Ancient id sprites
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCard.prefab
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardAncient.prefab
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardAncient.prefab.meta
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardAutoInitAncient.prefab
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardAutoInitAncient.prefab.meta
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardAutoInitWizard.prefab
  UnityProject/Assets/Prefabs/Items/Cards/IDCards/IDCardAutoInitWizard.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/AncientEngineerPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/WizardApprenticePopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/WizardPopulator.asset
  UnityProject/Assets/Textures/items/card/Ancient id card.asset
  UnityProject/Assets/Textures/items/card/Ancient id card.asset.meta
  UnityProject/Assets/Textures/items/card/Ancient id card.png
  UnityProject/Assets/Textures/items/card/Ancient id card.png.meta
  UnityProject/Assets/Textures/items/card/Syndicate id card.asset
  UnityProject/Assets/Textures/items/card/Syndicate id card.asset.meta
  UnityProject/Assets/Textures/items/card/Wizard id card 1.png
  UnityProject/Assets/Textures/items/card/Wizard id card 1.png.meta
  UnityProject/Assets/Textures/items/card/Wizard id card 2.png
  UnityProject/Assets/Textures/items/card/Wizard id card 2.png.meta
  UnityProject/Assets/Textures/items/card/Wizard id card.asset
  UnityProject/Assets/Textures/items/card/Wizard id card.asset.meta
  UnityProject/Assets/Textures/items/card/syndicate id card.png
  UnityProject/Assets/Textures/items/card/syndicate id card.png.meta
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/Packages/com.xeleh.enhancer/Settings.asset
Labels: Scene Changes, Sprite Work

#8170 Possible fix for explosives UI not working on headless servers
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/C4.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Explosive.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Explosive.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_PizzaBomb.cs
Labels: UI

#8177 Added emp grenades to the grenadier's belt and both centcom scenes take 2
  UnityProject/Assets/Prefabs/Items/Clothing/Beltwear/DonkPocketBeltFull.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Beltwear/GrenadeBelt.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/CentCom.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Belt/DonkPocketbeltfullpopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Belt/GrenadebeltFullPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/14SlotStructure.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/14SlotStructure.asset.meta
Labels: Type: Balance, Scene Changes

#8201 Ready players fix
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/AddressablesDevBuildSetup.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: UI

#8210 Create Stripping-Scenes-For-Quick-Build.md
  docs/development/Stripping-Scenes-For-Quick-Build.md
Labels: Documentation

#8209 Player limit
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/GameConfigManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminToolRefreshMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GUI_AdminTools.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ServerSettingsPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ServerSettingsPage.cs.meta
  UnityProject/Assets/StreamingAssets/config/gameConfig.json
Labels: UI

#8218 Adding/Removing Mentor by Admins
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPromotion.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminPromotion.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminPlayerListRefreshMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminToolRefreshMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/MentorEnableMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: UI

#8204 OOC Help selection UI
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
Labels: Scene Changes

#8216 Allow Id Console to rename job titles (#5815)
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/Scripts/Items/IDCard.cs
  UnityProject/Assets/Scripts/Player/ExaminablePlayer.cs
  UnityProject/Assets/Scripts/UI/Items/PDA/GUI_PDAMainMenu.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
Labels: UI

#8250 last-minute pipe fixes
  UnityProject/Assets/Prefabs/Items/LiquidPipes/GenericFluidPipe.prefab
  UnityProject/Assets/Scripts/Core/Editor/Inspector/RotatableInspector.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Core/Input System/WallMountHandApplySpawn.cs
  UnityProject/Assets/Scripts/Core/Transform/Orientation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Races/CatPerson/SpriteCatEars.cs
  UnityProject/Assets/Scripts/Items/ClothingItem.cs
  UnityProject/Assets/Scripts/Items/Tool/CrayonSprayCan.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/StatueAI.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalPassable.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalIntake.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalOutlet.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalPipeObject.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Drawer.cs
  UnityProject/Assets/Scripts/Objects/Furniture/OccupiableDirectionalSprite.cs
  UnityProject/Assets/Scripts/Objects/Machines/MassDriver.cs
  UnityProject/Assets/Scripts/Objects/PlayerRotatable.cs
  UnityProject/Assets/Scripts/Player/EmoteScripts/Dance.cs
  UnityProject/Assets/Scripts/Player/GhostSprites.cs
  UnityProject/Assets/Scripts/Player/Overlays/PlayerDirectionalOverlay.cs
  UnityProject/Assets/Scripts/ScriptableObjects/SpritesDirectional.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixMove.cs
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalTraversal.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Wire/MachineConnectorSpriteHandler.cs
  UnityProject/Assets/Scripts/Systems/Fluids/PipeData.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/Forcewall.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterDoor.cs
  UnityProject/Assets/Scripts/UI/Core/CrayonUI.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: UI

#8262 Separate admin logs and admin chat
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatScrollRect/ChatScroll.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminTeleport.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestLavaLandToggle.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestRandomEventAllowedChange.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestRespawnPlayer.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevCloneMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevDestroyMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevSpawnMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminLogUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminLogUpdateMessage.cs.meta
  UnityProject/Assets/Scripts/Systems/Voting/VotingManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminChatButtons.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminChatWindows.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminLogWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminLogWindow.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerAlerts.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
Labels: UI

#8283 Rotatable Mapping Fix and Performance
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalIntake.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalOutlet.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Drawer.cs
  UnityProject/Assets/Scripts/Objects/Furniture/OccupiableDirectionalSprite.cs
  UnityProject/Assets/Scripts/Objects/Machines/MassDriver.cs
  UnityProject/Assets/Scripts/Player/GhostSprites.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/SpriteHandlerNorder.cs
Labels: UI

#8292 Linecast Optimisation
  UnityProject/Assets/Scripts/Core/Input System/CablePlacementVisualisation.cs
  UnityProject/Assets/Scripts/Managers/GameManager.Escape.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixInfo.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.Collisions.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Player/Movement/PlayerMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: UI

#8310 Fixed Volume Slider
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SongTracker.cs
Labels: UI
