Repository unitystation/unitystation, pull requests merged in 2022-09, with the labels that each got.

#9166 Rest
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Clothing/FacehuggerImpregnation.cs
  UnityProject/Assets/Scripts/Clothing/RestraintOverlay.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TableInteractionClimb.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Validations.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Food/DrinkableContainer.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Food/NotHandEdible.cs
  UnityProject/Assets/Scripts/Items/Food/XenomorphFood.cs
  UnityProject/Assets/Scripts/Items/Others/HolosignProjector.cs
  UnityProject/Assets/Scripts/Items/Tool/AtmosphericAnalyser/AtmosphericAnalyser.cs
  UnityProject/Assets/Scripts/Items/Tool/GeigerCounter.cs
  UnityProject/Assets/Scripts/Items/Tool/TRayScanner.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestBuildMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestConveyorBuildMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestRest.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestRest.cs.meta
  UnityProject/Assets/Scripts/Objects/Construction/Rack.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
  UnityProject/Assets/Scripts/Objects/Furniture/BuckleInteract.cs
  UnityProject/Assets/Scripts/Objects/Gateway/MobSpawnControlScript.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/PlayerFlippable.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Player/PlayerCrafting.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerUtils.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Audio/FootstepSounds.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Research/Artifacts/Effects/AreaEffects/StunAreaEffect.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AlienPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Escape.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/EscapeObjectives/Hijack.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Objectives/Maroon.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/PlayerSlotStoragePopulator.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/ProgressBar/StandardProgressAction.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
Labels: UI

#9191 Fix Discord webhook
  UnityProject/Assets/Scripts/Core/Chat/DiscordWebhookMessage.cs
Labels: Urgent

#9192 Fixes MOTD opening on round join
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: UI

#9195 Fixed #8729
  UnityProject/Assets/Scripts/Clothing/RestraintOverlay.cs
  UnityProject/Assets/Scripts/Messages/Server/SetActionUIMessage.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
Labels: UI

#9200 Fix being unable to join games for the first time
  UnityProject/Assets/Scripts/Managers/LobbyManager/LobbyManager.cs
Labels: Urgent

#9173 Score machine
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameData.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/Windows (Put all window UI's in here).prefab
  UnityProject/Assets/Prefabs/UI/RoundEndScoreUI.prefab
  UnityProject/Assets/Prefabs/UI/RoundEndScoreUI.prefab.meta
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnReceiveDamageType.cs
  UnityProject/Assets/Scripts/NPC/AI/Hostile/GenericHostileAI.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Mining/OreRedemptionMachine.cs
  UnityProject/Assets/Scripts/Systems/Crafting/IngredientMarker.cs
  UnityProject/Assets/Scripts/Systems/Explosions/Explosion.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventsManager.cs
  UnityProject/Assets/Scripts/Systems/Score.meta
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.Data.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.Data.cs.meta
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.cs.meta
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry.meta
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntry.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntry.cs.meta
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntryBool.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntryBool.cs.meta
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntryInt.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntryInt.cs.meta
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntryString.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntryString.cs.meta
  UnityProject/Assets/Scripts/Systems/Score/ScoreMachine.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreMachine.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/EndRound.meta
  UnityProject/Assets/Scripts/UI/Systems/EndRound/RoundEndScoreScreen.cs
  UnityProject/Assets/Scripts/UI/Systems/EndRound/RoundEndScoreScreen.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Textures/interface/UI/Clipboard.meta
  UnityProject/Assets/Textures/interface/UI/Clipboard/ClipboardBackground.psd
  UnityProject/Assets/Textures/interface/UI/Clipboard/ClipboardBackground.psd.meta
  UnityProject/Assets/Textures/interface/UI/Clipboard/ClipboardBackground.psd~
Labels: UI

#9203 A system for handling effects should be on Mind/client on objects
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Clothing/Eyewear/NightVisionGoggles.cs
  UnityProject/Assets/Scripts/Clothing/StepChanger.cs
  UnityProject/Assets/Scripts/Clothing/WearableSpeechMod.cs
  UnityProject/Assets/Scripts/Clothing/WearableSpeedDebuff.cs
  UnityProject/Assets/Scripts/Core/Utils/IItemInOutMovedPlayerButClientTracked.cs
  UnityProject/Assets/Scripts/Core/Utils/IItemInOutMovedPlayerButClientTracked.cs.meta
  UnityProject/Assets/Scripts/Core/Utils/ItemInOutMovedPlayer.cs
  UnityProject/Assets/Scripts/Core/Utils/ItemInOutMovedPlayer.cs.meta
  UnityProject/Assets/Scripts/Items/Others/ItemMagBoots.cs
  UnityProject/Assets/Scripts/Items/Tool/TRayScanner.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
Labels: UI

#9190 More mind stuff
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninHead.prefab
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Felinid/Felinid.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Alien.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Ashwalker.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Vulpkanin/Vulpkanin.asset
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/ServerValidations.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Managers/PlayerInfo.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs.meta
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AlienPlayer.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterSettings.cs
Labels: UI

#9171 Simplifies machinery And adds Upgrade Capabiliitiees to the cloner whilee Nurfe
  UnityProject/Assets/Scripts/Objects/Machines/FoodProcessor.cs
  UnityProject/Assets/Scripts/Objects/Machines/Griddle.cs
  UnityProject/Assets/Scripts/Objects/Machines/Microwave.cs
  UnityProject/Assets/Scripts/Objects/Machines/Oven.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningPod.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/HeaterFreezer.cs
  UnityProject/Assets/Scripts/Systems/Construction/Machine.cs
  UnityProject/Assets/Scripts/Systems/Construction/MachineFrame.cs
  UnityProject/Assets/Scripts/Systems/Construction/MachineParts.cs
  UnityProject/Assets/Scripts/Systems/Construction/MachinePartsItemTraits.cs
Labels: System: Construction

#9214 Adds some missing stuff to score ui
  UnityProject/Assets/Prefabs/UI/RoundEndScoreUI.prefab
  UnityProject/Assets/Scripts/UI/Systems/EndRound/RoundEndScoreScreen.cs
Labels: UI

#9216 Staging fixes11
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/SmallTrees/SmallTree1.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/SmallTrees/SmallTree2.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/SmallTrees/SmallTree3.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/SmallTrees/SmallTree4.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/SmallTrees/SmallTree5.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/SmallTrees/SmallTree6.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/DevSpawnerMenu.prefab
  UnityProject/Assets/Scripts/Clothing/WearableSpeechMod.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Messages/Client/DevSpawner/DevSpawnMessage.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSpawner.cs
Labels: UI

#9218 More stuff references Mind Directly, and interaction has reference to mind now
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AiActivate.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AimApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/ConnectionApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/ContextMenuApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/HandActivate.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/HandApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/Internal/BodyPartTargetedInteraction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/Internal/Interaction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/Internal/TargetedInteraction.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/InventoryApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/MouseDrop.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/PositionalHandApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TileApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TileMouseDrop.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawnRequest.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/BookOfSpells.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/ContractOfApprenticeship.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/SpellBooks/ForcewallPunishment.cs
  UnityProject/Assets/Scripts/Items/Others/Magical/SpellBooks/SpellBook.cs
  UnityProject/Assets/Scripts/Items/PDA/PDALogic.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/JobAllocator.cs
  UnityProject/Assets/Scripts/Managers/PlayerInfo.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/Interaction/RequestInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/TabInteractMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/TabUpdateMessage.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiMouseInputController.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AlienPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Wizard.cs
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventSummonGuns.cs
  UnityProject/Assets/Scripts/Systems/Spells/Mime/MimeBox.cs
  UnityProject/Assets/Scripts/Systems/Spells/Mime/MimeChair.cs
  UnityProject/Assets/Scripts/Systems/Spells/Mime/MimeWall.cs
  UnityProject/Assets/Scripts/Systems/Spells/Spell.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
Labels: UI

#9222 Some fixes for sickness and round end screen
  UnityProject/Assets/Scripts/Health/Sickness/MobSickness.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.Data.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.cs
  UnityProject/Assets/Scripts/UI/Systems/EndRound/RoundEndScoreScreen.cs
Labels: UI

#9225 remove game objects from synchvars
  UnityProject/Assets/Scripts/Items/Bureaucracy/PaperBin.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SpritesMessages/SpriteUpdateMessage.cs
  UnityProject/Assets/Scripts/Player/GhostOrbit.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/TeleportSpell.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  docs/development/SyncVar-Best-Practices-for-Easy-Networking.md
Labels: Documentation

#9238 Update Starting-contribution.md
  docs/contribution-guides/Starting-contribution.md
Labels: Documentation
