Repository unitystation/unitystation, pull requests merged in 2022-10, with the labels that each got.

#9250 Halloween Event!
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/UI/ServerInfoPanel/EventEntry.prefab
  UnityProject/Assets/Prefabs/UI/ServerInfoPanel/ServerInfoPanel.prefab
  UnityProject/Assets/ScriptableObjects/TimedEvents/HalloweenGhostsTimedEvent.asset
  UnityProject/Assets/ScriptableObjects/TimedEvents/HalloweenGhostsTimedEvent.asset.meta
  UnityProject/Assets/Scripts/Managers/TimedEventsManager.cs
  UnityProject/Assets/Scripts/ScriptableObjects/TimedGameEvents/HalloweenGhosts.cs
  UnityProject/Assets/Scripts/ScriptableObjects/TimedGameEvents/HalloweenGhosts.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/TimedGameEvents/TimedGameEventSO.cs
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoPanel/EventEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoPanel/Pages/EventsPage.cs
Labels: UI

#9142 Modular MiniGame system (Abandoned Crates)
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/AbandonedCrateBase.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/AbandonedCrateBase.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/MiniGames.meta
  UnityProject/Assets/Scripts/MiniGames/MiniGameModule.cs
  UnityProject/Assets/Scripts/MiniGames/MiniGameModule.cs.meta
  UnityProject/Assets/Scripts/MiniGames/MiniGameModules.meta
  UnityProject/Assets/Scripts/MiniGames/MiniGameModules/GuessTheNumberMiniGame.cs
  UnityProject/Assets/Scripts/MiniGames/MiniGameModules/GuessTheNumberMiniGame.cs.meta
  UnityProject/Assets/Scripts/MiniGames/MiniGameResultTracker.cs
  UnityProject/Assets/Scripts/MiniGames/MiniGameResultTracker.cs.meta
  UnityProject/Assets/Scripts/Objects/Closets/AbandonedCrates.cs
  UnityProject/Assets/Scripts/Objects/Closets/AbandonedCrates.cs.meta
  UnityProject/Assets/Scripts/Objects/Closets/ClosetControl.cs
Labels: Status: Awaiting Changes

#9274 Adds the maintrooms
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockHatchMaintenanceSelfPowered.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockHatchMaintenanceSelfPowered.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/MaintGenerator.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/MaintGenerator.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AwaySites/Backrooms.unity
  UnityProject/Assets/Scenes/AwaySites/Backrooms.unity.meta
  UnityProject/Assets/ScriptableObjects/SubScenes/AwayWorldList.asset
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Objects/Gateway/TransportUtility.cs
  UnityProject/Assets/Scripts/Systems/MaintGenerator.cs
  UnityProject/Assets/Scripts/Systems/MaintGenerator.cs.meta
  UnityProject/Assets/Scripts/Systems/MaintGeneratorManager.cs
  UnityProject/Assets/Scripts/Systems/MaintGeneratorManager.cs.meta
  UnityProject/Assets/Scripts/Systems/MaintRoomsMarker.cs
  UnityProject/Assets/Scripts/Systems/MaintRoomsMarker.cs.meta
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes

#9279 Moves tooltip to the middle of the screen and makes it more noticable.
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#9282 Fixees net UI lists AAAAAA
  UnityProject/Assets/Prefabs/Items/Construction/PlaceableTiles/MineralTiles/BananiumTile.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Monkey.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/AutoDrobe.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/EngiVend.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/NanoMed.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/NanoMedPlus.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/RobcoToolMaker.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/RobotechDeluxe.prefab
  UnityProject/Assets/Scripts/Objects/Botany/HydroponicsTray.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Core/EmptyItemList.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/NetUIDynamicList.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetButton.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
Labels: UI
