Repository unitystation/unitystation, pull requests merged in 2022-12, with the labels that each got.

#9402 chore: moved issue templates to github forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/mapping_issue_report.yml
Labels: Status: Awaiting Review

#9406 Fixes re-logging issues and Fixes playerUI appearing when ghosting
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningPod.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
Labels: UI

#9419 Asteroid Fixes and Improvements
  UnityProject/Assets/Prefabs/Items/Mining/Ore/Amber.prefab
  UnityProject/Assets/Prefabs/Objects/Botany/DirtPile.prefab
  UnityProject/Assets/Prefabs/Objects/Botany/DirtPile.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Botany/RandomDirtPile.prefab
  UnityProject/Assets/Prefabs/Objects/Botany/RandomDirtPile.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid01.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid08.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid09.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid10.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid11.unity
  UnityProject/Assets/Scenes/AwaySites/Backrooms.unity
  UnityProject/Assets/Scenes/AwaySites/Palace.unity
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Genetics/Amber.asset
  UnityProject/Assets/ScriptableObjects/Ore config/AsteroidOreGeneration.asset
  UnityProject/Assets/ScriptableObjects/Ore config/AsteroidOreGeneration.asset.meta
  UnityProject/Assets/ScriptableObjects/Ore config/LavalandOreGeneration.asset
  UnityProject/Assets/ScriptableObjects/Ore config/LavalandOreGeneration.asset.meta
  UnityProject/Assets/ScriptableObjects/Ore config/OreGeneration.asset
  UnityProject/Assets/ScriptableObjects/Ore config/OreGeneration.asset.meta
  UnityProject/Assets/Scripts/Map/Asteroid.cs
  UnityProject/Assets/Scripts/Objects/Botany/HydroponicsTray.cs
  UnityProject/Assets/Scripts/Systems/Ore Generation/OreGenerator.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/Spawned/RadarEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Shuttles/GUI_ShuttleControl.cs
Labels: Scene Changes, Scene: BoxStation, UI

#9420 Name fix and temporary UI action fix
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
Labels: UI

#9425 Fixes15
  UnityProject/Assets/Prefabs/Items/Chemistry/Hyposprays/Medipens/EpinephrineMedipen.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Flare.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Flashlight.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Glowsticks/Glowstick.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Lantern.prefab
  UnityProject/Assets/Prefabs/Objects/Library/library_22.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/LanguageBook.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/SimpleBook.cs
  UnityProject/Assets/Scripts/Player/ItemLightControl.cs
  UnityProject/Assets/Scripts/Player/LightEmissionPlayer.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
Labels: UI

#9441 Fixes character customization screen being broken
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Alien.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/The Welder.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Ashwalker.asset
  UnityProject/Assets/Scripts/Health/CPRable.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/CirculatorySystem/CirculatorySystemBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/BigStomachMutation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Ears/Deafness.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Eyes/BlindnessMutation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Eyes/BlurryVisionMutation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Eyes/ColourblindMutation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Eyes/XRayVision.cs
  UnityProject/Assets/Scripts/Items/Food/DrinkableContainer.cs
  UnityProject/Assets/Scripts/Items/Food/LeanDrink.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartUISlots.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Bones.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/DamageSymptoms.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Ears.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Eye.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Tongue.cs
  UnityProject/Assets/Scripts/Items/Implants/Xenomorphs/XenomorphLungs.cs
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ClothingSlots.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/IDynamicItemSlotS.cs
  UnityProject/Assets/Scripts/Systems/Inventory/UI_DynamicItemSlot.cs
  UnityProject/Assets/Scripts/UI/Core/PlayerExaminationWindowSlot.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/DoubleHandController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Hands.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Hands.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

#9460 Sprites for the friendly dinosaurs
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/FriendlyDinosaur/Dimetrodon angelensis.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/FriendlyDinosaur/Triceratops.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/FriendlyDinosaur/Troodon.prefab
  UnityProject/Assets/Textures/mobs/species/Dinosaurs.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Dimetrodon angelensis.asset
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Dimetrodon angelensis.asset.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Dimetrodon angelensis.png
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Dimetrodon angelensis.png.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Triceratops.asset
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Triceratops.asset.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Triceratops.png
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Triceratops.png.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Troodon.asset
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Troodon.asset.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Troodon.png
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/friendly dinosaurs/Troodon.png.meta
Labels: Sprite Work
