Repository unitystation/unitystation, pull requests merged in 2022-05, with the labels that each got.

#8635 Mining Diversification Part 1
  UnityProject/Assets/Prefabs/Items/Bureaucracy/Pens/SurvivalPen.prefab
  UnityProject/Assets/Prefabs/Items/Mining/MiningDrill.prefab
  UnityProject/Assets/Prefabs/Items/Mining/MiningDrillDiamondTipped.prefab
  UnityProject/Assets/Prefabs/Items/Mining/PickaxeCompact.prefab
  UnityProject/Assets/Prefabs/Items/Mining/PickaxeDiamondTipped.prefab
  UnityProject/Assets/Prefabs/Items/Mining/PickaxeImprovised.prefab
  UnityProject/Assets/Prefabs/Items/Mining/PickaxeSilverPlated.prefab
  UnityProject/Assets/Prefabs/Items/Mining/SonicJackhammer.prefab
  UnityProject/Assets/Prefabs/Objects/Flora/RocksLavaLarge.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/JungleVegetationPrefabs/Rocks/RandomRockLarge.prefab
  UnityProject/Assets/Scripts/Items/Tool/Pickaxe.cs
  UnityProject/Assets/Scripts/Objects/Mining/PickaxeMineable.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/BasicTile.cs
Labels: System: Mining

#8649 Re-adds some steal objectives, updates blacklist on others.
  UnityProject/Assets/ScriptableObjects/Antagonists/Objectives/Steal.asset
Labels: Type: Balance

#8638 Random Cargo Bounties
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/CargoManager.prefab
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
Labels: System: Cargo

#8597 Protips - Part one
  UnityProject/Assets/Prefabs/Items/Bureaucracy/Paper.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/TaserV42.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Prefabs/UI/Learning/HelpWindow.prefab
  UnityProject/Assets/Prefabs/UI/Learning/HelpWindow.prefab.meta
  UnityProject/Assets/Prefabs/UI/Learning/LoadingTips.prefab
  UnityProject/Assets/Prefabs/UI/Learning/LoadingTips.prefab.meta
  UnityProject/Assets/Prefabs/UI/Learning/ProTipManager.prefab
  UnityProject/Assets/Prefabs/UI/Learning/ProTipManager.prefab.meta
  UnityProject/Assets/Prefabs/UI/Learning/ProTipUI.prefab
  UnityProject/Assets/Prefabs/UI/Learning/ProTipUI.prefab.meta
  UnityProject/Assets/ScriptableObjects/Learning.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/InRangeOfASupperMatter.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/InRangeOfASupperMatter.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/InRangeOfPete.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/InRangeOfPete.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/PickingUpAPaper.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/PickingUpAPaper.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/PickingUpTaser.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/PickingUpTaser.asset.meta
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Learning.meta
  UnityProject/Assets/Scripts/Learning/ProtipManager.cs
  UnityProject/Assets/Scripts/Learning/ProtipManager.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObject.cs
  UnityProject/Assets/Scripts/Learning/ProtipObject.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnEnterRadius.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnEnterRadius.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnPickup.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnPickup.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnReceiveDamageType.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnReceiveDamageType.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipSO.cs
  UnityProject/Assets/Scripts/Learning/ProtipSO.cs.meta
  UnityProject/Assets/Scripts/Learning/UI.meta
  UnityProject/Assets/Scripts/Learning/UI/ProtipListEntry.cs
  UnityProject/Assets/Scripts/Learning/UI/ProtipListEntry.cs.meta
  UnityProject/Assets/Scripts/Learning/UI/ProtipListUI.cs
  UnityProject/Assets/Scripts/Learning/UI/ProtipListUI.cs.meta
  UnityProject/Assets/Scripts/Learning/UI/ProtipUI.cs
  UnityProject/Assets/Scripts/Learning/UI/ProtipUI.cs.meta
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
Labels: Status: Awaiting Review, UI

#8658 Adds the ability for admins to make cargo go offline
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Objects/Consoles/CargoConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_Cargo.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/RoundManagerPage.cs
Labels: System: Cargo, UI

#8660 clean up for curator, cargodata, and added new emag crates to the cargo console
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/HighYieldCreamPiesBundle.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Backwear/DuffelBags/DuffelBagBundles/HighYieldCreamPiesBundle.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Beltwear/ExplorersWebbingLightened.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Beltwear/ExplorersWebbingLightened.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/WardDrobes/CuraDrobe.prefab
  UnityProject/Assets/Prefabs/Objects/Security/SecBarrier.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/EngineeringBounties/Hot Ice.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/EngineeringBounties/Metallic Hydrogen.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/EngineeringBounties/Metallic Hydrogen.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/MiningBounties/Goliath Steaks.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/MiningBounties/Volcanic Ash.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/MiscBounties/Action Figures.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/MiscBounties/Axes.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ScienceBounties/AI module.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Bread.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Cheese Wheel.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Cream Pies.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Flowers.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Jumpsuits.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Monster Bread.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Pens.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/ServiceBounties/Trash.asset
  UnityProject/Assets/ScriptableObjects/Cargo/CargoData.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Armory.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Food & Hydroponics.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Curator Set.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/High-yield Cream Pies.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/High-yield Cream Pies.asset.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Special Ops Crate.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Special Ops Crate.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/HighYieldCreamPiesBundle.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/BagBundles/HighYieldCreamPiesBundle.asset.meta
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Curator.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Cargo Technician.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Quartermaster.asset
  UnityProject/Assets/Textures/clothing/belt/explorer's webbing/belt_explorer2.asset
  UnityProject/Assets/Textures/clothing/belt/explorer's webbing/belt_explorer2.asset.meta
  UnityProject/Assets/Textures/clothing/belt/explorer's webbing/belt_explorer2.png
  UnityProject/Assets/Textures/clothing/belt/explorer's webbing/belt_explorer2.png.meta
  UnityProject/Assets/Textures/clothing/belt/explorer's webbing/explorer's webbing 2.asset
  UnityProject/Assets/Textures/clothing/belt/explorer's webbing/explorer's webbing 2.asset.meta
Labels: System: Cargo, Type: Balance, Sprite Work

#8669 infiltrator suit added to uplink.
  UnityProject/Assets/Prefabs/Items/Clothing/Feetwear/InfiltratorSneakBoots.prefab
  UnityProject/Assets/ScriptableObjects/PDA/UplinkCategoryList.asset
Labels: Type: Balance

#8662 Added Fire Axe, reparented Bone Axe
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Bone Axe.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Bone Axe.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/FireAxe.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/FireAxe.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/BoneAxe.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Spear.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/_ItemMeleeTwoHandedBase.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/_ItemMeleeTwoHandedBase.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Weapons/BoneAxeRecipe.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/bone axe.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/bone axe.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/fire axe.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/fire axe.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe0.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe0.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe0.png
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe0.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe1.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe1.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe1.png
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_axe1.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe0.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe0.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe0.png
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe0.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe1.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe1.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe1.png
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_bone_axe1.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe0.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe0.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe0.png
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe0.png.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe1.asset
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe1.asset.meta
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe1.png
  UnityProject/Assets/Textures/items/items_and_weapons/Axes/items_and_weapons_fireaxe1.png.meta
Labels: Type: Balance, Sprite Work

#8671 Fixes glass shards not being able to be put into bins
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/Scripts/Items/Others/Knife.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/IDConsole/GUI_IDConsole.cs
Labels: UI

#8679 Cargo console now updates budgets and bounties when an admin messes with them
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
Labels: System: Cargo

#7693 No more client prediction on guns
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/_ProjectileBase.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AimApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/ConnectionApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/PositionalHandApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/TileMouseDrop.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/PinBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Beam.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileDecal.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Bullet.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/MovingProjectile.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Projectile.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/ProjectileManager.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/ProjectileManager.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/ShootMessage.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Emitter.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reflector.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/LaserReflectObject.cs
  UnityProject/Assets/Scripts/Objects/Other/Turret.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/Fireball.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: Status: Awaiting Testing

#8676 Adds the ability for admins to disable random bounties
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/RoundManagerPage.cs
Labels: System: Cargo, UI

#8686 Wall descriptions and armor value fixes
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/CatWalk.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Grass/FairyGrassBaseSmooth.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Grass/GrassBase.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Grass/GrassBaseSmooth.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Grass/JungleGrassBaseSmooth.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/DirtBase.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/NaturalBaseFloor/DirtDarkBase.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Base/Plating.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/AdminWall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallAnchorBolts.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallCutCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallSheath.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallSupportLines.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallSupportRods.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/ReinforcedWall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallAnchorBolts.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallCutCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallSheath.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallSupportLines.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallSupportRods.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyReinforcedWall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/bananium_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/clockwork_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/cult_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/diamond_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/gold_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/iron_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/plasma_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/plastitanium_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/plastitanium_wall_corner.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rock_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rusty_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/sandstone_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/shuttle_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/shuttle_wall_corner.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/silver_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/snow_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/survival_pod_walls.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/uranium_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/wood_wall.asset
Labels: Type: Balance

#8685 Adds bounty titles and tooltip descriptions to reduce visual clutter
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Prefabs/UI/Ingame/Resources/Tooltip.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoBountyEntry.prefab
  UnityProject/Assets/ScriptableObjects/Cargo/Bounties/Wrenches.asset
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Systems/Cargo/CargoBounty.cs
  UnityProject/Assets/Scripts/UI/Core/TooltipNetworked.cs
  UnityProject/Assets/Scripts/UI/Core/TooltipNetworked.cs.meta
  UnityProject/Assets/Scripts/UI/Core/TooltipTextCopier.cs
  UnityProject/Assets/Scripts/UI/Core/TooltipTextCopier.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoBounty.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManager.cs
Labels: System: Cargo, UI

#8692 Fixes two issues with action buttons
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Messages/Server/ClearActionsMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/ClearActionsMessage.cs.meta
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
Labels: UI

#8694 Quick equipment change
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
Labels: UI

#8698 Fixes kick when adjusting cargo bounties
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminBountyManagerListEntry.cs
Labels: UI

#8696 Mining Diversification Part 2
  UnityProject/Assets/Prefabs/Items/PDA/Cartridges/CartridgeCustodiPRO.prefab
  UnityProject/Assets/Prefabs/Items/PDA/Cartridges/CartridgeCustodiPRO.prefab.meta
  UnityProject/Assets/Prefabs/Items/PDA/PDAs/PDAJanitor.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_PlasmaBlast.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_PlasmaBlastAdvanced.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/KineticForce.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/PTech.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid02.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid06.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid07.unity
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
  UnityProject/Assets/ScriptableObjects/Ore config/OreGeneration.asset
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileMine.cs
  UnityProject/Assets/Textures/wall/organic/Rock/Smooth rock/igneous rock wall.asset
  UnityProject/Assets/Textures/wall/organic/Rock/Smooth rock/igneous rock wall.asset.meta
  UnityProject/Assets/Textures/wall/organic/Rock/Smooth rock/igneous_rock_wall.png
  UnityProject/Assets/Textures/wall/organic/Rock/Smooth rock/igneous_rock_wall.png.meta
  UnityProject/Assets/Textures/wall/organic/Rock/composite rock wall.asset
  UnityProject/Assets/Textures/wall/organic/Rock/composite rock wall.asset.meta
  UnityProject/Assets/Textures/wall/organic/Rock/composite_rock_wall.png
  UnityProject/Assets/Textures/wall/organic/Rock/composite_rock_wall.png.meta
  UnityProject/Assets/Tilemaps/Palettes/Walls.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Composite_Rock_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Composite_Rock_wall.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Igneous_Rock_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Igneous_Rock_wall.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Loose_Rock_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Loose_Rock_wall.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rock_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/rock_wall.asset.meta
Labels: System: Mining, Type: Balance, Scene Changes, Scene: BoxStation, Sprite Work

#8699 Adds stun immunity to armor
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmorVests/WardensArmoredJacket.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ArmoredGreatcoat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/ERTHardsuits/ERTSecurityHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/ERTHardsuits/InquisitorsHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/EliteSyndicateHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/HeadOfSecuritysHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/SecurityHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/SyndicateHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Uniforms/Kilt.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/TaserV42.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/Bullet_Electrode.prefab
  UnityProject/Assets/Scripts/Health/Objects/Armor.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileStun.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
Labels: Status: Awaiting Review

#8711 buff to MKIII SWAT armor, champion armor, and ablative trenchcoat + fix for drake armor.
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/AblativeHood.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/DrakeHelm.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/CaptainsSWATHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/ERTHelmets/ChampionsHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/SpacesuitHelmets/HardsuitHelmets/MKIIISWATHelmet.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/AblativeTrenchcoat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/AblativeTrenchcoat.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/AdeptRobes.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/AdeptRobes.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/AncientArmour.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/AncientArmour.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/BoneArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/CrusaderArmor.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/CrusaderArmor.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/DrakeArmour.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/DrakeArmour.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/Armor/ReflectorJacket.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/DrakeArmour.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/CaptainsSWATSuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/ERTHardsuits/ChampionsHardsuit.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/SpaceSuits/Hardsuits/MKIIISWATSuit.prefab
Labels: Type: Balance

#8709 Takes Caverna's base layer out of objects
  UnityProject/Assets/Scenes/AwaySites/Caverna.unity
Labels: Scene Changes

#8708 Frequency Tuner facelift and Signal Encryption changes
  UnityProject/Assets/Prefabs/Items/Construction/Assemblies/RemoteSignalingDevice.prefab
  UnityProject/Assets/Prefabs/Items/Devices/RemoteSignaller.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabFrequencyChanger.prefab
  UnityProject/Assets/ScriptableObjects/Communications/EncryptionKeyData/EngineeringKey.asset
  UnityProject/Assets/ScriptableObjects/Communications/EncryptionKeyData/GeneralKey.asset
  UnityProject/Assets/ScriptableObjects/Communications/EncryptionKeyData/SecurityKey.asset
  UnityProject/Assets/ScriptableObjects/Communications/EncryptionKeyData/SyndicateKey.asset
  UnityProject/Assets/Scripts/Communications/SignalEmitter.cs
  UnityProject/Assets/Scripts/Communications/SignalReceiver.cs
  UnityProject/Assets/Scripts/Items/Devices/RemoteSignaller.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosiveBase.cs
  UnityProject/Assets/Scripts/Managers/SignalsManager.cs
  UnityProject/Assets/Scripts/Objects/HasNetworkTabItem.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/LocalRadioListener.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/StationBouncedRadio.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Telecomms/EncryptionDataSO.cs
  UnityProject/Assets/Scripts/UI/Objects/Telecomms/GUI_FrequencyChanger.cs
  UnityProject/Assets/Scripts/Util/EncryptionUtils.cs
Labels: UI

#8714 Lobby Horn Honk Fix
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_HornHonk.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_HornHonk.cs.meta
Labels: Scene Changes, UI

#8715 Fix viewing certain SpriteDataSO assets and use less memory
  UnityProject/Assets/Scripts/Core/Editor/EditorDrawPreview.cs
Labels: Group: DevOps

#8712 Shiver me timbers (fixed gun recoil showing for everyone)
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
Labels: Status: Awaiting Review, Group: Networking

#8705 feat: new status effect manager
  UnityProject/Assets/ScriptableObjects/Statuses.meta
  UnityProject/Assets/ScriptableObjects/Statuses/Convulsing.asset
  UnityProject/Assets/ScriptableObjects/Statuses/Convulsing.asset.meta
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Implementations.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Implementations/Convulsing.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Implementations/Convulsing.cs.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces/IExpirableStatus.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces/IExpirableStatus.cs.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces/IImmediateEffect.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces/IImmediateEffect.cs.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces/IStackableStatus.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Interfaces/IStackableStatus.cs.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/StatusEffect.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/StatusEffect.cs.meta
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/StatusEffectManager.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/StatusEffectManager.cs.meta
  UnityProject/Assets/Tests/StatusAndEffectsFramework.meta
  UnityProject/Assets/Tests/StatusAndEffectsFramework/MockStatuses.cs
  UnityProject/Assets/Tests/StatusAndEffectsFramework/MockStatuses.cs.meta
  UnityProject/Assets/Tests/StatusAndEffectsFramework/StatusEffectManagerTest.cs
  UnityProject/Assets/Tests/StatusAndEffectsFramework/StatusEffectManagerTest.cs.meta
Labels: Status: Awaiting Review, System: Interaction, Type: Improvement

#8724 Explosion refactor
  UnityProject/Assets/Prefabs/Effects/Explosions/40mmgrenadeExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/84mmheExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/84mmhedpExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/EMPGrenadeExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/ExplosionC4.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/ExplosionX4.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/ExplosiveboltExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/FireballExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/Frag12shotExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/GrenadeExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/LemonExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/SyndicateMiniBombExplosion.prefab
  UnityProject/Assets/Prefabs/Effects/Explosions/_ProjectileExplosionBase.prefab
  UnityProject/Assets/Scripts/Items/Others/Magical/SpellBooks/FireballPunishment.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosionUtils.cs
  UnityProject/Assets/Scripts/Items/Weapons/FireLemon.cs
  UnityProject/Assets/Scripts/Items/Weapons/Grenade.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileExplode.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/Effects/ChemExplosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/Explosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionComponent.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionTypes.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionTypes.cs.meta
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes.meta
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionEmpNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionEmpNode.cs.meta
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionNode.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataNode.cs
Labels: Status: Awaiting Review
