Repository unitystation/unitystation, pull requests merged in 2022-03, with the labels that each got.

#8440 Fixes firelocks preventing doors from closing when activated
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
Labels: Status: Awaiting Review

#8437 Fixes Explosives not detonating because various issues
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabExplosive.prefab
  UnityProject/Assets/Scripts/Items/Weapons/Explosive.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Explosive.cs
Labels: Status: Awaiting Review, UI

#8444 Updating NetUI docs to explain something about NetButton and NetToggle
  docs/development/How-To-User-Interface.md
Labels: Status: Awaiting Review, Documentation

#8447 New Condimaster Neo sprites take 2
  UnityProject/Assets/Prefabs/Objects/Kitchen/Condimaster Neo.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoPowered.asset
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoPowered.asset.meta
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoPowered.png
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoPowered.png.meta
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoUnpowered.asset
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoUnpowered.asset.meta
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoUnpowered.png
  UnityProject/Assets/Textures/items/chemical/CondimasterNeoUnpowered.png.meta
Labels: Sprite Work

#8442 Off line editor
  UnityProject/Assets/Scripts/Managers/GameData.cs
Labels: Status: Awaiting Review

#8453 Fixes infinite firelocks / doors
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Weapons/Meleeable.cs
  UnityProject/Assets/Scripts/Objects/Doors/ConstructibleDoor.cs
Labels: Status: Awaiting Changes

#8358 Adds server history to connection screen
  UnityProject/Assets/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalRotatesChildren.cs
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalRotatesChildren.cs.meta
  UnityProject/Assets/Scripts/Objects/Directionals/DirectionalRotatesParent.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/ConnectionHistoryLog.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/ConnectionHistoryLog/HistoryLogEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/ConnectionHistoryLog/HistoryLogEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_LobbyDialogue.cs
Labels: Status: Awaiting Review, UI, Status: Awaiting Changes

#8339 Techweb json data
  UnityProject/Assets/Prefabs/Objects/Research/ResearchServer.prefab
  UnityProject/Assets/Prefabs/Objects/Research/ResearchServer.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/CraftingManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabTechWeb.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabTechWeb.prefab.meta
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research.meta
  UnityProject/Assets/ScriptableObjects/Systems/Research/DefaultTechWebData.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/DefaultTechWebData.asset.meta
  UnityProject/Assets/Scripts/Managers/CraftingManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Research.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Research/DefaultTechwebData.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Research/DefaultTechwebData.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/Data.meta
  UnityProject/Assets/Scripts/Systems/Research/Data/TechWebNode.cs
  UnityProject/Assets/Scripts/Systems/Research/Data/TechWebNode.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/Data/TechwebExporter.cs
  UnityProject/Assets/Scripts/Systems/Research/Data/TechwebExporter.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/Data/TechwebImporter.cs
  UnityProject/Assets/Scripts/Systems/Research/Data/TechwebImporter.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/Designs.cs
  UnityProject/Assets/Scripts/Systems/Research/ImporterExporter.meta
  UnityProject/Assets/Scripts/Systems/Research/ImporterExporter/TechwebJSONExporter.cs
  UnityProject/Assets/Scripts/Systems/Research/ImporterExporter/TechwebJSONExporter.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/ImporterExporter/TechwebJSONImporter.cs
  UnityProject/Assets/Scripts/Systems/Research/ImporterExporter/TechwebJSONImporter.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/Objects.meta
  UnityProject/Assets/Scripts/Systems/Research/Objects/ResearchServer.cs
  UnityProject/Assets/Scripts/Systems/Research/Objects/ResearchServer.cs.meta
  UnityProject/Assets/Scripts/Systems/Research/Techweb.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
Labels: UI, System: Science

#8448 Photocopier now uses ink cartridges'
  UnityProject/Assets/Prefabs/Objects/Library/Photocopier.prefab
  UnityProject/Assets/Scripts/Items/Bureaucracy/Photocopier.cs
  UnityProject/Assets/Scripts/UI/Objects/Bureaucracy/GUI_Photocopier.cs
Labels: Status: Awaiting Review, UI

#8181 Adds power sinks
  UnityProject/Assets/Materials/PostProcess/Post-FloorFovGenerator Material.mat
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/PowerSink.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/PowerSink.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Electricity/Power Sink.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/Sleeper.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/PDA/UplinkCategoryList.asset
  UnityProject/Assets/Scripts/Items/Weapons/PowerSink.cs
  UnityProject/Assets/Scripts/Items/Weapons/PowerSink.cs.meta
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/ElectricityFunctions.cs
Labels: Status: Awaiting Review

#8469 Remote signaller pairing for bombs, interactions and pizzabomb improvements and fixes
  UnityProject/Assets/Prefabs/Items/Storage/Boxes/PizzaBoxes/PizzaBomb.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPizzaBomb.prefab
  UnityProject/Assets/Scripts/Items/Storage/PizzaBox.cs
  UnityProject/Assets/Scripts/Items/Weapons/AttachableExplosive.cs
  UnityProject/Assets/Scripts/Items/Weapons/BulkyExplosive.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosiveBase.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_PizzaBomb.cs
Labels: UI

#8472 Restore radial menu look
  UnityProject/Assets/Prefabs/UI/RightClick/RightClickActionRadial.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/RightClickItemRadial.prefab
  UnityProject/Assets/Scripts/UI/Core/Radial/Radial.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/ScrollableRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ActionRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ItemRadial.cs
Labels: UI

#8474 adds megaphones to lockers
  UnityProject/Assets/ScriptableObjects/RandomItemPools/UncommonEquipment.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/ChiefEngineersLockerPopulator.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/ChiefMedicalOfficersLocker.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/HeadOfPersonnelsLockerPopulator.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/HeadOfSecuritysLockerPopulator.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/QuartermastersLockerPopulator.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/ResearchDirectorsLockerPopulator.asset
Labels: Type: Balance

#8446 fixed goliath sprites
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Lavaland/Goliath.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Textures/mobs/species/lavaland_monsters/goliath dead.asset
  UnityProject/Assets/Textures/mobs/species/lavaland_monsters/goliath dead.asset.meta
  UnityProject/Assets/Textures/mobs/species/lavaland_monsters/goliath dead.png
  UnityProject/Assets/Textures/mobs/species/lavaland_monsters/goliath dead.png.meta
Labels: Status: Merge Conflicts, Sprite Work

#8479 Moves VerifyChildReference into extension methods
  UnityProject/Assets/Scripts/UI/Core/Radial/Radial.cs
  UnityProject/Assets/Scripts/UI/Core/Radial/ScrollableRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ActionRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/ItemRadial.cs
  UnityProject/Assets/Scripts/Util/CodeUtilities.cs
  UnityProject/Assets/Scripts/Util/ComponentExtensions.cs
  UnityProject/Assets/Scripts/Util/ComponentExtensions.cs.meta
Labels: UI

#8485 Buffs powersinks charge times slightly
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/PowerSink.prefab
Labels: Type: Balance

#8486 Megaphone cooldown text feedback
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Megaphone.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/LocalRadioListener.cs
  UnityProject/Assets/Scripts/Systems/Communications/ChatInfluncer.cs
Labels: Status: Awaiting Review, Type: Balance

#8490 Game window title will now change to reflect what server you are on
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameData.prefab
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoUI.cs
  UnityProject/Assets/Scripts/Util/WindowNameChanger.cs
  UnityProject/Assets/Scripts/Util/WindowNameChanger.cs.meta
Labels: UI

#8480 Turns all explosives into bounced signal devices
  UnityProject/Assets/Prefabs/Items/Construction/Assemblies/RemoteSignalingDevice.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/C4.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/PowerSink.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/SyndicateBomb.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/X4.prefab
  UnityProject/Assets/ScriptableObjects/Communications/SignalData/RemoteSignaller.asset
  UnityProject/Assets/Scripts/Items/Storage/PizzaBox.cs
  UnityProject/Assets/Scripts/Items/Weapons/AttachableExplosive.cs
  UnityProject/Assets/Scripts/Items/Weapons/BulkyExplosive.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosiveBase.cs
Labels: Type: Balance

#8492 New jaws of life take 2
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/AdvancedJawsOfLife.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/AdvancedJawsOfLife.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/Crowbar.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/Crowbar.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/JawsOfLife.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/JawsOfLife.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/PocketCrowbar Variant.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/PocketCrowbar Variant.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/PocketCrowbar.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/PocketCrowbar.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/PocketCrowbarRed.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/PocketCrowbarRed.prefab.meta
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/SyndicateJawsOfLife.prefab
  UnityProject/Assets/Prefabs/Items/Tools/PryingTools/SyndicateJawsOfLife.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Belt/CEToolbeltFullPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/ERTEngineer.asset
  UnityProject/Assets/ScriptableObjects/PDA/UplinkCategoryList.asset
  UnityProject/Assets/Textures/items/tools/jaws_cutter.asset
  UnityProject/Assets/Textures/items/tools/jaws_cutter.asset.meta
  UnityProject/Assets/Textures/items/tools/jaws_cutter.png
  UnityProject/Assets/Textures/items/tools/jaws_cutter.png.meta
  UnityProject/Assets/Textures/items/tools/jaws_cutter_syndicate.asset
  UnityProject/Assets/Textures/items/tools/jaws_cutter_syndicate.asset.meta
  UnityProject/Assets/Textures/items/tools/jaws_cutter_syndie.png
  UnityProject/Assets/Textures/items/tools/jaws_cutter_syndie.png.meta
  UnityProject/Assets/Textures/items/tools/jaws_pry.asset
  UnityProject/Assets/Textures/items/tools/jaws_pry.asset.meta
  UnityProject/Assets/Textures/items/tools/jaws_pry.png
  UnityProject/Assets/Textures/items/tools/jaws_pry.png.meta
  UnityProject/Assets/Textures/items/tools/jaws_pry_syndicate.asset
  UnityProject/Assets/Textures/items/tools/jaws_pry_syndicate.asset.meta
  UnityProject/Assets/Textures/items/tools/jaws_pry_syndie.png
  UnityProject/Assets/Textures/items/tools/jaws_pry_syndie.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/Jaws_lefthand.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/Jaws_lefthand.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_back.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_back.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_front.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_front.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_left.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_left.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_right.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_lefthand/jaws_lefthand_right.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/Jaws_righthand.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/Jaws_righthand.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_back.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_back.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_front.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_front.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_left.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_left.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_right.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/equipment/tools_righthand/jaws_righthand_right.png.meta
Labels: Type: Balance, Sprite Work

#8498 Animates crit indicator
  UnityProject/Assets/Scripts/UI/Systems/CameraOverlays/OverlayCrits.cs
Labels: UI

#8495 Improvements and simplification for explosive GUIs
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabExplosive.prefab
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Explosive.cs
Labels: UI

#8528 Add "neutrally" colored floor tiles.
  UnityProject/Assets/Textures/floors/metal/variance/neutral.meta
  UnityProject/Assets/Textures/floors/metal/variance/neutral/neutral.png
  UnityProject/Assets/Textures/floors/metal/variance/neutral/neutral.png.meta
  UnityProject/Assets/Textures/floors/metal/variance/neutral/neutralcorner.png
  UnityProject/Assets/Textures/floors/metal/variance/neutral/neutralcorner.png.meta
  UnityProject/Assets/Textures/floors/metal/variance/neutral/neutralfull.png
  UnityProject/Assets/Textures/floors/metal/variance/neutral/neutralfull.png.meta
  UnityProject/Assets/Tilemaps/Palettes/Floors.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_0.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_1.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_2.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_3.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_4.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_4.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_5.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_5.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_6.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_7.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutral_7.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_0.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_0.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_1.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_1.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_2.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_2.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_3.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralcorner_3.asset.meta
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralfull.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/PlasteelFloors/Neutral/neutralfull.asset.meta
Labels: Sprite Work
