Repository unitystation/unitystation, pull requests merged in 2023-07, with the labels that each got.

#9935 some staging fixes
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Hoods/WinterHoods/WinterHood.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Outerwear/WinterCoats/WinterCoat.prefab
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RaceSOSingleton.asset
  UnityProject/Assets/ScriptableObjects/Occupations/AllowedOccupationsSingleton.asset
  UnityProject/Assets/ScriptableObjects/Occupations/GhostRole/AncientEngineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Spectator.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Spectator.asset.meta
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/BodyPartDamage.cs
  UnityProject/Assets/Scripts/Items/Science/VacpackGun.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminPlayerListRefreshMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateChatMessage.cs
  UnityProject/Assets/Scripts/Player/ItemLightControl.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/ScriptableObjects/ChemistryReagentsSO.cs
  UnityProject/Assets/Scripts/Systems/ChemistryInMainAssembly/ChemistryManager.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/Systems/Occupations/Occupation.cs
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/Interfaces.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/Interfaces/IGetPlayerPrefab.cs
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/Interfaces/IGetPlayerPrefab.cs.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/Interfaces/IModifyCharacterSettings.cs
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/Interfaces/IModifyCharacterSettings.cs.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/OccupationCustomEffectBase.cs
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/OccupationCustomEffectBase.cs.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/OccupationOnlyGhostMind.cs
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/OccupationOnlyGhostMind.cs.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/OccupationPickRandomSpecies.cs
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationCustomEffects/OccupationPickRandomSpecies.cs.meta
  UnityProject/Assets/Scripts/Systems/Occupations/OccupationList.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
Labels: UI

#9936 Slime improvements
  UnityProject/Assets/Prefabs/Effects/Lights/Light2D.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Drinks/ProteinBlend.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Drinks/RedMead.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Food/Synthmeat.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Medicine/Synthflesh.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Others/Carpet.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Others/Corgium.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Others/Life.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Blue/Blood/BlueBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Bluespace/Blood/BluespaceBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Gold/Blood/GoldBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Gray/Blood/GreyBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Oil/Blood/OiBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Orange/Blood/OrangeBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Pyrite/Blood/PyriteBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Sepia/Blood/SepiaBloodReaction.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/SlimeCores/Yellow/Blood/YellowBloodReaction.asset
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.TransferInteraction.cs
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Utils/Utilities.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Items/Science/VacpackGun.cs
  UnityProject/Assets/Scripts/Items/Tool/Syringe.cs
  UnityProject/Assets/Scripts/Objects/Research/SlimeProcessor.cs
Labels: Type: Feature, System: Science

#9932 Fixes #2873
  UnityProject/Assets/Scripts/Core/Highlight/Highlight.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
Labels: Type: Bug, System: Animation

#9941 Adds chat font scale option
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
  UnityProject/Assets/Scripts/Managers/SettingsManager/DisplaySettings.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ChatOptions.cs
Labels: Type: Feature, UI

#9943 Fixes windows having their input interrupted by chat keybinds
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
Labels: UI

#9945 feat: added setting to enable/disable audio reflection simulation.
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Core/Sound/SoundPhysics.cs
  UnityProject/Assets/Scripts/Core/Sound/SoundPhysics.cs.meta
  UnityProject/Assets/Scripts/Managers/AudioManager.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/AudioSourceParameters.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/Systems/DynamicAmbience/DynamicReverb.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/SoundOptions.cs
Labels: Scene Changes, UI

#9955 More staging fixing
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/MonkeyCube.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Slime/SlimeBody.prefab
  UnityProject/Assets/ScriptableObjects/Cargo/Categories/Science.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Science.meta
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Science/VacPack.asset
  UnityProject/Assets/ScriptableObjects/Cargo/Orders/Science/VacPack.asset.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/SlimeEat.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#9954 Cargo console rework
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoBountyEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoCartEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoCategoryEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoCategoryEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoSupplyEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCargo.prefab
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_Cargo.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoCategory.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoCategory.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPage.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageCart.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageCategories.cs
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageCategories.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Cargo/GUI_CargoPageStatus.cs
  UnityProject/Assets/UI/Cargo/body.png
Labels: UI

#9967 IL friendly
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainerFillVisualisation.cs
  UnityProject/Assets/Scripts/Core/Transform/Orientation.cs
  UnityProject/Assets/Scripts/Items/Others/Gibtonite.cs
  UnityProject/Assets/Scripts/Items/Weapons/Melee/EnergySword.cs
  UnityProject/Assets/Scripts/Objects/Research/Artifacts/Artifact.cs
  UnityProject/Assets/Scripts/Player/Language/MobLanguages.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Research/Artifacts/Effects/AreaEffects/AreaEffectBase.cs
  docs/development/RPC-vs-Netmsg.md
Labels: Documentation

#9972 Fixes #9963
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoBountyEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoCartEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CargoSupplyEntry.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCargo.prefab
  UnityProject/Assets/Scripts/UI/Systems/Jobs/CrewManifestManager.cs
Labels: UI

#9977 better quick load handle in editor
  UnityProject/Assets/Scripts/Core/Editor/CheckmarkMenuItems/CheckmarkMenuItems.cs
  UnityProject/Assets/Scripts/Core/Editor/PropertyDrawers/PropertyDrawers.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
Labels: Group: Editor, Group: Tool

#9976 Several Fixes and improvements
  UnityProject/Assets/Prefabs/Items/Food/Drinks/SodaCans/MonkeyEnergy.prefab
  UnityProject/Assets/Prefabs/Items/Food/Drinks/SodaCans/PwrGame.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/Baguette.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/BananaNutBreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/ButterBiscuit.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/Butterdog.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/GarlicBread.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/_BreadBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/_BreadSliceBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BubblegumGum.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/SpellBurger.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/_BurgerBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/Burrito.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/CakeSnacks/_CakeBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/CakeSnacks/_CakeSliceBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/FishAndChips.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/FishFingers.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/KebabBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/KebabRat.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/KebabRatDouble.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/KebabTofu.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/RawKhinkali.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/RawSausage.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/Tofu.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/MeatSnacks/TofuSoggy.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SandwichAndToastSnacks/Sandwich.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SandwichAndToastSnacks/ToastedSandwich.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SandwichAndToastSnacks/TwoBread.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SoupSnacks/ClownsTears.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpaghettiSnacks/_SpaghettiBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_CannedSnackBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_SnackBase.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Body/BadFoodinBody.asset
  UnityProject/Assets/Scripts/Items/Food/Consumable.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_GhostOptions.cs
Labels: UI

#9985 Some more fixes, it's unitystation bug hunting month apparently
  UnityProject/Assets/External.meta
  UnityProject/Assets/External/Firebase.meta
  UnityProject/Assets/External/Firebase/Editor.meta
  UnityProject/Assets/External/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
  UnityProject/Assets/External/Firebase/Editor/network_request.exe.meta
  UnityProject/Assets/Materials/PostProcess/Post-FloorFovGenerator Material.mat
  UnityProject/Assets/Materials/PostProcess/Post-FovGenerator.mat
  UnityProject/Assets/Materials/Resources/OverlayCritHole.mat
  UnityProject/Assets/Prefabs/Items/Mining/MiningScanner.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Prefabs/UI/DynamicChoiceWindow.prefab
  UnityProject/Assets/Scripts/Core/Chat/EmoteActionManager.cs
  UnityProject/Assets/Scripts/UI/Core/DynamicChoiceUI.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
Labels: UI

#9987 Implements wraapper for Application.OpenURL
  UnityProject/Assets/Mirror/Runtime/Transports/Ignorance/Editor/Toolbox.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatHyperlinks.cs
  UnityProject/Assets/Scripts/Core/SecureStuff.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/ConfigurationSaves.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/ConfigurationSaves/ConfigurationSaves.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/ConfigurationSaves/ConfigurationSaves.cs.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/URLOpen.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/URLOpen/SafeURLOpen.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/URLOpen/SafeURLOpen.cs.meta
  UnityProject/Assets/Scripts/Managers/Manager3D.cs
  UnityProject/Assets/Scripts/Managers/VersionCheck.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/OpenURL.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/MiniActionsHelpWindowUI.cs
  UnityProject/Assets/Scripts/UI/Systems/More_Buttons.cs
  UnityProject/Assets/Standard Assets/LightningBolt/Editor/LightningBoltEditor.cs
Labels: UI

#9999 application open URL Made safev2
  UnityProject/Assets/Assets.asmdef
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogManager.cs
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/ProfileManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/ScriptableObjectSingletons.prefab
  UnityProject/Assets/Scripts/Core/SafeFilesystem.meta
  UnityProject/Assets/Scripts/Core/SafeFilesystem/SafeFilesystem.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/ConfigurationSaves.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/ConfigurationSaves/ConfigurationSaves.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeFilesystem.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeFilesystem/AccessFile.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeFilesystem/AccessFile.cs.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeProfileManager.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeProfileManager.cs.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef.meta
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/ProfileManagerWrapper.cs
  UnityProject/Assets/Scripts/Managers/ProfileManagerWrapper.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/ProfileMessage.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/Systems/Permissions/Permissions.asmdef
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ProfileScrollView.cs
Labels: UI

#10001 Staging fixesy
  UnityProject/Assets/Prefabs/Items/Medical/Basic Treatments/Charcoal Pill.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/Nanotrasen_JobSelect.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/CleanupUtil.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Systems/Radiation/RadiationNode.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#10004 Filth Score + Some Round End Score Tweaks
  UnityProject/Assets/Scripts/Effects/FloorEffect/LeaveFootprints.cs
  UnityProject/Assets/Scripts/Systems/FilthGenerator/FilthGenerator.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.Data.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreEntry/ScoreEntry.cs
  UnityProject/Assets/Scripts/Systems/Score/ScoreMachine.cs
  UnityProject/Assets/Scripts/UI/Systems/EndRound/RoundEndScoreScreen.cs
Labels: UI
