Repository unitystation/unitystation, pull requests merged in 2023-12, with the labels that each got.

#10207 Staging changes
  UnityProject/Assets/Prefabs/Items/Clothing/Eyewear/MesonScanners/EngineeringScannerGoggles.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/PowerGeneratorPlasma.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Prefabs/UI/ChatBubble.meta
  UnityProject/Assets/Prefabs/UI/ChatBubble/ChatBubble1.prefab
  UnityProject/Assets/Prefabs/UI/ChatBubble/ChatBubble1.prefab.meta
  UnityProject/Assets/Prefabs/UI/ChatBubble/SUBChatBubble.prefab
  UnityProject/Assets/Prefabs/UI/ChatBubble/SUBChatBubble.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemMaster.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabMedicalConsole.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Boxes/MedicalSurvivalBox.asset
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Lighting/Animations/EmergencyLightAnimator.cs
  UnityProject/Assets/Scripts/Core/Lighting/Animations/GraphLightAnimator.cs
  UnityProject/Assets/Scripts/Core/Lighting/Animations/MultiFrameSpriteAnimation.cs
  UnityProject/Assets/Scripts/Core/Lighting/ILightAnimation.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Core/Sound/SoundSpawn.cs
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Managers/AudioManager.cs
  UnityProject/Assets/Scripts/Managers/SoundAmbientManager.cs
  UnityProject/Assets/Scripts/Managers/SoundManager.cs
  UnityProject/Assets/Scripts/Messages/Server/SoundMessages/StopSoundMessage.cs
  UnityProject/Assets/Scripts/Objects/Botany/HydroponicsTray.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Engineering/PowerGenerator.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/Machines/Griddle.cs
  UnityProject/Assets/Scripts/Objects/Machines/Microwave.cs
  UnityProject/Assets/Scripts/Objects/Machines/Oven.cs
  UnityProject/Assets/Scripts/Objects/Vendor.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubble.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/SubChatBubble.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/SubChatBubble.cs.meta
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/Alerts/UI_HeartMonitor.cs
Labels: UI

#10216 Awaysite voting
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Voting/VotePopUp.cs
  UnityProject/Assets/Scripts/Systems/Voting/VotingManager.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
Labels: UI

#10218 Makes it so you can Toggle run While crawling
  UnityProject/Assets/Scripts/Player/LayDown.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlIntent.cs
Labels: UI

#10222 fixes not being able too selecct cyboorgs and other species
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Head.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Torso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg left arm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg left.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg right.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg right arm.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RaceSOSingleton.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_Right_leg.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_Right_leg.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_Right_leg.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_Right_leg.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_head.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_head.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_head.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_head.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_arm.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_arm.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_arm.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_leg.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_leg.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_leg.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_left_leg.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_right_arm.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_right_arm.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_right_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_right_arm.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_torso.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_torso.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_torso.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/engineering/engineering_robot_torso.png.meta
Labels: Sprite Work

#10223 Cyborg sprites
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Head.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Torso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/ToolCarousel.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/ToolCarousel/Engineering ToolCarousel.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/ToolCarousel/ToolCarouselMedical.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/ToolCarouselMorphItem.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg left arm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg left.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg right.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg right arm.prefab
  UnityProject/Assets/ScriptableObjects/Occupations/GhostRole/Ashwalker.asset
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartCustomisation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Others/EtherealThing.cs
  UnityProject/Assets/Scripts/Items/Others/SetBodyType.cs
  UnityProject/Assets/Scripts/Items/Others/SetBodyType.cs.meta
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_Right_arm.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_Right_arm.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_Right_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_Right_arm.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_head.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_head.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_head.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_head.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_arm.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_arm.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_arm.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_leg.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_leg.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_leg.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_left_leg.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_right_leg.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_right_leg.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_right_leg.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_right_leg.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_torso.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_torso.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_torso.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_torso.png.meta
Labels: Sprite Work, UI

#10226 Fixes for character creator
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/Clothing/RaceSOSingleton.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#10228 Adds sprites for janitor cyborg
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Head.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Torso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/ToolCarousel/ToolCarouselJanitor.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg left arm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg left.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg right.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg right arm.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingletonNew.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_head.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_head.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_head.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_head.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_left_arm.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_left_arm.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_left_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_left_arm.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_right_arm.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_right_arm.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_right_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_right_arm.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_left_leg.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_left_leg.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_left_leg.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_left_leg.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_right_leg.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_right_leg.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_right_leg.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_right_leg.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_torso.asset
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_torso.asset.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_torso.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_janitor_torso.png.meta
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_Right_arm.png
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/medical/medical_Robot_torso.png
Labels: Sprite Work

#10235 Removes offensive text from one of the signs
  UnityProject/Assets/Textures/objects/barsigns/barsigns_alohasnackbar.png
  UnityProject/Assets/Textures/objects/barsigns/barsigns_alohasnackbar.xcf
Labels: Sprite Work

#10236 Client side Gizmo system
  UnityProject/Assets/Materials/UIBlendMaterial.mat
  UnityProject/Assets/Materials/UIBlendMaterial.mat.meta
  UnityProject/Assets/Prefabs/GameGizmo.meta
  UnityProject/Assets/Prefabs/GameGizmo/GameGizmos.prefab
  UnityProject/Assets/Prefabs/GameGizmo/GameGizmos.prefab.meta
  UnityProject/Assets/Prefabs/GameGizmo/GizmoBox.prefab
  UnityProject/Assets/Prefabs/GameGizmo/GizmoBox.prefab.meta
  UnityProject/Assets/Prefabs/GameGizmo/GizmoLine.prefab
  UnityProject/Assets/Prefabs/GameGizmo/GizmoLine.prefab.meta
  UnityProject/Assets/Prefabs/GameGizmo/GizmoSprite.prefab
  UnityProject/Assets/Prefabs/GameGizmo/GizmoSprite.prefab.meta
  UnityProject/Assets/Prefabs/GameGizmo/GizmoSquare.prefab
  UnityProject/Assets/Prefabs/GameGizmo/GizmoSquare.prefab.meta
  UnityProject/Assets/Prefabs/GameGizmo/GizmoText.prefab
  UnityProject/Assets/Prefabs/GameGizmo/GizmoText.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Core/Camera/CameraReferences.cs
  UnityProject/Assets/Scripts/Core/Camera/CameraReferences.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/DebugGameGizmo.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/DebugGameGizmo.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmo.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmo.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoBox.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoBox.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoLine.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoLine.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoSprite.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoSprite.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoSquare.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoSquare.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoText.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoText.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoTracked.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoTracked.cs.meta
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmomanager.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmomanager.cs.meta
  UnityProject/Assets/Scripts/Core/Lighting System/LightingSystem.cs
  UnityProject/Assets/Scripts/Core/Lighting System/MaterialContainer.cs
  UnityProject/Assets/Scripts/Core/Lighting System/OperationParameters.cs
  UnityProject/Assets/Scripts/UI/Core/CameraZoomHandler.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTabButtons.cs
  UnityProject/Assets/Shaders/UIBlending.shader
  UnityProject/Assets/Shaders/UIBlending.shader.meta
Labels: Scene Changes, UI

#10241 Fixed growing/harvestable Aloe plant
  UnityProject/Assets/Prefabs/Items/Botany/Seeds/AloeSeeds.prefab
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe.png
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe.png.meta
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_grow1.asset
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_grow1.asset.meta
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_grow2.asset
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_grow2.asset.meta
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_grow3.asset
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_grow3.asset.meta
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_harvest.asset
  UnityProject/Assets/Textures/objects/hydroponics/growing/growing_aloe_harvest.asset.meta
Labels: Type: Bug, Sprite Work

#10239 Adds in the functionality for readable books
  UnityProject/Assets/Prefabs/Items/Bureaucracy/Book.prefab
  UnityProject/Assets/Prefabs/Items/Bureaucracy/Book.prefab.meta
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBook.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBook.prefab.meta
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/Scripts/Items/Bureaucracy/BookWritable.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/BookWritable.cs.meta
  UnityProject/Assets/Scripts/Objects/HasNetworkTab.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Book.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Book.cs.meta
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
  UnityProject/Assets/Textures/objects/barsigns/barsigns_alohasnackbar.xcf.meta
Labels: Scene Changes, UI

#10245 Buckling to an object makes you face their direction again
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
Labels: Type: Bug, Status: Awaiting Review
