Repository unitystation/unitystation, pull requests merged in 2023-05, with the labels that each got.

#9822 Dispenser tooltip and tile damage on pipe ejection
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPipeDispenser.prefab
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalTraversal.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetButton.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_PipeDispenser.cs
Labels: UI

#9834 cyborg lights
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Head.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/CyborgLights.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/CyborgLights.prefab.meta
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg chassis.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Systems/Research/R&DProductionInitialDesigns/ExoFab.asset
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/CyborgToggleLight.asset
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/CyborgToggleLight.asset.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartFunctionality.cs
  UnityProject/Assets/Scripts/Player/BodyPartControllableLight.cs
  UnityProject/Assets/Scripts/Player/BodyPartControllableLight.cs.meta
  UnityProject/Assets/Scripts/Player/ItemLightControl.cs
  UnityProject/Assets/Scripts/Player/LightEmissionPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
  UnityProject/Assets/StreamingAssets/TechWeb/Designs/MechFabDesigns.json
  UnityProject/Assets/StreamingAssets/TechWeb/TechwebData.json
Labels: UI

#9839 Adds the random job button
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/Nanotrasen_JobSelect.prefab
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#9841 slight improvements for randomised names
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Managers/StringManager.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#9849 The mining scanner no longer uses a temporary sprite
  UnityProject/Assets/Prefabs/Items/Mining/MiningScanner.prefab
  UnityProject/Assets/Textures/items/mining/adv_mining_scanner.png
  UnityProject/Assets/Textures/items/mining/adv_mining_scanner.png.meta
  UnityProject/Assets/Textures/items/mining/mining_scanner.asset
  UnityProject/Assets/Textures/items/mining/mining_scanner.asset.meta
  UnityProject/Assets/Textures/items/mining/mining_scanner.png
  UnityProject/Assets/Textures/items/mining/mining_scanner.png.meta
Labels: Sprite Work

#9850 Bauxite
  UnityProject/Assets/Prefabs/Items/Mining/AdvancedProtoKineticAccelerator.prefab
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid05.unity
  UnityProject/Assets/Textures/wall/organic/Rock/Bauxite_rock_wall.png
  UnityProject/Assets/Textures/wall/organic/Rock/Bauxite_rock_wall.png.meta
  UnityProject/Assets/Textures/wall/organic/Rock/bauxite_rock_wall.asset
  UnityProject/Assets/Textures/wall/organic/Rock/bauxite_rock_wall.asset.meta
  UnityProject/Assets/Tilemaps/Palettes/Walls.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Bauxite_Rock_wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Mineable Walls/Bauxite_Rock_wall.asset.meta
Labels: System: Mining, Scene Changes, Sprite Work

#9868 Fixes admin audio player not working
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/CatalogueData.cs
  UnityProject/Assets/Scripts/CatalogueData.cs.meta
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalAudio.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalAudioButton.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalMusic.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalSound.cs
Labels: UI

#9840 Adds Reactor warning messages over radio
  UnityProject/Assets/Prefabs/Objects/Consoles/NuclearReactorConsole.prefab
  UnityProject/Assets/Scripts/Communications/SignalEmitter.cs
  UnityProject/Assets/Scripts/Core/Editor/Inspector/SlaveDeviceInspector.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorControlConsole.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/AutomatedAnnouncer.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Reactor/GUI_ReactorController.cs
Labels: UI

#9870 Fix player client being unable to load references to addressable audio.
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalAudio.cs
Labels: UI

#9872 Better Species limitation + Fixes
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/Systems/Research/LaserPuzzle/ItemPlinth.cs
  UnityProject/Assets/Scripts/Systems/Research/LaserPuzzle/LaserProjection.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/GUI_P_Colour.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/UIColour.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/TestVariableViewerScript.cs
  UnityProject/Assets/Standard Assets/HSVPicker/UI/ColorPicker.cs
Labels: UI

#9876 Adds UI scaling for 4k monitors and odd smaller screens
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/DisplayOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI
