Repository unitystation/unitystation, pull requests merged in 2023-04, with the labels that each got.

#9770 fixed
  UnityProject/Assets/Scripts/3D/FirstPersonCamera.cs
Labels: Status: Merge Conflicts

#9778 Disposal Bins improvements
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalBin.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/AutoAPCLinker.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/AutoAPCLinker.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Systems/Electricity/AutoAPCLinker.cs
  UnityProject/Assets/Scripts/Systems/Electricity/AutoAPCLinker.cs.meta
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/GUI_DisposalBin.cs
  UnityProject/Assets/Tests/Scenes/PowerAndLightsSceneTests.cs
Labels: UI

#9780 Pipe crawling
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalVirtualContainer.prefab
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalVirtualContainer.cs
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalTraversal.cs
  UnityProject/Assets/Scripts/Systems/Disposals/DisposalsManager.cs
  UnityProject/Assets/Scripts/UI/Core/PrefabTracker.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/Search/DevSpawnerDocument.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/Search/SpawnerSearch.cs
Labels: UI

#9805 Staging fixing23
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Frills.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Hornes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardSnout.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/Spikes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Appendix.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Tongue.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/Vulpkanin Body Markings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/Vulpkanin Facial Markings.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/Vulpkanin Hair.prefab
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/Equip/SuitStorageCapacity.asset
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Tool/Syringe.cs
  UnityProject/Assets/Scripts/Objects/Other/DropPod.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
Labels: UI

#9806 Fixes #9798
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainer.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PlayerHealthV2.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/LanguageBook.cs
  UnityProject/Assets/Scripts/Items/Devices/ButtonSignalEmitter.cs
  UnityProject/Assets/Scripts/Items/Devices/ButtonSignalReceiver.cs
  UnityProject/Assets/Scripts/Items/Dice/FlipCoin.cs
  UnityProject/Assets/Scripts/Items/Dice/RollDie.cs
  UnityProject/Assets/Scripts/Items/Others/AcidPool.cs
  UnityProject/Assets/Scripts/Items/Others/HolosignProjector.cs
  UnityProject/Assets/Scripts/Items/Storage/PizzaBox.cs
  UnityProject/Assets/Scripts/Items/Weapons/ExplosiveBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/PowerSink.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Behaviours/ProjectileMine.cs
  UnityProject/Assets/Scripts/MiniGames/MiniGameModules/GuessTheNumberMiniGame.cs
  UnityProject/Assets/Scripts/Objects/Botany/SeedExtractor.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalBin.cs
  UnityProject/Assets/Scripts/Objects/Drawers/FileCabinet.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SMES.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Objects/FlasherBase.cs
  UnityProject/Assets/Scripts/Objects/Lavaland/AshwalkerNest.cs
  UnityProject/Assets/Scripts/Objects/Machines/Gibber.cs
  UnityProject/Assets/Scripts/Objects/Other/JanitorCart.cs
  UnityProject/Assets/Scripts/Objects/Other/PortableFlasher.cs
  UnityProject/Assets/Scripts/Objects/Posters/PosterBehaviour.cs
  UnityProject/Assets/Scripts/Objects/Research/Artifacts/Artifact.cs
  UnityProject/Assets/Scripts/Objects/Research/Portal.cs
  UnityProject/Assets/Scripts/Objects/Research/TeleporterHub.cs
  UnityProject/Assets/Scripts/Objects/Research/TeleporterStation.cs
  UnityProject/Assets/Scripts/Objects/Singularity.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/LocalRadioListener.cs
  UnityProject/Assets/Scripts/Objects/TeslaEnergyBall.cs
  UnityProject/Assets/Scripts/Objects/Vendor.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/PublicTerminals/PublicDepartmentTerminal.cs
  UnityProject/Assets/Scripts/Objects/Wallmounts/PublicTerminals/PublicTerminalReceiver.cs
  UnityProject/Assets/Scripts/Systems/Research/Objects/ResearchServer.cs
  UnityProject/Assets/Scripts/UI/Objects/Botany/SeedExtractor/GUI_SeedExtractor.cs
Labels: UI

#9807 Fixes #9717
  UnityProject/Assets/Textures/objects/decals/decals_direction_evac.png
Labels: Sprite Work
