Repository unitystation/unitystation, pull requests merged in 2023-09, with the labels that each got.

#10053 Multiplayer Playmode docs
  docs/development/Multiplayer-PlayMode.md
Labels: Documentation

#10061 OG radial + Fixes legacy drop-down being laggy as
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/RightClickManager.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickEntry.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/QuickSelectRadial.meta
  UnityProject/Assets/Prefabs/UI/RightClick/QuickSelectRadial/QuickSelectButton.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/QuickSelectRadial/QuickSelectButton.prefab.meta
  UnityProject/Assets/Prefabs/UI/RightClick/QuickSelectRadial/QuickSelectRadialMenu.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/QuickSelectRadial/QuickSelectRadialMenu.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickEntry.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickMenuController.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial/QuickRadialButton.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial/QuickRadialButton.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial/QuickSelectRadial.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial/QuickSelectRadial.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
Labels: UI

#10056 Security Progress - Reflections
  UnityProject/Assets/Graphy - Ultimate Stats Monitor/Runtime/GraphyDebugger.cs
  UnityProject/Assets/Plugins/SerializableDictionary/SerializableDictionary.asmdef
  UnityProject/Assets/Plugins/SerializableDictionary/SerializableDictionary.cs
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scripts/Core/Editor/Addressable editor/AddressablesDevBuildSetup.cs
  UnityProject/Assets/Scripts/Core/Highlight/Highlight.cs
  UnityProject/Assets/Scripts/Core/Lighting System/Light2D/Util.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/AllowedReflection.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/SpriteMetadata.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SpriteMetadata.cs.meta
  UnityProject/Assets/Scripts/Core/Sound/SunVox/SunVox.cs
  UnityProject/Assets/Scripts/Core/Sound/Synth.cs
  UnityProject/Assets/Scripts/Core/TTS/WavUtility.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PolymorphicSystems/Bodypart/BodyPartComponentBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PolymorphicSystems/HealthSystemBase.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/MusicManager.cs
  UnityProject/Assets/Scripts/Objects/Engineering/ParticleAcceleratorControl.cs
  UnityProject/Assets/Scripts/ScriptableObjects/SpritesDirectional.cs
  UnityProject/Assets/Scripts/Systems/Permissions/PermissionsManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Tiles/LayerTile.cs
  UnityProject/Assets/Scripts/UI/Core/ImageExtensions.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/SpriteProcessing.asmdef
  UnityProject/Assets/Scripts/UI/Core/SpriteProcessing/TextureMetadata.cs
  UnityProject/Assets/Scripts/Util/WindowNameChanger.cs
  UnityProject/Assets/UpdateTextures.cs
Labels: Scene Changes, UI

#10063 Better default fontt
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
Labels: UI

#10065 Statting the fixs
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Prefabs/UI/Tooltips/HoverTooltip.prefab
  UnityProject/Assets/Scripts/Core/Camera/Camera2DFollow.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Managers/UpdateManager/UpdateManager.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubble.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial/QuickSelectRadial.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlAction.cs
Labels: UI

#10070 Staging improvements4
  UnityProject/Assets/Scripts/Objects/Canisters/PlasmaAddable.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorAnimatorV2.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/QuickSelectRadial/QuickSelectRadial.cs
Labels: UI

#10075 Asteroid04 Update
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid04.unity
Labels: Scene Changes

#10076 Asteroid03 Update
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid03.unity
Labels: Scene Changes

#10077 Fix: Asteroids not on shuttle radar #9515
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/Spawned/RadarList.cs
Labels: UI
