Repository unitystation/unitystation, pull requests merged in 2023-08, with the labels that each got.

#10008 Fixed papers!
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPaper.prefab
  UnityProject/Assets/Scripts/Items/Others/Paper.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
Labels: Type: Bug, Group: UI, UI

#10009 Adds a dropdown menu as an option for right click
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/RightClickManager.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick.meta
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickMenu.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickMenu.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/IRightClickMenu.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/IRightClickMenu.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickEntry.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickMenuController.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickMenuController.cs.meta
  UnityProject/Assets/Scripts/UI/Core/RightClick/RadialBranch.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickMenuController.cs
Labels: Type: Feature, Group: UI, Status: Awaiting Review, System: Interaction, UI

#10010 Fixes and improvements for dropdown menu
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickEntry.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickEntry.prefab.meta
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickMenu.prefab
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickEntry.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickMenuController.cs
  UnityProject/Assets/Scripts/UI/InvokeEventOnPointer.cs
  UnityProject/Assets/Scripts/UI/InvokeEventOnPointer.cs.meta
Labels: Type: Bug, Type: Feature, Group: UI, System: Interaction, UI

#10012 Safe API + Cleanup
  UnityProject/Assets/Scripts/Core/AutoMod/AutoMod.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.UpdateChar.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.ValidateUser.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.cs
  UnityProject/Assets/Scripts/Core/Editor/Editor.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeHttpRequest.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeHttpRequest.cs.meta
  UnityProject/Assets/Scripts/Managers/AddressableManager/AddressableCatalogueManager.cs
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickableElement.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalAudio.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoPanel/Pages/ChangelogPage.cs
  UnityProject/Assets/Scripts/Util/EncryptionUtils.cs
  UnityProject/Assets/Tests/EncryptionTest.cs
Labels: Type: Security, UI

#10015 chore: add tests errors to PR comments
  .github/workflows/errorCheck.yml
  .github/workflows/test.yml
Labels: Group: DevOps

#10016 Staging my six
  UnityProject/Assets/Prefabs/Items/Chemistry/ChemicalGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/Beaker10UFoamingAgent10UFluorosulfuricAcid.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/Beaker10UFoamingAgent10UFluorosulfuricAcid.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/Beaker10USmartFoamingAgent10UFluorosulfuricAcid.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/Beaker10USmartFoamingAgent10UFluorosulfuricAcid.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/Beaker30UAluminium.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/Beaker30UAluminium.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/BeakerCryoxodone.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/OpenContainers/PrefilledContainers/BeakerCryoxodone.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/PrefilledChemicalGrenades.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/PrefilledChemicalGrenades/SmartWallFoamGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/PrefilledChemicalGrenades/SmartWallFoamGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/PrefilledChemicalGrenades/WallFoamGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/PrefilledChemicalGrenades/WallFoamGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/ClownMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/MimeMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/SexyClownMask.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Maskwear/SexyMimeMask.prefab
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalIntake.prefab
  UnityProject/Assets/Prefabs/Objects/Disposals/DisposalOutlet.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/EngiVend.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/RightClick/LegacyRightClick/LegacyRightClickMenu.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RaceSOSingleton.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/R&DProductionInitialDesigns/CircuitImprinter.asset
  UnityProject/Assets/Scripts/Clothing/BackPack/InteractableStorage.cs
  UnityProject/Assets/Scripts/Items/Devices/ChemicalGrenade.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/SlimeEat.cs
  UnityProject/Assets/Scripts/Mobs/BrainAI/BrainMobState.cs
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
  UnityProject/Assets/Scripts/Objects/Machines/RDProductionMachine.cs
  UnityProject/Assets/Scripts/Objects/Mining/OreRedemptionMachine.cs
  UnityProject/Assets/Scripts/Systems/InGameEvents/InGameEventScripts/EventScrubberSurge.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/LegacyRightClick/LegacyRightClickMenuController.cs
  UnityProject/Assets/StreamingAssets/Config/TechWeb/Designs/MachineDesigns.json
Labels: UI

#10019 Chat Fonts
  UnityProject/Assets/Plugins/TextToTMP.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/ComponentProperties.cs
  UnityProject/Assets/Plugins/TextToTMP/Editor/ComponentProperties.cs.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/ComponentUpgrade.cs
  UnityProject/Assets/Plugins/TextToTMP/Editor/ComponentUpgrade.cs.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/ReferenceCollection.cs
  UnityProject/Assets/Plugins/TextToTMP/Editor/ReferenceCollection.cs.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/ScriptUpgrade.cs
  UnityProject/Assets/Plugins/TextToTMP/Editor/ScriptUpgrade.cs.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/TextToTMP.Editor.asmdef
  UnityProject/Assets/Plugins/TextToTMP/Editor/TextToTMP.Editor.asmdef.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/TextToTMPWindow.cs
  UnityProject/Assets/Plugins/TextToTMP/Editor/TextToTMPWindow.cs.meta
  UnityProject/Assets/Plugins/TextToTMP/Editor/Utilities.cs
  UnityProject/Assets/Plugins/TextToTMP/Editor/Utilities.cs.meta
  UnityProject/Assets/Plugins/TextToTMP/README.txt
  UnityProject/Assets/Plugins/TextToTMP/README.txt.meta
  UnityProject/Assets/Prefabs/Chat/ChatEntry.prefab
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatEntry.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/OptionsMenu.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/ThemeOptions/ThemeOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/ChatChannel/UIToggleChannel.cs
  UnityProject/Assets/Standard Assets/TextMesh Pro/Resources/TMP Settings.asset
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont SDF.asset
  UnityProject/Assets/UI/Fonts/PT_Serif/PT_Serif2.asset
  UnityProject/ProjectSettings/ProjectSettings.asset
Labels: Type: Feature, Group: UI, Status: Awaiting Review, UI

#10032 Feedback and fixes for chat fonts PR
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-7_2_0.bundle.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-7_2_0.dll.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-7_2_0.so.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.bundle.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.dll.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.so.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.bundle.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.dll.meta
  UnityProject/Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.so.meta
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.ServerStatus.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeHttpRequest.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/UI/Systems/ChatChannel/UIToggleChannel.cs
Labels: UI

#10034 Staging 60s
  UnityProject/Assets/Prefabs/Decal/Resources/dirty floor decal.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Artificial Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/ToolCarousel/ToolCarouselJanitor.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Ghost.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Resources/UI/RightClickButtonIcon/Alt_Interaction.png
  UnityProject/Assets/Resources/UI/RightClickButtonIcon/Alt_Interaction.png.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon/AltMouseInteraction.asset
  UnityProject/Assets/ScriptableObjects/Mouseicon/AltMouseInteraction.asset.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon/DisarmMouseIcon.asset
  UnityProject/Assets/ScriptableObjects/Mouseicon/DisarmMouseIcon.asset.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon/ExamineIcon.asset
  UnityProject/Assets/ScriptableObjects/Mouseicon/ExamineIcon.asset.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon/GrabMouseIcon.asset
  UnityProject/Assets/ScriptableObjects/Mouseicon/GrabMouseIcon.asset.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon/GrabbingIcon.asset
  UnityProject/Assets/ScriptableObjects/Mouseicon/GrabbingIcon.asset.meta
  UnityProject/Assets/ScriptableObjects/Mouseicon/HarmMouseIcon.asset
  UnityProject/Assets/ScriptableObjects/Mouseicon/HarmMouseIcon.asset.meta
  UnityProject/Assets/Scripts/Core/Input System/MouseIconSo.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseIconSo.cs.meta
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Stackable.cs
  UnityProject/Assets/Scripts/Items/Weapons/ImplantExplosiveTrigger.cs
  UnityProject/Assets/Textures/interface/UI/mouse/DisarmMouse.png
  UnityProject/Assets/Textures/interface/UI/mouse/DisarmMouse.png.meta
  UnityProject/Assets/Textures/interface/UI/mouse/GrabMouse.png
  UnityProject/Assets/Textures/interface/UI/mouse/GrabMouse.png.meta
  UnityProject/Assets/Textures/interface/UI/mouse/HarmMouse.png
  UnityProject/Assets/Textures/interface/UI/mouse/HarmMouse.png.meta
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_grab_cursor.png
  UnityProject/Assets/Textures/interface/UI/player hud/screen_gen/screen_gen_grab_cursor.png.meta
  UnityProject/Assets/UI/Fonts/ComicSans/ComicSans SDF.asset
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont SDF.asset
  UnityProject/Assets/UI/Fonts/Liliput_Steps/lilliput steps SDF.asset
  UnityProject/Assets/UI/Fonts/PT_Serif/PT_Serif2.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/Ubuntu-R SDF.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset
  UnityProject/Assets/UI/Fonts/arial_tmp/arialbd SDF.asset
  UnityProject/Assets/UI/Fonts/chatbubble/chatbubble SDF.asset
  UnityProject/Assets/UI/Fonts/white-rabbit/whitrabt SDF.asset
Labels: Sprite Work

#10037 Chat fix
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Scripts/Core/Chat/ChatScrollRect/ChatScroll.cs
  UnityProject/Assets/Scripts/UI/Core/TooltipMonoBehaviour.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminHelpChat.cs
  UnityProject/Assets/Scripts/UI/Systems/ChatChannel/UIToggleChannel.cs
  UnityProject/Assets/UI/ChannelToggleTemplate.prefab
  UnityProject/Assets/UI/Fonts/FontAwesome/fontawesome-webfont SDF.asset
  UnityProject/Assets/UI/Fonts/PT_Serif/PT_Serif-Web-Regular.asset
  UnityProject/Assets/UI/Fonts/PT_Serif/PT_Serif2.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/Ubuntu-R SDF.asset
  UnityProject/Assets/UI/Fonts/Ubuntu_Font_Family_0.83 2/UbuntuMono-B SDF.asset
Labels: UI

#10042 Security stuff even more,
  UnityProject/Assets/IngameDebugConsole/Scripts/ConsoleMethodAttribute.cs
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogConsole.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatHelpWindowUI.cs
  UnityProject/Assets/Scripts/Core/Editor/MiscFunctions_RRT.cs
  UnityProject/Assets/Scripts/Core/Networking/NetworkManagerExtensions.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/AllowedReflection.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/AllowedReflection.cs.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureMapsSaver.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureMapsSaver.cs.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/Librarian.cs
  UnityProject/Assets/Scripts/Items/EncryptionKey.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaverAttribute.cs
  UnityProject/Assets/Scripts/Messages/GameMessageBase.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/UpdateClientValue.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorControlConsole.cs
  UnityProject/Assets/Scripts/Systems/Explosions/Explosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionEmpNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionNode.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickMethod.cs
  UnityProject/Assets/Scripts/Util/EnumUtils.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/GUI_P_Colour.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Vectors/GUI_P_Vectors.cs
Labels: UI

#10041 Fixing changeling
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Felinid/Felinid.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Vulpkanin/Vulpkanin.asset
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingAbility/ChangelingAbility.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingAbility/Implementation/AbsorbAbility.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingAbility/Implementation/HallucinationSting.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingAbility/Implementation/Sting.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingMain.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UiChangeling.cs
Labels: UI
