Repository unitystation/unitystation, pull requests merged in 2023-03, with the labels that each got.

#9656 Memory leak fix : UI_ItemImage, Highlight, SpriteHandler
  UnityProject/Assets/Scripts/Core/Highlight/Highlight.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: UI

#9666 fix Aileen
  UnityProject/Assets/Scenes/AdditionalScenes/WizardShip.unity
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AlienPlayer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemImage.cs
Labels: Scene Changes, UI

#9660 Adds headwear: Crown
  UnityProject/Assets/Prefabs/Items/Clothing/Crown.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Crown.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Textures/clothing/head/crown.meta
  UnityProject/Assets/Textures/clothing/head/crown/crown.asset
  UnityProject/Assets/Textures/clothing/head/crown/crown.asset.meta
  UnityProject/Assets/Textures/clothing/head/crown/head_crown.asset
  UnityProject/Assets/Textures/clothing/head/crown/head_crown.asset.meta
  UnityProject/Assets/Textures/clothing/head/crown/head_crown.png
  UnityProject/Assets/Textures/clothing/head/crown/head_crown.png.meta
Labels: Sprite Work

#9686 Memory leak fix : PlayerManager
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
Labels: Status: Awaiting Changes

#9700 Memory leak fix : UI_SlotManager
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_SlotManager.cs
Labels: UI

#9699 Memory leak fix : UI_ItemSlot
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
Labels: UI

#9696 Memory leak fix : GUI_AdminTools
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GUI_AdminTools.cs
Labels: UI

#9698 Memory leak fix : StatsTab
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
Labels: UI

#9672 Fixes clients ocassionally getting stuck loading scenes
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/SubSceneManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/SubSceneManager.prefab.meta
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Client.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Server.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManagerNetworked.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManagerNetworked.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/EnableComponentMessage.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Packages/packages-lock.json
Labels: Scene Changes

#9703 Split character selector code from character editor code
  UnityProject/Assets/Prefabs/SceneConstruction/LobbyManager (Do not add to Managers.prefab!).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Scripts/Core/Utils/MathUtils.cs
  UnityProject/Assets/Scripts/Managers/LobbyManager/LobbyManager.cs
  UnityProject/Assets/Scripts/Objects/Lavaland/AshwalkerNest.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/UI/Systems/Character.meta
  UnityProject/Assets/Scripts/UI/Systems/Character/AntagEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/AntagEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Character/AntagPrefsDict.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/AntagPrefsDict.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Character/AntagonistPreferences.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/AntagonistPreferences.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSelector.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSelector.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSettings.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSettings.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: Type: Refactor, UI

#9726 Wraping up the Protips bounty
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/UI/Learning/HelpWindow.prefab
  UnityProject/Assets/Prefabs/UI/Learning/ProTipManager.prefab
  UnityProject/Assets/Prefabs/UI/Learning/ProTipUI.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/HowToGetUpTip.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/HowToGetUpTip.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips/DisarmIntentTip.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips/DisarmIntentTip.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips/HarmIntentTip.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips/HarmIntentTip.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips/HelpIntentTip.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/IntentTips/HelpIntentTip.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/LateJoinTip.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/LateJoinTip.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/RoundStartJoinTip.asset
  UnityProject/Assets/ScriptableObjects/Learning/ProtipSOs/RoundStartJoinTip.asset.meta
  UnityProject/Assets/ScriptableObjects/Learning/Protips.prefab
  UnityProject/Assets/ScriptableObjects/Learning/Protips.prefab.meta
  UnityProject/Assets/Scripts/Core/AutoMod/AutoMod.cs
  UnityProject/Assets/Scripts/Core/Characters/AttributeBehaviors/SpawnAtJobType.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Health/Living/LivingHealthBehaviour.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Learning/ProtipManager.cs
  UnityProject/Assets/Scripts/Learning/ProtipObject.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnChangeIntent.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnChangeIntent.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnHealthStateChange.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnJoinTime.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnJoinTime.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnLayDown.cs
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnLayDown.cs.meta
  UnityProject/Assets/Scripts/Learning/UI/ProtipListUI.cs
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateRoundTimeMessage.cs
  UnityProject/Assets/Scripts/NPC/Mood/MobMood.cs
  UnityProject/Assets/Scripts/Objects/Nuke.cs
  UnityProject/Assets/Scripts/Objects/Telecomms/AutomatedAnnouncer.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Telecomms/GUI_PublicTerminal.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
  UnityProject/Assets/Standard Assets/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset
Labels: Scene Changes, UI

#9743 Help menu navigation is now clearer
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/IngameMenu.prefab
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Prefabs/UI/Learning/HelpWindow.prefab
  UnityProject/Assets/Scripts/Learning/UI/ProtipListUI.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
Labels: UI

#9755 implements a new rendering technique
  UnityProject/Assets/Prefabs/3D prefab.meta
  UnityProject/Assets/Prefabs/3D prefab/BasieCube.prefab
  UnityProject/Assets/Prefabs/3D prefab/BasieCube.prefab.meta
  UnityProject/Assets/Prefabs/3D prefab/cubes.mat
  UnityProject/Assets/Prefabs/3D prefab/cubes.mat.meta
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Objects/Object.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/GameManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Prefabs/UI/RotatorCameraObject.prefab
  UnityProject/Assets/Prefabs/UI/RotatorCameraObject.prefab.meta
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonPrefabsSingleton.asset
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scenes/ActiveScenes/OnlineScene.unity
  UnityProject/Assets/Scripts/3D.meta
  UnityProject/Assets/Scripts/3D/Billboard.cs
  UnityProject/Assets/Scripts/3D/Billboard.cs.meta
  UnityProject/Assets/Scripts/3D/ConvertTo3D.cs
  UnityProject/Assets/Scripts/3D/ConvertTo3D.cs.meta
  UnityProject/Assets/Scripts/3D/FirstPersonCamera.cs
  UnityProject/Assets/Scripts/3D/FirstPersonCamera.cs.meta
  UnityProject/Assets/Scripts/3D/SetCubeSprite.cs
  UnityProject/Assets/Scripts/3D/SetCubeSprite.cs.meta
  UnityProject/Assets/Scripts/Core/Camera/Camera2DFollow.cs
  UnityProject/Assets/Scripts/Core/Camera/ParallaxController.cs
  UnityProject/Assets/Scripts/Core/Input System/InputManagerWrapper.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Items/Weapons/Projectiles/Bullet.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Managers/Manager3D.cs
  UnityProject/Assets/Scripts/Managers/Manager3D.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/Activate3DMode.cs
  UnityProject/Assets/Scripts/Messages/Server/Activate3DMode.cs.meta
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Player/PlayerAction.cs
  UnityProject/Assets/Scripts/ScriptableObjects/CommonPrefabs.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/TileLocation.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/Tilemaps/Utils/TileList.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/GameplayOptions.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GameModePage.cs
  UnityProject/ProjectSettings/GraphicsSettings.asset
Labels: Scene Changes, UI
