Repository unitystation/unitystation, pull requests merged in 2023-02, with the labels that each got.

#9564 Mind fixing2 + some cleaning
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/AimApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/ConnectionApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/ContextMenuApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/HandActivate.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/InventoryApply.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/MouseDrop.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/Interactions/PositionalHandApply.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Utils/IClientSynchronisedEffect.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Weapons/FiringPins/PinBase.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/BlobStarter.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AGhost.cs
  UnityProject/Assets/Scripts/UI/Systems/CameraOverlays/OverlayCrits.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/HandsController.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#9570 feat: add streamer mode setting
  UnityProject/Assets/Prefabs/SceneConstruction/SettingsManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Managers/SettingsManager/MiscSettings.cs
  UnityProject/Assets/Scripts/Managers/SettingsManager/MiscSettings.cs.meta
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/MiscOptions.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/MiscOptions.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
Labels: UI

#9562 Food stacks
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/BigBiteBurger.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/CheeseBurger.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/SuperBiteBurger.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/_BurgerBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BurgerSnacks/_JellyBurgerBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/OnionRings.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/PizzaSnacks/_PizzaBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/PizzaSnacks/_PizzaSliceBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SandwichAndToastSnacks/Sandwich.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SandwichAndToastSnacks/TwoBread.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpaghettiSnacks/BoiledSpaghetti.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpaghettiSnacks/Spesslaw.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpaghettiSnacks/_SpaghettiBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpiderEggs.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpiderLollipop.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/SpiderlingDead.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/StickOfButter.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/Taco.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/Tortilla.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_CannedSnackBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_SnackBase.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_SnackChewableBase.prefab
  UnityProject/Assets/Scripts/Items/Food/Consumable.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Food/HealableJobEdible.cs
  UnityProject/Assets/Scripts/Items/Food/WishSoup.cs
  UnityProject/Assets/Scripts/Items/Food/XenomorphFood.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs
Labels: UI

#9574 Adds Rainworld Slug cat plushes.
  UnityProject/Assets/Prefabs/Items/Other/Toys/Plushes/OddSlugPlushie.prefab
  UnityProject/Assets/Prefabs/Items/Other/Toys/Plushes/OddSlugPlushie.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RandomPlushie.asset
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Textures/items/plushes/plushes_slugcat.asset
  UnityProject/Assets/Textures/items/plushes/plushes_slugcat.asset.meta
  UnityProject/Assets/Textures/items/plushes/plushes_slugcat.png
  UnityProject/Assets/Textures/items/plushes/plushes_slugcat.png.meta
  UnityProject/Assets/Textures/items/plushes/plushes_slugcats.png
  UnityProject/Assets/Textures/items/plushes/plushes_slugcats.png.meta
Labels: Sprite Work

#9576 Drunk effect
  UnityProject/Assets/Prefabs/Items/Implants/Felind/FelinidTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Lizard/LizardChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Moth/MothChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/HumanTorso.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Kidneys.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Liver.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninChest.prefab
  UnityProject/Assets/Prefabs/Objects/Consoles/DNA Console.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Alien/AlienNewbornLarva.prefab
  UnityProject/Assets/Prefabs/Player/Resources/AlternateHumanoids/TheWelder.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/ScriptableObjects/mutationss/Brain/MutationAlcoholResistance.asset
  UnityProject/Assets/ScriptableObjects/mutationss/Brain/MutationAlcoholResistance.asset.meta
  UnityProject/Assets/ScriptableObjects/mutationss/Brain/MutationAlcoholWeakness.asset
  UnityProject/Assets/ScriptableObjects/mutationss/Brain/MutationAlcoholWeakness.asset.meta
  UnityProject/Assets/Scripts/Core/Camera/CameraEffectControlScript.cs
  UnityProject/Assets/Scripts/Core/Camera/DrunkCamera.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Brain/AlcoholEffectMutation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Brain/AlcoholEffectMutation.cs.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Kidneys.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Liver.cs
  UnityProject/Assets/Scripts/Player/PlayerDrunkEffects.cs
  UnityProject/Assets/Scripts/Player/PlayerFlashEffects.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/PlayerSlotStoragePopulator.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Populators/Storage/StoragePopulator.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  docs/development/Species-Notes.md
Labels: Documentation, UI

#9587 Asteroid 12
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid12.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Asteroid12.unity.meta
  UnityProject/Assets/ScriptableObjects/SubScenes/AsteroidListSO.asset
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes

#9592 Supermatter Log, Exposed events in inspector and admin nofitication sounds.
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Scripts/Items/LastTouch.cs
  UnityProject/Assets/Scripts/Items/LastTouch.cs.meta
  UnityProject/Assets/Scripts/Learning/ProtipObjectTypes/ProtipObjectOnPickup.cs
  UnityProject/Assets/Scripts/Objects/Engineering/SuperMatter.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttleConsole.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Pickupable.cs
  UnityProject/Assets/Scripts/UI/Core/GUI/Components/GUI_Notification.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerAlerts.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#9601 Fixes and dinosaurs
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Neutral dinosaurs/Brtachiosaurus.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Neutral dinosaurs/Saichania.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Neutral dinosaurs/Stegosaurus.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/Scripts/Core/Input System/MouseInputController.cs
  UnityProject/Assets/Scripts/Items/Medical/Genetics/MutationGrabber.cs
  UnityProject/Assets/Scripts/Objects/Vendor.cs
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Brtachiosaurus.asset
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Brtachiosaurus.asset.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Brtachiosaurus.png
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Brtachiosaurus.png.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Saichania.asset
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Saichania.asset.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Saichania.png
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Saichania.png.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Stegosaurus.asset
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Stegosaurus.asset.meta
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Stegosaurus.png
  UnityProject/Assets/Textures/mobs/species/Dinosaurs/neutral dinosaurs/Stegosaurus.png.meta
Labels: Sprite Work

#9607 Genetics improvements
  UnityProject/Assets/Prefabs/Items/Implants/HumanBodyPartExternal.prefab
  UnityProject/Assets/Prefabs/Items/Implants/HumanLimb.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Devices/DNA Injector.prefab
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Felinid/Felinid.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Alien.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/The Welder.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Ashwalker.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Vulpkanin/Vulpkanin.asset
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/DNAConsole/SpeciesElementunlocked.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/DNAConsole/mutation choice.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabDNAConsole.prefab
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartMutations.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Medical/Genetics/MutationGrabber.cs
  UnityProject/Assets/Scripts/Items/Medical/Genetics/MutationInjector.cs
  UnityProject/Assets/Scripts/Items/Tool/Syringe.cs
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/Spawned/DNAStrandList.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/DNASpeciesElement.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_DNAConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/genetics/MutationChooseElement.cs
Labels: UI

#9606 Dynamic Choice UI and Emote window
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/DynamicChoiceWindow.prefab
  UnityProject/Assets/Prefabs/UI/DynamicChoiceWindow.prefab.meta
  UnityProject/Assets/ScriptableObjects/Emotes/Backflip.asset
  UnityProject/Assets/ScriptableObjects/Emotes/Dance.asset
  UnityProject/Assets/ScriptableObjects/Emotes/SpeciesSpecficEmotes/Feline/FelinePurr.asset
  UnityProject/Assets/ScriptableObjects/Emotes/Suicide.asset
  UnityProject/Assets/ScriptableObjects/Emotes/Surrender.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicEmotes/clap.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicGenderedEmotes/Scream.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicGenderedEmotes/chuckle.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicGenderedEmotes/cough.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicGenderedEmotes/laugh.asset
  UnityProject/Assets/ScriptableObjects/Emotes/basicGenderedEmotes/sigh.asset
  UnityProject/Assets/Scripts/Core/Chat/EmoteActionManager.cs
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
  UnityProject/Assets/Scripts/UI/Core/DynamicChoiceEntry.cs
  UnityProject/Assets/Scripts/UI/Core/DynamicChoiceEntry.cs.meta
  UnityProject/Assets/Scripts/UI/Core/DynamicChoiceUI.cs
  UnityProject/Assets/Scripts/UI/Core/DynamicChoiceUI.cs.meta
  UnityProject/Assets/Textures/icons.meta
  UnityProject/Assets/Textures/icons/emotes.meta
  UnityProject/Assets/Textures/icons/emotes/clap.png
  UnityProject/Assets/Textures/icons/emotes/clap.png.meta
  UnityProject/Assets/Textures/icons/emotes/heart.png
  UnityProject/Assets/Textures/icons/emotes/heart.png.meta
  UnityProject/Assets/Textures/icons/emotes/peel.png
  UnityProject/Assets/Textures/icons/emotes/peel.png.meta
  UnityProject/Assets/Textures/icons/emotes/sick.png
  UnityProject/Assets/Textures/icons/emotes/sick.png.meta
  UnityProject/Assets/Textures/icons/emotes/slipsign.png
  UnityProject/Assets/Textures/icons/emotes/slipsign.png.meta
Labels: Sprite Work, UI

#9616 Fix Codacy issues for `Classes with "IDisposable" members should implement "IDisposable"`
  UnityProject/Assets/Scripts/Objects/Kitchen/InteractableGriddle.cs
  UnityProject/Assets/Scripts/Objects/Machines/Griddle.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubble.cs
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ChatBubbleManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerAlerts/PlayerAlertView.cs
Labels: UI

#9619 Staging fixes22.2
  UnityProject/Assets/Prefabs/Effects/Lights/FireLight2D.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgHeart.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLiver.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgLungs.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/CyborgParts/CyborgTorso.prefab
  UnityProject/Assets/Prefabs/Items/Medical/Devices/Mutation Grabber.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Friendly/FriendlyDinosaur/Friendly Dinosaur.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/HostileDinosaurs/Hostile dinosaur.prefab
  UnityProject/Assets/Prefabs/Mobs/Living/SimpleAnimals/Hostile/Neutral dinosaurs/Neutral dinosaur.prefab
  UnityProject/Assets/Prefabs/Objects/Consoles/DNA Console.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabDNAConsole.prefab
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire.meta
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightA32.png
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightA32.png.meta
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightB32.png
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightB32.png.meta
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightC32.png
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightC32.png.meta
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightD32.png
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/FirelightD32.png.meta
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/firelight.asset
  UnityProject/Assets/Resources/Effects/Light2D/AnimatedFire/firelight.asset.meta
  UnityProject/Assets/Resources/Effects/Light2D/BoringFire.asset
  UnityProject/Assets/Resources/Effects/Light2D/BoringFire.asset.meta
  UnityProject/Assets/Resources/Effects/Light2D/small Fire.png
  UnityProject/Assets/Resources/Effects/Light2D/small Fire.png.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingleton.asset
  UnityProject/Assets/ScriptableObjects/Machines/AutolatheProducts.asset
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/LightSpriteHandler.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/LightSpriteHandler.cs.meta
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartMutations.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Tool/Syringe.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestCableCut.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestCableCut.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Cable/CableCuttingWindow.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/GUI_DNAConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/genetics/MutationUnlockMiniGame.cs
  UnityProject/Assets/Textures/items/device/MutationGrabber3.asset
  UnityProject/Assets/Textures/items/device/MutationGrabber3.asset.meta
  UnityProject/Assets/Textures/items/device/MutationGrabber3.png
  UnityProject/Assets/Textures/items/device/MutationGrabber3.png.meta
Labels: Sprite Work, UI

#9621 feat: add new action to toggle game UI visibility
  UnityProject/Assets/Scripts/Core/Chat/ChatUI.cs
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#9635 Fixes #9629
  UnityProject/Assets/Prefabs/Objects/Research/DepartamentalMachines/DepartmentProtolatheEngineering.prefab
  UnityProject/Assets/Prefabs/Objects/Research/DepartamentalMachines/_DepartmentTechfabBase.prefab
  UnityProject/Assets/Scripts/Objects/Machines/Autolathe/Autolathe.cs
  UnityProject/Assets/Scripts/Objects/Machines/RDProductionMachine.cs
  UnityProject/Assets/Scripts/UI/Objects/Common/Autolathe/GUI_Autolathe.cs
  UnityProject/Assets/Scripts/UI/Objects/Common/Autolathe/GUI_AutolatheMaterialEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Research/Protolathe/GUI_RDProductionMachine.cs
Labels: UI

#9639 Fix server-client auth rejection when not headless
  UnityProject/Assets/Scripts/Core/Networking/Authenticator.cs
Labels: Status: Awaiting Review

#9594 Gives Ministation its own syndicate base
  UnityProject/Assets/Scenes/AdditionalScenes/Ministation Syndicate.unity
  UnityProject/Assets/Scenes/AdditionalScenes/Ministation Syndicate.unity.meta
  UnityProject/Assets/ScriptableObjects/RandomItemPools/ContrabandGuns.asset
  UnityProject/Assets/ScriptableObjects/SubScenes/AdditionalSceneList.asset
  UnityProject/ProjectSettings/EditorBuildSettings.asset
Labels: Scene Changes

#9642 Add PlayerPrefs Editor package
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
Labels: Status: Awaiting Review

#9634 Networks emote commands
  UnityProject/Assets/Scripts/Core/Chat/EmoteActionManager.cs
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteSO.cs
  UnityProject/Assets/Scripts/UI/Core/DynamicChoiceUI.cs
Labels: UI

#9631 Advanced Light Replacer
  UnityProject/Assets/Prefabs/Items/Tools/AdvancedLightReplacer.prefab
  UnityProject/Assets/Prefabs/Items/Tools/AdvancedLightReplacer.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/ScriptableObjects/Systems/Research/DefaultTechWebData.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/LightReplacerAdvanced.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/LightReplacerAdvanced.asset.meta
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Items/Tool/AdvancedLightReplacer.cs
  UnityProject/Assets/Scripts/Items/Tool/AdvancedLightReplacer.cs.meta
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Research/Techweb.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Standard Assets/HSVPicker/UI/ColorPicker.cs
  UnityProject/Assets/StreamingAssets/TechWeb/Designs/MiscDesigns.json
  UnityProject/Assets/StreamingAssets/TechWeb/TechwebData.json
Labels: UI

#9648 Network fix?
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Client.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Server.cs
  UnityProject/Assets/Scripts/Messages/Server/FinishedAddedObserverMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/FinishedAddedObserverMessage.cs.meta
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/StatsTab.cs
Labels: UI

#9654 Initial tidy-up of CharacterCustomization
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.UpdateChar.cs
  UnityProject/Assets/Scripts/Core/Database/ServerData.ValidateUser.cs
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/ServerValidations.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawnRequest.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnInfo.cs
  UnityProject/Assets/Scripts/Core/Utils/MathUtils.cs
  UnityProject/Assets/Scripts/Core/Utils/MathUtils.cs.meta
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPartSprites.cs
  UnityProject/Assets/Scripts/Items/Implants/Xenomorphs/XenomorphLarvae.cs
  UnityProject/Assets/Scripts/Managers/PlayerInfo.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestJobMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/ClientRequestSpawnWithAttribute.cs
  UnityProject/Assets/Scripts/Objects/Lavaland/AshwalkerNest.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/PlayerPrefs/PlayerPrefKeys.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AlienPlayer.cs
  UnityProject/Assets/Scripts/Systems/Fluids/MixAndVolume.cs
  UnityProject/Assets/Scripts/Systems/Lobby.meta
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs.meta
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/GUI_LobbyDialogue.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/SubCustomisation/CustomisationSubPart.cs
  UnityProject/Assets/Scripts/Util/CodeUtilities.cs
  UnityProject/Assets/Tests/PlayModeTests/RunTests/ActionTypes/ActionRespawnPlayer.cs
Labels: Status: Awaiting Review, UI
