Repository unitystation/unitystation, pull requests merged in 2023-06, with the labels that each got.

#9896 Saves UI scale settings
  UnityProject/Assets/Scripts/Managers/SettingsManager/DisplaySettings.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/DisplayOptions.cs
Labels: UI

#9928 Better Directional Light Sprite
  UnityProject/Assets/Resources/Effects/Light2D/lightcone.png
  UnityProject/Assets/Resources/Effects/Light2D/lightcone.png.meta
  UnityProject/Assets/Resources/Effects/Light2D/lightcone.xcf
  UnityProject/Assets/Resources/Effects/Light2D/lightcone.xcf.meta
  UnityProject/Assets/Scripts/Core/Editor/MiscFunctions_RRT.cs
  UnityProject/Assets/Textures/effects/lightcone.png
  UnityProject/Assets/Textures/effects/lightcone.xcf
Labels: Sprite Work

#9930 Staging thee fixes
  UnityProject/Assets/Prefabs/Decal/Resources/PowderSplat.prefab
  UnityProject/Assets/Prefabs/Items/Clothing/Headwear/Hardhats/HardHat.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/GlassShard.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SyntheticCyborgParts/SyntheticLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Organs/SyntheticCyborgParts/SyntheticRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Artificial Brain.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/Cyborg Head.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg left.prefab
  UnityProject/Assets/Prefabs/Items/Implants/cyborg/cyborg leg right.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/RaceSOSingleton.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/CyborgHead.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/CyborgHead.asset.meta
  UnityProject/Assets/ScriptableObjects/Traits/Usage/ThickSkin.asset
  UnityProject/Assets/ScriptableObjects/Traits/Usage/ThickSkin.asset.meta
  UnityProject/Assets/Scripts/Core/Lifecycle/ObjectPool.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/SpawnDestination.cs
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Core/Utils/CommonComponents.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Objects/FloorHazard.cs
  UnityProject/Assets/Scripts/Systems/Clearance/ClearanceRestricted.cs
  UnityProject/Assets/Scripts/Systems/Construction/Parts/Battery.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Textures/floors/decals/graffiti/crayon/crayon_Waffle.png
Labels: Sprite Work

#9929 Dynamic Reverb
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/DynamicAmbience.meta
  UnityProject/Assets/Scripts/Systems/DynamicAmbience/DynamicReverb.cs
  UnityProject/Assets/Scripts/Systems/DynamicAmbience/DynamicReverb.cs.meta
  UnityProject/Assets/Sounds/MainMixer.mixer
Labels: Type: Feature, Status: Awaiting Review, System: Audio
