Repository unitystation/unitystation, pull requests merged in 2023-11, with the labels that each got.

#10152 #10151 : [Feature] The docs should probably have an FAQ section
  docs/faq/Building.md
Labels: Documentation

#10165 Fixing admin tools
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminTeamUpdateMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/TeamObjectiveAdminPageRefreshMessage.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/SpawnedAntag.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Team.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRole.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/ObjectiveEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/TeamEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/TeamMemberEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/TeamObjectiveAdminPage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/TeamObjectiveEntry.cs
Labels: UI

#10161 Map Saver improvements
  UnityProject/Assets/Scripts/Core/Attributes/Attributes.cs
  UnityProject/Assets/Scripts/Core/Editor/PropertyDrawers/PropertyDrawers.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureMapsSaver.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/VVNote.cs
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/MapSaver/TestMapSaverScript.cs
  UnityProject/Assets/Scripts/Objects/ObjectContainer.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Scrubber.cs
  UnityProject/Assets/Scripts/Systems/Inventory/Inventory.cs
  UnityProject/Assets/Scripts/Systems/Research/ItemResearchPotential.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
Labels: UI

#10174 Fixing admin tab
  UnityProject/Assets/Scripts/Systems/Antagonists/Team.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPlayerEntry.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/TeamObjectiveAdminPage.cs
Labels: UI

#10173 Faiths - Part 3
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scripts/Items/Others/HolyBook.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithData.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithData.cs.meta
  UnityProject/Assets/Scripts/Systems/Faith/FaithManager.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/Darkness.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/Gluttony.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/HighLife.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/PainIsVirtue.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/RockAndStone.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/ScienceComesFirst.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/Transhumanist.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperties/Xenophobia.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithProperty.cs
  UnityProject/Assets/Scripts/Systems/Faith/IFaithMiracle.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/BestowThePowerOfGod.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/BlessCrops.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/CurseWithDrunkness.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/DarkifyAllLightSources.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/FreeBooze.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/GhostOfCarmenMiranda.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/HealFaithMembers.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/MakeFoodBigger.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/MakeLeadersBigger.cs
  UnityProject/Assets/Scripts/Systems/Faith/Miracles/RigObjects.cs
  UnityProject/Assets/Scripts/Systems/Faith/PlayerFaith.cs
  UnityProject/Assets/Scripts/Systems/Faith/PlayerFaith.cs.meta
  UnityProject/Assets/Scripts/Systems/Faith/UI/ChaplainFirstTimeSelectScreen.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/GUI_ChaplainPointShopScreen.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/ShopItemButton.cs
Labels: Type: Feature, Status: Awaiting Review, Scene Changes

#10175 Faiths - Part 4
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/Faiths/FaithPlayerInfoUI.prefab
  UnityProject/Assets/Prefabs/UI/Faiths/FaithPlayerInfoUI.prefab.meta
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/Faith.meta
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/Faith/OpenFaithInfoUI.asset
  UnityProject/Assets/ScriptableObjects/UIActionsGraphics/Faith/OpenFaithInfoUI.asset.meta
  UnityProject/Assets/Scripts/Items/Others/HolyBook.cs
  UnityProject/Assets/Scripts/Systems/Faith/FaithManager.cs
  UnityProject/Assets/Scripts/Systems/Faith/PlayerFaith.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/ChaplainFirstTimeSelectScreen.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/FaithInfoUI.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/FaithInfoUI.cs.meta
  UnityProject/Assets/Scripts/Systems/Faith/UI/FaithPropertyHoverInfo.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/IFaithPropertyUISetter.cs
  UnityProject/Assets/Scripts/Systems/Faith/UI/IFaithPropertyUISetter.cs.meta
  UnityProject/Assets/Scripts/UI/Core/Action/UIAction.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: Scene Changes, UI

#10176 A truly Robust admin sound player
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/UI/AdminUI.prefab
  UnityProject/Assets/Prefabs/UI/GlobalSoundButtonScrollList.prefab
  UnityProject/Assets/Prefabs/UI/GlobalSoundButtonScrollList.prefab.meta
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminGlobalSound.cs
Labels: UI

#10166 Security enable [DNM]
  UnityProject/Assets/Scripts/Core/Editor/BuildServer.cs
  UnityProject/Assets/Scripts/Core/Editor/MiscFunctions_RRT.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/HubValidation.cs
  UnityProject/ProjectSettings/EditorBuildSettings.asset
  UnityProject/ProjectSettings/ProjectSettings.asset
Labels: Type: Security

#10182 Allow admins to select tiles from the map using middle click
  UnityProject/Assets/Scripts/Core/Lighting/HighlightScan.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevTileChanger.cs
Labels: UI

#10180 prevent input only in input fields
  UnityProject/Assets/IngameDebugConsole/Scripts/DebugLogUnitystationCommands.cs
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Prefabs/UI/AiHud.prefab
  UnityProject/Assets/Prefabs/UI/AlienHud.prefab
  UnityProject/Assets/Prefabs/UI/ChatUI.prefab
  UnityProject/Assets/Prefabs/UI/Faiths/ChaplainFirstTimeSelectScreen.prefab
  UnityProject/Assets/Prefabs/UI/Faiths/FaithPlayerInfoUI.prefab
  UnityProject/Assets/Prefabs/UI/GlobalSoundButtonScrollList.prefab
  UnityProject/Assets/Prefabs/UI/Ingame/BuildMenu/BuildMenu.prefab
  UnityProject/Assets/Prefabs/UI/Panel_Hud_Bottom.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/ACU/TabACU.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/Chaplin/ChaplinMiracleButton.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChaplainItemShop.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemMaster.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCondimasterNeo.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabFrequencyChanger.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPaper.prefab
  UnityProject/Assets/Prefabs/UI/UI.prefab
  UnityProject/Assets/Resources/UI/GUI/ChatScrollWithInput.prefab
  UnityProject/Assets/Scripts/Core/Editor/MiscFunctions_RRT.cs
  UnityProject/Assets/Scripts/Core/Editor/Tools/AddFocusWrapperToAllComponents.cs
  UnityProject/Assets/Scripts/Core/Editor/Tools/AddFocusWrapperToAllComponents.cs.meta
  UnityProject/Assets/Scripts/Core/Editor/Tools/FindAddressableAudioSource.cs
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
  UnityProject/Assets/Scripts/UpdateTextures.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/InputField/UIInputField.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Vectors/UIVectors.prefab
Labels: UI

#10202 Character Creator fixes and Improvements
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCustomization.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/Windows (Put all window UI's in here).prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptableObjects/BagStyleIcons.asset
  UnityProject/Assets/ScriptableObjects/BagStyleIcons.asset.meta
  UnityProject/Assets/ScriptableObjects/ClothingStyleIcons.asset
  UnityProject/Assets/ScriptableObjects/ClothingStyleIcons.asset.meta
  UnityProject/Assets/Scripts/Core/Lighting/LightAnimator.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/SlimeCore.cs
  UnityProject/Assets/Scripts/UI/Core/ToggleBackgroundColorChanger.cs
  UnityProject/Assets/Scripts/UI/Core/ToggleBackgroundColorChanger.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/BagStyle.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/BagStyleIcons.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/BagStyleIcons.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/ClothingSyleIcons.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/ClothingSyleIcons.cs.meta
Labels: Scene Changes, UI
