Repository unitystation/unitystation, pull requests merged in 2024-06, with the labels that each got.

#10384 Adds documentation for Emote SOs
  docs/development/Emotes.md
  docs/development/assets/images/EmoteSO/CreateBasicEmote.png
  docs/development/assets/images/EmoteSO/EmoteSOList.png
  docs/development/assets/images/EmoteSO/behaviors.png
  docs/development/assets/images/EmoteSO/fart.png
  docs/development/assets/images/EmoteSO/merp.png
  docs/development/assets/images/EmoteSO/newExample.png
Labels: Documentation

#10385 Fix images not being displayed in the docs for EmoteSOs
  docs/assets/images/EmoteSO/CreateBasicEmote.png
  docs/assets/images/EmoteSO/EmoteSOList.png
  docs/assets/images/EmoteSO/behaviors.png
  docs/assets/images/EmoteSO/fart.png
  docs/assets/images/EmoteSO/merp.png
  docs/assets/images/EmoteSO/newExample.png
  docs/development/Emotes.md
Labels: Documentation

#10387 Make the vulpkanin species unique
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninChest.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninEyes.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninEyes.prefab.meta
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninHead.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninLeftArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninLeftLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninRightArm.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninRightLeg.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninTongue.prefab
  UnityProject/Assets/Prefabs/Items/Implants/Vulpkanin/VulpkaninTongue.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/LanguageManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/Icons/language_vulp.asset
  UnityProject/Assets/Resources/Icons/language_vulp.asset.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingletonNew.asset
  UnityProject/Assets/ScriptableObjects/Emotes/EmoteListSO.asset
  UnityProject/Assets/ScriptableObjects/Emotes/SpeciesSpecficEmotes/Vulpkanin.meta
  UnityProject/Assets/ScriptableObjects/Emotes/SpeciesSpecficEmotes/Vulpkanin/VulpkaninSniff.asset
  UnityProject/Assets/ScriptableObjects/Emotes/SpeciesSpecficEmotes/Vulpkanin/VulpkaninSniff.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/VulpkaninHead.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/VulpkaninHead.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/VulpkaninHeadStorage.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/VulpkaninHeadStorage.asset.meta
  UnityProject/Assets/ScriptableObjects/Languages/Vulpic.asset
  UnityProject/Assets/ScriptableObjects/Languages/Vulpic.asset.meta
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteBehaviors/SniffOnEmote.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteBehaviors/SniffOnEmote.cs.meta
  UnityProject/Assets/Textures/interface/language/language_vulp.asset
  UnityProject/Assets/Textures/interface/language/language_vulp.asset.meta
  UnityProject/Assets/Textures/interface/language/language_vulp.png
  UnityProject/Assets/Textures/interface/language/language_vulp.png.meta
Labels: Sprite Work

#10386 Staging fiixing 4
  UnityProject/Assets/Prefabs/Items/Electricity/SingleLowCableCoil.prefab
  UnityProject/Assets/ScriptableObjects/Occupations/Head of Personnel.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chief Medical Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Research Director.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Head of Security.asset
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/FloorGraffiti.asset
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/ElectrifiedGrilleInteraction.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/CleanupUtil.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/AllowedReflection.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureMapsSaver.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/Librarian.cs
  UnityProject/Assets/Scripts/Health/Objects/Flammable.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/Engineering/CableCoil.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/Mapping/EventRouter.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestChangeVariableNetMessage.cs
  UnityProject/Assets/Scripts/Objects/Doors/DoorMasterController.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APC.cs
  UnityProject/Assets/Scripts/Objects/Engineering/APCPoweredDevice.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalManager.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Electrical processes/ElectricalSynchronisation.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/ElectricalCableTile.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Bool/GUI_P_Bool.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Class/GUI_P_Class.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/GUI_P_Collection.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/GUI_P_Colour.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component/GUI_P_Component.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Enum/GUI_P_Enum.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/InputField/GUI_P_Input.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/ScriptableObject/GUI_P_SO.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Vectors/GUI_P_Vectors.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/PageElement.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/SUB_ElementHandler.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/TestVariableViewerScript.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
Labels: UI

#10392 Fix an issue where the mouse icon gets stuck on admin tile tools
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevTileChanger.cs
Labels: UI

#10399 More Reactor Balancing and Fixes
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/ReactorEngine/Boiler.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/Engines/ReactorEngine/ReactorGraphiteChamber.prefab
  UnityProject/Assets/Prefabs/Objects/LiquidPipes/ReservoirTank.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBoilerTurbineController.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabReactorController.prefab
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorBoiler.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/ReservoirTank.cs
  UnityProject/Assets/Scripts/Objects/Pipes/ReactorPipe.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Reactor/GUI_BoilerTurbineController.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Reactor/GUI_ReactorController.cs
Labels: UI

#10398 Add Gas Grenades
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/AtmosGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Explosive/AtmosGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/EngiVend.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/Machines/AutolatheProducts.asset
  UnityProject/Assets/Scripts/HealthV2/Living/Respiration/RespiratorySystemBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/AtmosGrenade.cs
  UnityProject/Assets/Scripts/Items/Weapons/AtmosGrenade.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/Grenade.cs
  UnityProject/Assets/Scripts/Objects/GasContainer.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_armed.asset
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_armed.asset.meta
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_armed.png
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_armed.png.meta
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_locked.asset
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_locked.asset.meta
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_locked.png
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_locked.png.meta
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_overlay.asset
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_overlay.asset.meta
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_overlay.png
  UnityProject/Assets/Textures/items/grenade/grenade_atmos_overlay.png.meta
Labels: Sprite Work, UI

#10409 Matrix mapping
  UnityProject/Assets/Prefabs/Items/MatrixSpawner.prefab
  UnityProject/Assets/Prefabs/Items/MatrixSpawner.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/MatrixSync.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/CopyAndPaste.prefab
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/PlasteelConstruction.asset
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Messages/Client/mapping/ClientRequestLoadMap.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixNamesSynchronise.cs
  UnityProject/Assets/Scripts/Shuttles/MatrixNamesSynchronise.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MatrixSpawner.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MatrixSpawner.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
Labels: UI

#10410 Add support for loading and saving compact format
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/CopyAndPaste.prefab
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
Labels: UI

#10411 Fix items spawning inside lights on asteroid scenes
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
Labels: Scene Changes

#10415 Add option to prevent items being added to itemstorage at round start
  UnityProject/Assets/Prefabs/Objects/WallProtrusions/LightTubeFixture.prefab
  UnityProject/Assets/Scenes/AdditionalScenes/AncientStation.unity
  UnityProject/Assets/Scenes/AsteroidScenes/Ruin02.unity
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
Labels: Scene Changes
