Repository unitystation/unitystation, pull requests merged in 2024-08, with the labels that each got.

#10480 Fixes construction menu not working
  UnityProject/Assets/Prefabs/UI/Ingame/BuildMenu/BuildMenu.prefab
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Construction/BuildMenu.cs
Labels: UI

#10483 Improves map saving and loading to support round loading of new map from
  UnityProject/Assets/Prefabs/SceneConstruction/Matrix.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/SubSceneManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/SubSceneManager.prefab.meta
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonManagerEditorOnly.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingletonNew.asset
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureMapsSaver.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/Librarian.cs
  UnityProject/Assets/Scripts/Core/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Managers/CommonManagerEditorOnly.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Messages/Client/mapping/ClientRequestLoadMap.cs
  UnityProject/Assets/Scripts/Messages/Client/mapping/ClientRequestsSaveMessage.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/Disposals/DisposalMachine.cs
  UnityProject/Assets/Scripts/Objects/Doors/Modules/BoltsModule.cs
  UnityProject/Assets/Scripts/Objects/Machines/Oven.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Shuttles/BetterBounds.cs
  UnityProject/Assets/Scripts/Shuttles/NetworkedMatrixMove.cs
  UnityProject/Assets/Scripts/Systems/Botany/PlantData.cs
  UnityProject/Assets/Scripts/Systems/Hacking/HackingProcesses/HackingProcessBase.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/NetworkedMatrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/MetaDataSystem.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/ScriptableObject/GUI_P_SO.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/VariableViewerUIFunctionHandler.cs
Labels: UI

#10484 [CRITICAL FIX] - Fix log thread error due to presistence not working on background threads
  UnityProject/Assets/Scripts/Core/Admin/Logs/Stores/AdminLogsStorage.cs
Labels: Priority: High

#10488 Fixes characters on the character selector/customizer being invisible
  UnityProject/Assets/Scripts/Core/Database/ApiServer.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSelector.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
Labels: UI

#10491 improves map loading and saviing
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockAbductor.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockAtmosphericsWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockBronzeWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCargoOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCentCom.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockCultUnrunedWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockDiamondWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockEngineeringWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockGoldOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockLargeGlass.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMaintenanceExternalWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMaintenanceWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockMedicalWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockPlasmaOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockSandstoneWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockScienceOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockSecurityWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockStandardOpaque.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/AirlockStandardWindowed.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Firelocks/FirelockHeavy.prefab
  UnityProject/Assets/Prefabs/Objects/Research/ArtifactAnalyser.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/ObjectManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CommonManagerEditorOnly.asset
  UnityProject/Assets/Scenes/DevScenes/test theme empty.unity
  UnityProject/Assets/Scenes/DevScenes/test theme empty.unity.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureMapsSaver.cs
  UnityProject/Assets/Scripts/Managers/CommonManagerEditorOnly.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/MapSaver/TestMapSaverScript.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/UprightSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Matrix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: Scene Changes

#10497 PKC Balance
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticClaw.prefab
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticCrusher.prefab
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticHammer.prefab
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticMachete.prefab
  UnityProject/Assets/Prefabs/Items/Mining/ProtoKineticSpear.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingletonNew.asset
  UnityProject/Assets/Scripts/Items/Weapons/Melee/MarkedMelee.cs
  UnityProject/Assets/Scripts/Items/Wieldable.cs
  UnityProject/Assets/Textures/items/mining/mining_hammer_back_clothing.asset
  UnityProject/Assets/Textures/items/mining/mining_spear_back_clothing.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_unwield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_unwield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_unwield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_unwield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_wield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_wield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_wield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_lefthand/hammers_lefthand_crusher_wield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_unwield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_unwield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_unwield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_unwield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_wield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_wield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_wield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/hammers_righthand/hammers_righthand_crusher_wield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_left_unwield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_left_unwield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_left_wield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_left_wield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_unwield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_unwield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_wield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_hammer_wield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_left_unwield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_left_unwield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_left_wield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_left_wield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_unwield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_unwield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_wield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_lefthand/pk_spear_wield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_right_unwield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_right_unwield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_right_wield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_right_wield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_unwield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_unwield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_wield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_hammer_wield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_right_unwield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_right_unwield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_right_wield.asset
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_right_wield.asset.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_unwield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_unwield.png.meta
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_wield.png
  UnityProject/Assets/Textures/mobs/races/_shared textures/in hands/weapons/pk_righthand/pk_spear_wield.png.meta
Labels: Sprite Work

#10498 Add an ingame option to clear sound cache
  .gitignore
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/OptionsScreen.prefab
  UnityProject/Assets/Scripts/Core/Addressables/AssetLoadingPopup.cs
  UnityProject/Assets/Scripts/UI/Core/OptionsMenu/SoundOptions.cs
Labels: UI
