Repository unitystation/unitystation, pull requests merged in 2024-04, with the labels that each got.

#10317 3D fixes
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scripts/3D/FirstPersonCamera.cs
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/HubValidation.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/MicrophoneAccess.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/MicrophoneAccess.cs.meta
  UnityProject/Assets/Scripts/Managers/Manager3D.cs
  UnityProject/Assets/Scripts/Shuttles/GuidanceBuoy.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
  UnityProject/Assets/Scripts/UniMic/Editor/Adrenak.UniMic.Editor.asmdef
  UnityProject/Assets/Scripts/UniMic/Runtime/Adrenak.UniMic.Runtime.asmdef
  UnityProject/Assets/Scripts/UniMic/Runtime/Adrenak.UniMic.Runtime.asmdef.meta
  UnityProject/Assets/Scripts/UniMic/Runtime/Mic.cs
Labels: Scene Changes, UI

#10319 Mapping/admin tools improvementt
  UnityProject/Assets/Scripts/Core/GameGizmos/DebugGameGizmo.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmomanager.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/Librarian.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestAdminTeleport.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestBookshelfNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestInvokeFunction.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/SubBookshelfNetMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/VariableViewer/UpdateClientValue.cs
  UnityProject/Assets/Scripts/Shuttles/NetworkedMatrixMove.cs
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DeviceMover.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DeviceRotator/DeviceRotator.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/InGameDeviceLinker/InGameDeviceLinker.cs
  UnityProject/Assets/Scripts/Util/ClientObjectPath.cs
  UnityProject/Assets/Scripts/Util/ClientObjectPath.cs.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Class/UIClassButton.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Colour/UIColour.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component/GUI_P_Component.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component/GUI_P_Component.cs.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component/P_Component.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component/P_Component.prefab.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/PageElement.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/VariableViewerUIFunctionHandler.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/TestVariableViewerScript.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/SUBBookShelf.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/HierarchyEntry.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/UI_BooksInBookshelf.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableViewerManager.prefab
Labels: UI

#10324 RandomItemPool Fixes
  UnityProject/Assets/Prefabs/Items/Spawners/RandomPizzaManualTrigger.prefab
  UnityProject/Assets/Prefabs/Items/Spawners/RandomPizzaManualTrigger.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Items/Others/RandomItemSpot.cs
  UnityProject/Assets/Scripts/Objects/ObjectContainer.cs
  UnityProject/Assets/Scripts/Systems/Inventory/IUniversalInventoryAPI.cs
  UnityProject/Assets/Scripts/Systems/Inventory/IUniversalInventoryAPI.cs.meta
  UnityProject/Assets/Scripts/Systems/Inventory/ItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Research/Objects/ResearchServer.cs
Labels: Type: Bug, Status: Awaiting Review

#10327 Camera fixes
  UnityProject/Assets/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Scripts/Core/Camera/ParallaxController.cs
  UnityProject/Assets/Scripts/Core/Lighting System/BackgroundRenderer.cs
  UnityProject/Assets/Textures/Parallax/GasBackground.prefab
  UnityProject/Assets/Textures/Parallax/GasBackground.prefab.meta
  UnityProject/Assets/Textures/Parallax/SpaceGas.mat
  UnityProject/Assets/Textures/Parallax/Star background 02.prefab
  UnityProject/Assets/Textures/Parallax/Star background 02.prefab.meta
  UnityProject/Assets/Textures/Parallax/Star background 03.prefab
  UnityProject/Assets/Textures/Parallax/Star background 03.prefab.meta
  UnityProject/Assets/Textures/Parallax/spacegas.png
  UnityProject/Assets/Textures/Parallax/spacegas.png.meta
Labels: Sprite Work

#10328 The Printing Press Update
  UnityProject/Assets/Prefabs/Items/Bureaucracy/Book.prefab
  UnityProject/Assets/Prefabs/Objects/Library/Photocopier.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBook.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPhotocopier.prefab
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/Printer.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/PrinterSerializer.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/PrinterSerializer.cs.meta
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/Scanner.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/ScannerSerializer.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/ScannerSerializer.cs.meta
  UnityProject/Assets/Scripts/Items/Bureaucracy/Photocopier.cs
  UnityProject/Assets/Scripts/UI/Objects/Bureaucracy/GUI_Photocopier.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/BookUI.xcf
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/BookUI.xcf.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/HalfBookBorder.png
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/HalfBookBorder.png.meta
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/HalfBookPages.png
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/HalfBookPages.png.meta
Labels: UI

#10331 Staging fixing32
  UnityProject/Assets/Scenes/AdditionalScenes/Fallstation Centcom.unity
  UnityProject/Assets/Scripts/Core/Camera/ParallaxController.cs
  UnityProject/Assets/Scripts/Core/Input System/KeyboardInputManager.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
Labels: Scene Changes, UI

#10334 Fixes a few NREs related to setting up names for aliens that completely broke them
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AlienPlayer.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/UI/Core/Action/UIActionManager.cs
  UnityProject/Assets/Tests/PlayModeTests/RunTests/TestSingleton.cs
Labels: UI

#10333 improves List handling and synchronise vars in VV
  UnityProject/Assets/Scripts/Core/SecureStuff/SecureStuff.asmdef
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/Librarian.cs
  UnityProject/Assets/Scripts/Messages/Client/VariableViewer/RequestChangeVariableNetMessage.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevSpawnerListItemController.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/Search/DevSpawnerDocument.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/ENPList_Dict.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/GUI_P_Collection.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Collection/PCollection.prefab
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/Component/GUI_P_Component.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/ScriptableObject/GUI_P_SO.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/SUB_ElementHandler.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/VariableViewerUIFunctionHandler.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookshelfViewer/SUBBookShelf.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/HierarchyEntry.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableViewerNetworking.cs
Labels: UI

#10332 Upgrade the project to the 2.1 .NET Standard
  README.md
  UnityProject/Assets/Scripts/Core/Database/AccountModels.cs
  UnityProject/Assets/Scripts/Core/Database/ApiResult.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeHttpRequest.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/URLOpen/SafeURLOpen.cs
  UnityProject/Assets/Scripts/Messages/Server/GhostRoles/GhostRoleUpdateMessage.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingAbility/Implementation/AbsorbAbility.cs
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoPanel/Models/ServerMotdData.cs
  UnityProject/Assets/Tests/Scenes/SceneTest.cs
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/EditorSettings.asset
  UnityProject/ProjectSettings/ProjectSettings.asset
  UnityProject/ProjectSettings/QualitySettings.asset
Labels: UI

#10349 Fixes most of the bugs with voice chat
  UnityProject/Assets/Prefabs/Items/Tools/EngineeringHolobarrierProjector.prefab
  UnityProject/Assets/Scripts/Adrenak.UniVoice.AudioSourceOutput/Runtime/UniVoiceAudioSourceOutput.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/VoiceChatManager.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/GameModePage.cs
  UnityProject/Assets/Scripts/UniMic/Runtime/Mic.cs
Labels: UI
