Repository unitystation/unitystation, pull requests merged in 2024-09, with the labels that each got.

#10512 Staging Fixes, 9/2/2024
  UnityProject/Assets/Scripts/Core/Factories/EffectsFactory.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/Spawn.cs
  UnityProject/Assets/Scripts/Core/Utils/RNG.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PolymorphicSystems/ReagentPoolSystem.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Surgery/PresentProcedure.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/UI/Objects/Engineering/Reactor/GUI_ReactorController.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallAnchorBolts.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallCutCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallSheath.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallSupportLines.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RWallSupportRods.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/ReinforcedWall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallAnchorBolts.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallCutCover.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallSheath.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallSupportLines.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyRWallSupportRods.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/RWalls/RustyReinforcedWall/RustyReinforcedWall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/Wall.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Windows/WindowPlasma.asset
Labels: UI

#10513 Add hand cranked weapons
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked/Energy Musket.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked/Energy Musket.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked/Energy Smoothbore Pistol.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked/Energy Smoothbore Pistol.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked/_GunCrankedBase.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Guns/Energy/HandCranked/_GunCrankedBase.prefab.meta
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/MusketDisablerBolt.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Projectiles/Resources/MusketDisablerBolt.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingletonNew.asset
  UnityProject/Assets/Scripts/Items/Weapons/CrankRecharge.cs
  UnityProject/Assets/Scripts/Items/Weapons/CrankRecharge.cs.meta
  UnityProject/Assets/Scripts/Items/Weapons/GunElectrical.cs
  UnityProject/Assets/Textures/items/guns/energy/energy_musket.asset
  UnityProject/Assets/Textures/items/guns/energy/energy_musket.asset.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_musket.png
  UnityProject/Assets/Textures/items/guns/energy/energy_musket.png.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_charge.asset
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_charge.asset.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_charge.png
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_charge.png.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_empty.asset
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_empty.asset.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_empty.png
  UnityProject/Assets/Textures/items/guns/energy/energy_musket_empty.png.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore.asset
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore.asset.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore.png
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore.png.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_charge.asset
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_charge.asset.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_charge.png
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_charge.png.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_empty.asset
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_empty.asset.meta
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_empty.png
  UnityProject/Assets/Textures/items/guns/energy/energy_smoothbore_empty.png.meta
Labels: Sprite Work

#10510 More admin logs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyPartFunctionality.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Damage/Trauma/BodyPartTrauma.cs
  UnityProject/Assets/Scripts/HealthV2/Living/PolymorphicSystems/Bodypart/BodyPartComponentBase.cs
  UnityProject/Assets/Scripts/Items/Cards/Emag.cs
  UnityProject/Assets/Scripts/Items/Implants/Limb.cs
  UnityProject/Assets/Scripts/Items/Implants/Limbs/HumanoidLeg.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyFat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartAccess.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/BodyPartRadioAccess.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Ears.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Eye.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Heart.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/RemotelyControlledBrain.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/SlimeEat.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Stomach.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Tongue.cs
  UnityProject/Assets/Scripts/Items/Implants/Xenomorphs/XenomorphLarvae.cs
  UnityProject/Assets/Scripts/Items/Science/Implants/BreathingTubeImplant.cs
  UnityProject/Assets/Scripts/Items/Science/Implants/WeldingShieldImplant.cs
  UnityProject/Assets/Scripts/Mobs/BrainAI/BrainMobAI.cs
  UnityProject/Assets/Scripts/Mobs/BrainAI/States/BrainSlime.cs
  UnityProject/Assets/Scripts/Objects/Atmospherics/AirController.cs
  UnityProject/Assets/Scripts/Objects/Drawers/Cremator.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/Objects/Production/BurningStorage.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Systems/StatusesAndEffects/Implementations/SpeedBuff.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterPlayer.cs
  UnityProject/Assets/Scripts/UI/Core/Action/ItemActionButton.cs
  UnityProject/Assets/Scripts/UI/Core/Alerts/BodyPartAlerts.cs
Labels: UI

#10526 Bug fixing 2
  UnityProject/Assets/ScriptableObjects/Inventory/Structure/Belts/JanibeltCapacity.asset
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Systems/FilthGenerator/FilthGenerator.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/NetSlider.cs
Labels: UI

#10533 Bugfixy4
  UnityProject/Assets/Prefabs/Objects/Security/LaserTurret.prefab
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Chemistry.asset
  UnityProject/Assets/ScriptableObjects/SpawnableLists/Closets/Medical.asset
  UnityProject/Assets/Scripts/Objects/Canisters/Canister.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Systems/Hacking/HackingProcesses/HackingProcessBase.cs
  UnityProject/Assets/Scripts/UI/Core/ControlTabs.cs
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
Labels: UI

#10531 cleans up some of online characters code, and fix for character sheet db spam
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/CharacterCreator.prefab
  UnityProject/Assets/Scripts/Core/Database/ApiServer.cs
  UnityProject/Assets/Scripts/Core/Database/PersistenceServer.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSelector.cs
  UnityProject/Assets/Scripts/UI/Systems/Character/CharacterSettings.cs
Labels: UI

#10532 Mapping featuress
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/DevCameraControls.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/Device Attribute Editor.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/Device Attribute Editor.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/NetworkTabs (Top Right windows).prefab
  UnityProject/Assets/Scripts/Core/RootSillys/Utilities.cs
  UnityProject/Assets/Scripts/Core/RootSillys/Utilities.cs.meta
  UnityProject/Assets/Scripts/Core/SecureStuff/VariableViewer/VVNote.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Core/Utils/Utilities.cs
  UnityProject/Assets/Scripts/Items/Attributes.cs
  UnityProject/Assets/Scripts/Items/Others/RandomItemSpot.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Messages/Client/DevicAattributeEditor.meta
  UnityProject/Assets/Scripts/Messages/Client/DevicAattributeEditor/DeviceIsMappedMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevicAattributeEditor/DeviceIsMappedMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Client/DevicAattributeEditor/DeviceRenamerMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/DevicAattributeEditor/DeviceRenamerMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/UpdateTileMessage.cs
  UnityProject/Assets/Scripts/Objects/Cargo/ConveyorBelts/ConveyorBelt.cs
  UnityProject/Assets/Scripts/Objects/Engineering/Reactor/ReactorGraphiteChamber.cs
  UnityProject/Assets/Scripts/Systems/Chemistry/ReagentMix.cs
  UnityProject/Assets/Scripts/Systems/Fluids/MixAndVolume.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/Gas.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/Atmospherics/Data/GasMix.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Meta/TileChangeManager.cs
  UnityProject/Assets/Scripts/UI/Core/WindowDrag.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTabButtons.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DevCameraControls.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DeviceAttributeEditor.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/DeviceAttributeEditor.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevTileChanger.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/GUI_PageEntry.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/GUI_VariableViewer.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/VariableViewer.prefab
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/Hierarchy/LibraryUI.cs
  UnityProject/Assets/Scripts/Variable Viewer/VariableUI/VariableViewerV2UI.prefab
Labels: UI

#10535 Mob creator/editor tool
  UnityProject/Assets/ScriptableObjects/Health/BodyPartsBaseSO.asset
  UnityProject/Assets/ScriptableObjects/Health/BodyPartsBaseSO.asset.meta
  UnityProject/Assets/Scripts/HealthV2/Living/PolymorphicSystems/HealthSystemBase.cs
  UnityProject/Assets/Scripts/Mobs/MobEditor.cs
  UnityProject/Assets/Scripts/Mobs/MobEditor.cs.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Health.meta
  UnityProject/Assets/Scripts/ScriptableObjects/Health/BodyPartsBaseSO.cs
  UnityProject/Assets/Scripts/ScriptableObjects/Health/BodyPartsBaseSO.cs.meta
Labels: Group: Editor, System: Health, Group: Tool, Group: MobV2
