Repository unitystation/unitystation, pull requests merged in 2024-10, with the labels that each got.

#10538 Printable Cloning Records
  UnityProject/Assets/Prefabs/Objects/Consoles/CloningConsole.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/CloningRecord.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabCloningConsole.prefab
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_Cloning.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_CloningItemList.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_CloningItemList.cs.meta
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_CloningRecordItem.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/Cloning/GUI_CloningRecordItem.cs.meta
Labels: UI

#10555 Playtest fixes
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabBlastYieldDetector.prefab
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/MetalConstructionList.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/ExplosiveBounties/BigBertha.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/ExplosiveBounties/CleaningSmoke.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/ExplosiveBounties/DrunkenRage.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/ExplosiveBounties/EscapistsDream.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/ExplosiveBounties/HotBox.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/ExplosiveBounties/SimpleSmoke.asset
  UnityProject/Assets/Scripts/Items/Others/Magical/ScrollOfTeleportation.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Systems/Research/Techweb.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/TeleportAction.cs
  UnityProject/Assets/Scripts/Systems/Spells/Wizard/TeleportSpell.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/PlayerManagePage.cs
Labels: UI

#10563 Adds the Pneumatic Cannon
  UnityProject/Assets/Prefabs/Items/Food/Snacks/_SnackBase.prefab
  UnityProject/Assets/Prefabs/Items/Research/PneumaticCannon.prefab
  UnityProject/Assets/Prefabs/Items/Research/PneumaticCannon.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SOListTracker.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SpriteCatalogueSingletonNew.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/DefaultTechWebData.asset
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Items/Food/Consumable.cs
  UnityProject/Assets/Scripts/Items/Food/DrinkableContainer.cs
  UnityProject/Assets/Scripts/Items/Food/Edible.cs
  UnityProject/Assets/Scripts/Items/Food/HealableJobEdible.cs
  UnityProject/Assets/Scripts/Items/Food/NotHandEdible.cs
  UnityProject/Assets/Scripts/Items/Food/PillStackRemover.cs
  UnityProject/Assets/Scripts/Items/Food/PillToxHeale.cs
  UnityProject/Assets/Scripts/Items/Food/WishSoup.cs
  UnityProject/Assets/Scripts/Items/Food/XenomorphFood.cs
  UnityProject/Assets/Scripts/Items/Science/PneumaticCannon.cs
  UnityProject/Assets/Scripts/Items/Science/PneumaticCannon.cs.meta
  UnityProject/Assets/Scripts/Systems/Crafting/IngredientMarker.cs
  UnityProject/Assets/StreamingAssets/Config/TechWeb/Designs/ResearchDesigns.json
  UnityProject/Assets/StreamingAssets/Config/TechWeb/TechwebData.json
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_air.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_air.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_air.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_air.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_anesthetic.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_anesthetic.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_binding.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_binding.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_binding.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_binding.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_emergency_double.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_emergency_double.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_emergency_double.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_emergency_double.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_f.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_f.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_f.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_f.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_fr.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_fr.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_fr.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_oxygen_fr.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasma.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasma.asset.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasma.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasma.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasmaman_tank.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasmaman_tank.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasmaman_tank.png.meta
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasmaman_tank_belt.asset
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasmaman_tank_belt.png
  UnityProject/Assets/Textures/items/pneumaticCannon/pneumaticCannon_plasmaman_tank_belt.png.meta
Labels: Sprite Work

#10550 Adds DIMGUI finally as a UI solution
  UnityProject/Assets/Assets.asmdef
  UnityProject/Assets/Materials/Resources/OverlayCritHole.mat
  UnityProject/Assets/Materials/Sprites_Outline.mat
  UnityProject/Assets/Prefabs/SceneConstruction/Camera.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/Scripts/IMGUIDemo.cs
  UnityProject/Assets/Scripts/IMGUIDemo.cs.meta
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/ProjectSettings.asset
  UnityProject/imgui.ini
Labels: Scene Changes

#10574 Adds Holographic papers
  UnityProject/Assets/Materials/Resources/Sprite-FovMasked-Holographic Variant.mat
  UnityProject/Assets/Materials/Resources/Sprite-FovMasked-Holographic Variant.mat.meta
  UnityProject/Assets/Materials/Resources/Sprite-FovMasked-Holographic.mat
  UnityProject/Assets/Materials/Resources/Sprite-FovMasked-Holographic.mat.meta
  UnityProject/Assets/Prefabs/Items/Bureaucracy/PaperHolographic.prefab
  UnityProject/Assets/Prefabs/Items/Bureaucracy/PaperHolographic.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPaper.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPaperHolographic.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabPaperHolographic.prefab.meta
  UnityProject/Assets/ScriptableObjects/NetTabs.asset
  UnityProject/Assets/Scripts/Items/Bureaucracy/BookWritable.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/Printer.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Internal/Scanner.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/PaperBin.cs
  UnityProject/Assets/Scripts/Items/Bureaucracy/Photocopier.cs
  UnityProject/Assets/Scripts/Items/Cargo/NoteAttachable.cs
  UnityProject/Assets/Scripts/Items/Others/InteractablePaper.cs
  UnityProject/Assets/Scripts/Items/Others/Paper.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.ResearchReports.cs
  UnityProject/Assets/Scripts/Managers/CargoManager.cs
  UnityProject/Assets/Scripts/Managers/CentComm.cs
  UnityProject/Assets/Scripts/Messages/Server/PaperUpdateMessage.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningConsole.cs
  UnityProject/Assets/Scripts/Objects/Other/MagicMirror.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Wizard.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Items/GUI_Paper.cs
  UnityProject/Assets/Scripts/UI/Objects/Research/Artifacts/GUI_ArtifactConsole.cs
  UnityProject/Assets/Shaders/Experimental/Hologram.shader
  UnityProject/Assets/Shaders/Experimental/Hologram.shader.meta
Labels: UI

#10580 Playtest Fixes & New Grenade Variants
  UnityProject/Assets/Prefabs/Items/Botany/Produce/Tobacco/TobaccoLeaves.prefab
  UnityProject/Assets/Prefabs/Items/Bureaucracy/Paper.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/AdvancedReleaseGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/AdvancedReleaseGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/CyroGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/CyroGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Items/Chemistry/PyroGrenade.prefab
  UnityProject/Assets/Prefabs/Items/Chemistry/PyroGrenade.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Botany/New Barrel.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CraftingRecipeSingleton.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Misc/MakeShiftCigarette.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Misc/MakeShiftCigarette.asset.meta
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/SpookyPops/ClownLordPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/SpookyPops/FrenchLordPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/SpookyPops/PumpkinKillerPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Occupations/SpookyPops/WitchHunterPopulator.asset
  UnityProject/Assets/ScriptableObjects/Systems/Research/DefaultTechWebData.asset
  UnityProject/Assets/ScriptableObjects/TimedEvents/WitchingWeekendTimedEvent.asset
  UnityProject/Assets/Scripts/Items/Devices/AdvancedReleaseGrenade.cs
  UnityProject/Assets/Scripts/Items/Devices/AdvancedReleaseGrenade.cs.meta
  UnityProject/Assets/Scripts/Items/Devices/ChemicalGrenade.cs
  UnityProject/Assets/Scripts/Objects/Machines/RDProductionMachine.cs
  UnityProject/Assets/Scripts/ScriptableObjects/TimedGameEvents/SeasonalEvents/WitchingWeekend.cs
  UnityProject/Assets/StreamingAssets/Config/TechWeb/Designs/MechFabDesigns.json
  UnityProject/Assets/StreamingAssets/Config/TechWeb/Designs/MedicalDesigns.json
  UnityProject/Assets/StreamingAssets/Config/TechWeb/Designs/ResearchDesigns.json
  UnityProject/Assets/StreamingAssets/Config/TechWeb/TechwebData.json
  UnityProject/Assets/Textures/items/grenade/grenade_chemg_ar_overlay.asset
  UnityProject/Assets/Textures/items/grenade/grenade_chemg_ar_overlay.asset.meta
  UnityProject/Assets/Textures/items/grenade/grenade_chemg_ar_overlay.png
  UnityProject/Assets/Textures/items/grenade/grenade_chemg_ar_overlay.png.meta
  UnityProject/Assets/Textures/items/grenade/grenade_cyrog_overlay.asset
  UnityProject/Assets/Textures/items/grenade/grenade_cyrog_overlay.asset.meta
  UnityProject/Assets/Textures/items/grenade/grenade_cyrog_overlay.png
  UnityProject/Assets/Textures/items/grenade/grenade_cyrog_overlay.png.meta
  UnityProject/Assets/Textures/items/grenade/grenade_pyrog_overlay.asset
  UnityProject/Assets/Textures/items/grenade/grenade_pyrog_overlay.asset.meta
  UnityProject/Assets/Textures/items/grenade/grenade_pyrog_overlay.png
  UnityProject/Assets/Textures/items/grenade/grenade_pyrog_overlay.png.meta
Labels: Sprite Work

#10584 Updates Project to Unity 6
  .github/workflows/test.yml
  README.md
  UnityProject/Assets/FastScriptReload/Scripts/Editor/FastScriptReloadWelcomeScreen.cs
  UnityProject/Assets/Materials/Resources/OverlayCritHole.mat
  UnityProject/Assets/Materials/Sprites_Outline.mat
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/UI/UI_Sprites/RightClickMenu/RadialActionInnerRing.svg.meta
  UnityProject/Assets/UI/UI_Sprites/RightClickMenu/RadialActionRing.svg.meta
  UnityProject/Assets/UI/UI_Sprites/RightClickMenu/RadialItemInnerRing.svg.meta
  UnityProject/Assets/UI/UI_Sprites/RightClickMenu/RadialItemRing.svg.meta
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
  UnityProject/ProjectSettings/ProjectSettings.asset
  UnityProject/ProjectSettings/ProjectVersion.txt
  UnityProject/ProjectSettings/SceneTemplateSettings.json
  UnityProject/ProjectSettings/VirtualProjectsConfig.json
Labels: Scene Changes

#10598 Fixer sstaging hopefully
  CodeScanList.json
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/UprightSprites.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Standard Assets/Logger/Loggy.cs
  UnityProject/Packages/packages-lock.json
Labels: UI

#10602 Fixingaaa
  UnityProject/Assets/Prefabs/Objects/Electricity/New Department Battery.prefab
  UnityProject/Assets/Prefabs/Objects/Electricity/New SMES.prefab
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Objects/Machines/QuantumPad.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/GUI_DevSpawner.cs
Labels: UI

#10585 Admin Character Sheet Editor
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/AdminTools.prefab
  UnityProject/Assets/Scripts/Core/SecureStuff/AllowedReflection.cs
  UnityProject/Assets/Scripts/Managers/PlayerList.Admin.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestUpdatePlayerCharacterSheet.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/RequestUpdatePlayerCharacterSheet.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/AdminTools/AdminToolRefreshMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/UI/Admin.meta
  UnityProject/Assets/Scripts/UI/Admin/DIMGUI.meta
  UnityProject/Assets/Scripts/UI/Admin/DIMGUI/Characters.meta
  UnityProject/Assets/Scripts/UI/Admin/DIMGUI/Characters/CharacterSheetEditor.cs
  UnityProject/Assets/Scripts/UI/Admin/DIMGUI/Characters/CharacterSheetEditor.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/AdminPage.cs
  UnityProject/Assets/Scripts/Util/IMGUIHelper.cs
  UnityProject/Assets/Scripts/Util/IMGUIHelper.cs.meta
  UnityProject/imgui.ini
Labels: UI
