Repository unitystation/unitystation, pull requests merged in 2025-03, with the labels that each got.

#10730 Staging Balancing
  UnityProject/Assets/Prefabs/Items/Botany/Produce/Cereal/CornEar.prefab
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Others/Glycerol.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Pyrotechnics/ReagentExplosionmethsplosion.asset
  UnityProject/Assets/ScriptableObjects/Chemistry/Reactions/Pyrotechnics/ReagentExplosionmethsplosionmethboom2.asset
  UnityProject/Assets/Scripts/Systems/Chemistry/ChemistryUtils.cs
  UnityProject/Assets/Scripts/Systems/ChemistryEffects/ChemExplosion.cs
  UnityProject/Assets/Scripts/Systems/Research/LaserPuzzle/LaserLine.prefab
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/NetUIDynamicList.cs
Labels: UI

#10745 valley snowfield atmos + sprite update
  UnityProject/Assets/ScriptableObjects/Atmospherics/ValleySnowfield.asset
  UnityProject/Assets/ScriptableObjects/Atmospherics/ValleySnowfield.asset.meta
  UnityProject/Assets/Textures/objects/flora/rocks/rocks.png
Labels: Sprite Work

#10753 Bring back errorsign on failing to load tile for future fork maps
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/ObjectManager.prefab
  UnityProject/Assets/ScriptableObjects/Tiles/TileLists/BaseTileList.asset
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/Tilemaps/TileManager.cs
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/Error.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Objects/Grilles/Error.asset.meta
Labels: Group: Mapping, Type: Improvement

#10750 Adminrock draft
  UnityProject/Assets/Textures/wall/organic/Rock/adminrock.asset
  UnityProject/Assets/Textures/wall/organic/Rock/adminrock.asset.meta
  UnityProject/Assets/Textures/wall/organic/Rock/adminrock.png
  UnityProject/Assets/Textures/wall/organic/Rock/adminrock.png.meta
  UnityProject/Assets/Tilemaps/Palettes/Walls.prefab
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/AdminRock.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Walls/AdminRock.asset.meta
Labels: Group: Mapping, Sprite Work

#10734 Improve explosion performance
  UnityProject/Assets/Prefabs/Effects/Lights/FireLight2D.prefab
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Objects/Object.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Core/ITrackableType.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightSource.cs
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Core/Utils/CommonComponents.cs
  UnityProject/Assets/Scripts/Health/Objects/Integrity.cs
  UnityProject/Assets/Scripts/Items/ItemAttributesV2.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/Explosion.cs
  UnityProject/Assets/Scripts/Systems/Explosions/ExplosionManager.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionEmpNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/ExplosionNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/HarmlessExplosionNode.cs
  UnityProject/Assets/Scripts/Systems/Explosions/NodeTypes/PlayerFriendlyExplosionNode.cs
Labels: Type: Performance, System: Damage, Type: Improvement

#10762 Fix ore machine UI not updating correctly
  UnityProject/Assets/Scripts/Objects/Machines/MaterialStorage.cs
  UnityProject/Assets/Scripts/UI/Core/EmptyItemList.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialEntry.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialsList.cs
Labels: UI

#10755 banadge solution for players getting stuck on rejoin
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/PossessbleGhost.cs
  UnityProject/Assets/Scripts/Systems/Spells/swapper/BodySwap.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: UI

#10770 hopeefully fixees foorevver waitting for it to relog
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Core/Networking/CustomInterestManagement.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Core/Net/Elements/Dynamic/NetUIDynamicList.cs
  UnityProject/Assets/Scripts/UI/Objects/Mining/Ore Redemption Machine/GUI_MaterialsList.cs
  UnityProject/Assets/Scripts/Util/Debug/DebugGetInstanceID.cs
  UnityProject/Assets/Scripts/Util/Debug/DebugGetInstanceID.cs.meta
Labels: UI

#10771 Fix Coordinates Space Mixing for SoundSpawns + Audio Resume for local ambient sounds
  UnityProject/Assets/Scripts/Core/Sound/SoundSpawn.cs
Labels: Type: Bug, Group: Sounds

#10775 Sprite assignment in mob editor
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/HealthV2/Living/BodyParts/BodyPart.cs
  UnityProject/Assets/Scripts/Mobs/MobEditor.cs
Labels: Group: Editor, Group: Tool, Type: Improvement, Group: MobV2

#10778 Various Fixes
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/Airlocks/_AirlockBase.prefab
  UnityProject/Assets/Prefabs/Objects/Nuke/New Nuke.prefab
  UnityProject/Assets/StreamingAssets/Maps/MainStations/MiniStation.json
Labels: Scene Changes, Scene: MiniStation
