Repository unitystation/unitystation, pull requests merged in 2025-01, with the labels that each got.

#10666 Bug fixing32
  UnityProject/Assets/Prefabs/Decal/Resources/FootPrints.prefab
  UnityProject/Assets/Prefabs/Objects/Medical/New Cloning Pod.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabShuttleControl.prefab
  UnityProject/Assets/Scripts/Core/Input System/InteractionV2/TileInteraction/ElectricalCableDeconstruction.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Mapping/EventRouter.cs
  UnityProject/Assets/Scripts/Objects/Consoles/ShuttleConsole.cs
  UnityProject/Assets/Scripts/Objects/Medical/CloningPod.cs
  UnityProject/Assets/Scripts/Objects/Medical/IVDrip.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Shuttles/NetworkedMatrixMove.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/ElectricityFunctions.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/InteractableTiles.cs
  UnityProject/Assets/Scripts/UI/Objects/Shuttles/GUI_ShuttleControl.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
Labels: UI

#10668 Mirror update
  UnityProject/Assets/Prefabs/LavaLandAreas/Area10x10/LavaLand10x10-Normal2.prefab
  UnityProject/Assets/Prefabs/LavaLandAreas/LavaLandAreaSpawner.prefab
  UnityProject/Assets/Prefabs/LavaLandAreas/LavaLandAreaSpawner.prefab.meta
  UnityProject/Assets/Prefabs/LavaLandAreas/LavaLandRandomGen.prefab
  UnityProject/Assets/Prefabs/LavaLandAreas/LavaLandRandomGen.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/MaintGenerator.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/MaintGenerator.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scenes/ActiveScenes/Lobby.unity
  UnityProject/Assets/ScriptTemplates/52-Mirror__Network Behaviour-NewNetworkBehaviour.cs.txt
  UnityProject/Assets/Scripts/HealthV2/Living/HealthStateController.cs
  UnityProject/Assets/Scripts/HealthV2/Living/LivingHealthMasterBase.cs
  UnityProject/Assets/Scripts/Items/Weapons/Grenade.cs
  UnityProject/Assets/Scripts/Items/Weapons/Gun.cs
  UnityProject/Assets/Scripts/Managers/AdminCommandsManager.cs
  UnityProject/Assets/Scripts/Managers/NetworkManagement/CustomNetworkManager.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Server.cs
  UnityProject/Assets/Scripts/Messages/Client/RequestInventoryTransferMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateItemNSlotMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateItemNSlotMessage.cs.meta
  UnityProject/Assets/Scripts/Messages/Server/UpdateItemSlotMessage.cs.meta
  UnityProject/Assets/Scripts/Mobs/BrainAI/States/Arial/LookForTroubleArialAi.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/Machines/TankDispenser.cs
  UnityProject/Assets/Scripts/Player/GhostMove.cs
  UnityProject/Assets/Scripts/Player/GhostOrbit.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/Language/MobLanguages.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Player/PlayerCrafting.cs
  UnityProject/Assets/Scripts/Player/PlayerNetworkActions.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling/ChangelingMain.cs
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/Systems/Inventory/ItemSlot.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/CrayonUI.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/RoundManagerPage.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/PlayerHealthUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Alien/UI_Alien.cs
  UnityProject/Assets/Webm/Nuke_Outro.webm.meta
  UnityProject/Assets/Webm/Supernova_Outro.webm.meta
  UnityProject/ProjectSettings/ProjectSettings.asset
Labels: Scene Changes, UI

#10670 General fixe22
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Scientist.asset
  UnityProject/Assets/Scripts/Core/Editor/GrabGoodFileVersion.cs
  UnityProject/Assets/Scripts/Core/Input System/KeybindManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Shuttles/AutopilotShipCargo.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#10671 General fixing44
  UnityProject/Assets/Prefabs/Objects/Wallmounts/Signs/Unitystation Signs/New Poster.prefab
  UnityProject/Assets/Prefabs/UI/Ingame/BuildMenu/BuildMenu.prefab
  UnityProject/Assets/ScriptableObjects/Antagonists/Antags/BloodBrother.asset
  UnityProject/Assets/ScriptableObjects/Spells/Swapper/BodySwap.asset
  UnityProject/Assets/Scripts/ChemistryComponents/MorphableReagentContainer.cs
  UnityProject/Assets/Scripts/ChemistryComponents/ReagentContainerFillVisualisation.cs
  UnityProject/Assets/Scripts/Core/Input System/MouseUtils.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/Effects/Shake.cs
  UnityProject/Assets/Scripts/Items/Storage/PizzaBox.cs
  UnityProject/Assets/Scripts/Items/Weapons/Melee/StunBaton.cs
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Objects/Atmospherics/AirController.cs
  UnityProject/Assets/Scripts/Objects/Other/MouseTrap.cs
  UnityProject/Assets/Scripts/Objects/Posters/Poster.cs
  UnityProject/Assets/Scripts/Objects/Posters/PosterBehaviour.cs
  UnityProject/Assets/Scripts/Objects/StatusDisplay.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Robotics/Bots/BotConstruction.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antagonist.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Blob/Blob.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Cargonian.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Survivor.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Traitor.cs
  UnityProject/Assets/Scripts/Systems/GameModes/GameMode.cs
  UnityProject/Assets/Scripts/Systems/GameModes/MultiAntagonistGameMode.cs
  UnityProject/Assets/Scripts/Systems/Inventory/FancyItemStorage.cs
  UnityProject/Assets/Scripts/UI/Objects/Medical/DNASpeciesElement.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Construction/BuildMenu.cs
  UnityProject/Assets/Scripts/UI/Systems/Tooltips/HoverTooltips/HoverTooltipUI.cs
  UnityProject/Assets/Scripts/Variable Viewer/BookViewer/ElementDisplay/ElementTypes/ScriptableObject/GUI_P_SO.cs
  UnityProject/Assets/Textures/mobs/races/synthetics/cyborg/janitor/janitor_ janitor_head.asset
Labels: UI

#10675 General fixing54
  Tools/ExtentReports/RazorEngine.dll
  Tools/ExtentReports/System.Web.Razor.dll
  UnityProject/Assets/Materials/BlurryVisionMaterial.mat
  UnityProject/Assets/Prefabs/Objects/Medical/New Cloning Pod.prefab
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Messages/Client/Admin/ObjectiveRefreshMessage.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/AntagManager.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/SpawnedAntag.cs
  UnityProject/Assets/Scripts/Systems/Score/RoundEndScoreBuilder.cs
  UnityProject/Assets/Scripts/Systems/StationObjectives/Objectives/ShipResources.cs
  UnityProject/Assets/Scripts/Systems/StationObjectives/StationObjective.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/ObjectiveManager/ObjectiveInfo.cs
Labels: UI

#10676 Adds a pathfinding solution finally
  .github/workflows/wiki.yml
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmo.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoLine.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmoTracked.cs
  UnityProject/Assets/Scripts/Core/GameGizmos/GameGizmomanager.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/ChunkedTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaDataLayer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/MetaTileMap.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/Demo.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/Demo/BFSPathfindingDemoMobV2.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/Demo/BFSPathfindingDemoMobV2.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/PathfindingUtils.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/PathfindingUtils.cs.meta
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/PressurePathfinder.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Pathfinding/PressurePathfinder.cs.meta
  docs/development/How-To-Pathfind.md
Labels: Documentation

#10677 Fixes rotations on Rotating shuttles and 3D
  UnityProject/Assets/Prefabs/Items/Item.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.RightClick.cs
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.Rotation.cs
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Effects/RotateEffect.cs
  UnityProject/Assets/Scripts/NPC/AI/MobAI.cs
  UnityProject/Assets/Scripts/Objects/Directionals/Rotatable.cs
  UnityProject/Assets/Scripts/Objects/Pipes/MonoPipe.cs
  UnityProject/Assets/Scripts/Objects/Pipes/PipeItemObject.cs
  UnityProject/Assets/Scripts/Objects/UprightSprites.cs
  UnityProject/Assets/Scripts/Player/LayDown.cs
  UnityProject/Assets/Scripts/Shuttles/IMatrixRotation.cs
  UnityProject/Assets/Scripts/Shuttles/NetworkedMatrixMove.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Layers/Layer.cs
  UnityProject/Assets/Scripts/Tilemaps/Behaviours/Objects/RegisterTile.cs
  UnityProject/Assets/Scripts/UI/Core/ShuttleCameraRenderer.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
  UnityProject/Assets/Scripts/Util/NetworkedLeanTween.cs
Labels: UI

#10678 Radio effect, 3D sounds, and some fixes for TTS
  UnityProject/Assets/Prefabs/Chat/ChatSystem.prefab
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/AudioManager.prefab
  UnityProject/Assets/Scripts/Core/Chat/Chat.Process.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/TTS/MaryTTS.cs
  UnityProject/Assets/Scripts/Managers/AudioManager.cs
  UnityProject/Assets/Scripts/UI/Systems/Lobby/CharacterCustomization.cs
  UnityProject/Assets/Sounds/MainMixer.mixer
Labels: UI
