Repository unitystation/unitystation, pull requests merged in 2025-05, with the labels that each got.

#10839 Reworked Lobby Screen - Part 1 - Attempt 2
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundScreen.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundScreen.prefab.meta
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Client.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Messages/Client/Lobby/InfoPanelMessageClient.cs
  UnityProject/Assets/Scripts/Messages/Server/Lobby/InfoPanelMessageServer.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateCountdownMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/Systems/MouseFollowUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MouseFollowUI.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundButtonsScreen.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundButtonsScreen.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundCountdownDisplay.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundCountdownDisplay.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingArea.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingArea.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingWait.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingWait.cs.meta
Labels: UI

#10838 Fixes shuttles crashing into the station
  UnityProject/Assets/Scripts/Core/Chat/DiscordWebhookMessage.cs
  UnityProject/Assets/Scripts/Core/Lighting/LightsHolder.cs
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Managers/GameData.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/TimedEventsManager.cs
  UnityProject/Assets/Scripts/Player/Language/MobLanguages.cs
  UnityProject/Assets/Scripts/Shuttles/EscapeShuttle.cs
  UnityProject/Assets/Scripts/Shuttles/NetworkedMatrixMove.cs
  UnityProject/Assets/Scripts/Systems/Construction/MachineFrame.cs
  UnityProject/Assets/Standard Assets/Logger/Loggy.cs
  UnityProject/Assets/StreamingAssets/Maps/MainStations/SquareStation.json
  docs/development/Notes-on-SyncObject-and-SyncList.md
Labels: Scene Changes, Scene: SquareStation, Documentation

#10843 Always up to date ghost role list
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Ghost/GhostRoleWindow.cs
Labels: UI

#10841 Fix Centcom lobby light and dock blastdoors
  UnityProject/Assets/StreamingAssets/Maps/AdditionalScenes/CentCom.json
Labels: Scene Changes

#10833 offset evil asteroids
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidMediumOldRuin.json
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidMediumXenoInfestation.json
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidMediumXenoVillage.json
Labels: Scene Changes

#10848 Iron Chef 0.3
  UnityProject/Assets/StreamingAssets/Maps/AwaySites/IronChef.json
Labels: Scene Changes

#10835 Starship Station
  UnityProject/Assets/ScriptableObjects/SubScenes/MainStationList.asset
  UnityProject/Assets/StreamingAssets/Config/maps.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json.meta
Labels: Scene Changes, blog post!

#10859 Ruins Update
  UnityProject/Assets/Prefabs/Objects/Misc/DeadBodies/DeadBody.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/DeadBodies/Remains.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/DeadBodies/Remains.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/SubScenes/AsteroidListSO.asset
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinAutonomousPlatform.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinAutonomousPlatform.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinBar.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinBar.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinBiodomeDamaged.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinBiodomeDamaged.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinMysteriousOutpost.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinMysteriousOutpost.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinStationWing.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinStationWing.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinWhiteship1.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinWhiteship1.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinWhiteshipMantaray.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinWhiteshipMantaray.json.meta
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinWhiteshipRapture.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinWhiteshipRapture.json.meta
Labels: Scene Changes

#10853 starshipstation update
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
Labels: Scene Changes

#10867 starshipstation update
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
Labels: Scene Changes
