Repository unitystation/unitystation, pull requests merged in 2025-04, with the labels that each got.

#10787 Silly walk
  UnityProject/Assets/Prefabs/Items/Implants/Organs/Brain.prefab
  UnityProject/Assets/Prefabs/Objects/Consoles/DNA Console.prefab
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Animals/Cow.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Felinid/Felinid.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Hellspawn/Tiefling.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Alien.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/Human.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Human/The Welder.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Ashwalker.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Lizard/Lizard.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Monkey/Monkey.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Moth/Moth.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/SlimeBall/SlimeBall.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/Vulpkanin/Vulpkanin.asset
  UnityProject/Assets/Prefabs/Player/Resources/BodyParts/cyborg/Cyborg.asset
  UnityProject/Assets/Prefabs/Player/Resources/Player_V4(uNet).prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabChemistryDispenser.prefab
  UnityProject/Assets/ScriptableObjects/Occupations/ERT/ERTClown.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Clown.asset
  UnityProject/Assets/ScriptableObjects/mutationss/Brain/SillyWalk.asset
  UnityProject/Assets/ScriptableObjects/mutationss/Brain/SillyWalk.asset.meta
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Brain/SillyWalkMutation.cs
  UnityProject/Assets/Scripts/HealthV2/Living/Mutations/Brain/SillyWalkMutation.cs.meta
  UnityProject/Assets/Scripts/Items/Implants/Organs/Brain.cs
  UnityProject/Assets/Scripts/Player/MovementV2/MovementSynchronisation.cs
  UnityProject/Assets/Scripts/Player/PlayerHealthData.cs
  UnityProject/Assets/Scripts/Player/PlayerSprites.cs
  UnityProject/Assets/Scripts/Systems/Occupations/Occupation.cs
  UnityProject/Assets/Scripts/UI/Core/Animations/SillyWalk.cs
  UnityProject/Assets/Scripts/UI/Core/Animations/SillyWalk.cs.meta
  UnityProject/Assets/Scripts/UI/Core/ChatBubble/ActionText.cs
Labels: UI

#10788 I swear this is it
  UnityProject/Assets/Prefabs/Objects/Machines/Engineering/Flatpacker.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabFlatpacker.prefab
  UnityProject/Assets/Scripts/Objects/Machines/Flatpacker.cs
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpack.png
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker.asset
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker.png
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker.png.meta
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker_lights.asset
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker_lights.asset.meta
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker_lights.png
  UnityProject/Assets/Textures/objects/machines/flatpacker/engineering_flatpacker_lights.png.meta
Labels: Sprite Work

#10801 Fixing alll
  UnityProject/Assets/Prefabs/Objects/Machines/ShuttleConnector AI.prefab
  UnityProject/Assets/Prefabs/Objects/Machines/ShuttleConnector AI.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Research/Portal.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/ScriptableObjects/GameModes/GameModeData.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Boxes/MiningSurvivalBoxPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Boxes/SecuritySurvivalBoxPopulator.asset
  UnityProject/Assets/ScriptableObjects/Inventory/Populators/Items/Boxes/SyndicateSurvivalBoxPopulator.asset
  UnityProject/Assets/Scripts/Core/Camera/Camera2DFollow.cs
  UnityProject/Assets/Scripts/Core/Chat/ChatRelay.cs
  UnityProject/Assets/Scripts/Core/Lifecycle/PlayerSpawn.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Player/Ghost.cs
  UnityProject/Assets/Scripts/Player/IPlayerPossessable.cs
  UnityProject/Assets/Scripts/Player/LayDown.cs
  UnityProject/Assets/Scripts/Player/Mind.cs
  UnityProject/Assets/Scripts/Player/PlayerManager.cs
  UnityProject/Assets/Scripts/Player/PlayerScript.cs
  UnityProject/Assets/Scripts/Player/PlayerScriptVisible.cs
  UnityProject/Assets/Scripts/Systems/DynamicAmbience/DynamicReverb.cs
  UnityProject/Assets/Scripts/Systems/GhostRoles/GhostRoleManager.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/ControlInternals.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/Ghost/GhostRoleWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_ItemSlot.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/StreamingAssets/Maps/MainStations/BoxStationV1.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/FallStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/MiniStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/OutpostStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/PogStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/SquareStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/UnRealStation.json
  UnityProject/Packages/manifest.json
  UnityProject/Packages/packages-lock.json
Labels: Scene Changes, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Scene: PogStation, Scene: SquareStation, UI, Scene: UnrealStation, Scene: MiniStation

#10807 Show serverinfo on escape key
  UnityProject/Assets/Scripts/Systems/Inventory/DynamicItemStorage.cs
  UnityProject/Assets/Scripts/UI/Systems/IngameMenu/GUI_IngameMenu.cs
  UnityProject/Assets/Scripts/UI/Systems/ServerInfoPanel/ServerInfoPanelWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
Labels: UI

#10815 Mapping fixes plus infinitelyy fixes
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/InGameEventsManager.prefab
  UnityProject/Assets/Scripts/Core/Lighting System/Light2D/CustomSprite.cs
  UnityProject/Assets/Scripts/Core/Lighting System/Lighting.asmdef
  UnityProject/Assets/Scripts/Core/Physics/UniversalObjectPhysics.cs
  UnityProject/Assets/Scripts/Core/SecureStuff/SafeProfileManager.cs
  UnityProject/Assets/Scripts/Items/Implants/Organs/Lungs.cs
  UnityProject/Assets/Scripts/Items/Implants/Xenomorphs/XenomorphLungs.cs
  UnityProject/Assets/Scripts/Managers/MatrixManager/MatrixManager.cs
  UnityProject/Assets/Scripts/Messages/Client/ClientMessage.cs
  UnityProject/Assets/Scripts/Messages/Client/NewPlayer/TileChangeNewPlayer.cs
  UnityProject/Assets/Scripts/Objects/Gateway/TransportUtility.cs
  UnityProject/Assets/Scripts/Objects/Research/Portal.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/ScriptableObjects/RP/EmoteBehaviors/InhaleOnEmote.cs
  UnityProject/Assets/Scripts/Shuttles/ShuttleConnector.cs
  UnityProject/Assets/StreamingAssets/Maps/MainStations/BoxStationV1.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/FallStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/MiniStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/OutpostStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/PogStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/SquareStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/UnRealStation.json
Labels: Scene Changes, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Scene: PogStation, Scene: SquareStation, Scene: UnrealStation, Scene: MiniStation

#10820 Fallstation APC work and foreverid fixes
  UnityProject/Assets/Prefabs/Items/Other/Toys/Plushes/OddSlugPlushie.prefab
  UnityProject/Assets/Prefabs/Items/Tools/HandPick.prefab
  UnityProject/Assets/Prefabs/Objects/Security/SecBarrier.prefab
  UnityProject/Assets/StreamingAssets/Maps/MainStations/BoxStationV1.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/FallStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/MiniStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/OutpostStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/PogStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/SquareStation.json
Labels: Scene Changes, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Scene: PogStation, Scene: SquareStation, Scene: MiniStation

#10819 Staging fixing6
  UnityProject/Assets/Prefabs/Items/Other/Toys/ToySword.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Toy Sword.prefab
  UnityProject/Assets/Prefabs/Items/Weapons/Melee/Resources/Toy Sword.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Machines/VendingMachines/DonksoftToyVendor.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Scripts/Items/Weapons/CrankRecharge.cs
  UnityProject/Assets/Scripts/Items/Weapons/Melee/EnergySword.cs
  UnityProject/Assets/Scripts/Objects/Pipes/Devices/Scrubber.cs
  UnityProject/Assets/Scripts/Objects/Posters/PosterBehaviour.cs
  UnityProject/Assets/Scripts/Player/Language/MobLanguages.cs
  UnityProject/Assets/Scripts/Player/PlayerCrafting.cs
  UnityProject/Assets/Scripts/Systems/Electricity/Inheritance/ElectricalIOInheritance.cs
  UnityProject/Assets/Scripts/Systems/SmokeAndFoam/FoamNode.cs
  UnityProject/Assets/StreamingAssets/Maps/AdditionalScenes/LavaLand.json
Labels: Scene Changes

#10827 Iron Chef Awaysite
  UnityProject/Assets/ScriptableObjects/SubScenes/AwayWorldList.asset
  UnityProject/Assets/StreamingAssets/Maps/AwaySites/IronChef.json
  UnityProject/Assets/StreamingAssets/Maps/AwaySites/IronChef.json.meta
Labels: Group: Mapping, Scene Changes

#10829 Revert "Reworked Lobby Screen - Part 1"
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/CharacterCreator/SubUIElement/BodyPartCustomisation/Windows/PreRoundWindow.prefab.meta
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Client.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.SceneList.cs
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.cs
  UnityProject/Assets/Scripts/Messages/Client/Lobby/InfoPanelMessageClient.cs
  UnityProject/Assets/Scripts/Messages/Server/Lobby/InfoPanelMessageServer.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateConnectedPlayersMessage.cs
  UnityProject/Assets/Scripts/Messages/Server/UpdateCountdownMessage.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/UI/Systems/ControlDisplays.cs
  UnityProject/Assets/Scripts/UI/Systems/Jobs/GUI_PlayerJobs.cs
  UnityProject/Assets/Scripts/UI/Systems/MouseFollowUI.cs
  UnityProject/Assets/Scripts/UI/Systems/MouseFollowUI.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundButtonsScreen.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundButtonsScreen.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundCountdownDisplay.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundCountdownDisplay.cs.meta
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingArea.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingArea.cs.meta
Labels: UI

#10828 iron chef update
  UnityProject/Assets/StreamingAssets/Maps/AwaySites/IronChef.json
Labels: Scene Changes

#10832 recenter some asteroids to try to fix weird bug
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Special/Bullet_ShipBeam.prefab
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidMediumOldRuin.json
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidMediumXenoInfestation.json
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidMediumXenoVillage.json
Labels: Scene Changes
