Repository unitystation/unitystation, pull requests merged in 2025-06, with the labels that each got.

#10907 signs, matrix item updates
  UnityProject/Assets/Prefabs/Items/ItemMatrixSystems/MappingLightSource.prefab
  UnityProject/Assets/Prefabs/Items/Spawners/GasSpawner/PeriodicGasSetter.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/Signs/DirectionSigns/SignDirectionalArrivals.prefab
  UnityProject/Assets/Prefabs/Objects/Wallmounts/Signs/DirectionSigns/SignDirectionalArrivals.prefab.meta
  UnityProject/Assets/Prefabs/Projectiles/Guns/Energy/EnergyPistol.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SOListTracker.asset
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinAutonomousPlatform.json
  UnityProject/Assets/Textures/objects/decals/decals_direction_arr.asset
  UnityProject/Assets/Textures/objects/decals/decals_direction_arr.asset.meta
  UnityProject/Assets/Textures/objects/decals/decals_direction_arr.png
  UnityProject/Assets/Textures/objects/decals/decals_direction_arr.png.meta
  UnityProject/Assets/Textures/objects/decals/decals_direction_upload.png
  UnityProject/Assets/Textures/objects/decals/decals_direction_vault.png
  UnityProject/Assets/Textures/objects/decals/decals_roomnum.png
  UnityProject/Assets/Textures/objects/decals/deptdirectional.png
Labels: Scene Changes, Sprite Work

#10912 more starshipstation, tile, and misc. updates
  UnityProject/Assets/Prefabs/Items/Construction/PlaceableTiles/FloorTile.prefab
  UnityProject/Assets/Prefabs/Items/Construction/PlaceableTiles/GrilleFloorTile.prefab
  UnityProject/Assets/Prefabs/Items/Construction/PlaceableTiles/GrilleFloorTile.prefab.meta
  UnityProject/Assets/Prefabs/Items/Construction/PlaceableTiles/VaporwareFloorTile.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/PodDoors/BlastDoorIndestructible.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/PodDoors/ShuttersIndestructible.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Effect_ExplosiveImpact.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Effect_FireballImpact.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Energy/DisablerBolt.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Special/Bullet_40mmHEGrenade.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Special/Bullet_84mmHEDPRocket.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Special/Bullet_84mmHERocket.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Special/Bullet_Electrode.prefab
  UnityProject/Assets/Prefabs/Projectiles/ProjectilePrefabs/Special/Bullet_ShipBeam.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SOListTracker.asset
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/MetalConstructionList.asset
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/RodConstructionList.asset
  UnityProject/Assets/ScriptableObjects/Construction/BuildList/SandstoneBrickConstructionList.asset
  UnityProject/Assets/ScriptableObjects/LootOnDespawn/Floors/GrilleFloorTileFineLight.asset
  UnityProject/Assets/ScriptableObjects/LootOnDespawn/Floors/GrilleFloorTileFineLight.asset.meta
  UnityProject/Assets/ScriptableObjects/RandomItemPools/RandomMess.asset
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidSmallGeode.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
  UnityProject/Assets/Textures/effects/wall impacts/Laser/Laser_impact_laser_blue.png
  UnityProject/Assets/Textures/effects/wall impacts/Laser/Laser_impact_laser_yellow.png
  UnityProject/Assets/Textures/items/tiles/tiles_grillefloorfinelight.asset
  UnityProject/Assets/Textures/items/tiles/tiles_grillefloorfinelight.asset.meta
  UnityProject/Assets/Textures/items/tiles/tiles_grillefloorfinelight.png
  UnityProject/Assets/Textures/items/tiles/tiles_grillefloorfinelight.png.meta
  UnityProject/Assets/Textures/objects/flora/rocks/grey_stalagmite1.png
  UnityProject/Assets/Textures/objects/flora/rocks/grey_stalagmite2.png
  UnityProject/Assets/Textures/objects/flora/rocks/grey_stalagmite3.png
  UnityProject/Assets/Textures/objects/flora/rocks/grey_stalagmite4.png
  UnityProject/Assets/Textures/objects/flora/rocks/grey_stalagmite5.png
  UnityProject/Assets/Textures/objects/flora/rocks/grey_stalagmite6.png
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/GrilleFloors/grillefloor_6.asset
  UnityProject/Assets/Tilemaps/Resources/Tiles/Floors/GrilleFloors/grillefloor_7.asset
Labels: Scene Changes, Sprite Work

#10916 bug fixes
  UnityProject/Assets/Prefabs/Player/Resources/Ai_Player.prefab
  UnityProject/Assets/Scripts/Objects/Gateway/TransportUtility.cs
  UnityProject/Assets/Scripts/Systems/Ai/AiPlayer.cs
  UnityProject/Assets/Scripts/Systems/Antagonists/Antags/Changeling.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterSheet.cs
  UnityProject/Assets/Scripts/UI/Core/Net/NetTab.cs
  UnityProject/Assets/Scripts/UI/Objects/Atmospherics/ACU/GUI_Acu.cs
  UnityProject/Assets/Scripts/UI/Objects/Command/CommsConsole/GUI_Comms.cs
  UnityProject/Assets/Scripts/UI/Objects/Security/SecurityRecordsConsole/GUI_SecurityRecords.cs
  UnityProject/Assets/Scripts/UI/Systems/MainHUD/UI Bottom/UI_Ai.cs
Labels: UI

#10917 Clearances pt. 2
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/Security/BrigLocker.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/Security/SecureEvidenceLocker.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/SecurityGearCrate.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/SecurityGearCrate.prefab.meta
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/WeaponsCrate.prefab
  UnityProject/Assets/Prefabs/Objects/Consoles/EscapeShuttleConsole.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/WindowDoors/CellWinDoorLeft.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/WindowDoors/HoldingCellWindoorLeft.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Statues/TrainingDummyClown.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Statues/TrainingDummyClown.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Security/TrainingDummyClown_OLD.prefab
  UnityProject/Assets/Prefabs/Objects/Security/TrainingDummyClown_OLD.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Wallmounts/StatusDisplay.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/ScriptableObjects/Occupations/Antag/Syndicate Operative.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Antag/The Welder.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Antag/The Welder.asset.meta
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Chief Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Head of Personnel.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Research Director.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Roboticist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Scientist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Head of Security.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Security Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Warden.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Clown.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Cook.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Lawyer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Mime.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Cargo Technician.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Quartermaster.asset
  UnityProject/Assets/Scripts/Systems/Clearance/Clearance.cs
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidLargeHot.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/BoxStationV1.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/FallStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/MiniStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/OutpostStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/PogStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/SquareStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/UnRealStation.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinMysteriousOutpost.json
Labels: Scene Changes, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Scene: PogStation, Scene: SquareStation, Scene: UnrealStation, Scene: MiniStation

#10920 Clearances pt. 2 w/ fallstation fix
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/Security/BrigLocker.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Closets/SecureLockers/Security/SecureEvidenceLocker.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/SecurityGearCrate.prefab
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/SecurityGearCrate.prefab.meta
  UnityProject/Assets/Prefabs/Objects/ClosetsAndCrates/Crates/SecureCrates/WeaponsCrate.prefab
  UnityProject/Assets/Prefabs/Objects/Consoles/EscapeShuttleConsole.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/WindowDoors/CellWinDoorLeft.prefab
  UnityProject/Assets/Prefabs/Objects/Doors/MachineDoors/WindowDoors/HoldingCellWindoorLeft.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Statues/TrainingDummyClown.prefab
  UnityProject/Assets/Prefabs/Objects/Furniture/Statues/TrainingDummyClown.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Security/TrainingDummyClown_OLD.prefab
  UnityProject/Assets/Prefabs/Objects/Security/TrainingDummyClown_OLD.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Wallmounts/StatusDisplay.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Prefabs/UI/Tabs/Resources/TabIdConsole.prefab
  UnityProject/Assets/ScriptableObjects/Occupations/Antag/Syndicate Operative.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Antag/The Welder.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Antag/The Welder.asset.meta
  UnityProject/Assets/ScriptableObjects/Occupations/Engineering/Chief Engineer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Head of Personnel.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Research Director.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Roboticist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Scientist.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Head of Security.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Security Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Warden.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Clown.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Cook.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Lawyer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Service/Mime.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Cargo Technician.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Supply/Quartermaster.asset
  UnityProject/Assets/Scripts/Systems/Clearance/Clearance.cs
  UnityProject/Assets/StreamingAssets/Maps/Asteroids/AsteroidLargeHot.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/BoxStationV1.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/FallStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/MiniStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/OutpostStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/PogStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/SquareStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
  UnityProject/Assets/StreamingAssets/Maps/MainStations/UnRealStation.json
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinMysteriousOutpost.json
Labels: Scene Changes, Scene: FallStation, Scene: OutpostStation, Scene: BoxStation, Scene: PogStation, Scene: SquareStation, Scene: UnrealStation, Scene: MiniStation

#10937 starshipstation & clearance tweaks
  UnityProject/Assets/ScriptableObjects/Occupations/Medical/Chief Medical Officer.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Science/Research Director.asset
  UnityProject/Assets/ScriptableObjects/Occupations/Security/Warden.asset
  UnityProject/Assets/StreamingAssets/Maps/MainStations/StarshipStation.json
Labels: Scene Changes

#10939 Admin mapsaver
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Glowsticks/Glowstick.prefab
  UnityProject/Assets/Prefabs/Items/Tools/Lights/Glowsticks/RedGlowstick.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/UIManager/AdminTools/CopyAndPaste.prefab
  UnityProject/Assets/ScriptableObjects/GameModes/Blob.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Changeling.asset
  UnityProject/Assets/ScriptableObjects/GameModes/NukeOps.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Wizard.asset
  UnityProject/Assets/Scripts/Core/Chat/Chat.cs
  UnityProject/Assets/Scripts/Core/Sprite Handler/SpriteHandler.cs
  UnityProject/Assets/Scripts/MapSaver/MapLoader.cs
  UnityProject/Assets/Scripts/MapSaver/MapSaver.cs
  UnityProject/Assets/Scripts/Messages/Client/mapping/ClientRequestLoadMap.cs
  UnityProject/Assets/Scripts/Messages/Client/mapping/ClientRequestsSaveMessage.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/UI/Systems/AdminTools/DevTools/CopyAndPaste.cs
  UnityProject/Assets/Scripts/Util/ConverterExtensions.cs
  UnityProject/Assets/Textures/objects/lighting/lighting_glowstick.asset
Labels: UI
