Repository unitystation/unitystation, pull requests merged in 2025-08, with the labels that each got.

#10961 Adds campfires
  UnityProject/Assets/Prefabs/Items/Botany/Produce/WoodLog.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/MetalSheet.prefab
  UnityProject/Assets/Prefabs/Items/Construction/Materials/Resources/MineralSheets/WoodenPlank.prefab
  UnityProject/Assets/Prefabs/Items/Electricity/MediumCableCoil.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/Outdoors.meta
  UnityProject/Assets/Prefabs/Objects/Misc/Outdoors/Campfire.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/Outdoors/Campfire.prefab.meta
  UnityProject/Assets/Prefabs/Objects/Misc/Outdoors/CampfirePreLit.prefab
  UnityProject/Assets/Prefabs/Objects/Misc/Outdoors/CampfirePreLit.prefab.meta
  UnityProject/Assets/Prefabs/SceneConstruction/NestedManagers/NetworkManager.prefab
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/CraftingRecipeSingleton.asset
  UnityProject/Assets/Resources/ScriptableObjectsSingletons/SOListTracker.asset
  UnityProject/Assets/ScriptableObjects/Crafting/DefaultHumanCraftingRecipes.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Misc/Campfire.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Misc/Campfire.asset.meta
  UnityProject/Assets/ScriptableObjects/Traits/Materials/WoodenLog.asset
  UnityProject/Assets/ScriptableObjects/Traits/Materials/WoodenLog.asset.meta
  UnityProject/Assets/Scripts/Core/Editor/EditorDrawPreview.cs
  UnityProject/Assets/Scripts/Health/Objects/Flammable.cs
  UnityProject/Assets/Scripts/Items/Kitchen/Cookable.cs
  UnityProject/Assets/Scripts/Objects/EnterTileBase.cs
  UnityProject/Assets/Scripts/Objects/Other/Campfire.cs
  UnityProject/Assets/Scripts/Objects/Other/Campfire.cs.meta
  UnityProject/Assets/Scripts/Systems/CraftingV2/CraftingIngredient.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  UnityProject/Assets/Textures/objects/outdoors.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-01.png
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-01.png.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-02.png
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-02.png.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-03.png
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-03.png.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-04.png
  UnityProject/Assets/Textures/objects/outdoors/campfire-active-04.png.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-active.asset
  UnityProject/Assets/Textures/objects/outdoors/campfire-active.asset.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-inactive.asset
  UnityProject/Assets/Textures/objects/outdoors/campfire-inactive.asset.meta
  UnityProject/Assets/Textures/objects/outdoors/campfire-inactive.png
  UnityProject/Assets/Textures/objects/outdoors/campfire-inactive.png.meta
  UnityProject/ProjectSettings/EditorBuildSettings.asset
  UnityProject/ProjectSettings/ProjectAuditorSettings.asset
Labels: Sprite Work

#10962 added more loading messages
  UnityProject/Assets/Scripts/Managers/SubSceneManager/SubSceneManager.Client.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/Systems/Lobby/CharacterManager.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundLoadingArea.cs
Labels: UI

#10963 Awaitable Net Messages, and Lobby Ready Up Fix
  UnityProject/Assets/Prefabs/Player/Resources/JoinedViewer.prefab
  UnityProject/Assets/Prefabs/SceneConstruction/Managers.prefab
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue.meta
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/AsyncDataResponse.cs
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/AsyncDataResponse.cs.meta
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/QueuedMessage.cs
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/QueuedMessage.cs.meta
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/RequestAsyncData.cs
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/RequestAsyncData.cs.meta
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/RequestHandlerConstants.cs
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/RequestHandlerConstants.cs.meta
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/RpcMessageQueue.cs
  UnityProject/Assets/Scripts/Core/Networking/AsyncMessageQueue/RpcMessageQueue.cs.meta
  UnityProject/Assets/Scripts/Managers/GameManager.cs
  UnityProject/Assets/Scripts/Player/JoinedViewer.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/PreRoundCountdownDisplay.cs
  UnityProject/Assets/StreamingAssets/Logs/Chatlogs/MaxIsJoe4430.meta
Labels: UI

#10967 SpriteDataSOReaderWriters
  UnityProject/Assets/Prefabs/Decal/FootPrints.prefab
  UnityProject/Assets/Prefabs/Items/Botany/Produce/Mushrooms/SteelCapLog.prefab
  UnityProject/Assets/Prefabs/Items/Botany/Produce/Mushrooms/TowerCapLog.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/BananaNutBreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/CreamCheeseBreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/MeatbreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/MimanaBreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/PlainBreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/SpiderMeatbreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/TofubreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/XenomeatbreadLoaf.prefab
  UnityProject/Assets/Prefabs/Items/Food/Snacks/BreadSnacks/_BreadBase.prefab
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Food/MiscFood/CheeseWheelRecipe.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Food/MiscFood/FirmCheeseWheelRecipe.asset
  UnityProject/Assets/ScriptableObjects/Crafting/Recipes/Misc/Campfire.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Blob.asset
  UnityProject/Assets/ScriptableObjects/GameModes/BloodBrothers.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Cargonia.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Changeling.asset
  UnityProject/Assets/ScriptableObjects/GameModes/MixedRound.asset
  UnityProject/Assets/ScriptableObjects/GameModes/NukeOps.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Traitor.asset
  UnityProject/Assets/ScriptableObjects/GameModes/Wizard.asset
  UnityProject/Assets/Scripts/NetReaderAndWriters.meta
  UnityProject/Assets/Scripts/NetReaderAndWriters/SpriteDataSOReaderWriters.cs
  UnityProject/Assets/Scripts/NetReaderAndWriters/SpriteDataSOReaderWriters.cs.meta
  UnityProject/Assets/Scripts/Objects/Other/Campfire.cs
  UnityProject/Assets/Scripts/Systems/CraftingV2/CraftingRecipe.cs
  UnityProject/Assets/Scripts/Systems/CraftingV2/RecipeIngredientReagent.cs
  UnityProject/Assets/Scripts/Systems/Electricity/FunctionsAndClasses/IntrinsicElectronicData.cs
  UnityProject/Assets/Scripts/UI/Core/RightClick/RightClickManager.cs
  UnityProject/Assets/Scripts/UI/Systems/PreRound/GUI_PreRoundWindow.cs
  UnityProject/Assets/Scripts/UI/Systems/UIManager.cs
  UnityProject/Assets/Scripts/Util/SweetExtensions.cs
  UnityProject/Packages/packages-lock.json
Labels: UI

#10972 ruin biodome fix
  UnityProject/Assets/StreamingAssets/Maps/Ruin/RuinBiodomeDamaged.json
Labels: Scene Changes
